<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uics_000111_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{0,0},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000112_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{413,0},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000113_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{826,0},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000120_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{1239,0},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000121_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{0,297},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000122_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{413,297},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000123_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{826,297},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000124_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{1239,297},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000125_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{0,594},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000126_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{413,594},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000127_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{826,594},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000128_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{1239,594},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000129_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{0,891},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000130_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{413,891},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000130_a_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{826,891},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000130_b_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{1239,891},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon-2.pvr.ccz</string>
            <key>size</key>
            <string>{1652,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbd82933e0a34287ac5784a8ebf0ac78:0d5b0709c600fe19232d36c2c4dc8d8d:3b861f5c3f1bd93fa0af2c0b3fffbf6e$</string>
            <key>textureFileName</key>
            <string>icon-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
