<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>csinner_000_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{624,102},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csinner_001_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{312,408},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csinner_002_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1560,510},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csinner_003_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{936,510},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csinner_004_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1560,408},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csinner_005_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1248,408},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csinner_006_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{0,204},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csinner_007_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{0,102},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csinner_008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{936,408},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_000_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{0,510},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_001_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1248,510},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_001_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1560,306},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_001_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1248,306},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_001_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{312,306},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_002_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{624,510},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_002_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{936,306},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_002_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{312,510},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_002_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{624,306},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_002_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{936,204},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_002_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1560,204},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_003_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1248,204},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_004_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{624,204},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_005_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1560,102},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_006_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1248,102},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_007_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{0,306},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{312,204},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_009_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{885,0},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_010_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{312,102},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_011_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1197,0},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_012_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{261,0},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_013_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{936,102},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_014_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{573,0},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>csouter_015_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{1509,0},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_000072_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,126}</string>
                <key>spriteSourceSize</key>
                <string>{116,126}</string>
                <key>textureRect</key>
                <string>{{0,612},{116,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_10190c_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,100}</string>
                <key>spriteSourceSize</key>
                <string>{130,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_10190d_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,100}</string>
                <key>spriteSourceSize</key>
                <string>{131,100}</string>
                <key>textureRect</key>
                <string>{{130,0},{131,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000000_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{1239,1313},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000001_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{624,408},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000002_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,102}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{0,408},{312,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000110_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{1004,1016},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000114_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{826,1610},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000115_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{0,1313},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000116_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{413,1313},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000117_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{1417,1016},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000118_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{591,1016},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000119_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{178,1016},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000131_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{413,1610},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000131_a_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{1239,1610},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000131_b_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{826,1313},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uics_000132_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,297}</string>
                <key>spriteSourceSize</key>
                <string>{413,297}</string>
                <key>textureRect</key>
                <string>{{0,1610},{413,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000110_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{0,1016},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000111_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{1246,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000112_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{1068,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000113_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{1424,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000114_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{356,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000115_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{178,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000116_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{712,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000117_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{890,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000118_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{534,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000119_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{1540,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000120_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{1602,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000121_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{1718,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000122_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{828,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000123_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{1362,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000124_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{1006,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000125_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{1184,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000126_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{294,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000127_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{0,814},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000128_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{650,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000129_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{472,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uicss_000132_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{116,612},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon-1.pvr.ccz</string>
            <key>size</key>
            <string>{1896,1907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbd82933e0a34287ac5784a8ebf0ac78:0d5b0709c600fe19232d36c2c4dc8d8d:3b861f5c3f1bd93fa0af2c0b3fffbf6e$</string>
            <key>textureFileName</key>
            <string>icon-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
