<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BANG2_bang_04_crawl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BANG2_bang_04_jump_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,403},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANG2_bang_04_ladder_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{203,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANG2_bang_04_magic_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,203},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BANG2_bang_04_onehand_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANG2_bang_04_run_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANG2_bang_04_sit_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{605,1},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BANG2_bang_04_stand_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{605,403},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANG2_bang_04_stand_3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{805,605},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BANG2_bang_04_twohands_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,807},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BANG2_bang_04_twohands_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,807},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BANG2_bang_04-0.pvr.ccz</string>
            <key>size</key>
            <string>{1006,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6383b6d671b0da3b88588618b63f0993:48c9445a92e0aa430bbce06eea35627a:542f3101b1d7fcd3e978208da9231a8b$</string>
            <key>textureFileName</key>
            <string>BANG2_bang_04-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
