<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BodyTemp2_light_202_twohands_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BodyTemp2_light_202_twohands_1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,403},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_1_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{203,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_1_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,203},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BodyTemp2_light_202_twohands_1_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_1_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_2_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_2_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_2_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_2_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{605,1},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BodyTemp2_light_202_twohands_2_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{605,403},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_2_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_2_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_3_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{805,605},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BodyTemp2_light_202_twohands_3_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,807},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_3_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,807},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_3_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_3_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_3_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_3_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BodyTemp2_light_202_twohands_3_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,605},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BodyTemp2_light_202-0.pvr.ccz</string>
            <key>size</key>
            <string>{1006,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:610fe7edacad9e952d1664052dfd0fcd:b2d1c68cfa3ff1d0156d257da6583520:4c7f5e1046240ea579075756c8b0e4dd$</string>
            <key>textureFileName</key>
            <string>BodyTemp2_light_202-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
