<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FACE_face_000__1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FACE_face_000_ladder_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FACE_face_000_stand_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FACE_face_000.pvr.ccz</string>
            <key>size</key>
            <string>{1200,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5c2e047d62a90b571377cb7232d7a65:c309d71701a8c59cb016537b23c33298:bcf5cea9c52184424a6a923b2fbb857b$</string>
            <key>textureFileName</key>
            <string>FACE_face_000.pvr.ccz</string>
        </dict>
    </dict>
</plist>
