<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HAT_hat_000020__1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HAT_hat_000020_ladder_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HAT_hat_000020_stand_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HAT_hat_000020-0.pvr.ccz</string>
            <key>size</key>
            <string>{804,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f7d9d490bee7e3639d949284f19a1c7:55b76cc06051d317e374cec957dc4704:403571d2c224a235fa5eb0da25a28651$</string>
            <key>textureFileName</key>
            <string>HAT_hat_000020-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
