<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HATBACK_hat_000043__1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_crawl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_jump_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_ladder_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_magic_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_magic_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_magic_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_onehand_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_onehand_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_onehand_3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_rope_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_run_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_sit_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_stand_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_stand_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_twohands_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_twohands_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_twohands_3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HATBACK_hat_000043_twohands_4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HATBACK_hat_000043-0.pvr.ccz</string>
            <key>size</key>
            <string>{804,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:769fc9a08a81a24c05ff83cd7798dab6:3a53e44e5a0ea1270cf04b360d3cde07:485839031ba7352b455430a8e4f81af2$</string>
            <key>textureFileName</key>
            <string>HATBACK_hat_000043-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
