<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeadTemp1_headtemp_011_stand_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HeadTemp1_headtemp_011-0.pvr.ccz</string>
            <key>size</key>
            <string>{402,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dedc528461c6516f9a802f9a52096c6c:0713b76b89b3dd0a77403702296fd142:b2b2ad6d55b8382d7fe6cccd51f6d33f$</string>
            <key>textureFileName</key>
            <string>HeadTemp1_headtemp_011-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
