<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BODY_monster_000068_run_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_run_2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_run_2_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{805,1},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BODY_monster_000068_run_2_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_run_2_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,203},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_run_2_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,405},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{805,403},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,607},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,607},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,809},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,809},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{805,805},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1011},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,1011},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_1_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1213},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,1213},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{805,1207},{400,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BODY_monster_000068_stand_2_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1415},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_2_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,1415},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_2_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1,1617},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BODY_monster_000068_stand_2_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{403,1617},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BODY_monster_000068-0.pvr.ccz</string>
            <key>size</key>
            <string>{1006,1818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24fe5fd9395f8bf68f1f1a768c85ab1f:780d965cbcd920bad5e3407a73877cbb:10cb9f3a064a0df6b3b2486761cc73ab$</string>
            <key>textureFileName</key>
            <string>BODY_monster_000068-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
