<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cursor_attack_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{469,345},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_attack_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{303,445},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_buy_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{1,445},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_buy_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{469,206},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_disable_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{459,451},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_disable_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{459,481},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_hand_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{275,483},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_hand_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{310,483},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_imbue_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{41,445},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_imbue_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{83,445},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_imbue_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{125,445},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_imbue_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{167,445},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_normal_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{209,483},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_normal_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{242,483},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_npc0_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{45,36}</string>
                <key>textureRect</key>
                <string>{{469,251},{45,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cursor_npc0_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{45,36}</string>
                <key>textureRect</key>
                <string>{{209,445},{45,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_npc0_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{45,36}</string>
                <key>textureRect</key>
                <string>{{469,298},{45,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cursor_npc0_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{45,36}</string>
                <key>textureRect</key>
                <string>{{256,445},{45,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_sell_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{469,1},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_sell_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{469,42},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_sell_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{469,83},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_sell_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{469,124},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_sell_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{469,165},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,297},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,297},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{157,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{313,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{313,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{157,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,297},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{157,297},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,297},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{1,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{157,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{313,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{313,1},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_focus_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{157,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_invalid_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{459,451},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_invalid_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{459,481},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_normal_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{313,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_normal_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{313,297},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_normal_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{313,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_normal_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{313,297},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_target_normal_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{313,149},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_wait_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{469,383},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_wait_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{341,445},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_wait_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{379,445},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_wait_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{417,445},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_wait_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{469,417},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_wait_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{345,479},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_wait_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{383,479},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor_wait_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{421,479},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{41,488},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cursor.pvr.ccz</string>
            <key>size</key>
            <string>{509,515}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5cdcee6e8db5b66b92d198d22c11518:606824a8a40a868e9cce2d0a3d540fa3:652d5eafd8be8000f03b7b4b9d609edd$</string>
            <key>textureFileName</key>
            <string>cursor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
