<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>affix/affix_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{218,1},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>affix/affix_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{218,65},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>affix/affix_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{218,129},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>affix/affix_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1,173},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>affix/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,170}</string>
                <key>spriteSourceSize</key>
                <string>{215,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>affix-0.pvr.ccz</string>
            <key>size</key>
            <string>{240,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1350f1f2ed80852da47b13e10cadcca7:7f8873c39515aa1eea0a19ff458fded0:5a5e4b8a9fbd337c0d8ce8f3870c469a$</string>
            <key>textureFileName</key>
            <string>affix-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
