<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BehaveExp/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,259}</string>
                <key>spriteSourceSize</key>
                <string>{263,259}</string>
                <key>textureRect</key>
                <string>{{1,1},{263,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BehaveExp/btnset_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,30}</string>
                <key>spriteSourceSize</key>
                <string>{55,30}</string>
                <key>textureRect</key>
                <string>{{462,1},{55,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BehaveExp/btnset_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,30}</string>
                <key>spriteSourceSize</key>
                <string>{55,30}</string>
                <key>textureRect</key>
                <string>{{462,58},{55,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BehaveExp/btnset_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,30}</string>
                <key>spriteSourceSize</key>
                <string>{55,30}</string>
                <key>textureRect</key>
                <string>{{462,115},{55,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BehaveExp/btnset_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,30}</string>
                <key>spriteSourceSize</key>
                <string>{55,30}</string>
                <key>textureRect</key>
                <string>{{406,186},{55,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BehaveExp/cell_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,35}</string>
                <key>spriteSourceSize</key>
                <string>{38,35}</string>
                <key>textureRect</key>
                <string>{{406,149},{38,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BehaveExp/cell_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,35}</string>
                <key>spriteSourceSize</key>
                <string>{38,35}</string>
                <key>textureRect</key>
                <string>{{446,172},{38,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BehaveExp/default_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,33}</string>
                <key>spriteSourceSize</key>
                <string>{98,33}</string>
                <key>textureRect</key>
                <string>{{266,149},{98,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BehaveExp/default_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,33}</string>
                <key>spriteSourceSize</key>
                <string>{98,33}</string>
                <key>textureRect</key>
                <string>{{301,149},{98,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BehaveExp/default_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,33}</string>
                <key>spriteSourceSize</key>
                <string>{98,33}</string>
                <key>textureRect</key>
                <string>{{336,149},{98,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BehaveExp/default_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,33}</string>
                <key>spriteSourceSize</key>
                <string>{98,33}</string>
                <key>textureRect</key>
                <string>{{371,149},{98,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BehaveExp/expback_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,146}</string>
                <key>spriteSourceSize</key>
                <string>{194,146}</string>
                <key>textureRect</key>
                <string>{{266,1},{194,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BehaveExp-0.pvr.ccz</string>
            <key>size</key>
            <string>{493,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae14d6fa4461e4131883538d0b64920:157bda62902ecf16c4eb3e222d73d2b9:05e951c176dd23c56578e10d429e1636$</string>
            <key>textureFileName</key>
            <string>BehaveExp-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
