<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bugreport/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,311}</string>
                <key>spriteSourceSize</key>
                <string>{374,311}</string>
                <key>textureRect</key>
                <string>{{1,1},{374,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugreport/cancel_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{377,1},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bugreport/cancel_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{377,66},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bugreport/cancel_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{377,131},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bugreport/cancel_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{377,196},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bugreport/cross_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{196,314},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugreport/cross_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{219,314},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugreport/cross_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{242,314},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugreport/cross_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{265,314},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugreport/submission_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{377,261},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bugreport/submission_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{1,314},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugreport/submission_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{66,314},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugreport/submission_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{131,314},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bugreport-0.pvr.ccz</string>
            <key>size</key>
            <string>{407,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:275db75d71acc94603b6806c43190010:e6c88d2942058c3ec8f6410e7838ddb1:58babd2f239340ef322b089f073622a1$</string>
            <key>textureFileName</key>
            <string>bugreport-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
