<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charinfo/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,333}</string>
                <key>spriteSourceSize</key>
                <string>{359,333}</string>
                <key>textureRect</key>
                <string>{{1,41},{359,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charinfo/mrg_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,38}</string>
                <key>spriteSourceSize</key>
                <string>{119,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charinfo/mrg_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,38}</string>
                <key>spriteSourceSize</key>
                <string>{119,38}</string>
                <key>textureRect</key>
                <string>{{122,1},{119,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charinfo/mrg_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,38}</string>
                <key>spriteSourceSize</key>
                <string>{119,38}</string>
                <key>textureRect</key>
                <string>{{243,1},{119,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>charinfo-0.pvr.ccz</string>
            <key>size</key>
            <string>{363,375}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fbab570a1c4cd366144c63bc21ac041:be1298f95418dc3421531a059aff2543:81e6c25b85534b2469d9ae8196848b03$</string>
            <key>textureFileName</key>
            <string>charinfo-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
