<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charselect/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,58}</string>
                <key>textureRect</key>
                <string>{{1699,1},{156,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/back_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,58}</string>
                <key>textureRect</key>
                <string>{{1428,402},{156,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/back_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,58}</string>
                <key>textureRect</key>
                <string>{{1650,159},{156,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/back_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,58}</string>
                <key>textureRect</key>
                <string>{{1669,317},{156,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/banchar_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,88}</string>
                <key>spriteSourceSize</key>
                <string>{50,88}</string>
                <key>textureRect</key>
                <string>{{1669,475},{50,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/billback1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,109}</string>
                <key>spriteSourceSize</key>
                <string>{388,109}</string>
                <key>textureRect</key>
                <string>{{803,418},{388,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/billback2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,109}</string>
                <key>spriteSourceSize</key>
                <string>{388,109}</string>
                <key>textureRect</key>
                <string>{{803,418},{388,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/buddha_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{1727,527},{53,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/buddha_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{1735,159},{53,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/chardesc_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,81}</string>
                <key>spriteSourceSize</key>
                <string>{121,81}</string>
                <key>textureRect</key>
                <string>{{1586,368},{121,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/charselect_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/class_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{1729,413},{53,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/class_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{1119,529},{53,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/class_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{1246,559},{53,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/class_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{1246,581},{53,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/cloud_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,75}</string>
                <key>spriteSourceSize</key>
                <string>{149,75}</string>
                <key>textureRect</key>
                <string>{{1193,418},{149,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/create_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{803,529},{156,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/create_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{1635,1},{156,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/create_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{1428,210},{156,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/create_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{961,529},{156,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/delete_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,58}</string>
                <key>textureRect</key>
                <string>{{1351,418},{156,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/delete_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,58}</string>
                <key>textureRect</key>
                <string>{{1411,462},{156,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/delete_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,58}</string>
                <key>textureRect</key>
                <string>{{1411,522},{156,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/delete_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,58}</string>
                <key>textureRect</key>
                <string>{{1569,527},{156,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/dispname_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,23}</string>
                <key>spriteSourceSize</key>
                <string>{125,23}</string>
                <key>textureRect</key>
                <string>{{1710,159},{125,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/dispname_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,23}</string>
                <key>spriteSourceSize</key>
                <string>{125,23}</string>
                <key>textureRect</key>
                <string>{{1729,286},{125,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/dispname_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,23}</string>
                <key>spriteSourceSize</key>
                <string>{125,23}</string>
                <key>textureRect</key>
                <string>{{1119,559},{125,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/roleback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,415}</string>
                <key>spriteSourceSize</key>
                <string>{414,415}</string>
                <key>textureRect</key>
                <string>{{803,1},{414,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/roleback_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,207}</string>
                <key>spriteSourceSize</key>
                <string>{206,207}</string>
                <key>textureRect</key>
                <string>{{1219,1},{206,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/roleback_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,207}</string>
                <key>spriteSourceSize</key>
                <string>{206,207}</string>
                <key>textureRect</key>
                <string>{{1427,1},{206,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/roleback_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,207}</string>
                <key>spriteSourceSize</key>
                <string>{206,207}</string>
                <key>textureRect</key>
                <string>{{1219,210},{206,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/startgame_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{1428,274},{156,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/startgame_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{1428,338},{156,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/startgame_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{1586,210},{156,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charselect/startgame_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,62}</string>
                <key>spriteSourceSize</key>
                <string>{156,62}</string>
                <key>textureRect</key>
                <string>{{1193,495},{156,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>charselect-0.pvr.ccz</string>
            <key>size</key>
            <string>{1758,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c81ef3886dd752ea347ee718afb9333:ad2473ee6ff25010d8edea1482effd77:32543739ad7d59d9dd5ee829fb7a5520$</string>
            <key>textureFileName</key>
            <string>charselect-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
