<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>compose/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,341}</string>
                <key>spriteSourceSize</key>
                <string>{215,341}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compose/cook_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1,390},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>compose/cook_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{24,390},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>compose/cook_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{47,390},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>compose/cook_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{70,390},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>compose/listback_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,44}</string>
                <key>spriteSourceSize</key>
                <string>{201,44}</string>
                <key>textureRect</key>
                <string>{{1,344},{201,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compose/rune_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{93,390},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>compose/rune_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{116,390},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>compose/rune_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{139,390},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>compose/rune_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{162,390},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>compose-0.pvr.ccz</string>
            <key>size</key>
            <string>{217,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f994a285f270201250d83690d8876e00:a4737bd6802c6a9a529749ed0ebfa237:438f93f930668dba2bc342db4b0da360$</string>
            <key>textureFileName</key>
            <string>compose-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
