<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>esc/accountselect_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,39}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{1,692},{136,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/accountselect_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,39}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{1,733},{136,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/accountselect_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,39}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{162,528},{136,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>esc/accountselect_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,39}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{203,188},{136,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>esc/backtogame_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{1,241},{185,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/backtogame_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{202,1},{185,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>esc/backtogame_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{1,282},{185,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/backtogame_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{1,323},{185,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/charselect_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,39}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{203,326},{136,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>esc/charselect_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,39}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{203,464},{136,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>esc/charselect_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,39}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{203,602},{136,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>esc/charselect_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,39}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{162,666},{136,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>esc/esc_back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,238}</string>
                <key>spriteSourceSize</key>
                <string>{199,238}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/quitgame_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{1,364},{185,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/quitgame_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{1,405},{185,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/quitgame_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{1,446},{185,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/quitgame_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,39}</string>
                <key>textureRect</key>
                <string>{{1,487},{185,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/serverselect_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,39}</string>
                <key>spriteSourceSize</key>
                <string>{159,39}</string>
                <key>textureRect</key>
                <string>{{1,528},{159,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/serverselect_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,39}</string>
                <key>spriteSourceSize</key>
                <string>{159,39}</string>
                <key>textureRect</key>
                <string>{{1,569},{159,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/serverselect_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,39}</string>
                <key>spriteSourceSize</key>
                <string>{159,39}</string>
                <key>textureRect</key>
                <string>{{1,610},{159,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc/serverselect_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,39}</string>
                <key>spriteSourceSize</key>
                <string>{159,39}</string>
                <key>textureRect</key>
                <string>{{1,651},{159,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>esc-0.pvr.ccz</string>
            <key>size</key>
            <string>{243,803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8132fd0a244de0ea2c5bae38db4a96f:98967b110d0d3ff07ef3b0a0b4b1efba:b9e751351b8eda91582a821a46d8c146$</string>
            <key>textureFileName</key>
            <string>esc-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
