<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exchange/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,228}</string>
                <key>spriteSourceSize</key>
                <string>{328,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{328,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exchange/btnmoney_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,20}</string>
                <key>spriteSourceSize</key>
                <string>{129,20}</string>
                <key>textureRect</key>
                <string>{{329,257},{129,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/btnmoney_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,20}</string>
                <key>spriteSourceSize</key>
                <string>{129,20}</string>
                <key>textureRect</key>
                <string>{{329,257},{129,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/btnmoney_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,20}</string>
                <key>spriteSourceSize</key>
                <string>{129,20}</string>
                <key>textureRect</key>
                <string>{{329,257},{129,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/btnmoney_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,20}</string>
                <key>spriteSourceSize</key>
                <string>{129,20}</string>
                <key>textureRect</key>
                <string>{{329,257},{129,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/mask_oppo_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,162}</string>
                <key>spriteSourceSize</key>
                <string>{156,162}</string>
                <key>textureRect</key>
                <string>{{1,231},{156,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/mask_self_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,162}</string>
                <key>spriteSourceSize</key>
                <string>{156,162}</string>
                <key>textureRect</key>
                <string>{{165,231},{156,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/xchg_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{331,1},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/xchg_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{331,65},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/xchg_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{331,129},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/xchg_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{331,193},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>exchange-0.pvr.ccz</string>
            <key>size</key>
            <string>{353,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb855cfc4817c62ce9a21dc8c387e10:53c30db37c2b16d49763d53397476c70:eeb67ef8604451526c0c883ff55d1728$</string>
            <key>textureFileName</key>
            <string>exchange-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
