<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GamePad/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,448}</string>
                <key>spriteSourceSize</key>
                <string>{635,448}</string>
                <key>textureRect</key>
                <string>{{1,1},{635,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/back_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,448}</string>
                <key>spriteSourceSize</key>
                <string>{635,448}</string>
                <key>textureRect</key>
                <string>{{1,451},{635,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/cancel_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{337,963},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/cancel_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{402,963},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/cancel_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{433,901},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/cancel_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{433,932},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/cell_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{597,901},{34,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GamePad/cell_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{597,937},{34,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GamePad/clear_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,29}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{145,901},{94,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/clear_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,29}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{145,932},{94,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/clear_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,29}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{145,963},{94,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/clear_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,29}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{241,901},{94,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/default_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,29}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{241,932},{94,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/default_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,29}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{241,963},{94,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/default_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,29}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{337,901},{94,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/default_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,29}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{337,932},{94,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,81}</string>
                <key>spriteSourceSize</key>
                <string>{34,81}</string>
                <key>textureRect</key>
                <string>{{1,901},{34,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/radio1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,81}</string>
                <key>spriteSourceSize</key>
                <string>{34,81}</string>
                <key>textureRect</key>
                <string>{{37,901},{34,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/radio2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,81}</string>
                <key>spriteSourceSize</key>
                <string>{34,81}</string>
                <key>textureRect</key>
                <string>{{73,901},{34,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/radio2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,81}</string>
                <key>spriteSourceSize</key>
                <string>{34,81}</string>
                <key>textureRect</key>
                <string>{{109,901},{34,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/save_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{467,963},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/save_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{498,901},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/save_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{498,932},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GamePad/save_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{532,963},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GamePad-0.pvr.ccz</string>
            <key>size</key>
            <string>{637,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e938bbdf587d7f6dd803f5c80fcbded5:0cfd63610a5eb140dc22d66e4812feda:7ef63a11dcb4067d64493c3709edbaed$</string>
            <key>textureFileName</key>
            <string>GamePad-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
