<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GMMailSend/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,260}</string>
                <key>spriteSourceSize</key>
                <string>{478,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/down_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{257,263},{19,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMMailSend/down_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{277,263},{19,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMMailSend/down_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{297,263},{19,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMMailSend/down_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{317,263},{19,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMMailSend/mailtype_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,19}</string>
                <key>spriteSourceSize</key>
                <string>{112,19}</string>
                <key>textureRect</key>
                <string>{{1,286},{112,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/mailtype_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,19}</string>
                <key>spriteSourceSize</key>
                <string>{112,19}</string>
                <key>textureRect</key>
                <string>{{115,286},{112,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/mailtype_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,19}</string>
                <key>spriteSourceSize</key>
                <string>{112,19}</string>
                <key>textureRect</key>
                <string>{{229,286},{112,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/send_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1,263},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/send_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{65,263},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/send_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{129,263},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/send_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{193,263},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/type1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,19}</string>
                <key>spriteSourceSize</key>
                <string>{112,19}</string>
                <key>textureRect</key>
                <string>{{1,286},{112,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/type2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,19}</string>
                <key>spriteSourceSize</key>
                <string>{112,19}</string>
                <key>textureRect</key>
                <string>{{115,286},{112,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailSend/type3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,19}</string>
                <key>spriteSourceSize</key>
                <string>{112,19}</string>
                <key>textureRect</key>
                <string>{{229,286},{112,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GMMailSend-0.pvr.ccz</string>
            <key>size</key>
            <string>{480,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d4a474247ec4a0a16099876778dd8a:acc3971a503277c705f0ee8bfa5f3d8f:2af33862136697cdcd38b1863abe5ce2$</string>
            <key>textureFileName</key>
            <string>GMMailSend-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
