<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GMMailLast/abolish_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,29}</string>
                <key>spriteSourceSize</key>
                <string>{131,29}</string>
                <key>textureRect</key>
                <string>{{301,1},{131,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailLast/abolish_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,29}</string>
                <key>spriteSourceSize</key>
                <string>{131,29}</string>
                <key>textureRect</key>
                <string>{{1,26},{131,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailLast/abolish_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,29}</string>
                <key>spriteSourceSize</key>
                <string>{131,29}</string>
                <key>textureRect</key>
                <string>{{134,26},{131,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailLast/abolish_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,29}</string>
                <key>spriteSourceSize</key>
                <string>{131,29}</string>
                <key>textureRect</key>
                <string>{{267,32},{131,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailLast/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,284}</string>
                <key>spriteSourceSize</key>
                <string>{478,284}</string>
                <key>textureRect</key>
                <string>{{1,63},{478,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailLast/mailstate_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,23}</string>
                <key>spriteSourceSize</key>
                <string>{73,23}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailLast/mailstate_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,23}</string>
                <key>spriteSourceSize</key>
                <string>{73,23}</string>
                <key>textureRect</key>
                <string>{{76,1},{73,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailLast/mailstate_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,23}</string>
                <key>spriteSourceSize</key>
                <string>{73,23}</string>
                <key>textureRect</key>
                <string>{{151,1},{73,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailLast/mailstate_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,23}</string>
                <key>spriteSourceSize</key>
                <string>{73,23}</string>
                <key>textureRect</key>
                <string>{{226,1},{73,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GMMailLast-0.pvr.ccz</string>
            <key>size</key>
            <string>{480,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8919496df3f4e0e4d3c49e9402d7cd03:cd7770a286e65389211fd3fe11b0d46c:a2da76f669ebda2b660f0c0bdb640365$</string>
            <key>textureFileName</key>
            <string>GMMailLast-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
