<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GMMailread/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,284}</string>
                <key>spriteSourceSize</key>
                <string>{335,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{335,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMMailread/delete_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1,338},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailread/delete_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{65,338},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailread/delete_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{129,338},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailread/delete_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{193,338},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailread/leftdays_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,16}</string>
                <key>spriteSourceSize</key>
                <string>{156,16}</string>
                <key>textureRect</key>
                <string>{{310,1},{156,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMMailread/leftdays_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,16}</string>
                <key>spriteSourceSize</key>
                <string>{156,16}</string>
                <key>textureRect</key>
                <string>{{310,159},{156,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMMailread/reply_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{257,338},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GMMailread/reply_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{287,1},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMMailread/reply_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{287,65},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GMMailread/reply_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{287,129},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GMMailread-0.pvr.ccz</string>
            <key>size</key>
            <string>{327,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14a8b274d6611aab2e71c366d453b6e9:d938f98822004253c35e3d60b6033cc8:6f3fd747715d329870aa124b3362c502$</string>
            <key>textureFileName</key>
            <string>GMMailread-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
