<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,287}</string>
                <key>spriteSourceSize</key>
                <string>{219,287}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide/hl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,28}</string>
                <key>spriteSourceSize</key>
                <string>{166,28}</string>
                <key>textureRect</key>
                <string>{{290,1},{166,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{1,222},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide/radio1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{74,222},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide/radio2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{147,222},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide/radio2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{220,222},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide-0.pvr.ccz</string>
            <key>size</key>
            <string>{319,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33d020cc043e147862e4c002485b4e03:f0c495b1364e755e5caac67e3b154c37:287cc724f4e1b84bca177e5fb00f96a9$</string>
            <key>textureFileName</key>
            <string>guide-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
