<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hotkey/alnum_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{389,439},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/alnum_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{425,439},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,367}</string>
                <key>spriteSourceSize</key>
                <string>{590,367}</string>
                <key>textureRect</key>
                <string>{{1,1},{590,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/caps_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,35}</string>
                <key>spriteSourceSize</key>
                <string>{63,35}</string>
                <key>textureRect</key>
                <string>{{163,444},{63,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/caps_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,35}</string>
                <key>spriteSourceSize</key>
                <string>{63,35}</string>
                <key>textureRect</key>
                <string>{{228,444},{63,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/clear_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,21}</string>
                <key>spriteSourceSize</key>
                <string>{92,21}</string>
                <key>textureRect</key>
                <string>{{230,370},{92,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/clear_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,21}</string>
                <key>spriteSourceSize</key>
                <string>{92,21}</string>
                <key>textureRect</key>
                <string>{{230,393},{92,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/clear_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,21}</string>
                <key>spriteSourceSize</key>
                <string>{92,21}</string>
                <key>textureRect</key>
                <string>{{324,370},{92,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/clear_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,21}</string>
                <key>spriteSourceSize</key>
                <string>{92,21}</string>
                <key>textureRect</key>
                <string>{{230,416},{92,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/default_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,21}</string>
                <key>spriteSourceSize</key>
                <string>{92,21}</string>
                <key>textureRect</key>
                <string>{{324,393},{92,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/default_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,21}</string>
                <key>spriteSourceSize</key>
                <string>{92,21}</string>
                <key>textureRect</key>
                <string>{{418,370},{92,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/default_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,21}</string>
                <key>spriteSourceSize</key>
                <string>{92,21}</string>
                <key>textureRect</key>
                <string>{{324,416},{92,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/default_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,21}</string>
                <key>spriteSourceSize</key>
                <string>{92,21}</string>
                <key>textureRect</key>
                <string>{{418,393},{92,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/save_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{512,370},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/save_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{418,416},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/save_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{512,393},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/save_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{482,416},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/shift_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,35}</string>
                <key>spriteSourceSize</key>
                <string>{79,35}</string>
                <key>textureRect</key>
                <string>{{1,444},{79,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/shift_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,35}</string>
                <key>spriteSourceSize</key>
                <string>{79,35}</string>
                <key>textureRect</key>
                <string>{{82,444},{79,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/space_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,35}</string>
                <key>spriteSourceSize</key>
                <string>{227,35}</string>
                <key>textureRect</key>
                <string>{{1,370},{227,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/space_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,35}</string>
                <key>spriteSourceSize</key>
                <string>{227,35}</string>
                <key>textureRect</key>
                <string>{{1,407},{227,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/tca_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{293,439},{46,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotkey/tca_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{341,439},{46,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hotkey-0.pvr.ccz</string>
            <key>size</key>
            <string>{592,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84af9ba11015ad7f04cf61d8d452c256:ee0cc326811f47568a438b1cd034e548:a0429ae79baf323ca652d2c6f1efe389$</string>
            <key>textureFileName</key>
            <string>hotkey-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
