<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item/1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,47}</string>
                <key>spriteSourceSize</key>
                <string>{18,47}</string>
                <key>textureRect</key>
                <string>{{610,1},{18,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,47}</string>
                <key>spriteSourceSize</key>
                <string>{18,47}</string>
                <key>textureRect</key>
                <string>{{610,50},{18,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{694,65},{18,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{713,184},{18,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{747,161},{18,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/3_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{754,181},{18,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{788,161},{18,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/4_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{795,181},{18,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/5_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,45}</string>
                <key>spriteSourceSize</key>
                <string>{18,45}</string>
                <key>textureRect</key>
                <string>{{587,65},{18,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/5_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,45}</string>
                <key>spriteSourceSize</key>
                <string>{18,45}</string>
                <key>textureRect</key>
                <string>{{619,195},{18,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,278}</string>
                <key>spriteSourceSize</key>
                <string>{215,278}</string>
                <key>textureRect</key>
                <string>{{307,1},{215,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/btnitemmall_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{511,218},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/btnitemmall_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{575,218},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/btnitemmall_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{639,1},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/btnitemmall_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{587,1},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/cooldown2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{703,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{630,24},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown2_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{662,24},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown2_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{735,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown2_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{767,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown2_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{799,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown2_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{587,112},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown2_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{587,144},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown2_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{662,24},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{587,176},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{619,99},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{630,56},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{619,131},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{619,163},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{639,215},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{651,88},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{662,56},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{651,120},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{651,152},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{671,204},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{703,204},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{683,88},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{694,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{726,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{683,120},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{683,152},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{735,204},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{754,65},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{758,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{715,85},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{747,97},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{715,117},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{715,149},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{747,129},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{767,201},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{779,97},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{786,65},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{790,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{779,129},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{811,97},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/cooldown_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{811,129},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/dis2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{822,33},{18,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/dis3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{799,201},{18,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/dis4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{799,221},{18,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/dis5_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,45}</string>
                <key>spriteSourceSize</key>
                <string>{18,45}</string>
                <key>textureRect</key>
                <string>{{666,184},{18,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_mall_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,304}</string>
                <key>spriteSourceSize</key>
                <string>{215,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/radio_equip_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{1,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/radio_equip_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{52,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/radio_misc_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{103,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/radio_misc_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{154,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/radio_play_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{205,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/radio_play_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{256,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/radio_quest_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{307,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/radio_quest_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{358,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/radio_use_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{409,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/radio_use_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,28}</string>
                <key>spriteSourceSize</key>
                <string>{49,28}</string>
                <key>textureRect</key>
                <string>{{460,218},{49,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item-0.pvr.ccz</string>
            <key>size</key>
            <string>{842,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae721d788a2423fe62b35c991df1c18:ea2fe3a1a57f9c8d8dbd58353cc395c2:4ae0c63f223d4c9869d4cf4e9e190146$</string>
            <key>textureFileName</key>
            <string>item-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
