<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Login/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login/cancel_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{879,1},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/cancel_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{879,75},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/cancel_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{825,103},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/cancel_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{803,392},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/caution_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,20}</string>
                <key>spriteSourceSize</key>
                <string>{185,20}</string>
                <key>textureRect</key>
                <string>{{803,1},{185,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/checkbox_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{830,325},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login/checkbox_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{852,561},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login/getpwd_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{869,149},{53,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/getpwd_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{869,204},{53,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/getpwd_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{869,259},{53,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/getpwd_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{869,314},{53,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/ok_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{803,466},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/ok_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{830,177},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/ok_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{830,251},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/ok_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{842,369},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login/register_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{803,540},{53,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/register_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{842,408},{53,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login/register_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{842,457},{53,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login/register_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{852,506},{53,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/softkbd_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,25}</string>
                <key>spriteSourceSize</key>
                <string>{100,25}</string>
                <key>textureRect</key>
                <string>{{825,1},{100,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/softkbd_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,25}</string>
                <key>spriteSourceSize</key>
                <string>{100,25}</string>
                <key>textureRect</key>
                <string>{{852,1},{100,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/softkbd_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,25}</string>
                <key>spriteSourceSize</key>
                <string>{100,25}</string>
                <key>textureRect</key>
                <string>{{803,188},{100,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/softkbd_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,25}</string>
                <key>spriteSourceSize</key>
                <string>{100,25}</string>
                <key>textureRect</key>
                <string>{{803,290},{100,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Login-0.pvr.ccz</string>
            <key>size</key>
            <string>{917,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bca5f6b8cdf97db7f0d33a311029432c:fa3248870cb6ab7a79a319b0ebbc3249:d2a72b6a291dc800df384ac1d885df2b$</string>
            <key>textureFileName</key>
            <string>Login-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
