<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mailread/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,284}</string>
                <key>spriteSourceSize</key>
                <string>{478,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailread/btnitem_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{1,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnitem_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{31,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnitem_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{61,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnitem_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{91,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnletter_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{121,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnletter_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{151,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnletter_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{181,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnletter_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{211,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnmoney_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{241,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnmoney_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{271,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnmoney_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{301,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/btnmoney_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{331,287},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/checkbox_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{361,381},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailread/checkbox_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{395,381},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailread/delete_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{361,317},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/delete_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{361,287},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailread/delete_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{384,317},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/delete_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{407,317},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/leftday_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,16}</string>
                <key>spriteSourceSize</key>
                <string>{156,16}</string>
                <key>textureRect</key>
                <string>{{481,1},{156,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/leftday_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,16}</string>
                <key>spriteSourceSize</key>
                <string>{156,16}</string>
                <key>textureRect</key>
                <string>{{481,159},{156,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mailread/reply_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{430,317},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailread/reply_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{430,340},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailread/reply_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{430,363},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailread/reply_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{429,386},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mailread-0.pvr.ccz</string>
            <key>size</key>
            <string>{498,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71bbc91594c075bd5f34fccf5a45d295:110369b18b45a9946a47a68b18762354:0a2054a2bc393ee4a61878948718afb2$</string>
            <key>textureFileName</key>
            <string>mailread-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
