<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mail/1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{85,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{118,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/1_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{85,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/1_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{151,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{184,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{217,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/2_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{184,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/2_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{250,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{283,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/3_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{316,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/3_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{283,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/3_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{349,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{382,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/4_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{415,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/4_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{382,423},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/4_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{448,419},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,284}</string>
                <key>spriteSourceSize</key>
                <string>{478,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/gmmaillast_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{87,377},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/gmmaillast_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{171,354},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/gmmaillast_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{255,331},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/gmmaillast_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{151,377},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/hl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,19}</string>
                <key>spriteSourceSize</key>
                <string>{454,19}</string>
                <key>textureRect</key>
                <string>{{1,287},{454,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/iconnotread_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{343,400},{33,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/iconnotread_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{378,400},{33,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/iconnotread_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{407,377},{33,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/iconnotread_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{413,400},{33,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/iconread_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{448,373},{33,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/iconread_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{448,396},{33,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/mailcreate_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{235,354},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/mailcreate_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{319,331},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/mailcreate_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{215,377},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/mailcreate_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{299,354},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/maildelete_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{279,377},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/maildelete_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{383,331},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/maildelete_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{363,354},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/maildelete_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{343,377},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/mailopen_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{87,400},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/mailopen_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{151,400},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/mailopen_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{215,400},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/mailopen_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{279,400},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/ordinmail_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{1,408},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/ordinmail_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{108,308},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/ordinmail_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{192,308},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/ordinmail_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{276,308},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/quick_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{360,308},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/quick_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{87,331},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/quick_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{87,354},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/quick_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{171,331},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,24}</string>
                <key>spriteSourceSize</key>
                <string>{84,24}</string>
                <key>textureRect</key>
                <string>{{457,287},{84,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mail/radio1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,24}</string>
                <key>spriteSourceSize</key>
                <string>{84,24}</string>
                <key>textureRect</key>
                <string>{{1,330},{84,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/radio2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,24}</string>
                <key>spriteSourceSize</key>
                <string>{84,24}</string>
                <key>textureRect</key>
                <string>{{1,356},{84,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/radio2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,24}</string>
                <key>spriteSourceSize</key>
                <string>{84,24}</string>
                <key>textureRect</key>
                <string>{{1,382},{84,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail/stamp_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,20}</string>
                <key>spriteSourceSize</key>
                <string>{105,20}</string>
                <key>textureRect</key>
                <string>{{1,308},{105,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mail-0.pvr.ccz</string>
            <key>size</key>
            <string>{482,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cda3228abb8c5f006b6e85620cda141:33a43e2bc858a1e44105be425a011ca9:9fe32dcc87b356aa1f4a50f64e7c53d7$</string>
            <key>textureFileName</key>
            <string>mail-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
