<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>messenger/add_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,31}</string>
                <key>spriteSourceSize</key>
                <string>{55,31}</string>
                <key>textureRect</key>
                <string>{{902,391},{55,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/add_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,31}</string>
                <key>spriteSourceSize</key>
                <string>{55,31}</string>
                <key>textureRect</key>
                <string>{{865,415},{55,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/add_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,31}</string>
                <key>spriteSourceSize</key>
                <string>{55,31}</string>
                <key>textureRect</key>
                <string>{{957,402},{55,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/add_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,31}</string>
                <key>spriteSourceSize</key>
                <string>{55,31}</string>
                <key>textureRect</key>
                <string>{{967,435},{55,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/back2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,245}</string>
                <key>spriteSourceSize</key>
                <string>{267,245}</string>
                <key>textureRect</key>
                <string>{{561,1},{267,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/back2__1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,212}</string>
                <key>spriteSourceSize</key>
                <string>{126,212}</string>
                <key>textureRect</key>
                <string>{{830,102},{126,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/back3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,66}</string>
                <key>spriteSourceSize</key>
                <string>{158,66}</string>
                <key>textureRect</key>
                <string>{{830,1},{158,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,278}</string>
                <key>spriteSourceSize</key>
                <string>{486,278}</string>
                <key>textureRect</key>
                <string>{{1,1},{486,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/back__1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,278}</string>
                <key>spriteSourceSize</key>
                <string>{486,278}</string>
                <key>textureRect</key>
                <string>{{281,1},{486,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/enter_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{978,71},{57,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/enter_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{958,130},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/enter_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{958,165},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/enter_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{958,200},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/enter__1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{707,294},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/enter__1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{707,326},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/enter__1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{824,316},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/enter__1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{824,348},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/flashbk_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,31}</string>
                <key>spriteSourceSize</key>
                <string>{146,31}</string>
                <key>textureRect</key>
                <string>{{830,69},{146,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/guanbi_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{707,358},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/guanbi_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{707,389},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/guanbi_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{707,420},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/guanbi_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{738,420},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/hl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,21}</string>
                <key>spriteSourceSize</key>
                <string>{120,21}</string>
                <key>textureRect</key>
                <string>{{707,248},{120,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/hl__1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,21}</string>
                <key>spriteSourceSize</key>
                <string>{113,21}</string>
                <key>textureRect</key>
                <string>{{707,271},{113,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/invite2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{769,420},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/invite2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{800,403},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/invite2_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{800,468},{63,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/invite2_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{831,402},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/invite_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{958,235},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/invite_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{958,270},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/invite_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{958,305},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/invite_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{789,294},{57,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/invite__1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{941,340},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/invite__1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{941,371},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/left_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{990,1},{33,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/left_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{990,36},{33,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/left_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{906,316},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/left_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{906,341},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/list_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,144}</string>
                <key>spriteSourceSize</key>
                <string>{244,144}</string>
                <key>textureRect</key>
                <string>{{561,248},{244,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/max_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{807,380},{21,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/max_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{865,472},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/max_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{888,472},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/max_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{898,448},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/minimize_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{831,380},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/minimize_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{854,380},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/minimize_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{935,402},{21,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/minimize_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{935,425},{21,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/right_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{906,366},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/right_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{789,353},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/right_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{772,378},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/right_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{877,380},{33,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messenger/x_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{911,472},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/x_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{921,448},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/x_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{934,472},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messenger/x_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{944,448},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>messenger-0.pvr.ccz</string>
            <key>size</key>
            <string>{1016,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa1bb6a75097a77cf8effce9ec6a9453:fe364f259cad70140f33ed37f70dccb6:98abc97576546735ec79aceaeefe0595$</string>
            <key>textureFileName</key>
            <string>messenger-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
