<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minimap/NPC_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{460,572},{5,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,22}</string>
                <key>spriteSourceSize</key>
                <string>{199,22}</string>
                <key>textureRect</key>
                <string>{{428,203},{199,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/backmax_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,29}</string>
                <key>spriteSourceSize</key>
                <string>{239,29}</string>
                <key>textureRect</key>
                <string>{{397,203},{239,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/backmin_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,34}</string>
                <key>spriteSourceSize</key>
                <string>{239,34}</string>
                <key>textureRect</key>
                <string>{{361,203},{239,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/c1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{468,560},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/edge/c2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{467,584},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/edge/c3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{472,524},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/edge/c4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{472,532},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/edge/e1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,6}</string>
                <key>spriteSourceSize</key>
                <string>{400,6}</string>
                <key>textureRect</key>
                <string>{{452,203},{400,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/e2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,6}</string>
                <key>spriteSourceSize</key>
                <string>{400,6}</string>
                <key>textureRect</key>
                <string>{{428,404},{400,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/e3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,400}</string>
                <key>spriteSourceSize</key>
                <string>{5,400}</string>
                <key>textureRect</key>
                <string>{{436,404},{5,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/edge/e4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,400}</string>
                <key>spriteSourceSize</key>
                <string>{5,400}</string>
                <key>textureRect</key>
                <string>{{443,404},{5,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/guide_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{460,412},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/guide_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{460,431},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/guide_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{460,450},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/guide_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{460,469},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/max_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{460,260},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/max_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{460,279},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/max_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{460,298},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/max_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{460,317},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/min_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{460,336},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/min_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{460,355},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/min_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{460,374},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/min_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{460,393},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/nomap_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{361,1},{200,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/npcicon0_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{460,560},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/npcicon1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,10}</string>
                <key>spriteSourceSize</key>
                <string>{7,10}</string>
                <key>textureRect</key>
                <string>{{460,524},{7,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/npcicon2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,10}</string>
                <key>spriteSourceSize</key>
                <string>{7,10}</string>
                <key>textureRect</key>
                <string>{{460,533},{7,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/npcicon3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,10}</string>
                <key>spriteSourceSize</key>
                <string>{7,10}</string>
                <key>textureRect</key>
                <string>{{460,542},{7,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/npcicon4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,10}</string>
                <key>spriteSourceSize</key>
                <string>{7,10}</string>
                <key>textureRect</key>
                <string>{{460,551},{7,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/player_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{460,584},{5,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/playerother_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{460,596},{5,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/portal_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{460,488},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/portal_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{460,506},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{181,1},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{1,173},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{181,173},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{1,345},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{181,345},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{1,806},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{1,517},{178,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/signal_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{173,517},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{181,689},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{181,861},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{1,978},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{181,1033},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{1,1150},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/signal_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,170}</string>
                <key>spriteSourceSize</key>
                <string>{178,170}</string>
                <key>textureRect</key>
                <string>{{181,1205},{178,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/teammate_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{467,572},{5,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/worldmap_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{450,605},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/worldmap_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{460,203},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/worldmap_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{460,222},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/worldmap_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{460,241},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minimap-0.pvr.ccz</string>
            <key>size</key>
            <string>{512,1376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b1376749ab5f2d8cc7c2f312286a8db:27f2dac4fbadb85c47a5881a4f9f3f6d:bc5f517d1adbcecbfaaeef80acee0a67$</string>
            <key>textureFileName</key>
            <string>minimap-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
