<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monsterinfo/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,50}</string>
                <key>spriteSourceSize</key>
                <string>{147,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterinfo/pgs_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,13}</string>
                <key>spriteSourceSize</key>
                <string>{93,13}</string>
                <key>textureRect</key>
                <string>{{150,1},{93,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterinfo/pgs_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,13}</string>
                <key>spriteSourceSize</key>
                <string>{93,13}</string>
                <key>textureRect</key>
                <string>{{150,16},{93,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monsterinfo-0.pvr.ccz</string>
            <key>size</key>
            <string>{244,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:870ab5d8dd8d72a91e539f0f3bef0fc4:20385c701c8600db5734935dcfb341ba:8d620b72b6de53438f614b4b3414aa27$</string>
            <key>textureFileName</key>
            <string>monsterinfo-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
