<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NpcQuest/Qreward/label3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,37}</string>
                <key>spriteSourceSize</key>
                <string>{95,37}</string>
                <key>textureRect</key>
                <string>{{527,298},{95,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcQuest/Qreward/label4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,37}</string>
                <key>spriteSourceSize</key>
                <string>{95,37}</string>
                <key>textureRect</key>
                <string>{{624,298},{95,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NpcQuest/cell_npc_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{376,344},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcQuest/cell_npc_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{418,344},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcQuest/plusback_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,99}</string>
                <key>spriteSourceSize</key>
                <string>{333,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{333,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcQuest/qaccept/cell_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{460,344},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcQuest/qaccept/label1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,37}</string>
                <key>spriteSourceSize</key>
                <string>{95,37}</string>
                <key>textureRect</key>
                <string>{{527,337},{95,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcQuest/qcomplete/cell_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{333,298},{192,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcQuest/qcomplete/label2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{333,344},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcQuest/quest_back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,330}</string>
                <key>spriteSourceSize</key>
                <string>{295,330}</string>
                <key>textureRect</key>
                <string>{{336,1},{295,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NpcQuest/quest_back_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,330}</string>
                <key>spriteSourceSize</key>
                <string>{295,330}</string>
                <key>textureRect</key>
                <string>{{1,102},{295,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NpcQuest/quest_back_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,330}</string>
                <key>spriteSourceSize</key>
                <string>{295,330}</string>
                <key>textureRect</key>
                <string>{{668,1},{295,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NpcQuest-0.pvr.ccz</string>
            <key>size</key>
            <string>{964,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:988ade61adcc05393b9c4b61753f8916:e7e0c29be5501281ec8c5063f2432338:094a5f67771a5c069270c46ee55952d7$</string>
            <key>textureFileName</key>
            <string>NpcQuest-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
