<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPCshop/1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{586,363},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{586,396},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/1_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{586,363},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/1_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{586,429},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{603,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{636,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/2_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{603,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/2_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{669,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{702,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/3_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{735,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/3_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{702,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/3_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{768,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{801,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/4_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{834,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/4_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{801,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/4_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{867,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/5_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{900,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/5_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{129,443},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/5_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{900,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/5_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{424,411},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/6_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{424,428},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/6_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{424,445},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/6_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{424,428},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/6_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{457,418},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/R1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{945,429},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/R1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{270,428},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/R2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{458,388},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/R2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{522,386},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/R3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{522,416},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/R3_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{334,403},{62,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/R4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{364,411},{62,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/R4_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{394,411},{62,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/back2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,40}</string>
                <key>spriteSourceSize</key>
                <string>{131,40}</string>
                <key>textureRect</key>
                <string>{{945,296},{131,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,293}</string>
                <key>spriteSourceSize</key>
                <string>{396,293}</string>
                <key>textureRect</key>
                <string>{{603,1},{396,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/backcostume_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,360}</string>
                <key>spriteSourceSize</key>
                <string>{600,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/buylist_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,160}</string>
                <key>spriteSourceSize</key>
                <string>{340,160}</string>
                <key>textureRect</key>
                <string>{{603,296},{340,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/cellnpcitem/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,38}</string>
                <key>spriteSourceSize</key>
                <string>{186,38}</string>
                <key>textureRect</key>
                <string>{{1,363},{186,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/cellnpcitem/back_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,38}</string>
                <key>spriteSourceSize</key>
                <string>{186,38}</string>
                <key>textureRect</key>
                <string>{{1,403},{186,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/cellnpcitem/mask_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,38}</string>
                <key>spriteSourceSize</key>
                <string>{186,38}</string>
                <key>textureRect</key>
                <string>{{189,363},{186,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/change_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,21}</string>
                <key>spriteSourceSize</key>
                <string>{79,21}</string>
                <key>textureRect</key>
                <string>{{1001,1},{79,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/change_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,21}</string>
                <key>spriteSourceSize</key>
                <string>{79,21}</string>
                <key>textureRect</key>
                <string>{{1001,82},{79,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/change_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,21}</string>
                <key>spriteSourceSize</key>
                <string>{79,21}</string>
                <key>textureRect</key>
                <string>{{1001,163},{79,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/change_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,21}</string>
                <key>spriteSourceSize</key>
                <string>{79,21}</string>
                <key>textureRect</key>
                <string>{{1001,244},{79,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{586,396},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/radio1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{586,363},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/radio1_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{457,435},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/radio1_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{490,418},{31,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/radio2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{636,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/radio2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{603,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/radio2_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{457,452},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/radio2_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{987,406},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/radio3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{735,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/radio3_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{702,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/radio3_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{162,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/radio3_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{195,458},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/restore_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,21}</string>
                <key>spriteSourceSize</key>
                <string>{79,21}</string>
                <key>textureRect</key>
                <string>{{505,363},{79,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/restore_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,21}</string>
                <key>spriteSourceSize</key>
                <string>{79,21}</string>
                <key>textureRect</key>
                <string>{{189,428},{79,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/restore_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,21}</string>
                <key>spriteSourceSize</key>
                <string>{79,21}</string>
                <key>textureRect</key>
                <string>{{377,388},{79,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/restore_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,21}</string>
                <key>spriteSourceSize</key>
                <string>{79,21}</string>
                <key>textureRect</key>
                <string>{{987,325},{79,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/title0_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,23}</string>
                <key>spriteSourceSize</key>
                <string>{126,23}</string>
                <key>textureRect</key>
                <string>{{1,443},{126,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/title1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,23}</string>
                <key>spriteSourceSize</key>
                <string>{126,23}</string>
                <key>textureRect</key>
                <string>{{189,403},{126,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/title2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,23}</string>
                <key>spriteSourceSize</key>
                <string>{126,23}</string>
                <key>textureRect</key>
                <string>{{377,363},{126,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NPCshop-0.pvr.ccz</string>
            <key>size</key>
            <string>{1023,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f3d2e07bdb5b96f5a2dcf354b10a246:30504544b9e37cf8430fb821fcb5cb30:88298aa63c5af03a4ea88ecf70c5e076$</string>
            <key>textureFileName</key>
            <string>NPCshop-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
