<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>optchangeline/01_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{182,93},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/01_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{182,115},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/02_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{182,137},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/02_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{182,159},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/03_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{182,181},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/03_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{182,203},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/04_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{182,225},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/04_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,371},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/05_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,393},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/05_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,415},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/06_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,437},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/06_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,459},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/07_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,481},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/07_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,503},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/08_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,525},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/08_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,547},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/09_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{195,569},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/09_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{98,604},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/10_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{146,604},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/10_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{194,604},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/1a_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{117,274},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/1a_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{214,274},{95,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>optchangeline/1b_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{117,296},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/1b_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,301},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/1c_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,318},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/1c_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,323},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/2a_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,340},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/2a_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,345},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/2b_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,362},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/2b_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,367},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/2c_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,384},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/2c_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,389},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/3a_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,406},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/3a_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,411},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/3b_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,428},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/3b_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,433},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/3c_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,450},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/3c_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,455},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/4a_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,472},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/4a_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,477},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/4b_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,494},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/4b_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,499},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/4c_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,516},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/4c_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,521},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/5a_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,538},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/5a_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,543},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/5b_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,560},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/5b_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,565},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/5c_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{98,582},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/5c_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,20}</string>
                <key>spriteSourceSize</key>
                <string>{95,20}</string>
                <key>textureRect</key>
                <string>{{1,587},{95,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,179}</string>
                <key>spriteSourceSize</key>
                <string>{244,179}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>optchangeline/blue_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{230,93},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/blue_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{230,93},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/change_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{182,1},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/change_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{182,24},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/change_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{182,47},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/change_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{182,70},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/currsel_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,25}</string>
                <key>textureRect</key>
                <string>{{1,247},{114,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{230,109},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{230,125},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/kuang_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,25}</string>
                <key>textureRect</key>
                <string>{{117,247},{114,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/kuang_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,25}</string>
                <key>textureRect</key>
                <string>{{1,274},{114,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{230,141},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{230,157},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{230,173},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{230,189},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>optchangeline-0.pvr.ccz</string>
            <key>size</key>
            <string>{245,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c32dc41bc0c18301ba3d355c50d7d491:0ccf2cf0a0a899a61fcec3a9174fd4f9:c7b0798f179e68d32cb9ce72abb5c2fc$</string>
            <key>textureFileName</key>
            <string>optchangeline-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
