<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OPTION/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,13}</string>
                <key>spriteSourceSize</key>
                <string>{61,13}</string>
                <key>textureRect</key>
                <string>{{228,902},{61,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/radio1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,13}</string>
                <key>spriteSourceSize</key>
                <string>{61,13}</string>
                <key>textureRect</key>
                <string>{{228,902},{61,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/radio1_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,13}</string>
                <key>spriteSourceSize</key>
                <string>{61,13}</string>
                <key>textureRect</key>
                <string>{{228,902},{61,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/radio1_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,13}</string>
                <key>spriteSourceSize</key>
                <string>{61,13}</string>
                <key>textureRect</key>
                <string>{{228,902},{61,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/radio2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,28}</string>
                <key>spriteSourceSize</key>
                <string>{103,28}</string>
                <key>textureRect</key>
                <string>{{218,1},{103,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/radio2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,28}</string>
                <key>spriteSourceSize</key>
                <string>{103,28}</string>
                <key>textureRect</key>
                <string>{{218,106},{103,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/radio3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,28}</string>
                <key>spriteSourceSize</key>
                <string>{97,28}</string>
                <key>textureRect</key>
                <string>{{218,211},{97,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/radio3_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,28}</string>
                <key>spriteSourceSize</key>
                <string>{97,28}</string>
                <key>textureRect</key>
                <string>{{218,310},{97,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/10_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,409},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/10_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,466},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/10_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,523},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/10_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/11_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,637},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/11_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{204,856},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/11_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{204,913},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/11_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/12_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{204,970},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/12_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{1,1027},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/12_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{25,1027},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/12_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{49,1027},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{49,1027},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/1_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{73,1027},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/1_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{97,1027},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{121,1027},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/2_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{145,971},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/2_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{145,995},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{145,1019},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/3_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{202,1027},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/3_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{226,1027},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/3_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{145,1043},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{1,852},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/4_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{1,909},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/4_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{1,966},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/4_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/5_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{25,852},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/5_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{25,909},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/5_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{25,966},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/5_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/6_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{49,852},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/6_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{106,852},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/6_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{49,876},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/6_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/7_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{49,933},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/7_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{73,876},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/7_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{97,876},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/7_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/8_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{106,933},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/8_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{121,876},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/8_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{49,957},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/8_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/9_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{73,957},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/9_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{97,957},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/9_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{121,957},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/9_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{218,580},{55,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,321}</string>
                <key>spriteSourceSize</key>
                <string>{215,321}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/gamepad_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,39}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{1,647},{160,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/gamepad_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,39}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{163,647},{160,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/gamepad_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,39}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{1,688},{160,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/gamepad_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,39}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{1,729},{160,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/hotkey_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,39}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{1,770},{160,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/setting/hotkey_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,39}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{204,694},{160,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/hotkey_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,39}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{163,809},{160,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OPTION/setting/hotkey_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,39}</string>
                <key>spriteSourceSize</key>
                <string>{160,39}</string>
                <key>textureRect</key>
                <string>{{1,811},{160,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/system/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,321}</string>
                <key>spriteSourceSize</key>
                <string>{215,321}</string>
                <key>textureRect</key>
                <string>{{1,324},{215,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/system/checkbox_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{228,856},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OPTION/system/checkbox_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{228,879},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>OPTION-0.pvr.ccz</string>
            <key>size</key>
            <string>{249,1083}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5695ff44895a2efdfa162ab12f774fce:b5fcf6974c478f5db56f2e5d12000e71:b059d3162af1d978b05cce1a0f68eee1$</string>
            <key>textureFileName</key>
            <string>OPTION-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
