<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>photobid/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,284}</string>
                <key>spriteSourceSize</key>
                <string>{592,284}</string>
                <key>textureRect</key>
                <string>{{277,1},{592,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/btn/bid_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{277,287},{41,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>photobid/btn/bid_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{296,287},{41,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>photobid/btn/bid_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{315,287},{41,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>photobid/btn/bid_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{334,287},{41,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>photobid/btn/btn_view_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,21}</string>
                <key>spriteSourceSize</key>
                <string>{104,21}</string>
                <key>textureRect</key>
                <string>{{353,287},{104,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/btn/btn_view_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,21}</string>
                <key>spriteSourceSize</key>
                <string>{104,21}</string>
                <key>textureRect</key>
                <string>{{353,310},{104,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/btn/btn_view_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,21}</string>
                <key>spriteSourceSize</key>
                <string>{104,21}</string>
                <key>textureRect</key>
                <string>{{459,287},{104,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/btn/btn_view_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,21}</string>
                <key>spriteSourceSize</key>
                <string>{104,21}</string>
                <key>textureRect</key>
                <string>{{459,310},{104,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/btn/lefttime_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,20}</string>
                <key>spriteSourceSize</key>
                <string>{93,20}</string>
                <key>textureRect</key>
                <string>{{565,309},{93,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/btn/person_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,20}</string>
                <key>spriteSourceSize</key>
                <string>{77,20}</string>
                <key>textureRect</key>
                <string>{{660,309},{77,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/btn/price_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,20}</string>
                <key>spriteSourceSize</key>
                <string>{59,20}</string>
                <key>textureRect</key>
                <string>{{739,309},{59,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/btn/state_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,20}</string>
                <key>spriteSourceSize</key>
                <string>{58,20}</string>
                <key>textureRect</key>
                <string>{{779,287},{58,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/btn/timerange_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,20}</string>
                <key>spriteSourceSize</key>
                <string>{212,20}</string>
                <key>textureRect</key>
                <string>{{565,287},{212,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photobid/setbidback_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,274}</string>
                <key>spriteSourceSize</key>
                <string>{330,274}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>photobid/smallicon_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{800,309},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>photobid-0.pvr.ccz</string>
            <key>size</key>
            <string>{870,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cff21a7430b10d3a1d3f0960210e335:7067d6a2ef141bf20af809c6e9da0251:4209eb4b06ad97d1062497d112ae52ce$</string>
            <key>textureFileName</key>
            <string>photobid-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
