<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>photoalbum/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,282}</string>
                <key>spriteSourceSize</key>
                <string>{642,282}</string>
                <key>textureRect</key>
                <string>{{327,1},{642,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photoalbum/editback_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,324}</string>
                <key>spriteSourceSize</key>
                <string>{292,324}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>photoalbum/editbtn_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{1,295},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photoalbum/editbtn_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{85,295},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photoalbum/editbtn_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{169,295},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photoalbum/editbtn_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{253,295},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photoalbum/mask_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,25}</string>
                <key>spriteSourceSize</key>
                <string>{35,25}</string>
                <key>textureRect</key>
                <string>{{337,285},{35,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photoalbum/togif_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{374,285},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photoalbum/togif_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{458,285},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photoalbum/togif_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{542,285},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photoalbum/togif_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{626,285},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>photoalbum-0.pvr.ccz</string>
            <key>size</key>
            <string>{970,317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1ba89fb0fff502b0254ebc38994ab94:acd1207f0e17b2f842cad07713a4e3fe:4987cda4e82dc95e26920ffd84670cf5$</string>
            <key>textureFileName</key>
            <string>photoalbum-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
