<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playertag/mo/ap_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{465,1},{88,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/mo/ap_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{477,1},{88,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/mo/ap_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{489,1},{88,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/mo/ap_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{1,91},{88,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/ap_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{91,91},{88,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/ap_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{181,91},{88,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,65}</string>
                <key>spriteSourceSize</key>
                <string>{216,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/0_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{326,100},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{337,99},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{348,99},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{359,99},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{429,91},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/5_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{370,99},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/6_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{381,99},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/7_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{392,99},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/8_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{403,99},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/font/9_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{414,99},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/hp_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,12}</string>
                <key>spriteSourceSize</key>
                <string>{88,12}</string>
                <key>textureRect</key>
                <string>{{437,1},{88,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/mo/hp_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,12}</string>
                <key>spriteSourceSize</key>
                <string>{88,12}</string>
                <key>textureRect</key>
                <string>{{451,1},{88,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/mo/mp_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{336,68},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/mp_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{367,68},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/picmp_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,8}</string>
                <key>spriteSourceSize</key>
                <string>{20,8}</string>
                <key>textureRect</key>
                <string>{{501,66},{20,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/ap_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{465,1},{88,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/ap_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{477,1},{88,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/ap_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{489,1},{88,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/ap_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{1,91},{88,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/ap_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{91,91},{88,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/ap_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{181,91},{88,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/ap_ui3p_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,7}</string>
                <key>spriteSourceSize</key>
                <string>{63,7}</string>
                <key>textureRect</key>
                <string>{{501,1},{63,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/ap_ui3p_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,7}</string>
                <key>spriteSourceSize</key>
                <string>{63,7}</string>
                <key>textureRect</key>
                <string>{{1,103},{63,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/ap_ui3p_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,7}</string>
                <key>spriteSourceSize</key>
                <string>{63,7}</string>
                <key>textureRect</key>
                <string>{{66,103},{63,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/ap_ui3p_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,7}</string>
                <key>spriteSourceSize</key>
                <string>{63,7}</string>
                <key>textureRect</key>
                <string>{{131,103},{63,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/ap_ui3p_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,7}</string>
                <key>spriteSourceSize</key>
                <string>{63,7}</string>
                <key>textureRect</key>
                <string>{{196,103},{63,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/ap_ui3p_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,7}</string>
                <key>spriteSourceSize</key>
                <string>{63,7}</string>
                <key>textureRect</key>
                <string>{{261,103},{63,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,65}</string>
                <key>spriteSourceSize</key>
                <string>{216,65}</string>
                <key>textureRect</key>
                <string>{{219,1},{216,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/bg_ui3p_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,20}</string>
                <key>spriteSourceSize</key>
                <string>{146,20}</string>
                <key>textureRect</key>
                <string>{{1,68},{146,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/bg_ui3p_hui_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,20}</string>
                <key>spriteSourceSize</key>
                <string>{146,20}</string>
                <key>textureRect</key>
                <string>{{149,68},{146,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/font/0_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{440,91},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/font/1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{451,91},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/font/2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{462,91},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/font/3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{473,91},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/font/4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{484,91},{9,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/font/5_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{297,68},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/font/6_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{297,80},{9,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/font/7_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{308,68},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/font/8_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{309,80},{9,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/font/9_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{319,68},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/hp_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,12}</string>
                <key>spriteSourceSize</key>
                <string>{88,12}</string>
                <key>textureRect</key>
                <string>{{437,1},{88,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/hp_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,12}</string>
                <key>spriteSourceSize</key>
                <string>{88,12}</string>
                <key>textureRect</key>
                <string>{{451,1},{88,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/hp_ui3p_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,7}</string>
                <key>spriteSourceSize</key>
                <string>{63,7}</string>
                <key>textureRect</key>
                <string>{{501,1},{63,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/hp_ui3p_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,7}</string>
                <key>spriteSourceSize</key>
                <string>{63,7}</string>
                <key>textureRect</key>
                <string>{{271,91},{63,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/mp_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{336,68},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/mp_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{398,68},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/sheng/picmp_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,8}</string>
                <key>spriteSourceSize</key>
                <string>{20,8}</string>
                <key>textureRect</key>
                <string>{{501,88},{20,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playertag-0.pvr.ccz</string>
            <key>size</key>
            <string>{510,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6da5793f4a499e919b99661af20a3831:985021ced501a6539b92f2e5c00a8bcd:6fe78c449a8f5b0f91e9f66618d71e6d$</string>
            <key>textureFileName</key>
            <string>playertag-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
