<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quest/abandon_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{47,43}</string>
                <key>textureRect</key>
                <string>{{573,420},{47,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/abandon_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{47,43}</string>
                <key>textureRect</key>
                <string>{{618,420},{47,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/abandon_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{47,43}</string>
                <key>textureRect</key>
                <string>{{663,420},{47,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/abandon_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{47,43}</string>
                <key>textureRect</key>
                <string>{{708,420},{47,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/amount_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,29}</string>
                <key>spriteSourceSize</key>
                <string>{154,29}</string>
                <key>textureRect</key>
                <string>{{1,481},{154,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/back2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,360}</string>
                <key>spriteSourceSize</key>
                <string>{245,360}</string>
                <key>textureRect</key>
                <string>{{957,1},{245,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,417}</string>
                <key>spriteSourceSize</key>
                <string>{301,417}</string>
                <key>textureRect</key>
                <string>{{573,1},{301,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/close_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{591,469},{32,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/close_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{620,469},{32,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/close_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{649,469},{32,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/close_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{678,469},{32,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/hl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,31}</string>
                <key>spriteSourceSize</key>
                <string>{248,31}</string>
                <key>textureRect</key>
                <string>{{707,469},{248,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/bg_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,284}</string>
                <key>spriteSourceSize</key>
                <string>{478,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/bglog_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,284}</string>
                <key>spriteSourceSize</key>
                <string>{478,284}</string>
                <key>textureRect</key>
                <string>{{287,1},{478,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/findtreasureandkilldemon_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{449,481},{69,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/findtreasureandkilldemon_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{520,481},{69,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/giveup_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1082,435},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/giveup_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1105,435},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/giveup_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1128,435},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/giveup_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1151,477},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/history_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{753,420},{69,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/history_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{824,420},{69,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/jin_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,185}</string>
                <key>spriteSourceSize</key>
                <string>{219,185}</string>
                <key>textureRect</key>
                <string>{{895,248},{219,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/lianxuhuanshu_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,19}</string>
                <key>spriteSourceSize</key>
                <string>{246,19}</string>
                <key>textureRect</key>
                <string>{{1319,1},{246,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/longquestdesc_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,19}</string>
                <key>spriteSourceSize</key>
                <string>{213,19}</string>
                <key>textureRect</key>
                <string>{{876,31},{213,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/longquestdesc_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,19}</string>
                <key>spriteSourceSize</key>
                <string>{213,19}</string>
                <key>textureRect</key>
                <string>{{897,31},{213,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/moneyhunter_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{876,1},{69,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/moneyhunter_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{918,31},{69,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/normaltask_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{918,102},{69,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/normaltask_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{918,173},{69,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/share_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1215,477},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/share_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1303,249},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/share_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{1303,313},{62,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/share_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{957,469},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/shortquestdesc_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,19}</string>
                <key>spriteSourceSize</key>
                <string>{188,19}</string>
                <key>textureRect</key>
                <string>{{1151,435},{188,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/shortquestdesc_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,19}</string>
                <key>spriteSourceSize</key>
                <string>{188,19}</string>
                <key>textureRect</key>
                <string>{{1151,456},{188,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/sign_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{829,450},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/sign_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{849,450},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/sign_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{869,450},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/x_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{753,450},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/x_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{772,450},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/x_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{791,450},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/x_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{810,450},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/quest_normal/yao_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,185}</string>
                <key>spriteSourceSize</key>
                <string>{219,185}</string>
                <key>textureRect</key>
                <string>{{1082,248},{219,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{157,481},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/radio1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{230,481},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/radio2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{303,481},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest/radio2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{376,481},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest-0.pvr.ccz</string>
            <key>size</key>
            <string>{1340,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41af9cb49890e2f249609f8a610ac006:7fd604e675cc9eaa1cf1e32e7b7511ed:b9e6e0ec18c2c4df68688bd0405b0746$</string>
            <key>textureFileName</key>
            <string>quest-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
