<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>questtag/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,24}</string>
                <key>spriteSourceSize</key>
                <string>{203,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{203,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/count_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,24}</string>
                <key>spriteSourceSize</key>
                <string>{150,24}</string>
                <key>textureRect</key>
                <string>{{206,1},{150,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/0_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{358,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{372,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{386,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{400,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{414,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/5_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{428,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/6_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{442,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/7_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{456,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/8_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{470,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/9_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{484,1},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>questtag-0.pvr.ccz</string>
            <key>size</key>
            <string>{497,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bfe58de6c7170269a564ef7feef0023:a18f88bdadf23bdb4ab44fdd4bdcf482:058ce10e78ae654b4bc95c99b013cd89$</string>
            <key>textureFileName</key>
            <string>questtag-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
