<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>regcomplete/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,40},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regcomplete/ok_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{436,1},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regcomplete/ok_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{510,1},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regcomplete/ok_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{584,1},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regcomplete/ok_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{658,1},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regcomplete/site_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,23}</string>
                <key>spriteSourceSize</key>
                <string>{143,23}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regcomplete/site_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,23}</string>
                <key>spriteSourceSize</key>
                <string>{143,23}</string>
                <key>textureRect</key>
                <string>{{146,1},{143,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regcomplete/site_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,23}</string>
                <key>spriteSourceSize</key>
                <string>{143,23}</string>
                <key>textureRect</key>
                <string>{{291,1},{143,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>regcomplete-0.pvr.ccz</string>
            <key>size</key>
            <string>{802,641}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec2c468c7d07f58b4d17f7e1d0b952b4:f9025c7191069fee443b874be5c99cec:7bb47f54f60c00fef002cd6a00707142$</string>
            <key>textureFileName</key>
            <string>regcomplete-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
