<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>register/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register/cancel_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{877,187},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/cancel_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{877,261},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/cancel_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{820,524},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/cancel_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{834,335},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register/checkname_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,19}</string>
                <key>spriteSourceSize</key>
                <string>{184,19}</string>
                <key>textureRect</key>
                <string>{{860,1},{184,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/checknameres_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,15}</string>
                <key>spriteSourceSize</key>
                <string>{211,15}</string>
                <key>textureRect</key>
                <string>{{803,375},{211,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/errmsg1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,15}</string>
                <key>spriteSourceSize</key>
                <string>{147,15}</string>
                <key>textureRect</key>
                <string>{{820,375},{147,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/errmsg2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,15}</string>
                <key>spriteSourceSize</key>
                <string>{141,15}</string>
                <key>textureRect</key>
                <string>{{860,187},{141,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/errmsg3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,15}</string>
                <key>spriteSourceSize</key>
                <string>{169,15}</string>
                <key>textureRect</key>
                <string>{{898,1},{169,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/errmsg4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,15}</string>
                <key>spriteSourceSize</key>
                <string>{176,15}</string>
                <key>textureRect</key>
                <string>{{881,1},{176,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/license_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,29}</string>
                <key>spriteSourceSize</key>
                <string>{372,29}</string>
                <key>textureRect</key>
                <string>{{803,1},{372,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/mail_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,24}</string>
                <key>spriteSourceSize</key>
                <string>{330,24}</string>
                <key>textureRect</key>
                <string>{{834,1},{330,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/ok_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{837,374},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/ok_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{837,448},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/ok_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{876,374},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/ok_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{876,448},{72,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>register-0.pvr.ccz</string>
            <key>size</key>
            <string>{915,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21bdcb2718602169d73a18160adb48cd:3ddce8149b4aa18ce56de61f9185cc4f:59de2ede498f24d95a92a720406be6dc$</string>
            <key>textureFileName</key>
            <string>register-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
