<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>serverselect/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,277}</string>
                <key>spriteSourceSize</key>
                <string>{269,277}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/enter_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{1,620},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/enter_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{51,620},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/enter_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{101,620},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/enter_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{151,620},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line1/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,280},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line1/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{272,1},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line1/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{378,1},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line1/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,314},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line1/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,280},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line1/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{272,35},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line10/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{378,35},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line10/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,348},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line10/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,314},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line10/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{272,69},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line10/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{378,69},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line10/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,382},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line2/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,348},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line2/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{272,103},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line2/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{378,103},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line2/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,416},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line2/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,382},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line2/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{213,280},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line3/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{272,137},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line3/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{378,137},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line3/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,450},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line3/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,416},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line3/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{272,171},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line3/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{378,171},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line4/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,484},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line4/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,450},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line4/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{272,205},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line4/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{378,205},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line4/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,518},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line4/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,484},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line5/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{213,386},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line5/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{272,239},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line5/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{378,239},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line5/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,552},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line5/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,518},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line5/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{1,586},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line6/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,552},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line6/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{107,586},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line6/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{213,492},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line6/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{247,280},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line6/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{247,386},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line6/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{247,492},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line7/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,273},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line7/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,307},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line7/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,341},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line7/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,375},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line7/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{387,273},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line7/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,409},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line8/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{421,273},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line8/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,443},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line8/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,477},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line8/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{387,379},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line8/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,511},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line8/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{421,379},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line9/green_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,545},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line9/green_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{387,485},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line9/red_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{421,485},{104,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/line9/red_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{281,579},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line9/yellow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{213,613},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/line9/yellow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,32}</string>
                <key>spriteSourceSize</key>
                <string>{104,32}</string>
                <key>textureRect</key>
                <string>{{319,613},{104,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>serverselect/quit_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{455,273},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/quit_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{455,323},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/quit_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{455,373},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/quit_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{455,423},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/refresh_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{455,473},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/refresh_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{455,523},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/refresh_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{425,591},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>serverselect/refresh_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{452,591},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>serverselect-0.pvr.ccz</string>
            <key>size</key>
            <string>{483,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:293bba9cd9d298d6d3c4dce271a2bab9:e4336f867108c26ded97ecfd3948fd3b:75fec2cfd5bdeecc59bb1ccd3226d99a$</string>
            <key>textureFileName</key>
            <string>serverselect-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
