<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SetExp/back1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,131}</string>
                <key>spriteSourceSize</key>
                <string>{322,131}</string>
                <key>textureRect</key>
                <string>{{1,346},{322,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/back2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,131}</string>
                <key>spriteSourceSize</key>
                <string>{322,131}</string>
                <key>textureRect</key>
                <string>{{335,1},{322,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SetExp/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,343}</string>
                <key>spriteSourceSize</key>
                <string>{332,343}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/cell_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{325,446},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/cell_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{425,465},{36,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SetExp/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{325,346},{68,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SetExp/radio1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{325,416},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/radio2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{355,325},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/radio2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{355,355},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/radio3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{355,385},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/radio3_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{395,415},{68,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SetExp/radio4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{425,325},{68,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SetExp/radio4_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{425,395},{68,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SetExp/radio_behave_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{1,479},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/radio_behave_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{71,479},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/radio_normal_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{141,479},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SetExp/radio_normal_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,28}</string>
                <key>textureRect</key>
                <string>{{211,479},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SetExp-0.pvr.ccz</string>
            <key>size</key>
            <string>{467,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a13e61fc89ffb3eea0897f896477e154:6770a576f5f9cd2ac31984aadd563cc3:db047dc360a175fe9ad2acd02373942b$</string>
            <key>textureFileName</key>
            <string>SetExp-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
