<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill/auto_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{69,1009},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/auto_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{101,1009},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/auto_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{133,1032},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/auto_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1,1036},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/auto_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{33,1036},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/auto_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{65,1041},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/auto_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{97,1041},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/auto_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1,1068},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/auto_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{33,1068},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/auto_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{165,1048},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,420}</string>
                <key>spriteSourceSize</key>
                <string>{253,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/btnexp_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{147,978},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/btnexp_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{147,1005},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/btnexp_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{1,1009},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/btnexp_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{35,1009},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/expand_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,360}</string>
                <key>spriteSourceSize</key>
                <string>{252,360}</string>
                <key>textureRect</key>
                <string>{{1,423},{252,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/hl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,44}</string>
                <key>spriteSourceSize</key>
                <string>{199,44}</string>
                <key>textureRect</key>
                <string>{{203,785},{199,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{1,978},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/radio1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{74,978},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/radio2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{181,986},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/radio2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{71,29}</string>
                <key>textureRect</key>
                <string>{{181,1017},{71,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/skilldesc2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,61}</string>
                <key>spriteSourceSize</key>
                <string>{197,61}</string>
                <key>textureRect</key>
                <string>{{1,915},{197,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/skilldesc_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,128}</string>
                <key>spriteSourceSize</key>
                <string>{200,128}</string>
                <key>textureRect</key>
                <string>{{1,785},{200,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/skilltype_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{129,1064},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/skilltype_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{197,1048},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/skilltype_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{225,1048},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/skilltype_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{197,1074},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/skilltype_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{225,1074},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill/skilltype_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{157,1080},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill-0.pvr.ccz</string>
            <key>size</key>
            <string>{255,1105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe016a76be58b6c5efc048eba8c37c9:9a2d3d7279718badd19b9266f2fbeec0:138d5d1c2c5c0aead174204666fcd033$</string>
            <key>textureFileName</key>
            <string>skill-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
