<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage1/advice_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{83,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/bg01_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{83,603},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/bg02_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{885,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/bg_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{885,603},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/cloud_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,75}</string>
                <key>spriteSourceSize</key>
                <string>{149,75}</string>
                <key>textureRect</key>
                <string>{{1,1603},{149,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/cloudbg_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,1600}</string>
                <key>spriteSourceSize</key>
                <string>{80,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/cloudf_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,200}</string>
                <key>spriteSourceSize</key>
                <string>{800,200}</string>
                <key>textureRect</key>
                <string>{{1687,803},{800,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/logo_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,133}</string>
                <key>spriteSourceSize</key>
                <string>{247,133}</string>
                <key>textureRect</key>
                <string>{{1687,1605},{247,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/long_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{83,1287},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/long_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{885,1287},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/piaoyun1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,332}</string>
                <key>spriteSourceSize</key>
                <string>{800,332}</string>
                <key>textureRect</key>
                <string>{{1687,1},{800,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/piaoyun2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,700}</string>
                <key>spriteSourceSize</key>
                <string>{80,700}</string>
                <key>textureRect</key>
                <string>{{1889,803},{80,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/piaoyun3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,1200}</string>
                <key>spriteSourceSize</key>
                <string>{80,1200}</string>
                <key>textureRect</key>
                <string>{{83,1205},{80,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/xieyi/btno_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{82,31}</string>
                <key>textureRect</key>
                <string>{{1285,1205},{82,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/xieyi/btno_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{82,31}</string>
                <key>textureRect</key>
                <string>{{1889,1505},{82,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/xieyi/btno_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{82,31}</string>
                <key>textureRect</key>
                <string>{{1971,803},{82,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/xieyi/btxieyi_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{82,31}</string>
                <key>textureRect</key>
                <string>{{1687,1854},{82,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/xieyi/btxieyi_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{82,31}</string>
                <key>textureRect</key>
                <string>{{1822,1605},{82,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/xieyi/btxieyi_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{82,31}</string>
                <key>textureRect</key>
                <string>{{1,1754},{82,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/xieyi/btxieyi_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{82,31}</string>
                <key>textureRect</key>
                <string>{{1285,1238},{82,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/xieyi/btyes_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{82,31}</string>
                <key>textureRect</key>
                <string>{{1369,1205},{82,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/xieyi/btyes_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{82,31}</string>
                <key>textureRect</key>
                <string>{{1922,1505},{82,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage1-0.pvr.ccz</string>
            <key>size</key>
            <string>{2020,1888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:241d93fcb5ac49632cda0e5d6d7d2ae0:7630cf7291d07d9d1458cd730d37edd9:59d5358d2505f380d47211f9e7f9fba5$</string>
            <key>textureFileName</key>
            <string>stage1-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
