<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>storage/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,261}</string>
                <key>spriteSourceSize</key>
                <string>{251,261}</string>
                <key>textureRect</key>
                <string>{{1,61},{251,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storage/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,28}</string>
                <key>spriteSourceSize</key>
                <string>{85,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storage/radio1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,28}</string>
                <key>spriteSourceSize</key>
                <string>{85,28}</string>
                <key>textureRect</key>
                <string>{{88,1},{85,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storage/radio2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,28}</string>
                <key>spriteSourceSize</key>
                <string>{85,28}</string>
                <key>textureRect</key>
                <string>{{1,31},{85,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storage/radio2_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,28}</string>
                <key>spriteSourceSize</key>
                <string>{85,28}</string>
                <key>textureRect</key>
                <string>{{88,31},{85,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>storage-0.pvr.ccz</string>
            <key>size</key>
            <string>{253,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc2a178a7d6be5267bba0f2d48de6647:77b8bcee35257966171af6545dfa11b0:a7b7050133018653754b992c87d2cf9d$</string>
            <key>textureFileName</key>
            <string>storage-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
