<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial/tback1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,336}</string>
                <key>spriteSourceSize</key>
                <string>{346,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tutorial-0.pvr.ccz</string>
            <key>size</key>
            <string>{348,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10d6c4a9e231a83cbac70430e9c080ee:b15d9a26486d2b6e9588b74afe3aa34b:b4fe201f1f4b0bae7ffb0685843b8dac$</string>
            <key>textureFileName</key>
            <string>tutorial-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
