<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GamePad/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,448}</string>
                <key>spriteSourceSize</key>
                <string>{635,448}</string>
                <key>textureRect</key>
                <string>{{1487,1},{635,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPCshop/back2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,40}</string>
                <key>spriteSourceSize</key>
                <string>{131,40}</string>
                <key>textureRect</key>
                <string>{{2005,631},{131,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/cellnpcitem/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,38}</string>
                <key>spriteSourceSize</key>
                <string>{186,38}</string>
                <key>textureRect</key>
                <string>{{2005,1488},{186,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NPCshop/change_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,21}</string>
                <key>spriteSourceSize</key>
                <string>{79,21}</string>
                <key>textureRect</key>
                <string>{{1922,1579},{79,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcDialog/teacher/hl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,16}</string>
                <key>spriteSourceSize</key>
                <string>{226,16}</string>
                <key>textureRect</key>
                <string>{{1367,2019},{226,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcQuest/qcomplete/cell_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,44}</string>
                <key>spriteSourceSize</key>
                <string>{192,44}</string>
                <key>textureRect</key>
                <string>{{755,1205},{192,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ShoppingMall/adv_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,149}</string>
                <key>spriteSourceSize</key>
                <string>{565,149}</string>
                <key>textureRect</key>
                <string>{{885,1405},{565,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShoppingMall/font/0_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,11}</string>
                <key>spriteSourceSize</key>
                <string>{7,11}</string>
                <key>textureRect</key>
                <string>{{794,2029},{7,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShoppingMall/font/1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,11}</string>
                <key>spriteSourceSize</key>
                <string>{7,11}</string>
                <key>textureRect</key>
                <string>{{1678,786},{7,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShoppingMall/font/2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,11}</string>
                <key>spriteSourceSize</key>
                <string>{7,11}</string>
                <key>textureRect</key>
                <string>{{2027,1676},{7,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ShoppingMall/font/3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,11}</string>
                <key>spriteSourceSize</key>
                <string>{7,11}</string>
                <key>textureRect</key>
                <string>{{2024,1479},{7,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ShoppingMall/shopback_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,603},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ShoppingMall/shopping_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,69}</string>
                <key>spriteSourceSize</key>
                <string>{105,69}</string>
                <key>textureRect</key>
                <string>{{1937,560},{105,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charcreate/create1/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1405},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charcreate/create3/back_fo_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{885,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charcreate/create3/back_mo_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{885,803},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charcreate/create4/back_fo_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{885,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charcreate/create4/back_mo_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{885,803},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/banchar_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,88}</string>
                <key>spriteSourceSize</key>
                <string>{50,88}</string>
                <key>textureRect</key>
                <string>{{1941,1488},{50,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charshop/type_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,18}</string>
                <key>spriteSourceSize</key>
                <string>{41,18}</string>
                <key>textureRect</key>
                <string>{{2006,764},{41,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>commctrl/listbox/hl_guild_approve_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,13}</string>
                <key>spriteSourceSize</key>
                <string>{429,13}</string>
                <key>textureRect</key>
                <string>{{2033,1},{429,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>commctrl/listbox/hl_guild_member_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,13}</string>
                <key>spriteSourceSize</key>
                <string>{429,13}</string>
                <key>textureRect</key>
                <string>{{2033,1},{429,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>commctrl/listbox/hl_npcguild_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,13}</string>
                <key>spriteSourceSize</key>
                <string>{189,13}</string>
                <key>textureRect</key>
                <string>{{1487,786},{189,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>commctrl/scroll_1/scroll_back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,600}</string>
                <key>spriteSourceSize</key>
                <string>{15,600}</string>
                <key>textureRect</key>
                <string>{{755,603},{15,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>commctrl/scroll_1/scroll_back_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,600}</string>
                <key>spriteSourceSize</key>
                <string>{15,600}</string>
                <key>textureRect</key>
                <string>{{772,603},{15,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>commctrl/up_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{553,2032},{15,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/btnmoney_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,20}</string>
                <key>spriteSourceSize</key>
                <string>{129,20}</string>
                <key>textureRect</key>
                <string>{{2024,1348},{129,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/btnmoney_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,20}</string>
                <key>spriteSourceSize</key>
                <string>{129,20}</string>
                <key>textureRect</key>
                <string>{{2024,1348},{129,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/btnmoney_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,20}</string>
                <key>spriteSourceSize</key>
                <string>{129,20}</string>
                <key>textureRect</key>
                <string>{{2024,1348},{129,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exchange/btnmoney_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,20}</string>
                <key>spriteSourceSize</key>
                <string>{129,20}</string>
                <key>textureRect</key>
                <string>{{2024,1348},{129,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hotkey/space_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,35}</string>
                <key>spriteSourceSize</key>
                <string>{227,35}</string>
                <key>textureRect</key>
                <string>{{565,2007},{227,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter/listbox/back1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,23}</string>
                <key>spriteSourceSize</key>
                <string>{562,23}</string>
                <key>textureRect</key>
                <string>{{1,2007},{562,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter/listbox/back2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,23}</string>
                <key>spriteSourceSize</key>
                <string>{562,23}</string>
                <key>textureRect</key>
                <string>{{803,2019},{562,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter/listbox/back3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,23}</string>
                <key>spriteSourceSize</key>
                <string>{562,23}</string>
                <key>textureRect</key>
                <string>{{2024,784},{562,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunter/listbox/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{678,253}</string>
                <key>spriteSourceSize</key>
                <string>{678,253}</string>
                <key>textureRect</key>
                <string>{{1687,786},{678,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunter/listbox/hl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,23}</string>
                <key>spriteSourceSize</key>
                <string>{562,23}</string>
                <key>textureRect</key>
                <string>{{885,1556},{562,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunter/process_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,11}</string>
                <key>spriteSourceSize</key>
                <string>{59,11}</string>
                <key>textureRect</key>
                <string>{{1673,1405},{59,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunter/scroll/scroll_back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,234}</string>
                <key>spriteSourceSize</key>
                <string>{9,234}</string>
                <key>textureRect</key>
                <string>{{2035,1685},{9,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/EXPbar_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,7}</string>
                <key>spriteSourceSize</key>
                <string>{438,7}</string>
                <key>textureRect</key>
                <string>{{789,603},{438,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/EXPbar_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,7}</string>
                <key>spriteSourceSize</key>
                <string>{438,7}</string>
                <key>textureRect</key>
                <string>{{1605,2035},{438,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/channel/down_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,8}</string>
                <key>spriteSourceSize</key>
                <string>{107,8}</string>
                <key>textureRect</key>
                <string>{{1367,2037},{107,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/channel/down_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,8}</string>
                <key>spriteSourceSize</key>
                <string>{107,8}</string>
                <key>textureRect</key>
                <string>{{1476,2037},{107,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/channel/down_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,8}</string>
                <key>spriteSourceSize</key>
                <string>{107,8}</string>
                <key>textureRect</key>
                <string>{{2033,432},{107,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/channel/down_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,8}</string>
                <key>spriteSourceSize</key>
                <string>{107,8}</string>
                <key>textureRect</key>
                <string>{{2035,1921},{107,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/channel/up_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,8}</string>
                <key>spriteSourceSize</key>
                <string>{107,8}</string>
                <key>textureRect</key>
                <string>{{1452,1592},{107,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/channel/up_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,8}</string>
                <key>spriteSourceSize</key>
                <string>{107,8}</string>
                <key>textureRect</key>
                <string>{{1561,1592},{107,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/chatboard/back2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,124}</string>
                <key>spriteSourceSize</key>
                <string>{516,124}</string>
                <key>textureRect</key>
                <string>{{1487,638},{516,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/chatboard_hl_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,14}</string>
                <key>spriteSourceSize</key>
                <string>{504,14}</string>
                <key>textureRect</key>
                <string>{{1,2032},{504,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_middle_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1487,764},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_middle_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{885,1581},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_quick_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1487,764},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_slow_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1487,764},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_slow_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{885,1581},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/mainui_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,150}</string>
                <key>spriteSourceSize</key>
                <string>{800,150}</string>
                <key>textureRect</key>
                <string>{{603,603},{800,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/menu/image1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,17}</string>
                <key>spriteSourceSize</key>
                <string>{111,17}</string>
                <key>textureRect</key>
                <string>{{1922,1466},{111,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/radio1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{44,14}</string>
                <key>textureRect</key>
                <string>{{507,2032},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap/NPC_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{1937,631},{5,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/c1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{794,2042},{5,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/c2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{1595,2041},{5,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/c3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{1985,631},{5,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/c4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{1993,631},{5,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/npcicon1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,10}</string>
                <key>spriteSourceSize</key>
                <string>{7,10}</string>
                <key>textureRect</key>
                <string>{{2037,1479},{7,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/player_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{1949,631},{5,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/playerother_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{1961,631},{5,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/teammate_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{1973,631},{5,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>misc/caret_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,15}</string>
                <key>spriteSourceSize</key>
                <string>{3,15}</string>
                <key>textureRect</key>
                <string>{{755,1399},{3,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>misc/caret_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,15}</string>
                <key>spriteSourceSize</key>
                <string>{3,15}</string>
                <key>textureRect</key>
                <string>{{772,1399},{3,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>misc/font/login/1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,20}</string>
                <key>spriteSourceSize</key>
                <string>{7,20}</string>
                <key>textureRect</key>
                <string>{{794,2007},{7,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>misc/font/login/i_s_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{8,20}</string>
                <key>textureRect</key>
                <string>{{1595,2019},{8,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>misc/font/login/l_s_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,20}</string>
                <key>spriteSourceSize</key>
                <string>{7,20}</string>
                <key>textureRect</key>
                <string>{{2005,1676},{7,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>misc/tip/separator1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,12}</string>
                <key>spriteSourceSize</key>
                <string>{140,12}</string>
                <key>textureRect</key>
                <string>{{789,1043},{140,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>misc/tip/tail_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{789,1399},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optchangeline/01_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{1404,1581},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/ap_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{1993,1488},{88,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playertag/sheng/ap_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,10}</string>
                <key>spriteSourceSize</key>
                <string>{88,10}</string>
                <key>textureRect</key>
                <string>{{1993,1488},{88,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quest/quest_normal/jin_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,185}</string>
                <key>spriteSourceSize</key>
                <string>{219,185}</string>
                <key>textureRect</key>
                <string>{{1452,1405},{219,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>questtag/font/0_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{789,1185},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillnew/bg_bianhuashi_holy_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,348}</string>
                <key>spriteSourceSize</key>
                <string>{428,348}</string>
                <key>textureRect</key>
                <string>{{1605,1685},{428,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>society/lookforparty/releaseinfobg_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,94}</string>
                <key>spriteSourceSize</key>
                <string>{557,94}</string>
                <key>textureRect</key>
                <string>{{1937,1},{557,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>society/lookforparty/shang_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{1585,2037},{10,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/cloudbg_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,1600}</string>
                <key>spriteSourceSize</key>
                <string>{80,1600}</string>
                <key>textureRect</key>
                <string>{{803,1},{80,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/logo_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,133}</string>
                <key>spriteSourceSize</key>
                <string>{247,133}</string>
                <key>textureRect</key>
                <string>{{1673,1466},{247,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/piaoyun1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,332}</string>
                <key>spriteSourceSize</key>
                <string>{800,332}</string>
                <key>textureRect</key>
                <string>{{803,1685},{800,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/piaoyun2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,700}</string>
                <key>spriteSourceSize</key>
                <string>{80,700}</string>
                <key>textureRect</key>
                <string>{{1942,786},{80,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/piaoyun3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,1200}</string>
                <key>spriteSourceSize</key>
                <string>{80,1200}</string>
                <key>textureRect</key>
                <string>{{803,1603},{80,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/questicon_s_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{2033,541},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ab2beea13fea539167ee315b379dc81:aa5b71603e12d69bbbf106277ec31cc8:b7fb568530fdcd2722ba23ff7ade289b$</string>
            <key>textureFileName</key>
            <string>ui-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
