<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Character/title/curtitle_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,26}</string>
                <key>spriteSourceSize</key>
                <string>{306,26}</string>
                <key>textureRect</key>
                <string>{{2002,1605},{306,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Character/title/level/010_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,15}</string>
                <key>spriteSourceSize</key>
                <string>{27,15}</string>
                <key>textureRect</key>
                <string>{{1386,1576},{27,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GamePad/back_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,448}</string>
                <key>spriteSourceSize</key>
                <string>{635,448}</string>
                <key>textureRect</key>
                <string>{{803,1405},{635,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NpcDialog/Estate_Auction_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,375}</string>
                <key>spriteSourceSize</key>
                <string>{620,375}</string>
                <key>textureRect</key>
                <string>{{1323,1605},{620,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NpcDialog/teacher/learned_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,25}</string>
                <key>spriteSourceSize</key>
                <string>{269,25}</string>
                <key>textureRect</key>
                <string>{{520,2007},{269,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShoppingMall/chapicon_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{41,38}</string>
                <key>textureRect</key>
                <string>{{2007,1558},{41,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ShoppingMall/first_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{2029,1533},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShoppingMall/font/4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,11}</string>
                <key>spriteSourceSize</key>
                <string>{7,11}</string>
                <key>textureRect</key>
                <string>{{794,781},{7,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShoppingMall/list/ptcard_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,49}</string>
                <key>spriteSourceSize</key>
                <string>{100,49}</string>
                <key>textureRect</key>
                <string>{{1945,1979},{100,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShoppingMall/list/ptcard_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,49}</string>
                <key>spriteSourceSize</key>
                <string>{100,49}</string>
                <key>textureRect</key>
                <string>{{1837,1982},{100,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShoppingMall/noday_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,11}</string>
                <key>spriteSourceSize</key>
                <string>{30,11}</string>
                <key>textureRect</key>
                <string>{{744,2034},{30,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charcreate/create4/cloud_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,53}</string>
                <key>spriteSourceSize</key>
                <string>{116,53}</string>
                <key>textureRect</key>
                <string>{{1253,1923},{116,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charcreate/create4/xinbie_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{44,20}</string>
                <key>textureRect</key>
                <string>{{2002,1913},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charselect/charselect_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>commctrl/down_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{1308,2032},{14,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>commctrl/listbox/hl_guild_bulletin_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,13}</string>
                <key>spriteSourceSize</key>
                <string>{222,13}</string>
                <key>textureRect</key>
                <string>{{520,2034},{222,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>commctrl/listbox/hl_npcguild_apply_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,13}</string>
                <key>spriteSourceSize</key>
                <string>{189,13}</string>
                <key>textureRect</key>
                <string>{{603,783},{189,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>commctrl/up_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{791,2029},{15,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>commdlg/cooldown_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,16}</string>
                <key>spriteSourceSize</key>
                <string>{211,16}</string>
                <key>textureRect</key>
                <string>{{2030,1601},{211,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>commdlg/cooldown_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,16}</string>
                <key>spriteSourceSize</key>
                <string>{211,16}</string>
                <key>textureRect</key>
                <string>{{2029,1207},{211,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>commdlg/inputbox/cancel_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,37}</string>
                <key>spriteSourceSize</key>
                <string>{71,37}</string>
                <key>textureRect</key>
                <string>{{1976,1937},{71,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>commdlg/stage1/cancel_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,37}</string>
                <key>spriteSourceSize</key>
                <string>{71,37}</string>
                <key>textureRect</key>
                <string>{{1976,1937},{71,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/channel/hl_private_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,16}</string>
                <key>spriteSourceSize</key>
                <string>{107,16}</string>
                <key>textureRect</key>
                <string>{{1939,2030},{107,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/channel/up_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,8}</string>
                <key>spriteSourceSize</key>
                <string>{107,8}</string>
                <key>textureRect</key>
                <string>{{1308,1923},{107,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/chatboard/back1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,68}</string>
                <key>spriteSourceSize</key>
                <string>{516,68}</string>
                <key>textureRect</key>
                <string>{{1253,1405},{516,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/gminfo/blue_middle_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1318,1982},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_middle_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1318,2004},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_middle_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1318,2026},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_quick_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1318,1982},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_quick_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1318,2026},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_slow_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1,2007},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_slow_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{2007,1},{517,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/gminfo/blue_slow_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{2007,520},{517,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/gminfo/blue_slow_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1318,1982},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_slow_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{2007,1039},{517,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainui/gminfo/blue_slow_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1318,2004},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/blue_slow_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,20}</string>
                <key>spriteSourceSize</key>
                <string>{517,20}</string>
                <key>textureRect</key>
                <string>{{1318,2026},{517,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/gminfo/sysback_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,18}</string>
                <key>spriteSourceSize</key>
                <string>{517,18}</string>
                <key>textureRect</key>
                <string>{{1,2029},{517,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainui/menu/image1_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,17}</string>
                <key>spriteSourceSize</key>
                <string>{111,17}</string>
                <key>textureRect</key>
                <string>{{2029,1420},{111,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/e1_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,6}</string>
                <key>spriteSourceSize</key>
                <string>{400,6}</string>
                <key>textureRect</key>
                <string>{{2029,805},{400,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/e2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,6}</string>
                <key>spriteSourceSize</key>
                <string>{400,6}</string>
                <key>textureRect</key>
                <string>{{2037,805},{400,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/edge/e3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,400}</string>
                <key>spriteSourceSize</key>
                <string>{5,400}</string>
                <key>textureRect</key>
                <string>{{803,2042},{5,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minimap/npcicon0_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{1253,2041},{6,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>misc/bubble/e3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,400}</string>
                <key>spriteSourceSize</key>
                <string>{12,400}</string>
                <key>textureRect</key>
                <string>{{2029,1},{12,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>misc/bubble/e4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,400}</string>
                <key>spriteSourceSize</key>
                <string>{12,400}</string>
                <key>textureRect</key>
                <string>{{2029,403},{12,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterinfo/pgs_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,13}</string>
                <key>spriteSourceSize</key>
                <string>{93,13}</string>
                <key>textureRect</key>
                <string>{{1837,2033},{93,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterinfo/pgs_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,13}</string>
                <key>spriteSourceSize</key>
                <string>{93,13}</string>
                <key>textureRect</key>
                <string>{{2030,1814},{93,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>photobid/smallicon_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{776,2034},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playertag/mo/picmp_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,8}</string>
                <key>spriteSourceSize</key>
                <string>{20,8}</string>
                <key>textureRect</key>
                <string>{{791,2007},{20,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regcomplete/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{803,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/back_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,603},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/errmsg3_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,15}</string>
                <key>spriteSourceSize</key>
                <string>{169,15}</string>
                <key>textureRect</key>
                <string>{{1386,1405},{169,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/errmsg4_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,15}</string>
                <key>spriteSourceSize</key>
                <string>{176,15}</string>
                <key>textureRect</key>
                <string>{{783,603},{176,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/license_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,29}</string>
                <key>spriteSourceSize</key>
                <string>{372,29}</string>
                <key>textureRect</key>
                <string>{{1945,1605},{372,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>register/mail_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,24}</string>
                <key>spriteSourceSize</key>
                <string>{330,24}</string>
                <key>textureRect</key>
                <string>{{1976,1605},{330,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill/skilldesc2_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,61}</string>
                <key>spriteSourceSize</key>
                <string>{197,61}</string>
                <key>textureRect</key>
                <string>{{1323,1405},{197,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/advice_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{603,803},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage1/bg01_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1405,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/bg02_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1405,803},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage1/bg_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1405},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/donghai_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{603,603},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ab2beea13fea539167ee315b379dc81:aa5b71603e12d69bbbf106277ec31cc8:b7fb568530fdcd2722ba23ff7ade289b$</string>
            <key>textureFileName</key>
            <string>ui-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
