<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldmap/baoxiang_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,268}</string>
                <key>spriteSourceSize</key>
                <string>{199,268}</string>
                <key>textureRect</key>
                <string>{{252,603},{199,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/baozang_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{697,603},{95,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/bluedot_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{775,743},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/btnquit_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{163,941},{82,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/btnquit_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{697,765},{82,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/btnquit_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{718,792},{82,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/btnquit_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{718,876},{82,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/btnworld_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{745,792},{82,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/btnworld_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{745,876},{82,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/btnworld_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{772,792},{82,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/btnworld_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{82,25}</string>
                <key>textureRect</key>
                <string>{{772,876},{82,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/changan_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,250}</string>
                <key>spriteSourceSize</key>
                <string>{249,250}</string>
                <key>textureRect</key>
                <string>{{1,603},{249,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/donghai_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{503,804},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/gaolao_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,249}</string>
                <key>spriteSourceSize</key>
                <string>{178,249}</string>
                <key>textureRect</key>
                <string>{{252,804},{178,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/huaguo_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,84}</string>
                <key>spriteSourceSize</key>
                <string>{87,84}</string>
                <key>textureRect</key>
                <string>{{163,855},{87,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/mapname/baoxiang_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,33}</string>
                <key>spriteSourceSize</key>
                <string>{164,33}</string>
                <key>textureRect</key>
                <string>{{522,603},{164,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/mapname/baozang_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,33}</string>
                <key>spriteSourceSize</key>
                <string>{164,33}</string>
                <key>textureRect</key>
                <string>{{522,638},{164,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/mapname/changan_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,33}</string>
                <key>spriteSourceSize</key>
                <string>{164,33}</string>
                <key>textureRect</key>
                <string>{{557,638},{164,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/mapname/donghai_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,33}</string>
                <key>spriteSourceSize</key>
                <string>{164,33}</string>
                <key>textureRect</key>
                <string>{{592,638},{164,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/mapname/gaolao_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,33}</string>
                <key>spriteSourceSize</key>
                <string>{164,33}</string>
                <key>textureRect</key>
                <string>{{627,638},{164,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/mapname/huaguo_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,33}</string>
                <key>spriteSourceSize</key>
                <string>{164,33}</string>
                <key>textureRect</key>
                <string>{{662,638},{164,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/mapname/penglai_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,33}</string>
                <key>spriteSourceSize</key>
                <string>{164,33}</string>
                <key>textureRect</key>
                <string>{{683,804},{164,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/penglai_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,70}</string>
                <key>textureRect</key>
                <string>{{697,693},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/questicon_l_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{163,968},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/questicon_l_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{188,968},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/questicon_l_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{213,968},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/questicon_l_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{775,693},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/questicon_l_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{775,718},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/questicon_s_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{735,960},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/questicon_s_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{751,960},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/questicon_s_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{767,960},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/questicon_s_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{783,960},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/questicon_s_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{781,760},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/reddot_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{718,960},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/reddot_s_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{683,970},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/tipback_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{1,855},{120,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldmap/worldmap_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldmap/yellowdot_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{696,970},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>worldmap-0.pvr.ccz</string>
            <key>size</key>
            <string>{802,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a6758b18545a1a56eadf5653d539b85:a4c4a84d6eefa1b55c39557d0692d6ff:da9e5dffdf61ce7707fef984551415d5$</string>
            <key>textureFileName</key>
            <string>worldmap-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
