<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baigu_stage002/00000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3203,1203},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,76}</string>
                <key>textureRect</key>
                <string>{{2003,3637},{100,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2003,3809},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2003,3871},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2003,3933},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2003,3995},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2065,3809},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2003,3995},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2003,3933},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2003,3871},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{3747,2111},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{2003,3739},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1503},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1080}</string>
                <key>textureRect</key>
                <string>{{1,3005},{2000,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000872.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{3747,2181},{52,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000873.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{2003,3139},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000878.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,140}</string>
                <key>spriteSourceSize</key>
                <string>{372,140}</string>
                <key>textureRect</key>
                <string>{{3203,2005},{372,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,140}</string>
                <key>spriteSourceSize</key>
                <string>{108,140}</string>
                <key>textureRect</key>
                <string>{{2003,3005},{108,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000886.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,168}</string>
                <key>spriteSourceSize</key>
                <string>{88,168}</string>
                <key>textureRect</key>
                <string>{{3577,2111},{88,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000887.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,300}</string>
                <key>spriteSourceSize</key>
                <string>{288,300}</string>
                <key>textureRect</key>
                <string>{{3203,2849},{288,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000891.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{156,236}</string>
                <key>textureRect</key>
                <string>{{3565,2247},{156,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000892.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,360}</string>
                <key>textureRect</key>
                <string>{{3203,2147},{700,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{3505,3119},{264,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage002/00000910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{2003,3225},{264,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,232}</string>
                <key>spriteSourceSize</key>
                <string>{136,232}</string>
                <key>textureRect</key>
                <string>{{3565,2715},{136,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{144,100}</string>
                <key>textureRect</key>
                <string>{{2003,3491},{144,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00000920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,176}</string>
                <key>spriteSourceSize</key>
                <string>{104,176}</string>
                <key>textureRect</key>
                <string>{{3577,2005},{104,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00001826.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{264,288}</string>
                <key>textureRect</key>
                <string>{{3505,2853},{264,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00001827.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,600}</string>
                <key>spriteSourceSize</key>
                <string>{1200,600}</string>
                <key>textureRect</key>
                <string>{{3203,1},{1200,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage002/00001828.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,308}</string>
                <key>spriteSourceSize</key>
                <string>{232,308}</string>
                <key>textureRect</key>
                <string>{{3565,2405},{232,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baigu_stage002-0.pvr.ccz</string>
            <key>size</key>
            <string>{3804,4086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5f640bed245ff2c2fa29ae972b0d3d7:faaf5c652022c441b8d793e8c72e5b63:611384a06caf5ef47b7bd7cbe239324e$</string>
            <key>textureFileName</key>
            <string>baigu_stage002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
