<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baigu_stage001/00000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3127,3005},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,960}</string>
                <key>spriteSourceSize</key>
                <string>{1920,960}</string>
                <key>textureRect</key>
                <string>{{1,3005},{1920,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1923,3005},{900,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{2525,3005},{900,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000005_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3543,393},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000005_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3203,491},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000005_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3203,491},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000005_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3365,491},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000005_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3527,1395},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000005_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3203,1493},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000005_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3365,1493},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000005_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3203,1493},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000005_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3527,1395},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000005_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,1000}</string>
                <key>spriteSourceSize</key>
                <string>{160,1000}</string>
                <key>textureRect</key>
                <string>{{3365,491},{160,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{3527,2475},{56,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,76}</string>
                <key>textureRect</key>
                <string>{{3527,2397},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3659,2575},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{125,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{187,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{125,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1503},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{3629,2463},{56,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{3659,2521},{52,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000012_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{249,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000012_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{311,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000012_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{373,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000012_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{435,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000012_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{497,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000012_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{435,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000012_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{373,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000012_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{311,3967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{559,3967},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu_stage001/00000017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{3593,2521},{56,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3373,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3543,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,99},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3373,99},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3543,99},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3373,197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3543,197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,295},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3373,295},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3543,295},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,393},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3373,393},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu_stage001/00000019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{3629,2397},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baigu_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3728,4028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43b007b14b2323a5074a5875d79dc93d:fbcd5efafc99ea67f917f0526964a0ef:85a3a3c8101ec905654619432fef1de7$</string>
            <key>textureFileName</key>
            <string>baigu_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
