<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baigu001/00000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{1043,957},{56,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1229,951},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1291,951},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1353,951},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1415,951},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1909,583},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1415,951},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1353,951},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1291,951},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000012_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1971,583},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000012_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2033,803},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000012_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2095,803},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000012_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2033,865},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000012_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2095,865},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000012_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2033,865},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000012_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2095,803},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000012_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2033,803},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2067,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2067,171},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2067,341},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2067,511},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{363,35},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{363,205},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{363,375},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{577,583},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{747,583},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{917,583},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1229,583},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1399,583},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1569,583},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1477,919},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{465,917},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,580}</string>
                <key>spriteSourceSize</key>
                <string>{1600,580}</string>
                <key>textureRect</key>
                <string>{{465,1},{1600,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000872.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{1109,957},{52,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000873.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{465,839},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000876.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2033,681},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000877.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,228}</string>
                <key>spriteSourceSize</key>
                <string>{268,228}</string>
                <key>textureRect</key>
                <string>{{1229,681},{268,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000878.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,140}</string>
                <key>spriteSourceSize</key>
                <string>{372,140}</string>
                <key>textureRect</key>
                <string>{{1087,583},{372,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000879.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,172}</string>
                <key>spriteSourceSize</key>
                <string>{280,172}</string>
                <key>textureRect</key>
                <string>{{291,703},{280,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{1823,673},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,236}</string>
                <key>spriteSourceSize</key>
                <string>{204,236}</string>
                <key>textureRect</key>
                <string>{{1459,681},{204,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000882.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{363,1},{32,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000883.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,132}</string>
                <key>spriteSourceSize</key>
                <string>{12,132}</string>
                <key>textureRect</key>
                <string>{{291,985},{12,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1175,957},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,140}</string>
                <key>spriteSourceSize</key>
                <string>{108,140}</string>
                <key>textureRect</key>
                <string>{{465,697},{108,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000886.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,168}</string>
                <key>spriteSourceSize</key>
                <string>{88,168}</string>
                <key>textureRect</key>
                <string>{{1739,583},{88,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000887.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,300}</string>
                <key>spriteSourceSize</key>
                <string>{288,300}</string>
                <key>textureRect</key>
                <string>{{1,703},{288,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000888.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,112}</string>
                <key>spriteSourceSize</key>
                <string>{212,112}</string>
                <key>textureRect</key>
                <string>{{363,583},{212,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000889.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,92}</string>
                <key>spriteSourceSize</key>
                <string>{120,92}</string>
                <key>textureRect</key>
                <string>{{1647,919},{120,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000891.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{156,236}</string>
                <key>textureRect</key>
                <string>{{1665,681},{156,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000892.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu001/00000893.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{1823,843},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu001/00000894.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,464}</string>
                <key>spriteSourceSize</key>
                <string>{328,464}</string>
                <key>textureRect</key>
                <string>{{577,681},{328,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baigu001-0.pvr.ccz</string>
            <key>size</key>
            <string>{2164,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5272eadc35cfd82150d9a416a8afe042:dd6e3b6c47b54c855e237b4a5c6567c5:188ce89e5d5bd0b4352b054a9f22b45b$</string>
            <key>textureFileName</key>
            <string>baigu001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
