<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baigu002/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{881,303},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{583,1521},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{725,1939},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{725,2001},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{881,1967},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{725,2001},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{725,1939},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{583,1521},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000012_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{881,2029},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000012_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{903,1809},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000012_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{903,1871},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000012_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{943,1933},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000012_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{943,1995},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000012_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{943,1933},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000012_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{903,1871},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000012_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{903,1809},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{215,1965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{385,1965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{555,1965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{913,409},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{913,579},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{913,749},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{583,841},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{583,1011},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{909,919},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{583,1181},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{583,1351},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{911,1299},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{911,1469},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{907,1639},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{815,303},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,580}</string>
                <key>spriteSourceSize</key>
                <string>{1600,580}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000872.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{965,1809},{52,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000873.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{943,303},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000877.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,228}</string>
                <key>spriteSourceSize</key>
                <string>{268,228}</string>
                <key>textureRect</key>
                <string>{{681,1317},{268,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000878.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,140}</string>
                <key>spriteSourceSize</key>
                <string>{372,140}</string>
                <key>textureRect</key>
                <string>{{583,1},{372,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{839,1089},{208,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,236}</string>
                <key>spriteSourceSize</key>
                <string>{204,236}</string>
                <key>textureRect</key>
                <string>{{703,841},{204,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000882.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{873,1587},{32,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000883.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,132}</string>
                <key>spriteSourceSize</key>
                <string>{12,132}</string>
                <key>textureRect</key>
                <string>{{215,2063},{12,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{965,1875},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,140}</string>
                <key>spriteSourceSize</key>
                <string>{108,140}</string>
                <key>textureRect</key>
                <string>{{703,1797},{108,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000886.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,168}</string>
                <key>spriteSourceSize</key>
                <string>{88,168}</string>
                <key>textureRect</key>
                <string>{{813,1797},{88,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000887.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,300}</string>
                <key>spriteSourceSize</key>
                <string>{288,300}</string>
                <key>textureRect</key>
                <string>{{725,1},{288,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000888.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,112}</string>
                <key>spriteSourceSize</key>
                <string>{212,112}</string>
                <key>textureRect</key>
                <string>{{1,1965},{212,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000889.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,92}</string>
                <key>spriteSourceSize</key>
                <string>{120,92}</string>
                <key>textureRect</key>
                <string>{{787,1967},{120,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000891.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{156,236}</string>
                <key>textureRect</key>
                <string>{{681,1079},{156,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000892.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,360}</string>
                <key>textureRect</key>
                <string>{{1,1603},{700,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000893.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{703,1587},{208,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baigu002/00000894.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,464}</string>
                <key>spriteSourceSize</key>
                <string>{328,464}</string>
                <key>textureRect</key>
                <string>{{583,375},{328,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baigu002/00000895.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{725,303},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baigu002-0.pvr.ccz</string>
            <key>size</key>
            <string>{1020,2090}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d5b32ad0688b7973891fdf047c866ca:ed39ec5df8b557b7289644c040adb40c:edddefd14622548d9811e656b1966324$</string>
            <key>textureFileName</key>
            <string>baigu002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
