<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihu_stage001/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3589,2443},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3589,2613},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3589,2783},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3589,2953},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3589,3123},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3589,3293},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3589,3463},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2005,3203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2175,3203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{1203,3203},{800,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,600}</string>
                <key>spriteSourceSize</key>
                <string>{1200,600}</string>
                <key>textureRect</key>
                <string>{{1,3203},{1200,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1040}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1040}</string>
                <key>textureRect</key>
                <string>{{1123,1},{3200,1040}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000036_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2443},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000036_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2443},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000036_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2505},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2567},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2629},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2691},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2753},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2815},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000038_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2877},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000038_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,2939},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000038_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3687,3001},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000039_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2443,3203},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000039_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2443,3203},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000039_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2469,3293},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1120,760}</string>
                <key>spriteSourceSize</key>
                <string>{1120,760}</string>
                <key>textureRect</key>
                <string>{{2827,2443},{1120,760}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1120}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1120}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2440,900}</string>
                <key>spriteSourceSize</key>
                <string>{2440,900}</string>
                <key>textureRect</key>
                <string>{{2827,1},{2440,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,660}</string>
                <key>spriteSourceSize</key>
                <string>{3200,660}</string>
                <key>textureRect</key>
                <string>{{2165,1},{3200,660}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2345,3203},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2005,3301},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2103,3301},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2201,3301},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2299,3373},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baihu_stage001-1.pvr.ccz</string>
            <key>size</key>
            <string>{3728,3804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eca6bfa902dba9aa477c42736383762:792cb73dde680aa874d2610399358908:969f281bac8a42c2ac1841c63e90ab5f$</string>
            <key>textureFileName</key>
            <string>baihu_stage001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
