<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihu_stage001/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1985,3203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2155,3203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1,3085},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1080}</string>
                <key>textureRect</key>
                <string>{{1,1083},{2000,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000036_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{1003,3085},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000036_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{1003,3147},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000036_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{1003,3209},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000038_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{1003,3271},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000038_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{1003,3271},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000038_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{1003,3333},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000038_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{1003,3395},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000039_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3005,3203},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000039_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3005,3203},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000039_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3163,3203},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000039_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3321,3203},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000039_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3005,3293},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1040}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1040}</string>
                <key>textureRect</key>
                <string>{{2003,1},{3200,1040}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2440,900}</string>
                <key>spriteSourceSize</key>
                <string>{2440,900}</string>
                <key>textureRect</key>
                <string>{{1083,1083},{2440,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,900}</string>
                <key>spriteSourceSize</key>
                <string>{3200,900}</string>
                <key>textureRect</key>
                <string>{{3045,1},{3200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2325,3203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2495,3203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2665,3203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2835,3203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baihu_stage001-3.pvr.ccz</string>
            <key>size</key>
            <string>{3946,3886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eca6bfa902dba9aa477c42736383762:792cb73dde680aa874d2610399358908:969f281bac8a42c2ac1841c63e90ab5f$</string>
            <key>textureFileName</key>
            <string>baihu_stage001-3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
