<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihu002/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{633,1703},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1891,1015},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2363,803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1873,1201},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1355,1613},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1989,1015},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2087,1005},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2185,1005},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1971,1185},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2283,1005},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2381,973},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1453,1613},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1663,1477},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1551,1561},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2127,1453},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000039_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2167,1345},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000039_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2217,1435},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000039_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2167,1345},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000039_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2217,1435},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000039_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2325,1345},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000039_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2307,1435},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000039_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2397,1435},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000039_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2217,1593},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000039_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2199,1683},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000039_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2127,1453},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1649,1575},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1649,1673},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1833,1477},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2069,1185},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2167,1175},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2265,1175},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2363,1175},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1971,1355},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1931,1453},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2029,1453},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1931,1623},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1833,1647},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1931,1721},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2101,1623},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000882.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{2013,681},{32,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000883.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,132}</string>
                <key>spriteSourceSize</key>
                <string>{12,132}</string>
                <key>textureRect</key>
                <string>{{1819,1575},{12,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{2423,1749},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000897.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1255,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000898_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,196}</string>
                <key>spriteSourceSize</key>
                <string>{800,196}</string>
                <key>textureRect</key>
                <string>{{1255,483},{800,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000899.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1252,500}</string>
                <key>spriteSourceSize</key>
                <string>{1252,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1252,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000900_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{2057,1},{800,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,600}</string>
                <key>spriteSourceSize</key>
                <string>{1024,600}</string>
                <key>textureRect</key>
                <string>{{1,503},{1024,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,596}</string>
                <key>spriteSourceSize</key>
                <string>{800,596}</string>
                <key>textureRect</key>
                <string>{{1,1105},{800,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{2423,1667},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,260}</string>
                <key>spriteSourceSize</key>
                <string>{144,260}</string>
                <key>textureRect</key>
                <string>{{1149,1467},{144,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,200}</string>
                <key>spriteSourceSize</key>
                <string>{348,200}</string>
                <key>textureRect</key>
                <string>{{2013,803},{348,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1027,503},{380,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,332}</string>
                <key>spriteSourceSize</key>
                <string>{360,332}</string>
                <key>textureRect</key>
                <string>{{1651,681},{360,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,108}</string>
                <key>spriteSourceSize</key>
                <string>{264,108}</string>
                <key>textureRect</key>
                <string>{{1415,1177},{264,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{1663,1371},{264,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1229,975},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,420}</string>
                <key>spriteSourceSize</key>
                <string>{292,420}</string>
                <key>textureRect</key>
                <string>{{1229,681},{292,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{2357,1683},{116,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,232}</string>
                <key>spriteSourceSize</key>
                <string>{136,232}</string>
                <key>textureRect</key>
                <string>{{1525,1241},{136,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{264,288}</string>
                <key>textureRect</key>
                <string>{{1149,1177},{264,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{144,100}</string>
                <key>textureRect</key>
                <string>{{1411,1467},{144,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,176}</string>
                <key>spriteSourceSize</key>
                <string>{104,176}</string>
                <key>textureRect</key>
                <string>{{1027,991},{104,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,488}</string>
                <key>spriteSourceSize</key>
                <string>{344,488}</string>
                <key>textureRect</key>
                <string>{{803,1105},{344,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000923.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,104}</string>
                <key>textureRect</key>
                <string>{{1027,885},{200,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000924.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{1551,1731},{72,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000925.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,308}</string>
                <key>spriteSourceSize</key>
                <string>{232,308}</string>
                <key>textureRect</key>
                <string>{{803,1595},{232,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000926.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{2375,1593},{100,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000927.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,148}</string>
                <key>spriteSourceSize</key>
                <string>{84,148}</string>
                <key>textureRect</key>
                <string>{{1513,1475},{84,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000928.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1149,1097},{72,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000930.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{1641,1771},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000931.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,248}</string>
                <key>spriteSourceSize</key>
                <string>{184,248}</string>
                <key>textureRect</key>
                <string>{{1641,1015},{184,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000932.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,340}</string>
                <key>spriteSourceSize</key>
                <string>{112,340}</string>
                <key>textureRect</key>
                <string>{{1,1703},{112,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000934.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,200}</string>
                <key>textureRect</key>
                <string>{{1113,1613},{240,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000936.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,108}</string>
                <key>spriteSourceSize</key>
                <string>{264,108}</string>
                <key>textureRect</key>
                <string>{{1531,975},{264,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu002/00000937.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{1663,1201},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu002/00000938.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,288}</string>
                <key>spriteSourceSize</key>
                <string>{112,288}</string>
                <key>textureRect</key>
                <string>{{343,1703},{112,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baihu002-0.pvr.ccz</string>
            <key>size</key>
            <string>{2486,1828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e732bb553b4622d8c400d97513a2d2b5:f4bc14b48108f9fff0f51b9d930a1aee:96348f10b2fbb72c124089c2d8263e34$</string>
            <key>textureFileName</key>
            <string>baihu002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
