<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihu_stage001/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,3605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3925,3203},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,400}</string>
                <key>spriteSourceSize</key>
                <string>{720,400}</string>
                <key>textureRect</key>
                <string>{{3203,3203},{720,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1160}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1160}</string>
                <key>textureRect</key>
                <string>{{1,2905},{3200,1160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1400}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1400}</string>
                <key>textureRect</key>
                <string>{{1,1503},{3200,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000036_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{4023,3203},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000036_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3203,3945},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3301,3775},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3399,3605},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3399,3605},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3925,3543},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000037_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3301,3775},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,880}</string>
                <key>spriteSourceSize</key>
                <string>{3200,880}</string>
                <key>textureRect</key>
                <string>{{3203,1},{3200,880}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,3775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3301,3605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3925,3373},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baihu_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{4084,4066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eca6bfa902dba9aa477c42736383762:792cb73dde680aa874d2610399358908:969f281bac8a42c2ac1841c63e90ab5f$</string>
            <key>textureFileName</key>
            <string>baihu_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
