<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihu_stage001/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,2005},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{3203,1},{1000,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{3203,1003},{1000,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2440,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2440,1080}</string>
                <key>textureRect</key>
                <string>{{1,2285},{2440,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,1000}</string>
                <key>spriteSourceSize</key>
                <string>{920,1000}</string>
                <key>textureRect</key>
                <string>{{2443,2285},{920,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1400}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1400}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000036_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3203,2201},{40,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000036_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3203,2201},{40,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000038_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3265,2201},{40,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000038_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3327,2201},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000038_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{3265,2201},{40,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3373,2103},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000039_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3373,2193},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000039_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3373,2103},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,880}</string>
                <key>spriteSourceSize</key>
                <string>{3200,880}</string>
                <key>textureRect</key>
                <string>{{1,1403},{3200,880}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu_stage001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3373,2005},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu_stage001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,2103},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baihu_stage001-2.pvr.ccz</string>
            <key>size</key>
            <string>{4004,3366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eca6bfa902dba9aa477c42736383762:792cb73dde680aa874d2610399358908:969f281bac8a42c2ac1841c63e90ab5f$</string>
            <key>textureFileName</key>
            <string>baihu_stage001-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
