<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihu004/00000039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1,1703},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000039_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{159,1703},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000039_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{317,1703},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000039_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{159,1703},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000039_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{317,1703},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000039_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{475,1703},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000039_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{633,1703},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000039_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2315,1477},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000039_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1757,1635},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000039_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1847,1635},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000039_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1,1703},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1975,1307},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2073,1307},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2171,1307},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2269,1307},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1975,1477},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2145,1477},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1303,1661},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1627,1501},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1489,1519},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1587,1599},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1937,1575},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2035,1575},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2133,1575},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2231,1635},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000897.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1255,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000898_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,196}</string>
                <key>spriteSourceSize</key>
                <string>{800,196}</string>
                <key>textureRect</key>
                <string>{{1429,483},{800,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000899.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1252,500}</string>
                <key>spriteSourceSize</key>
                <string>{1252,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1252,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000900_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{1027,503},{800,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,600}</string>
                <key>spriteSourceSize</key>
                <string>{1024,600}</string>
                <key>textureRect</key>
                <string>{{1,503},{1024,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,596}</string>
                <key>spriteSourceSize</key>
                <string>{800,596}</string>
                <key>textureRect</key>
                <string>{{1,1105},{800,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1973,483},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,260}</string>
                <key>spriteSourceSize</key>
                <string>{144,260}</string>
                <key>textureRect</key>
                <string>{{2029,1161},{144,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,200}</string>
                <key>spriteSourceSize</key>
                <string>{348,200}</string>
                <key>textureRect</key>
                <string>{{2057,1},{348,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,332}</string>
                <key>spriteSourceSize</key>
                <string>{360,332}</string>
                <key>textureRect</key>
                <string>{{2057,203},{360,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,108}</string>
                <key>spriteSourceSize</key>
                <string>{264,108}</string>
                <key>textureRect</key>
                <string>{{1037,1595},{264,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{1869,1299},{264,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{803,1105},{300,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,420}</string>
                <key>spriteSourceSize</key>
                <string>{292,420}</string>
                <key>textureRect</key>
                <string>{{1973,565},{292,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{791,1717},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,232}</string>
                <key>spriteSourceSize</key>
                <string>{136,232}</string>
                <key>textureRect</key>
                <string>{{1489,1285},{136,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{264,288}</string>
                <key>textureRect</key>
                <string>{{1037,1305},{264,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{144,100}</string>
                <key>textureRect</key>
                <string>{{2291,1161},{144,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,176}</string>
                <key>spriteSourceSize</key>
                <string>{104,176}</string>
                <key>textureRect</key>
                <string>{{1303,1555},{104,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,488}</string>
                <key>spriteSourceSize</key>
                <string>{344,488}</string>
                <key>textureRect</key>
                <string>{{1627,483},{344,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000925.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,308}</string>
                <key>spriteSourceSize</key>
                <string>{232,308}</string>
                <key>textureRect</key>
                <string>{{803,1407},{232,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000926.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{909,1717},{100,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000927.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,148}</string>
                <key>spriteSourceSize</key>
                <string>{84,148}</string>
                <key>textureRect</key>
                <string>{{1037,1705},{84,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baihu004/00000931.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,248}</string>
                <key>spriteSourceSize</key>
                <string>{184,248}</string>
                <key>textureRect</key>
                <string>{{1303,1305},{184,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000934.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,200}</string>
                <key>textureRect</key>
                <string>{{1627,1299},{240,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000935.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{1627,973},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000942.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{2029,859},{360,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baihu004/00000943.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{1187,1705},{72,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baihu004-0.pvr.ccz</string>
            <key>size</key>
            <string>{2406,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d68f79a71a23045195c3e6ca93ac0ff:fa7690599197f70a3ee1877a0747232b:f1ea1339bf3d491660a5761efdbdd56d$</string>
            <key>textureFileName</key>
            <string>baihu004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
