<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baishi004/00000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{705,603},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00000540_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,499},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00000540_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,597},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00000540_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,1893},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00000540_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,1991},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00000540_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{897,1951},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00000540_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,2089},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00000540_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{897,2121},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00000540_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,2187},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00000540_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,2285},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00000540_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{897,2291},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00000540_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,2383},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00000540_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,2481},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00000540_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{897,2461},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00000540_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,2579},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00001281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1840,580}</string>
                <key>spriteSourceSize</key>
                <string>{1840,580}</string>
                <key>textureRect</key>
                <string>{{1,603},{1840,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001282_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{583,603},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001282_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{775,2079},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001282_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{775,2165},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001282_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{775,2251},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001283.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,164}</string>
                <key>spriteSourceSize</key>
                <string>{324,164}</string>
                <key>textureRect</key>
                <string>{{605,1645},{324,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00001284.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{803,325},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00001285_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{775,2337},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001285_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{775,2423},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001285_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{775,2509},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001285_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{775,2595},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001285_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{897,2631},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00001285_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{605,2677},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001286.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,160}</string>
                <key>textureRect</key>
                <string>{{583,997},{400,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00001287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{605,1159},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00001288.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{605,1321},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00001289.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{605,1483},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00001290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,252}</string>
                <key>spriteSourceSize</key>
                <string>{80,252}</string>
                <key>textureRect</key>
                <string>{{605,1811},{80,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001291.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{931,1645},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001292.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{931,1747},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001293.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{859,1811},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{925,1849},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001295_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{727,2681},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001295_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{605,2763},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001295_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{605,2849},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001295_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{849,2753},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001296.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,120}</string>
                <key>textureRect</key>
                <string>{{775,1913},{164,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001297_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{727,2767},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001297_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{727,2853},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001297_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{849,2839},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{803,203},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{303,2445},{460,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{1,2445},{480,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baishi004/00001301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{583,695},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baishi004/00001578.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{803,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baishi004-0.pvr.ccz</string>
            <key>size</key>
            <string>{1004,2938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8c0cb6a221d08a74cc2be28d1be7434:5a1f3cce59832ebad8a18c453b911d72:4d992c92cc757795f2f39a8487dbaca5$</string>
            <key>textureFileName</key>
            <string>baishi004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
