<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang_stage001/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3985,619},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3985,789},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3985,959},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3965,1129},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3965,1299},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3965,1469},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3965,1639},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3965,1809},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3965,1979},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3965,2149},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3965,2319},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3965,2489},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3921,2659},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3921,2757},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3921,2855},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3885,2953},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3691,3041},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3861,3051},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3691,3139},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3691,3237},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3861,3149},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3959,3149},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001449.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,156}</string>
                <key>spriteSourceSize</key>
                <string>{800,156}</string>
                <key>textureRect</key>
                <string>{{3533,2573},{800,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001450.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,288}</string>
                <key>spriteSourceSize</key>
                <string>{20,288}</string>
                <key>textureRect</key>
                <string>{{4065,1},{20,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001453.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1700,724}</string>
                <key>spriteSourceSize</key>
                <string>{1700,724}</string>
                <key>textureRect</key>
                <string>{{2263,1121},{1700,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001457.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1700,724}</string>
                <key>spriteSourceSize</key>
                <string>{1700,724}</string>
                <key>textureRect</key>
                <string>{{2263,1847},{1700,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001458.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{988,392}</string>
                <key>spriteSourceSize</key>
                <string>{988,392}</string>
                <key>textureRect</key>
                <string>{{1837,2403},{988,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001460.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,932}</string>
                <key>spriteSourceSize</key>
                <string>{1600,932}</string>
                <key>textureRect</key>
                <string>{{1,2403},{1600,932}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001461.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,1164}</string>
                <key>spriteSourceSize</key>
                <string>{700,1164}</string>
                <key>textureRect</key>
                <string>{{2899,3375},{700,1164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001465.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,164}</string>
                <key>spriteSourceSize</key>
                <string>{192,164}</string>
                <key>textureRect</key>
                <string>{{3691,2875},{192,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001470_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,124}</string>
                <key>spriteSourceSize</key>
                <string>{60,124}</string>
                <key>textureRect</key>
                <string>{{1,4005},{60,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001470_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,124}</string>
                <key>spriteSourceSize</key>
                <string>{60,124}</string>
                <key>textureRect</key>
                <string>{{127,4005},{60,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001470_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,124}</string>
                <key>spriteSourceSize</key>
                <string>{60,124}</string>
                <key>textureRect</key>
                <string>{{253,4005},{60,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001470_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,124}</string>
                <key>spriteSourceSize</key>
                <string>{60,124}</string>
                <key>textureRect</key>
                <string>{{379,4005},{60,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001470_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,124}</string>
                <key>spriteSourceSize</key>
                <string>{60,124}</string>
                <key>textureRect</key>
                <string>{{505,4005},{60,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001470_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,124}</string>
                <key>spriteSourceSize</key>
                <string>{60,124}</string>
                <key>textureRect</key>
                <string>{{631,4005},{60,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001470_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,124}</string>
                <key>spriteSourceSize</key>
                <string>{60,124}</string>
                <key>textureRect</key>
                <string>{{757,4005},{60,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001470_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,124}</string>
                <key>spriteSourceSize</key>
                <string>{60,124}</string>
                <key>textureRect</key>
                <string>{{883,4005},{60,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001470_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,124}</string>
                <key>spriteSourceSize</key>
                <string>{60,124}</string>
                <key>textureRect</key>
                <string>{{1,4005},{60,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001472.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1800,616}</string>
                <key>spriteSourceSize</key>
                <string>{1800,616}</string>
                <key>textureRect</key>
                <string>{{2263,1},{1800,616}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001473.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1060,652}</string>
                <key>spriteSourceSize</key>
                <string>{1060,652}</string>
                <key>textureRect</key>
                <string>{{1837,3393},{1060,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001476.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{935,2403},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001477.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,300}</string>
                <key>spriteSourceSize</key>
                <string>{228,300}</string>
                <key>textureRect</key>
                <string>{{3691,2573},{228,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001478.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,800}</string>
                <key>spriteSourceSize</key>
                <string>{1300,800}</string>
                <key>textureRect</key>
                <string>{{2231,2573},{1300,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001479.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,2260}</string>
                <key>spriteSourceSize</key>
                <string>{2400,2260}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,2260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001480.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1720,500}</string>
                <key>spriteSourceSize</key>
                <string>{1720,500}</string>
                <key>textureRect</key>
                <string>{{2263,619},{1720,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{4090,4076}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8e500179d7e5fc05eaab688a63a86e:fd391d9b381eadec76cf241546e97c28:12ea1d7baff9a8bc76db9fa6df133950$</string>
            <key>textureFileName</key>
            <string>baoxiang_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
