<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1031,1169},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1031,1339},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1031,1509},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1831,1889},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2001,1889},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2171,1869},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2269,1869},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2121,1409},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2219,1409},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2317,1499},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2367,1597},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2335,1695},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2367,1865},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2433,1695},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001451_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1203},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001452_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001484.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,36}</string>
                <key>spriteSourceSize</key>
                <string>{104,36}</string>
                <key>textureRect</key>
                <string>{{143,2005},{104,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001485.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,340}</string>
                <key>spriteSourceSize</key>
                <string>{456,340}</string>
                <key>textureRect</key>
                <string>{{1675,935},{456,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001487.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1031,1679},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001489.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{603,1973},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001490.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{1,2005},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001491.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,328}</string>
                <key>spriteSourceSize</key>
                <string>{452,328}</string>
                <key>textureRect</key>
                <string>{{1667,1277},{452,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001492.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,360}</string>
                <key>spriteSourceSize</key>
                <string>{428,360}</string>
                <key>textureRect</key>
                <string>{{2133,1047},{428,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001493.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,260}</string>
                <key>spriteSourceSize</key>
                <string>{220,260}</string>
                <key>textureRect</key>
                <string>{{2113,1607},{220,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001494.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1469,1317},{240,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001496.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,192}</string>
                <key>spriteSourceSize</key>
                <string>{624,192}</string>
                <key>textureRect</key>
                <string>{{837,1203},{624,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001497.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,252}</string>
                <key>spriteSourceSize</key>
                <string>{556,252}</string>
                <key>textureRect</key>
                <string>{{1675,375},{556,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,412}</string>
                <key>spriteSourceSize</key>
                <string>{360,412}</string>
                <key>textureRect</key>
                <string>{{1469,1607},{360,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{249,2005},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{331,2005},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{413,2005},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,208}</string>
                <key>spriteSourceSize</key>
                <string>{336,208}</string>
                <key>textureRect</key>
                <string>{{837,1829},{336,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,88}</string>
                <key>spriteSourceSize</key>
                <string>{236,88}</string>
                <key>textureRect</key>
                <string>{{2317,1409},{236,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,292}</string>
                <key>spriteSourceSize</key>
                <string>{948,292}</string>
                <key>textureRect</key>
                <string>{{1175,1035},{948,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1831,1607},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,232}</string>
                <key>spriteSourceSize</key>
                <string>{768,232}</string>
                <key>textureRect</key>
                <string>{{603,1203},{768,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001518.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,388}</string>
                <key>spriteSourceSize</key>
                <string>{332,388}</string>
                <key>textureRect</key>
                <string>{{2169,713},{332,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,132}</string>
                <key>spriteSourceSize</key>
                <string>{96,132}</string>
                <key>textureRect</key>
                <string>{{1009,1035},{96,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001524.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,208}</string>
                <key>spriteSourceSize</key>
                <string>{336,208}</string>
                <key>textureRect</key>
                <string>{{2233,503},{336,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001525.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{132,104}</string>
                <key>textureRect</key>
                <string>{{903,1035},{132,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001526.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,196}</string>
                <key>spriteSourceSize</key>
                <string>{280,196}</string>
                <key>textureRect</key>
                <string>{{1469,1035},{280,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001527.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,372}</string>
                <key>spriteSourceSize</key>
                <string>{600,372}</string>
                <key>textureRect</key>
                <string>{{1675,1},{600,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001531.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,292}</string>
                <key>spriteSourceSize</key>
                <string>{500,292}</string>
                <key>textureRect</key>
                <string>{{2277,1},{500,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001532.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,304}</string>
                <key>spriteSourceSize</key>
                <string>{492,304}</string>
                <key>textureRect</key>
                <string>{{1675,629},{492,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang005/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{903,1},{1032,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang005/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1297,1},{1032,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang005-0.pvr.ccz</string>
            <key>size</key>
            <string>{2570,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f973b1ab1456f4ebb0f1493e06abc1:a7ac15321292e2c68642897dd63ec7b1:b82fb023803a047e6a29e0fa085076cb$</string>
            <key>textureFileName</key>
            <string>baoxiang005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
