<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang_stage002/00001534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1680,840}</string>
                <key>spriteSourceSize</key>
                <string>{1680,840}</string>
                <key>textureRect</key>
                <string>{{2403,1},{1680,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage002/00001535_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2040,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2040,1200}</string>
                <key>textureRect</key>
                <string>{{1,1203},{2040,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage002/00001536_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2040,960}</string>
                <key>spriteSourceSize</key>
                <string>{2040,960}</string>
                <key>textureRect</key>
                <string>{{2043,1445},{2040,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage002/00001542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage002/00001543.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,1320}</string>
                <key>spriteSourceSize</key>
                <string>{600,1320}</string>
                <key>textureRect</key>
                <string>{{2403,843},{600,1320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang_stage002-1.pvr.ccz</string>
            <key>size</key>
            <string>{4084,2406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1940e5f9862c21a011d662bf141e4cb0:f0a627cdaf1f0ca23d2056bad61006fd:32e4033b92828afada78d33c97631f4c$</string>
            <key>textureFileName</key>
            <string>baoxiang_stage002-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
