<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang_stage001/00001455.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,768}</string>
                <key>spriteSourceSize</key>
                <string>{1100,768}</string>
                <key>textureRect</key>
                <string>{{2403,1},{1100,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001482.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,2260}</string>
                <key>spriteSourceSize</key>
                <string>{2400,2260}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,2260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang_stage001-2.pvr.ccz</string>
            <key>size</key>
            <string>{3172,2262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8e500179d7e5fc05eaab688a63a86e:fd391d9b381eadec76cf241546e97c28:12ea1d7baff9a8bc76db9fa6df133950$</string>
            <key>textureFileName</key>
            <string>baoxiang_stage001-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
