<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang_stage001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,3965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,3965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,3965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,3965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{681,3965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{727,2263},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001451_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{2865,2375},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001452_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2403,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001454.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,768}</string>
                <key>spriteSourceSize</key>
                <string>{1100,768}</string>
                <key>textureRect</key>
                <string>{{2403,1605},{1100,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001456_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{3569,1337},{2000,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001459.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1700,724}</string>
                <key>spriteSourceSize</key>
                <string>{1700,724}</string>
                <key>textureRect</key>
                <string>{{1,2263},{1700,724}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001462.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,1164}</string>
                <key>spriteSourceSize</key>
                <string>{700,1164}</string>
                <key>textureRect</key>
                <string>{{2403,903},{700,1164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang_stage001/00001463.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{140,164}</string>
                <key>textureRect</key>
                <string>{{825,2263},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001464.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{140,164}</string>
                <key>textureRect</key>
                <string>{{967,2263},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001466.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2136,836}</string>
                <key>spriteSourceSize</key>
                <string>{2136,836}</string>
                <key>textureRect</key>
                <string>{{727,2433},{2136,836}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001467.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{140,164}</string>
                <key>textureRect</key>
                <string>{{1109,2263},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001468.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{140,164}</string>
                <key>textureRect</key>
                <string>{{1251,2263},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001469.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1996,712}</string>
                <key>spriteSourceSize</key>
                <string>{1996,712}</string>
                <key>textureRect</key>
                <string>{{1997,3339},{1996,712}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001471.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1144,752}</string>
                <key>spriteSourceSize</key>
                <string>{1144,752}</string>
                <key>textureRect</key>
                <string>{{851,3339},{1144,752}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001474.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,996}</string>
                <key>spriteSourceSize</key>
                <string>{228,996}</string>
                <key>textureRect</key>
                <string>{{3605,339},{228,996}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001475.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,336}</string>
                <key>spriteSourceSize</key>
                <string>{440,336}</string>
                <key>textureRect</key>
                <string>{{3605,1},{440,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang_stage001/00001481.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,2260}</string>
                <key>spriteSourceSize</key>
                <string>{2400,2260}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,2260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang_stage001-1.pvr.ccz</string>
            <key>size</key>
            <string>{4070,4092}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8e500179d7e5fc05eaab688a63a86e:fd391d9b381eadec76cf241546e97c28:12ea1d7baff9a8bc76db9fa6df133950$</string>
            <key>textureFileName</key>
            <string>baoxiang_stage001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
