<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang006/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1829,603},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1829,701},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{773,1197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{773,1295},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{773,1393},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{773,1491},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1881,1633},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1881,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,1915},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1493,1921},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1769,1915},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1591,2085},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1689,2085},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1787,2085},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001451_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1203,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001452_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001484.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,36}</string>
                <key>spriteSourceSize</key>
                <string>{104,36}</string>
                <key>textureRect</key>
                <string>{{1161,903},{104,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00001485.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,340}</string>
                <key>spriteSourceSize</key>
                <string>{456,340}</string>
                <key>textureRect</key>
                <string>{{1141,1445},{456,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001486.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{943,1523},{56,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00001487.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1493,2091},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001489.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{1761,797},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001490.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{1823,799},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001491.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,328}</string>
                <key>spriteSourceSize</key>
                <string>{452,328}</string>
                <key>textureRect</key>
                <string>{{1163,1787},{452,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00001492.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,360}</string>
                <key>spriteSourceSize</key>
                <string>{428,360}</string>
                <key>textureRect</key>
                <string>{{1635,1203},{428,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00001493.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,260}</string>
                <key>spriteSourceSize</key>
                <string>{220,260}</string>
                <key>textureRect</key>
                <string>{{1761,941},{220,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001496.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,192}</string>
                <key>spriteSourceSize</key>
                <string>{624,192}</string>
                <key>textureRect</key>
                <string>{{1203,603},{624,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001497.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,252}</string>
                <key>spriteSourceSize</key>
                <string>{556,252}</string>
                <key>textureRect</key>
                <string>{{1203,797},{556,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1983,941},{28,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1983,1023},{28,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1983,1105},{28,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,88}</string>
                <key>spriteSourceSize</key>
                <string>{236,88}</string>
                <key>textureRect</key>
                <string>{{1761,851},{236,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,292}</string>
                <key>spriteSourceSize</key>
                <string>{948,292}</string>
                <key>textureRect</key>
                <string>{{1,903},{948,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1599,1633},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,392}</string>
                <key>spriteSourceSize</key>
                <string>{472,392}</string>
                <key>textureRect</key>
                <string>{{1161,1051},{472,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001518.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,388}</string>
                <key>spriteSourceSize</key>
                <string>{332,388}</string>
                <key>textureRect</key>
                <string>{{773,1911},{332,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00001522.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{360,320}</string>
                <key>textureRect</key>
                <string>{{773,1589},{360,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001524.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,208}</string>
                <key>spriteSourceSize</key>
                <string>{336,208}</string>
                <key>textureRect</key>
                <string>{{951,903},{336,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00001525.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{132,104}</string>
                <key>textureRect</key>
                <string>{{1493,1787},{132,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00001526.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,196}</string>
                <key>spriteSourceSize</key>
                <string>{280,196}</string>
                <key>textureRect</key>
                <string>{{943,1241},{280,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00001533.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1635,1051},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang006/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{1,1203},{1032,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang006/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{395,1203},{1032,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang006-0.pvr.ccz</string>
            <key>size</key>
            <string>{2012,2254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dad76a3fc90d2244a79fedd5ce569a8:104d0401af6463ab7b71c720f1eb23ad:4ab63d8fcb7a742a32adb88157f97f94$</string>
            <key>textureFileName</key>
            <string>baoxiang006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
