<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1035,1529},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1123,2121},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1029,2363},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1127,2291},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1537,2519},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1707,2519},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1255,2539},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1353,2539},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1255,2709},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1451,2617},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1621,2617},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1791,2617},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1425,2715},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1595,2715},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001451_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1203,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001452_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001483.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,232}</string>
                <key>spriteSourceSize</key>
                <string>{224,232}</string>
                <key>textureRect</key>
                <string>{{1029,1887},{224,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001485.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,340}</string>
                <key>spriteSourceSize</key>
                <string>{456,340}</string>
                <key>textureRect</key>
                <string>{{1,2411},{456,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001486.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{1029,2533},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001487.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{951,1675},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001488.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1451,2539},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001489.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{1127,2461},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001490.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{1,2753},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001491.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,328}</string>
                <key>spriteSourceSize</key>
                <string>{452,328}</string>
                <key>textureRect</key>
                <string>{{1663,837},{452,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001492.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,360}</string>
                <key>spriteSourceSize</key>
                <string>{428,360}</string>
                <key>textureRect</key>
                <string>{{1229,1271},{428,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001494.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{937,2121},{240,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001496.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,192}</string>
                <key>spriteSourceSize</key>
                <string>{624,192}</string>
                <key>textureRect</key>
                <string>{{1035,903},{624,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001497.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,252}</string>
                <key>spriteSourceSize</key>
                <string>{556,252}</string>
                <key>textureRect</key>
                <string>{{1035,1633},{556,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001499.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,196}</string>
                <key>spriteSourceSize</key>
                <string>{508,196}</string>
                <key>textureRect</key>
                <string>{{459,2625},{508,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,260}</string>
                <key>spriteSourceSize</key>
                <string>{564,260}</string>
                <key>textureRect</key>
                <string>{{463,2363},{564,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,388}</string>
                <key>spriteSourceSize</key>
                <string>{356,388}</string>
                <key>textureRect</key>
                <string>{{1659,1291},{356,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,412}</string>
                <key>spriteSourceSize</key>
                <string>{360,412}</string>
                <key>textureRect</key>
                <string>{{1593,1681},{360,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1973,603},{28,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1221,2121},{28,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1,2791},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,292}</string>
                <key>spriteSourceSize</key>
                <string>{948,292}</string>
                <key>textureRect</key>
                <string>{{1,1675},{948,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1255,2257},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,368}</string>
                <key>spriteSourceSize</key>
                <string>{336,368}</string>
                <key>textureRect</key>
                <string>{{1255,1887},{336,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,232}</string>
                <key>spriteSourceSize</key>
                <string>{768,232}</string>
                <key>textureRect</key>
                <string>{{1203,603},{768,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,392}</string>
                <key>spriteSourceSize</key>
                <string>{472,392}</string>
                <key>textureRect</key>
                <string>{{463,1969},{472,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001515.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,36}</string>
                <key>spriteSourceSize</key>
                <string>{112,36}</string>
                <key>textureRect</key>
                <string>{{1537,2257},{112,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,440}</string>
                <key>spriteSourceSize</key>
                <string>{460,440}</string>
                <key>textureRect</key>
                <string>{{1,1969},{460,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001517.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,432}</string>
                <key>spriteSourceSize</key>
                <string>{432,432}</string>
                <key>textureRect</key>
                <string>{{1229,837},{432,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001518.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,388}</string>
                <key>spriteSourceSize</key>
                <string>{332,388}</string>
                <key>textureRect</key>
                <string>{{1593,2043},{332,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001519.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,196}</string>
                <key>spriteSourceSize</key>
                <string>{284,196}</string>
                <key>textureRect</key>
                <string>{{969,2625},{284,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,132}</string>
                <key>spriteSourceSize</key>
                <string>{96,132}</string>
                <key>textureRect</key>
                <string>{{1877,2519},{96,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang004/00001521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,140}</string>
                <key>spriteSourceSize</key>
                <string>{480,140}</string>
                <key>textureRect</key>
                <string>{{1537,2377},{480,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{1,903},{1032,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang004/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1,1297},{1032,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang004-0.pvr.ccz</string>
            <key>size</key>
            <string>{2018,2822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644c403d044fabba0345db22fe2fba76:27870dd3ef3b5fdb4290b6ad899ec102:2f15794cffd2039177c3b603ed70e4a4$</string>
            <key>textureFileName</key>
            <string>baoxiang004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
