<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1009,1035},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1179,1035},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1349,1035},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1519,1035},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1689,1019},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1859,1019},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2147,1429},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2245,1429},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2343,1429},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2441,1429},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2539,1429},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2529,1599},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2529,1769},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1675,493},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001451_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1203},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001452_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001484.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,36}</string>
                <key>spriteSourceSize</key>
                <string>{104,36}</string>
                <key>textureRect</key>
                <string>{{143,2005},{104,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001485.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,340}</string>
                <key>spriteSourceSize</key>
                <string>{456,340}</string>
                <key>textureRect</key>
                <string>{{1375,1691},{456,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001486.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{603,1973},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001487.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1211,1691},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001489.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{661,1973},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001490.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{1,2005},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001491.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,328}</string>
                <key>spriteSourceSize</key>
                <string>{452,328}</string>
                <key>textureRect</key>
                <string>{{2167,737},{452,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001492.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,360}</string>
                <key>spriteSourceSize</key>
                <string>{428,360}</string>
                <key>textureRect</key>
                <string>{{2167,1067},{428,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001493.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,260}</string>
                <key>spriteSourceSize</key>
                <string>{220,260}</string>
                <key>textureRect</key>
                <string>{{1113,1805},{220,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001494.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{837,1805},{240,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001497.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,252}</string>
                <key>spriteSourceSize</key>
                <string>{556,252}</string>
                <key>textureRect</key>
                <string>{{1211,1133},{556,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,412}</string>
                <key>spriteSourceSize</key>
                <string>{360,412}</string>
                <key>textureRect</key>
                <string>{{2167,1599},{360,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{249,2005},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{331,2005},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{413,2005},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,208}</string>
                <key>spriteSourceSize</key>
                <string>{336,208}</string>
                <key>textureRect</key>
                <string>{{1957,295},{336,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,88}</string>
                <key>spriteSourceSize</key>
                <string>{236,88}</string>
                <key>textureRect</key>
                <string>{{1023,1805},{236,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,292}</string>
                <key>spriteSourceSize</key>
                <string>{948,292}</string>
                <key>textureRect</key>
                <string>{{1675,1},{948,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1675,737},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,232}</string>
                <key>spriteSourceSize</key>
                <string>{768,232}</string>
                <key>textureRect</key>
                <string>{{603,1203},{768,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,440}</string>
                <key>spriteSourceSize</key>
                <string>{460,440}</string>
                <key>textureRect</key>
                <string>{{2167,295},{460,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001518.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,388}</string>
                <key>spriteSourceSize</key>
                <string>{332,388}</string>
                <key>textureRect</key>
                <string>{{1833,1635},{332,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001524.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,208}</string>
                <key>spriteSourceSize</key>
                <string>{336,208}</string>
                <key>textureRect</key>
                <string>{{1957,633},{336,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001525.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{132,104}</string>
                <key>textureRect</key>
                <string>{{903,1035},{132,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001526.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,196}</string>
                <key>spriteSourceSize</key>
                <string>{280,196}</string>
                <key>textureRect</key>
                <string>{{1675,295},{280,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang002/00001527.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,372}</string>
                <key>spriteSourceSize</key>
                <string>{600,372}</string>
                <key>textureRect</key>
                <string>{{837,1203},{600,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001530.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,80}</string>
                <key>spriteSourceSize</key>
                <string>{540,80}</string>
                <key>textureRect</key>
                <string>{{1465,1133},{540,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001531.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,292}</string>
                <key>spriteSourceSize</key>
                <string>{500,292}</string>
                <key>textureRect</key>
                <string>{{1547,1133},{500,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001532.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,304}</string>
                <key>spriteSourceSize</key>
                <string>{492,304}</string>
                <key>textureRect</key>
                <string>{{1841,1117},{492,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{903,1},{1032,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang002/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1297,1},{1032,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang002-0.pvr.ccz</string>
            <key>size</key>
            <string>{2636,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a6e1a7f03182d6a4cb1b5e34cb7347f:691ea5955332ef2a32171bacc64918ec:28c2bd596517f41382893be598e2f179$</string>
            <key>textureFileName</key>
            <string>baoxiang002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
