<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang008/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{771,2195},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{805,2753},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1731,1045},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{239,2823},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1829,1045},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1805,543},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1739,2317},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1709,2415},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1807,2415},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1709,2585},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1661,2683},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1759,2683},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1807,1491},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1799,1689},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001451_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1203,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001452_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001483.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,232}</string>
                <key>spriteSourceSize</key>
                <string>{224,232}</string>
                <key>textureRect</key>
                <string>{{1427,2675},{224,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001485.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,340}</string>
                <key>spriteSourceSize</key>
                <string>{456,340}</string>
                <key>textureRect</key>
                <string>{{1341,1689},{456,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001486.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{1879,2585},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001487.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1855,1215},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001488.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1203,803},{76,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001489.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{409,2823},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001490.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{869,2195},{140,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001491.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,328}</string>
                <key>spriteSourceSize</key>
                <string>{452,328}</string>
                <key>textureRect</key>
                <string>{{475,2429},{452,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001492.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,360}</string>
                <key>spriteSourceSize</key>
                <string>{428,360}</string>
                <key>textureRect</key>
                <string>{{1309,2031},{428,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001493.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,260}</string>
                <key>spriteSourceSize</key>
                <string>{220,260}</string>
                <key>textureRect</key>
                <string>{{1035,1469},{220,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001494.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1731,803},{240,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001495.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,388}</string>
                <key>spriteSourceSize</key>
                <string>{332,388}</string>
                <key>textureRect</key>
                <string>{{951,1691},{332,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001497.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,252}</string>
                <key>spriteSourceSize</key>
                <string>{556,252}</string>
                <key>textureRect</key>
                <string>{{1297,1237},{556,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001498.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,224}</string>
                <key>spriteSourceSize</key>
                <string>{916,224}</string>
                <key>textureRect</key>
                <string>{{1,1969},{916,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001499.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,196}</string>
                <key>spriteSourceSize</key>
                <string>{508,196}</string>
                <key>textureRect</key>
                <string>{{1297,1491},{508,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,260}</string>
                <key>spriteSourceSize</key>
                <string>{564,260}</string>
                <key>textureRect</key>
                <string>{{1035,903},{564,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,388}</string>
                <key>spriteSourceSize</key>
                <string>{356,388}</string>
                <key>textureRect</key>
                <string>{{919,2025},{356,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1855,1297},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1855,1327},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1855,1357},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,88}</string>
                <key>spriteSourceSize</key>
                <string>{236,88}</string>
                <key>textureRect</key>
                <string>{{1,2823},{236,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,292}</string>
                <key>spriteSourceSize</key>
                <string>{948,292}</string>
                <key>textureRect</key>
                <string>{{1,1675},{948,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001509.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,140}</string>
                <key>spriteSourceSize</key>
                <string>{480,140}</string>
                <key>textureRect</key>
                <string>{{1143,2383},{480,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1427,2393},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,368}</string>
                <key>spriteSourceSize</key>
                <string>{336,368}</string>
                <key>textureRect</key>
                <string>{{805,2383},{336,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,232}</string>
                <key>spriteSourceSize</key>
                <string>{768,232}</string>
                <key>textureRect</key>
                <string>{{1,2195},{768,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,392}</string>
                <key>spriteSourceSize</key>
                <string>{472,392}</string>
                <key>textureRect</key>
                <string>{{1,2429},{472,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001515.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,36}</string>
                <key>spriteSourceSize</key>
                <string>{112,36}</string>
                <key>textureRect</key>
                <string>{{1799,1993},{112,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001517.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,432}</string>
                <key>spriteSourceSize</key>
                <string>{432,432}</string>
                <key>textureRect</key>
                <string>{{1297,803},{432,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001519.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,196}</string>
                <key>spriteSourceSize</key>
                <string>{284,196}</string>
                <key>textureRect</key>
                <string>{{1739,2031},{284,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,132}</string>
                <key>spriteSourceSize</key>
                <string>{96,132}</string>
                <key>textureRect</key>
                <string>{{975,2753},{96,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,140}</string>
                <key>spriteSourceSize</key>
                <string>{480,140}</string>
                <key>textureRect</key>
                <string>{{1285,2393},{480,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001525.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{132,104}</string>
                <key>textureRect</key>
                <string>{{1799,1859},{132,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001530.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,80}</string>
                <key>spriteSourceSize</key>
                <string>{540,80}</string>
                <key>textureRect</key>
                <string>{{1805,1},{540,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxiang008/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{1,903},{1032,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoxiang008/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1,1297},{1032,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang008-0.pvr.ccz</string>
            <key>size</key>
            <string>{1936,2920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61275b9f6d740177e0fa93aac156a991:c809d42ad1f40b467f501c873ab69fe4:b23682acc3cae2140984b2775b5d2604$</string>
            <key>textureFileName</key>
            <string>baoxiang008-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
