<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozang_stage002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3205,1705},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3431,1643},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3601,1603},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3601,1701},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,1799},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,1969},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,2139},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,2309},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,2479},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,2649},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,2819},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,2989},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,3159},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3707,1799},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,903},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3375,1705},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,340}</string>
                <key>spriteSourceSize</key>
                <string>{668,340}</string>
                <key>textureRect</key>
                <string>{{3431,803},{668,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,1805},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{903,1805},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000059_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,1969},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000059_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2071},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000059_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2173},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000059_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2275},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000059_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2377},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000059_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2479},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000059_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2581},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000059_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2683},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000059_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2785},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000059_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2887},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000060_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2581},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3375,1755},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3707,3091},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3375,1705},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3707,3141},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3757,3091},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3707,3191},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3757,3141},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3707,3241},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3757,3191},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000061_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3757,3241},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1803,1},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1603,903},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1800,900}</string>
                <key>spriteSourceSize</key>
                <string>{1800,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1800,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1805,1805},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{3601,1473},{128,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{2707,1805},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00000068_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{3431,1473},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000069_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3707,2989},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000070_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3609,3329},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00000071_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{3671,3329},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozang_stage002/00001860.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{3405,1},{800,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baozang_stage002/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{3205,903},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baozang_stage002-0.pvr.ccz</string>
            <key>size</key>
            <string>{3808,3406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b7e8c7ba71d8c0160a1a5d88f45d5f:6adb731093397967c2fdcb7a99b9d2a6:a0c8c534f9cb0c06f390029594c4d1de$</string>
            <key>textureFileName</key>
            <string>baozang_stage002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
