<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biguan001/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1713,2271},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1713,2441},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1811,2271},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1811,2441},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{719,1081},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{889,1081},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1187,2601},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1357,2601},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1527,2601},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1697,2611},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1845,1075},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1845,1245},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1845,1415},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1845,1585},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00000379_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1521,651},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00001397.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1219},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00001398.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,800}</string>
                <key>spriteSourceSize</key>
                <string>{428,800}</string>
                <key>textureRect</key>
                <string>{{719,651},{428,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00001399.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,1180}</string>
                <key>spriteSourceSize</key>
                <string>{648,1180}</string>
                <key>textureRect</key>
                <string>{{719,1},{648,1180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00001400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1188}</string>
                <key>spriteSourceSize</key>
                <string>{640,1188}</string>
                <key>textureRect</key>
                <string>{{1203,1081},{640,1188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00001402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,1216}</string>
                <key>spriteSourceSize</key>
                <string>{716,1216}</string>
                <key>textureRect</key>
                <string>{{1,1},{716,1216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00001404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,1184}</string>
                <key>spriteSourceSize</key>
                <string>{612,1184}</string>
                <key>textureRect</key>
                <string>{{1,2121},{612,1184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00001407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{1059,1173},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00001408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{1059,1081},{124,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00001409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,60}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{1521,1013},{360,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00001410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,80}</string>
                <key>spriteSourceSize</key>
                <string>{28,80}</string>
                <key>textureRect</key>
                <string>{{1059,1143},{28,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biguan001/00001412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,144}</string>
                <key>spriteSourceSize</key>
                <string>{8,144}</string>
                <key>textureRect</key>
                <string>{{1187,2121},{8,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biguan001/00001416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{1187,2271},{524,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>biguan001-0.pvr.ccz</string>
            <key>size</key>
            <string>{1942,2734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b65bdf15775b7edf026b454e38e3c8ad:a6e3fc00e30c14efad2bbb7286657173:e8b98d6051fee93eb25058b6dce9b065$</string>
            <key>textureFileName</key>
            <string>biguan001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
