<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1585,1961},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1185,2543},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1015,2611},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{753,2655},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1355,2543},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1113,2641},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1453,2543},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1551,2615},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1649,2627},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1283,2713},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1113,2739},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,2719},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,2719},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,2719},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000949.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,1603},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000950_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,668}</string>
                <key>spriteSourceSize</key>
                <string>{936,668}</string>
                <key>textureRect</key>
                <string>{{1053,1},{936,668}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000951.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{251,1},{1280,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000952_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,248}</string>
                <key>spriteSourceSize</key>
                <string>{1600,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000953.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,300}</string>
                <key>spriteSourceSize</key>
                <string>{728,300}</string>
                <key>textureRect</key>
                <string>{{1053,939},{728,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000955_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1643,1885},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000955_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1585,2059},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000959_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1185,2405},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000959_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{923,2655},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000959_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1453,2713},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000961.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,88}</string>
                <key>textureRect</key>
                <string>{{511,2719},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000962.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,416}</string>
                <key>spriteSourceSize</key>
                <string>{272,416}</string>
                <key>textureRect</key>
                <string>{{1283,2125},{272,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000968.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,300}</string>
                <key>spriteSourceSize</key>
                <string>{920,300}</string>
                <key>textureRect</key>
                <string>{{251,1283},{920,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000969.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{260,248}</string>
                <key>textureRect</key>
                <string>{{753,2405},{260,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00000972.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,300}</string>
                <key>spriteSourceSize</key>
                <string>{560,300}</string>
                <key>textureRect</key>
                <string>{{1283,1563},{560,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou004/00000976.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,204}</string>
                <key>spriteSourceSize</key>
                <string>{168,204}</string>
                <key>textureRect</key>
                <string>{{1015,2405},{168,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,488}</string>
                <key>spriteSourceSize</key>
                <string>{168,488}</string>
                <key>textureRect</key>
                <string>{{1557,2125},{168,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,320}</string>
                <key>textureRect</key>
                <string>{{1173,1241},{600,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,300}</string>
                <key>spriteSourceSize</key>
                <string>{52,300}</string>
                <key>textureRect</key>
                <string>{{1727,2059},{52,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,320}</string>
                <key>spriteSourceSize</key>
                <string>{56,320}</string>
                <key>textureRect</key>
                <string>{{1643,1563},{56,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,396}</string>
                <key>spriteSourceSize</key>
                <string>{56,396}</string>
                <key>textureRect</key>
                <string>{{1585,1563},{56,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,388}</string>
                <key>spriteSourceSize</key>
                <string>{52,388}</string>
                <key>textureRect</key>
                <string>{{1701,1563},{52,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,464}</string>
                <key>spriteSourceSize</key>
                <string>{48,464}</string>
                <key>textureRect</key>
                <string>{{1723,1},{48,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,428}</string>
                <key>spriteSourceSize</key>
                <string>{56,428}</string>
                <key>textureRect</key>
                <string>{{1723,467},{56,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,312}</string>
                <key>spriteSourceSize</key>
                <string>{380,312}</string>
                <key>textureRect</key>
                <string>{{1,2405},{380,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,312}</string>
                <key>spriteSourceSize</key>
                <string>{368,312}</string>
                <key>textureRect</key>
                <string>{{383,2405},{368,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,264}</string>
                <key>spriteSourceSize</key>
                <string>{48,264}</string>
                <key>textureRect</key>
                <string>{{1727,2361},{48,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou004/00001033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{625,2719},{84,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou004-0.pvr.ccz</string>
            <key>size</key>
            <string>{1782,2836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34c3d5bdf6a1b99491ad7376ccaf5a3:3b504080609aed769d376db2f94b031d:b217a192bfa241233ba19e8e2ddb632e$</string>
            <key>textureFileName</key>
            <string>buzhou004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
