<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1343,1743},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2767,1801},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,1835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,1835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,1835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,1835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1513,1835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1683,1835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1853,1835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2023,1835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2193,1835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1481,251},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1481,421},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1481,591},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000949.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1280,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000950_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,668}</string>
                <key>spriteSourceSize</key>
                <string>{936,668}</string>
                <key>textureRect</key>
                <string>{{2405,1},{936,668}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000951.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,251},{1280,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000952_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,248}</string>
                <key>spriteSourceSize</key>
                <string>{1600,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000953.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,300}</string>
                <key>spriteSourceSize</key>
                <string>{728,300}</string>
                <key>textureRect</key>
                <string>{{1,1533},{728,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000955_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{731,1533},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000955_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{2465,1533},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000957.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,220}</string>
                <key>spriteSourceSize</key>
                <string>{416,220}</string>
                <key>textureRect</key>
                <string>{{2533,1241},{416,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000958.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,296}</string>
                <key>spriteSourceSize</key>
                <string>{260,296}</string>
                <key>textureRect</key>
                <string>{{2755,1241},{260,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000959_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1343,1841},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000959_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1481,761},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000959_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1481,883},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000961.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,88}</string>
                <key>textureRect</key>
                <string>{{2937,1801},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000968.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,300}</string>
                <key>spriteSourceSize</key>
                <string>{920,300}</string>
                <key>textureRect</key>
                <string>{{1543,1533},{920,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000969.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{260,248}</string>
                <key>textureRect</key>
                <string>{{2767,1539},{260,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000970_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,676}</string>
                <key>spriteSourceSize</key>
                <string>{1000,676}</string>
                <key>textureRect</key>
                <string>{{803,251},{1000,676}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000971_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{988,248}</string>
                <key>spriteSourceSize</key>
                <string>{988,248}</string>
                <key>textureRect</key>
                <string>{{1543,1283},{988,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000972.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,300}</string>
                <key>spriteSourceSize</key>
                <string>{560,300}</string>
                <key>textureRect</key>
                <string>{{2405,939},{560,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000973_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,400}</string>
                <key>spriteSourceSize</key>
                <string>{568,400}</string>
                <key>textureRect</key>
                <string>{{803,1253},{568,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000974_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,100}</string>
                <key>spriteSourceSize</key>
                <string>{272,100}</string>
                <key>textureRect</key>
                <string>{{2967,939},{272,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000975.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{2465,1659},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000976.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,204}</string>
                <key>spriteSourceSize</key>
                <string>{168,204}</string>
                <key>textureRect</key>
                <string>{{1173,1655},{168,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou002/00000977_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,440}</string>
                <key>spriteSourceSize</key>
                <string>{268,440}</string>
                <key>textureRect</key>
                <string>{{731,1655},{268,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou002/00000978.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,488}</string>
                <key>spriteSourceSize</key>
                <string>{168,488}</string>
                <key>textureRect</key>
                <string>{{1373,1253},{168,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou002-0.pvr.ccz</string>
            <key>size</key>
            <string>{3074,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4874bc8167467b48701afe6a18086fd9:58be1d5d3efc024860246410c8f34c9b:5594a4f5b3fa3d0d900c26f5546c0784$</string>
            <key>textureFileName</key>
            <string>buzhou002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
