<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou_stage003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1605,2587},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1605,2757},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1605,2927},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1775,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1873,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1971,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2069,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2167,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2265,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2363,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2461,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2559,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2657,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2755,2907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,500}</string>
                <key>spriteSourceSize</key>
                <string>{800,500}</string>
                <key>textureRect</key>
                <string>{{1751,2405},{800,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000074_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,500}</string>
                <key>spriteSourceSize</key>
                <string>{800,500}</string>
                <key>textureRect</key>
                <string>{{2553,2405},{800,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{803,2003},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000099_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,600}</string>
                <key>textureRect</key>
                <string>{{1803,1803},{2000,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000100_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,800}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1,2003},{900,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2853,2907},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2943,2907},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3033,2907},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3123,2907},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3213,2907},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3303,2907},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3355,2405},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000103_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3355,2495},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3355,2669},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3393,2843},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3445,2495},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3529,2405},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000103_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3445,2669},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3703,2405},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3483,2843},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3535,2495},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3535,2669},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000103_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3573,2843},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000103_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3573,2933},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000103_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3625,2579},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000111_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1605,2003},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000112_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1605,2149},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000112_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1605,2295},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000112_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1605,2441},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1800}</string>
                <key>textureRect</key>
                <string>{{1803,1},{2000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00001864.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,452}</string>
                <key>spriteSourceSize</key>
                <string>{800,452}</string>
                <key>textureRect</key>
                <string>{{803,2605},{800,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00001865.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,144}</string>
                <key>spriteSourceSize</key>
                <string>{800,144}</string>
                <key>textureRect</key>
                <string>{{1,2905},{800,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou_stage003-2.pvr.ccz</string>
            <key>size</key>
            <string>{3804,3080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88aeac175ced482d8bde125391344c1f:6a1844bfb23e093621bc0b37858cf418:a606c9eba46525ddfecd43d04a91811f$</string>
            <key>textureFileName</key>
            <string>buzhou_stage003-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
