<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou007/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{613,805},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{783,805},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1373,395},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3029,829},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{613,903},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{783,903},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{953,805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2431,897},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2601,897},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2771,897},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3199,829},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3297,841},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3467,841},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3701,835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00001038_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1372,312}</string>
                <key>spriteSourceSize</key>
                <string>{1372,312}</string>
                <key>textureRect</key>
                <string>{{1,1},{1372,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,488}</string>
                <key>spriteSourceSize</key>
                <string>{1068,488}</string>
                <key>textureRect</key>
                <string>{{1,315},{1068,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001040_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{756,548}</string>
                <key>spriteSourceSize</key>
                <string>{756,548}</string>
                <key>textureRect</key>
                <string>{{1673,395},{756,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,596}</string>
                <key>spriteSourceSize</key>
                <string>{516,596}</string>
                <key>textureRect</key>
                <string>{{2431,379},{516,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00001042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,600}</string>
                <key>spriteSourceSize</key>
                <string>{476,600}</string>
                <key>textureRect</key>
                <string>{{1071,539},{476,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00001045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{1673,945},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,144}</string>
                <key>spriteSourceSize</key>
                <string>{312,144}</string>
                <key>textureRect</key>
                <string>{{3701,689},{312,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,152}</string>
                <key>spriteSourceSize</key>
                <string>{308,152}</string>
                <key>textureRect</key>
                <string>{{303,805},{308,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,300}</string>
                <key>spriteSourceSize</key>
                <string>{448,300}</string>
                <key>textureRect</key>
                <string>{{3029,379},{448,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00001051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{88,136}</string>
                <key>textureRect</key>
                <string>{{3331,379},{88,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,160}</string>
                <key>spriteSourceSize</key>
                <string>{56,160}</string>
                <key>textureRect</key>
                <string>{{303,959},{56,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00001053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{1543,395},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00001054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,72}</string>
                <key>spriteSourceSize</key>
                <string>{104,72}</string>
                <key>textureRect</key>
                <string>{{3871,835},{104,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,805},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,300}</string>
                <key>spriteSourceSize</key>
                <string>{368,300}</string>
                <key>textureRect</key>
                <string>{{3331,539},{368,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1071,315},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,600}</string>
                <key>spriteSourceSize</key>
                <string>{536,600}</string>
                <key>textureRect</key>
                <string>{{3443,1},{536,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou007/00001061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,148}</string>
                <key>spriteSourceSize</key>
                <string>{312,148}</string>
                <key>textureRect</key>
                <string>{{3701,539},{312,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{1375,1},{1032,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou007/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{2409,1},{1032,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou007-0.pvr.ccz</string>
            <key>size</key>
            <string>{4044,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc196b5d15634bb4730713c19b78cde1:f1735b07a28fa2ad9858a35a249f0910:0e27c34832c44ef29f69b6a32eaf5ca6$</string>
            <key>textureFileName</key>
            <string>buzhou007-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
