<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou_stage001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1461,3005},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1605,2905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1775,2905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1825,3003},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1923,3003},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1945,2905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2021,3003},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2115,2905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2119,3003},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2217,3003},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2285,2905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2315,3003},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2413,3003},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2407,2805},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,500}</string>
                <key>spriteSourceSize</key>
                <string>{800,500}</string>
                <key>textureRect</key>
                <string>{{2407,2003},{800,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000074_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,500}</string>
                <key>spriteSourceSize</key>
                <string>{800,500}</string>
                <key>textureRect</key>
                <string>{{2909,2003},{800,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000075_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,800}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1605,2003},{900,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000076_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1,2003},{1000,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000077_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{803,2003},{1000,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000079_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000079_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{147,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{2511,2903},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000081_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{293,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000081_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{439,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000081_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{585,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000082_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{731,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000082_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{877,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,168}</string>
                <key>spriteSourceSize</key>
                <string>{192,168}</string>
                <key>textureRect</key>
                <string>{{1631,3003},{192,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1800}</string>
                <key>textureRect</key>
                <string>{{1803,1},{2000,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00000085_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1023,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000085_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1169,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00000085_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1315,3005},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage001/00001862.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,256}</string>
                <key>spriteSourceSize</key>
                <string>{800,256}</string>
                <key>textureRect</key>
                <string>{{3411,2003},{800,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage001/00001863.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,348}</string>
                <key>spriteSourceSize</key>
                <string>{800,348}</string>
                <key>textureRect</key>
                <string>{{2753,2805},{800,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3668,3172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:729ea0edfd36f88ba49d41ef7c895b98:77f4796b6dd178cde9d9e0857e611c51:8301571142f81bc5d40fdc5ac7a5507d$</string>
            <key>textureFileName</key>
            <string>buzhou_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
