<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou005/00000013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2639,2577},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2003,2979},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2101,2979},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2199,2979},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2297,3047},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2467,3047},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3035,323},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3035,493},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3035,663},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3035,833},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3035,1003},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3035,1173},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3035,1343},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3065,1603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000949.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1503,1},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000950_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,668}</string>
                <key>spriteSourceSize</key>
                <string>{936,668}</string>
                <key>textureRect</key>
                <string>{{1503,1605},{936,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000951.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1503,803},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000952_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,248}</string>
                <key>spriteSourceSize</key>
                <string>{1600,248}</string>
                <key>textureRect</key>
                <string>{{2785,1},{1600,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00000955_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{3101,2835},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000955_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1801,3181},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000958.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,296}</string>
                <key>spriteSourceSize</key>
                <string>{260,296}</string>
                <key>textureRect</key>
                <string>{{1503,2979},{260,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00000959_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{3089,1},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000959_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{3089,123},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000959_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{3065,1773},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000961.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,88}</string>
                <key>textureRect</key>
                <string>{{3035,1513},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000962.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,416}</string>
                <key>spriteSourceSize</key>
                <string>{272,416}</string>
                <key>textureRect</key>
                <string>{{2755,2561},{272,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00000964.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,800}</string>
                <key>spriteSourceSize</key>
                <string>{400,800}</string>
                <key>textureRect</key>
                <string>{{1503,2577},{400,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00000968.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,300}</string>
                <key>spriteSourceSize</key>
                <string>{920,300}</string>
                <key>textureRect</key>
                <string>{{1503,2275},{920,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00000972.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,300}</string>
                <key>spriteSourceSize</key>
                <string>{560,300}</string>
                <key>textureRect</key>
                <string>{{2763,1605},{560,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00001017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,416}</string>
                <key>spriteSourceSize</key>
                <string>{352,416}</string>
                <key>textureRect</key>
                <string>{{2755,2207},{352,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00001021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,320}</string>
                <key>textureRect</key>
                <string>{{2441,1605},{600,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00001031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,312}</string>
                <key>spriteSourceSize</key>
                <string>{368,312}</string>
                <key>textureRect</key>
                <string>{{2441,2207},{368,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou005/00001034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{3035,1},{52,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00001035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,324}</string>
                <key>spriteSourceSize</key>
                <string>{460,324}</string>
                <key>textureRect</key>
                <string>{{2639,2835},{460,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00001036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1801,2979},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou005/00001037_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,332}</string>
                <key>spriteSourceSize</key>
                <string>{468,332}</string>
                <key>textureRect</key>
                <string>{{2305,2577},{468,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou005-0.pvr.ccz</string>
            <key>size</key>
            <string>{3172,3240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1126faa9ef13fddd9494b41b2eae8158:efe9ae1964062baaa4c502a418aa788b:a5171fddc631b36b966c897522924fcd$</string>
            <key>textureFileName</key>
            <string>buzhou005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
