<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2757,939},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2855,939},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2953,939},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3051,939},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3149,939},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3247,939},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3261,1109},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3261,1207},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3261,1305},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3261,1403},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3261,1501},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3261,1599},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3261,1697},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3261,1795},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000948_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1855,1},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000949.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{251,1},{1280,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000950_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,668}</string>
                <key>spriteSourceSize</key>
                <string>{936,668}</string>
                <key>textureRect</key>
                <string>{{2757,1},{936,668}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000951.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1053,1},{1280,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000952_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,248}</string>
                <key>spriteSourceSize</key>
                <string>{1600,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000953.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,300}</string>
                <key>spriteSourceSize</key>
                <string>{728,300}</string>
                <key>textureRect</key>
                <string>{{251,1283},{728,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000954_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,340}</string>
                <key>spriteSourceSize</key>
                <string>{372,340}</string>
                <key>textureRect</key>
                <string>{{1481,1581},{372,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000955_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1855,1203},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000955_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1913,1203},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000956.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,380}</string>
                <key>spriteSourceSize</key>
                <string>{368,380}</string>
                <key>textureRect</key>
                <string>{{2399,1425},{368,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000957.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,220}</string>
                <key>spriteSourceSize</key>
                <string>{416,220}</string>
                <key>textureRect</key>
                <string>{{2177,1465},{416,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000958.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,296}</string>
                <key>spriteSourceSize</key>
                <string>{260,296}</string>
                <key>textureRect</key>
                <string>{{1383,1283},{260,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000959_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{3345,939},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000959_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{2399,1795},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000959_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{2481,1795},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000960.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,300}</string>
                <key>spriteSourceSize</key>
                <string>{556,300}</string>
                <key>textureRect</key>
                <string>{{923,1585},{556,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000961.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,88}</string>
                <key>textureRect</key>
                <string>{{2063,1465},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000962.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,416}</string>
                <key>spriteSourceSize</key>
                <string>{272,416}</string>
                <key>textureRect</key>
                <string>{{1645,1283},{272,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000963_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,260}</string>
                <key>spriteSourceSize</key>
                <string>{364,260}</string>
                <key>textureRect</key>
                <string>{{1855,1557},{364,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000964.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,800}</string>
                <key>spriteSourceSize</key>
                <string>{400,800}</string>
                <key>textureRect</key>
                <string>{{2859,1109},{400,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000965.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{981,1283},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000966.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,220}</string>
                <key>spriteSourceSize</key>
                <string>{480,220}</string>
                <key>textureRect</key>
                <string>{{2313,1203},{480,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000967.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{2757,1109},{84,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou001/00000968.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,300}</string>
                <key>spriteSourceSize</key>
                <string>{920,300}</string>
                <key>textureRect</key>
                <string>{{1,1603},{920,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou001/00000969.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{260,248}</string>
                <key>textureRect</key>
                <string>{{2063,1203},{260,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3430,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cceb9bde0455bc1a0693d482a264525:1ec5c85d49d315c03eaf0afc01a24fa3:150ab5ff36f266afc20220fa28be28e6$</string>
            <key>textureFileName</key>
            <string>buzhou001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
