<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou_stage003/00000106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1800}</string>
                <key>textureRect</key>
                <string>{{2003,1},{2000,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{2000,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou_stage003/00000109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1800}</string>
                <key>textureRect</key>
                <string>{{1803,2003},{2000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou_stage003/00000111_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1803,1803},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou_stage003-1.pvr.ccz</string>
            <key>size</key>
            <string>{3804,3804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88aeac175ced482d8bde125391344c1f:6a1844bfb23e093621bc0b37858cf418:a606c9eba46525ddfecd43d04a91811f$</string>
            <key>textureFileName</key>
            <string>buzhou_stage003-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
