<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1835,1095},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1503,2117},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1835,1265},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1835,1435},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1249,2339},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1837,1605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1837,1775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1837,1945},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1639,2071},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1601,2169},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1601,2267},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1503,2287},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1601,2365},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1771,2169},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000949.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000950_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,668}</string>
                <key>spriteSourceSize</key>
                <string>{936,668}</string>
                <key>textureRect</key>
                <string>{{1,1605},{936,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000951.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,803},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000952_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,248}</string>
                <key>spriteSourceSize</key>
                <string>{1600,248}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1600,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000953.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,300}</string>
                <key>spriteSourceSize</key>
                <string>{728,300}</string>
                <key>textureRect</key>
                <string>{{1533,923},{728,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000955_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1933,1095},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000955_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1933,1165},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000957.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,220}</string>
                <key>spriteSourceSize</key>
                <string>{416,220}</string>
                <key>textureRect</key>
                <string>{{1615,1653},{416,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000959_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1419,2339},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000959_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1869,2115},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000959_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1889,2327},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000961.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,88}</string>
                <key>textureRect</key>
                <string>{{1869,2237},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00000968.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,300}</string>
                <key>spriteSourceSize</key>
                <string>{920,300}</string>
                <key>textureRect</key>
                <string>{{1533,1},{920,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00000969.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{260,248}</string>
                <key>textureRect</key>
                <string>{{987,2207},{260,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00001013_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,292}</string>
                <key>spriteSourceSize</key>
                <string>{184,292}</string>
                <key>textureRect</key>
                <string>{{693,2275},{184,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00001014_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,432}</string>
                <key>spriteSourceSize</key>
                <string>{160,432}</string>
                <key>textureRect</key>
                <string>{{1835,1},{160,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00001015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{1835,435},{380,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00001016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,44}</string>
                <key>spriteSourceSize</key>
                <string>{376,44}</string>
                <key>textureRect</key>
                <string>{{1261,2071},{376,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00001017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,416}</string>
                <key>spriteSourceSize</key>
                <string>{352,416}</string>
                <key>textureRect</key>
                <string>{{1261,1653},{352,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00001018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,488}</string>
                <key>spriteSourceSize</key>
                <string>{168,488}</string>
                <key>textureRect</key>
                <string>{{1,2275},{168,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00001019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,160}</string>
                <key>spriteSourceSize</key>
                <string>{276,160}</string>
                <key>textureRect</key>
                <string>{{1835,817},{276,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00001020_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1771,2339},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00001021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,320}</string>
                <key>textureRect</key>
                <string>{{939,1605},{600,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou003/00001022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,220}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{1261,2117},{240,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou003/00001023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{491,2275},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou003-0.pvr.ccz</string>
            <key>size</key>
            <string>{1996,2476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d6fe3d8f156a675f710820de80d4bf:17f7a032cfecfed914003c54ce5af639:92f3137c4bbbc4b10d083e99470cf38e$</string>
            <key>textureFileName</key>
            <string>buzhou003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
