<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buzhou102/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,1935},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,1935},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,1935},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,1935},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{681,1935},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{903,1397},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1863,1309},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1621,663},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1609,761},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1837,1547},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1837,1717},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1795,1887},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1935,1479},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1935,1649},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000979.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,700}</string>
                <key>spriteSourceSize</key>
                <string>{900,700}</string>
                <key>textureRect</key>
                <string>{{1,903},{900,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000980.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,900}</string>
                <key>spriteSourceSize</key>
                <string>{1000,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000981.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{616,684}</string>
                <key>spriteSourceSize</key>
                <string>{616,684}</string>
                <key>textureRect</key>
                <string>{{1003,1},{616,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000982.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1391,1855},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000983.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,500}</string>
                <key>spriteSourceSize</key>
                <string>{220,500}</string>
                <key>textureRect</key>
                <string>{{1827,1},{220,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000984.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,160}</string>
                <key>spriteSourceSize</key>
                <string>{264,160}</string>
                <key>textureRect</key>
                <string>{{1675,1553},{264,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000988.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,380}</string>
                <key>spriteSourceSize</key>
                <string>{200,380}</string>
                <key>textureRect</key>
                <string>{{1415,861},{200,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000989.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,304}</string>
                <key>spriteSourceSize</key>
                <string>{120,304}</string>
                <key>textureRect</key>
                <string>{{1077,1457},{120,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000990.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,172}</string>
                <key>spriteSourceSize</key>
                <string>{604,172}</string>
                <key>textureRect</key>
                <string>{{1003,687},{604,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000991.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,204}</string>
                <key>spriteSourceSize</key>
                <string>{660,204}</string>
                <key>textureRect</key>
                <string>{{1621,1},{660,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000992.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,68}</string>
                <key>spriteSourceSize</key>
                <string>{104,68}</string>
                <key>textureRect</key>
                <string>{{1973,1135},{104,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000993.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,220}</string>
                <key>spriteSourceSize</key>
                <string>{448,220}</string>
                <key>textureRect</key>
                <string>{{1827,503},{448,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000994.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1003,861},{36,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000995.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{1723,859},{24,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000996.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{1129,2003},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000997.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{1617,859},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000998.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,168}</string>
                <key>spriteSourceSize</key>
                <string>{492,168}</string>
                <key>textureRect</key>
                <string>{{903,903},{492,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00000999_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{292,308}</string>
                <key>textureRect</key>
                <string>{{1387,1243},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000999_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{292,308}</string>
                <key>textureRect</key>
                <string>{{803,1605},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000999_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{292,308}</string>
                <key>textureRect</key>
                <string>{{1097,1579},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00000999_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{292,308}</string>
                <key>textureRect</key>
                <string>{{803,1605},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,380}</string>
                <key>spriteSourceSize</key>
                <string>{340,380}</string>
                <key>textureRect</key>
                <string>{{1073,861},{340,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001001_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1617,1195},{32,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00001001_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1799,1135},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001001_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1791,663},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001001_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1799,1135},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1553,1851},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001003_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{903,1495},{108,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00001003_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{1681,1437},{108,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00001003_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{1863,1135},{108,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001003_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{1681,1437},{108,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00001005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{1553,1553},{296,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00001007_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1617,953},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00001007_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1799,953},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001007_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1681,1195},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00001007_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1799,953},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,328}</string>
                <key>spriteSourceSize</key>
                <string>{800,328}</string>
                <key>textureRect</key>
                <string>{{1,1605},{800,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,160}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{1391,1553},{300,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00001010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,312}</string>
                <key>spriteSourceSize</key>
                <string>{212,312}</string>
                <key>textureRect</key>
                <string>{{1073,1243},{212,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhou102/00001011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,112}</string>
                <key>spriteSourceSize</key>
                <string>{276,112}</string>
                <key>textureRect</key>
                <string>{{851,1915},{276,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzhou102/00001012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,112}</string>
                <key>spriteSourceSize</key>
                <string>{252,112}</string>
                <key>textureRect</key>
                <string>{{1129,1889},{252,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buzhou102-0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3617d0b78d1845f0dbbad05475504e1:91d1f6ac9a92189daea7ccff4b822d0a:87fde77e7d930a8e25344f194a7488e6$</string>
            <key>textureFileName</key>
            <string>buzhou102-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
