<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_stage002/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2513,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2611,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2709,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2807,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2905,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3003,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3101,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3199,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3297,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3395,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3493,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3591,3847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3689,3887},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000127_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1,3605},{400,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000128_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{603,3847},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000137_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{603,3961},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000137_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{913,3847},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000137_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{1045,3909},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000169.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000171_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{603,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{1125,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{1647,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{2169,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{2691,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{3213,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{1125,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{1647,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{2169,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{2691,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{3213,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{603,3605},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1487,3847},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1601,3847},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1715,3847},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1829,3847},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1943,3847},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2057,3847},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2171,3847},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2285,3847},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2399,3847},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,360}</string>
                <key>spriteSourceSize</key>
                <string>{40,360}</string>
                <key>textureRect</key>
                <string>{{1,4007},{40,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00001829.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,260}</string>
                <key>spriteSourceSize</key>
                <string>{280,260}</string>
                <key>textureRect</key>
                <string>{{3735,3605},{280,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_stage002-0.pvr.ccz</string>
            <key>size</key>
            <string>{4002,4048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca40fccf641067344dd19cc6dc37c532:0d65bf66e9bef1109064126b4493da70:6f9ef75faafb4c152a2681fc9329ad1a$</string>
            <key>textureFileName</key>
            <string>changan_stage002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
