<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_qiannian/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1555,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1725,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3499,3609},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1813,3831},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1895,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1983,3831},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2065,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2153,3831},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2235,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2323,3831},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2405,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2611,3837},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2781,3837},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2951,3837},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001370.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3121,3837},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001371_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1063},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001371_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1203,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001371_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2405,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001371_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1965},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001371_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1203,903},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001371_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2405,903},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001371_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,2867},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001372.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1203,1805},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001373.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2405,1805},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001374_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{1813,3707},{76,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001374_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{2493,3837},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{3223,3837},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{3341,3837},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{2575,3935},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{2693,3935},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{2493,3837},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{3223,3837},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{3341,3837},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{2575,3935},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{2693,3935},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{2811,3935},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{2929,3935},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_qiannian/00001374_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{1813,3707},{76,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001375_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,96}</string>
                <key>spriteSourceSize</key>
                <string>{344,96}</string>
                <key>textureRect</key>
                <string>{{1203,3609},{344,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001375_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,96}</string>
                <key>spriteSourceSize</key>
                <string>{344,96}</string>
                <key>textureRect</key>
                <string>{{1209,3929},{344,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001375_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,96}</string>
                <key>spriteSourceSize</key>
                <string>{344,96}</string>
                <key>textureRect</key>
                <string>{{1549,3609},{344,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001376.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1203,2707},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001377.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2405,2707},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{2499,3609},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{2749,3609},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{2749,3609},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{2999,3609},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{3249,3609},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{2499,3723},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{2749,3723},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{2999,3723},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{3249,3723},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001381_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,112}</string>
                <key>spriteSourceSize</key>
                <string>{248,112}</string>
                <key>textureRect</key>
                <string>{{2499,3609},{248,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,3769},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{303,3769},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{605,3769},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{907,3769},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1209,3707},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{303,3769},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{605,3769},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{907,3769},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1209,3707},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1511,3707},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1895,3609},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{2197,3609},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001382_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1,3769},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_qiannian/00001384.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,1060}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1060}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,1060}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_qiannian-0.pvr.ccz</string>
            <key>size</key>
            <string>{3606,4026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:316905793e2ef1026fc7788aa77253b7:5114bc250be76b1d516fec8516477631:5d2c3b760cae98947d716025a63d90dc$</string>
            <key>textureFileName</key>
            <string>changan_qiannian-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
