<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_zuixiang/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2167,3325},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{343,3683},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{457,3481},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2167,3495},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2265,3325},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{555,3481},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2265,3495},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2363,3325},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{653,3481},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2363,3495},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2461,3325},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{751,3481},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2461,3495},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2559,3325},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,3481},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1825,3325},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,3683},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{115,3481},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1825,3527},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1939,3325},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{115,3683},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{229,3481},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1939,3527},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1825,3729},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang/00000178_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2053,3325},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,3481},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{229,3683},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{343,3481},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00000178_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2053,3527},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001385.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1023,3325},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001386.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1660}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1660}</string>
                <key>textureRect</key>
                <string>{{1,1819},{1020,1660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001387.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1660}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1660}</string>
                <key>textureRect</key>
                <string>{{1023,1},{1020,1660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001388_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{1,3885},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001388_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{2027,3729},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001390.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1660}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1660}</string>
                <key>textureRect</key>
                <string>{{1023,1663},{1020,1660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001391.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1660}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1660}</string>
                <key>textureRect</key>
                <string>{{2045,1},{1020,1660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001392.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1660}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1660}</string>
                <key>textureRect</key>
                <string>{{3067,1},{1020,1660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001393_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,156}</string>
                <key>spriteSourceSize</key>
                <string>{68,156}</string>
                <key>textureRect</key>
                <string>{{1825,3843},{68,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang/00001393_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,156}</string>
                <key>spriteSourceSize</key>
                <string>{68,156}</string>
                <key>textureRect</key>
                <string>{{849,3481},{68,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001394.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1660}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1660}</string>
                <key>textureRect</key>
                <string>{{2045,1663},{1020,1660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001395.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1816}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1816}</string>
                <key>textureRect</key>
                <string>{{1,1},{1020,1816}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang/00001396_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1660}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1660}</string>
                <key>textureRect</key>
                <string>{{3067,1663},{1020,1660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_zuixiang-0.pvr.ccz</string>
            <key>size</key>
            <string>{4088,3926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6c082fcb32d15df7539cea32b9fc66f:b49f8e02e76817d7d61e0756e54301ff:d7b1c1165a079374cd828408b9e50909$</string>
            <key>textureFileName</key>
            <string>changan_zuixiang-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
