<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_stage001/00000161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,2000}</string>
                <key>spriteSourceSize</key>
                <string>{4000,2000}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,2000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage001/00000165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,2000}</string>
                <key>spriteSourceSize</key>
                <string>{4000,2000}</string>
                <key>textureRect</key>
                <string>{{1,2003},{4000,2000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_stage001-5.pvr.ccz</string>
            <key>size</key>
            <string>{4002,4004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:665481d20b251a886f5a3ab2195a7ce8:c359fc5f9a933119b1a1b7b8ba5223e1:a6931c07eb9971ad2186804dde7f0016$</string>
            <key>textureFileName</key>
            <string>changan_stage001-5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
