<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_zuixiang02/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,1867},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang02/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,1867},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang02/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,1867},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang02/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,1867},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang02/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{681,1867},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang02/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{851,1775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{901,1605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{949,1775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{999,1605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1047,1775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1097,1605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1145,1775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1195,1605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00001579.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{803,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang02/00001580.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,663},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00001581.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{803,803},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang02/00001582.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,660}</string>
                <key>spriteSourceSize</key>
                <string>{800,660}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang02/00001583.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1265},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_zuixiang02-0.pvr.ccz</string>
            <key>size</key>
            <string>{1404,1964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e69fd059b20f51415c5674bc76cf139a:b1753b2987d536e671f7d70c8bca6bc4:d07738533687e9ab8590fdfbe37c2e44$</string>
            <key>textureFileName</key>
            <string>changan_zuixiang02-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
