<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_stage002/00000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{2437,1803},{900,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3039,1803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000127_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{3213,1803},{400,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000128_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{3085,1901},{308,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000128_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{3815,1803},{308,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000128_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{3815,2113},{308,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000128_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{3443,2205},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000137_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3039,2211},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000137_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3929,1803},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000142_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,508}</string>
                <key>spriteSourceSize</key>
                <string>{916,508}</string>
                <key>textureRect</key>
                <string>{{1927,1803},{916,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000143_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1924,1184}</string>
                <key>spriteSourceSize</key>
                <string>{1924,1184}</string>
                <key>textureRect</key>
                <string>{{1,1803},{1924,1184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{3199,2625},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000171_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{1927,2721},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{1927,2721},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000171_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,520}</string>
                <key>spriteSourceSize</key>
                <string>{240,520}</string>
                <key>textureRect</key>
                <string>{{2449,2705},{240,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,360}</string>
                <key>spriteSourceSize</key>
                <string>{40,360}</string>
                <key>textureRect</key>
                <string>{{2851,2947},{40,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000178_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2971,2705},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3085,2653},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3101,2423},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3215,2423},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3329,2423},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000178_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2971,2705},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,400}</string>
                <key>spriteSourceSize</key>
                <string>{40,400}</string>
                <key>textureRect</key>
                <string>{{2449,2947},{40,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_stage002/00000188_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2971,2907},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_stage002-6.pvr.ccz</string>
            <key>size</key>
            <string>{4002,2988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca40fccf641067344dd19cc6dc37c532:0d65bf66e9bef1109064126b4493da70:6f9ef75faafb4c152a2681fc9329ad1a$</string>
            <key>textureFileName</key>
            <string>changan_stage002-6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
