<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_wuqi/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{681,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{851,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1021,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1191,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1361,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1531,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1701,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1871,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2041,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2211,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{1363,99},{800,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000190_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{1,901},{800,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000190_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{1203,901},{800,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000190_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{2405,901},{800,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_wuqi/00000190_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{1,1703},{800,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000190_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{2405,901},{800,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_wuqi/00000190_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{1203,901},{800,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1360}</string>
                <key>spriteSourceSize</key>
                <string>{800,1360}</string>
                <key>textureRect</key>
                <string>{{1,99},{800,1360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{1203,1703},{800,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{2405,2103},{800,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_wuqi/00000194.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{1,2505},{800,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_wuqi/00000195.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1200}</string>
                <key>spriteSourceSize</key>
                <string>{800,1200}</string>
                <key>textureRect</key>
                <string>{{1203,2505},{800,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_wuqi-0.pvr.ccz</string>
            <key>size</key>
            <string>{3206,3306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb721e11a46212a0397e4149aacbc5ce:0181c3a5d8edfe5789868b1f8d957f88:ca2b0f56c5a064c2cf04aafd05ec750d$</string>
            <key>textureFileName</key>
            <string>changan_wuqi-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
