<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_jingjichang/00000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{3203,1},{900,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3595,1559},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3765,1559},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3491,1661},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3027,1787},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3977,885},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3977,1055},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3967,1225},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3967,1395},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2793,1867},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3197,1787},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3295,1815},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3295,1913},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3465,1831},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3563,1831},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,880}</string>
                <key>spriteSourceSize</key>
                <string>{3200,880}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,880}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000052_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3589,1661},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000052_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3687,1657},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000052_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3785,1657},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000052_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3883,1657},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000052_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3661,1831},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000052_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3759,1827},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000052_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3857,1827},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000052_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3955,1827},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000052_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2963,1885},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000052_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1187,1887},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000052_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1357,1887},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000052_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1527,1887},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000052_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1697,1887},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000052_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3981,1565},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000127_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1949,1385},{400,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000127_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{2351,1465},{400,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000128_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{3657,1217},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000128_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{3657,1331},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000128_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{3657,1445},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000128_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{3027,1559},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000128_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{3027,1673},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,340}</string>
                <key>spriteSourceSize</key>
                <string>{620,340}</string>
                <key>textureRect</key>
                <string>{{3035,1217},{620,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000130_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{760,500}</string>
                <key>spriteSourceSize</key>
                <string>{760,500}</string>
                <key>textureRect</key>
                <string>{{1603,883},{760,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1184,512}</string>
                <key>spriteSourceSize</key>
                <string>{1184,512}</string>
                <key>textureRect</key>
                <string>{{1,1385},{1184,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{760,500}</string>
                <key>spriteSourceSize</key>
                <string>{760,500}</string>
                <key>textureRect</key>
                <string>{{1187,1385},{760,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,580}</string>
                <key>spriteSourceSize</key>
                <string>{668,580}</string>
                <key>textureRect</key>
                <string>{{2365,883},{668,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,256}</string>
                <key>spriteSourceSize</key>
                <string>{100,256}</string>
                <key>textureRect</key>
                <string>{{3337,1559},{100,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000135_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2693,1929},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000135_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{3935,1559},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000135_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{3133,1885},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000135_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{3935,1559},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,312}</string>
                <key>spriteSourceSize</key>
                <string>{940,312}</string>
                <key>textureRect</key>
                <string>{{3035,903},{940,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000137_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3805,1},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000137_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{1,1987},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000137_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{2351,1867},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000137_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3805,443},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000137_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3867,1},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000137_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{443,1987},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000137_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3867,443},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000137_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3929,1},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000137_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{885,1987},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000137_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3991,1},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000137_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3929,443},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000137_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{1327,1987},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000137_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{1769,1987},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000137_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{2211,1987},{60,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000137_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{3991,443},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,340}</string>
                <key>spriteSourceSize</key>
                <string>{32,340}</string>
                <key>textureRect</key>
                <string>{{2351,1929},{32,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_jingjichang/00000139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,380}</string>
                <key>spriteSourceSize</key>
                <string>{72,380}</string>
                <key>textureRect</key>
                <string>{{2953,1465},{72,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,500}</string>
                <key>spriteSourceSize</key>
                <string>{1600,500}</string>
                <key>textureRect</key>
                <string>{{1,883},{1600,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00000141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,80}</string>
                <key>spriteSourceSize</key>
                <string>{900,80}</string>
                <key>textureRect</key>
                <string>{{1,1899},{900,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_jingjichang/00001887.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{3337,1661},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_jingjichang-0.pvr.ccz</string>
            <key>size</key>
            <string>{4078,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a972f9a28d8fc7218b4e637938019c6:3d13fd71c3f75ff437a07e7eed52ada3:48c8734b16945f7aea540ef95d8258ab$</string>
            <key>textureFileName</key>
            <string>changan_jingjichang-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
