<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_zuixiang03/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,99},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,295},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,393},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,491},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,589},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,687},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,785},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,883},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,981},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1079},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1177},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,1275},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001582.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,660}</string>
                <key>spriteSourceSize</key>
                <string>{800,660}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001584.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,663},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001585_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{821,1413},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001585_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{821,1455},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001586_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{785,1275},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001586_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{785,1329},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001586_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{785,1329},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001586_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{831,1275},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001586_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{885,1275},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001586_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{831,1321},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001586_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{885,1321},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001586_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{831,1367},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001586_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{885,1367},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001586_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{785,1275},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001587_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{1,1445},{132,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_zuixiang03/00001587_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{99,1275},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{135,1409},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{197,1275},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{233,1409},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{295,1275},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{331,1409},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{393,1275},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{429,1409},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{491,1275},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{527,1409},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{589,1275},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{687,1265},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{625,1409},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changan_zuixiang03/00001587_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{723,1399},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_zuixiang03-0.pvr.ccz</string>
            <key>size</key>
            <string>{972,1542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8946534caccaee1fd57c5e3ab52ecdd1:0b6e4fc9a5bdbbf672119e5a4ed512b4:a208248c840cb37e8796551a91311556$</string>
            <key>textureFileName</key>
            <string>changan_zuixiang03-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
