<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changan_stage002/00000135_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{4003,885},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000137_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{4003,1},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000137_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,440}</string>
                <key>spriteSourceSize</key>
                <string>{60,440}</string>
                <key>textureRect</key>
                <string>{{4003,443},{60,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changan_stage002/00000183.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>changan_stage002-1.pvr.ccz</string>
            <key>size</key>
            <string>{4064,3604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca40fccf641067344dd19cc6dc37c532:0d65bf66e9bef1109064126b4493da70:6f9ef75faafb4c152a2681fc9329ad1a$</string>
            <key>textureFileName</key>
            <string>changan_stage002-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
