<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuancang_stage003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1877,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1877,171},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1877,341},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1877,511},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1877,681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1877,851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1873,1021},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1873,1191},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1873,1361},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1833,1531},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1833,1629},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1833,1727},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1833,1825},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1833,1923},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00001663.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{1603,1},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{1603,235},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{1603,469},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{1603,703},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{1603,703},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{1603,469},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{1603,235},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{1,1805},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{275,1805},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{549,1805},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{275,1805},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001664_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,232}</string>
                <key>spriteSourceSize</key>
                <string>{272,232}</string>
                <key>textureRect</key>
                <string>{{1,1805},{272,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{823,1805},{216,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00001665_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1021,1805},{216,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00001665_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1219,1805},{216,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00001665_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1417,1805},{216,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00001665_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1417,1805},{216,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00001665_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1219,1805},{216,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00001665_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1021,1805},{216,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuancang_stage003/00001665_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1615,1411},{216,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001665_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1615,1609},{216,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001665_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1615,1807},{216,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001665_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1615,1609},{216,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001665_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,196}</string>
                <key>spriteSourceSize</key>
                <string>{216,196}</string>
                <key>textureRect</key>
                <string>{{1615,1411},{216,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001666.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,472}</string>
                <key>spriteSourceSize</key>
                <string>{256,472}</string>
                <key>textureRect</key>
                <string>{{1615,937},{256,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuancang_stage003/00001667.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,903},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chuancang_stage003-0.pvr.ccz</string>
            <key>size</key>
            <string>{2002,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55b2db103dbe3de4c0d787ff42c98863:6b3847d4ac7176bd0fd3f097bad95510:e5a8aa56debe271e6b3aa0ebcad321fd$</string>
            <key>textureFileName</key>
            <string>chuancang_stage003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
