<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dadao006/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1811,1181},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1395,1711},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1715,1375},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1907,701},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1907,871},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1813,1351},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1423,1809},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1565,1711},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1593,1809},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1909,1181},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1715,1545},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1735,1643},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1763,1741},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1861,1741},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{1,1325},{960,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00000845.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,440}</string>
                <key>spriteSourceSize</key>
                <string>{100,440}</string>
                <key>textureRect</key>
                <string>{{981,1825},{100,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,184}</string>
                <key>spriteSourceSize</key>
                <string>{472,184}</string>
                <key>textureRect</key>
                <string>{{1035,1155},{472,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,452}</string>
                <key>spriteSourceSize</key>
                <string>{320,452}</string>
                <key>textureRect</key>
                <string>{{527,1603},{320,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1911,1351},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{1499,553},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,192}</string>
                <key>textureRect</key>
                <string>{{1509,1181},{300,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{1,1603},{524,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{981,1535},{288,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,112}</string>
                <key>spriteSourceSize</key>
                <string>{284,112}</string>
                <key>textureRect</key>
                <string>{{1395,1597},{284,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{1453,1375},{260,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001085_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1540,148}</string>
                <key>spriteSourceSize</key>
                <string>{1540,148}</string>
                <key>textureRect</key>
                <string>{{1,403},{1540,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001086_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,400}</string>
                <key>spriteSourceSize</key>
                <string>{1400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1885,1521},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,192}</string>
                <key>spriteSourceSize</key>
                <string>{488,192}</string>
                <key>textureRect</key>
                <string>{{963,1341},{488,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,456}</string>
                <key>spriteSourceSize</key>
                <string>{296,456}</string>
                <key>textureRect</key>
                <string>{{1543,403},{296,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{1911,1421},{96,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1403,1},{600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,468}</string>
                <key>spriteSourceSize</key>
                <string>{376,468}</string>
                <key>textureRect</key>
                <string>{{1437,701},{376,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{108,60}</string>
                <key>textureRect</key>
                <string>{{1437,553},{108,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,440}</string>
                <key>spriteSourceSize</key>
                <string>{100,440}</string>
                <key>textureRect</key>
                <string>{{1509,1079},{100,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1035,553},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao006/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{1,553},{1032,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao006/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1,947},{1032,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dadao006-0.pvr.ccz</string>
            <key>size</key>
            <string>{2006,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76bba91c1ea4d006cac26357519110d4:30dab7075c269746b2523f062b620f48:e75014a968327552ac7e4611e88585d4$</string>
            <key>textureFileName</key>
            <string>dadao006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
