<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dadao205/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2405,3387},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2567,3045},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2827,503},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2567,3215},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2665,3045},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2827,673},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2665,3215},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2763,3045},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2763,3215},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2861,3045},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2861,3215},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2925,503},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2925,673},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2827,843},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao205/00000950_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,668}</string>
                <key>spriteSourceSize</key>
                <string>{936,668}</string>
                <key>textureRect</key>
                <string>{{2405,1805},{936,668}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao205/00001263.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001264_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1805},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001265.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1603,903},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001266.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,2707},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1203,1805},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001277.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,903},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,340}</string>
                <key>spriteSourceSize</key>
                <string>{160,340}</string>
                <key>textureRect</key>
                <string>{{2405,3045},{160,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001669.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1203,2707},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001670.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,20}</string>
                <key>spriteSourceSize</key>
                <string>{460,20}</string>
                <key>textureRect</key>
                <string>{{2805,503},{460,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao205/00001671.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,300}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{2405,2743},{600,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001672.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,200}</string>
                <key>spriteSourceSize</key>
                <string>{64,200}</string>
                <key>textureRect</key>
                <string>{{3007,2743},{64,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,100}</string>
                <key>spriteSourceSize</key>
                <string>{48,100}</string>
                <key>textureRect</key>
                <string>{{2503,3387},{48,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao205/00001674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,200}</string>
                <key>spriteSourceSize</key>
                <string>{500,200}</string>
                <key>textureRect</key>
                <string>{{2805,1},{500,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dadao205-0.pvr.ccz</string>
            <key>size</key>
            <string>{3074,3608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b704beac1c1521dee95d343ba8da2fe3:3d710f62ae86756a4bf07b4f4525256d:46b0a830bb23e376653339068e5635aa$</string>
            <key>textureFileName</key>
            <string>dadao205-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
