<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dadao003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2743,529},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3319,681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{777,895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3953,565},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3953,735},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1357,827},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1527,827},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3319,851},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3489,805},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3659,805},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3489,903},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3659,903},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1697,827},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1021,857},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{2945,1},{960,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,96}</string>
                <key>spriteSourceSize</key>
                <string>{172,96}</string>
                <key>textureRect</key>
                <string>{{777,797},{172,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,184}</string>
                <key>spriteSourceSize</key>
                <string>{472,184}</string>
                <key>textureRect</key>
                <string>{{1,797},{472,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,452}</string>
                <key>spriteSourceSize</key>
                <string>{320,452}</string>
                <key>textureRect</key>
                <string>{{1035,403},{320,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,452}</string>
                <key>spriteSourceSize</key>
                <string>{280,452}</string>
                <key>textureRect</key>
                <string>{{1815,529},{280,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{951,797},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1295,857},{80,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{1253,927},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,192}</string>
                <key>textureRect</key>
                <string>{{475,797},{300,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{3509,279},{524,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{2305,715},{288,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,112}</string>
                <key>spriteSourceSize</key>
                <string>{284,112}</string>
                <key>textureRect</key>
                <string>{{3907,1},{284,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{2719,715},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001085_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1540,148}</string>
                <key>spriteSourceSize</key>
                <string>{1540,148}</string>
                <key>textureRect</key>
                <string>{{1403,1},{1540,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001086_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,400}</string>
                <key>spriteSourceSize</key>
                <string>{1400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1191,927},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,192}</string>
                <key>spriteSourceSize</key>
                <string>{488,192}</string>
                <key>textureRect</key>
                <string>{{1815,811},{488,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,456}</string>
                <key>spriteSourceSize</key>
                <string>{296,456}</string>
                <key>textureRect</key>
                <string>{{1357,529},{296,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{2841,529},{96,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{3417,681},{108,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1191,857},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,112}</string>
                <key>spriteSourceSize</key>
                <string>{276,112}</string>
                <key>textureRect</key>
                <string>{{3839,565},{276,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,184}</string>
                <key>spriteSourceSize</key>
                <string>{472,184}</string>
                <key>textureRect</key>
                <string>{{2269,529},{472,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,376}</string>
                <key>spriteSourceSize</key>
                <string>{320,376}</string>
                <key>textureRect</key>
                <string>{{2941,681},{320,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{2907,279},{600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{3829,843},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,180}</string>
                <key>spriteSourceSize</key>
                <string>{276,180}</string>
                <key>textureRect</key>
                <string>{{3839,287},{276,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,468}</string>
                <key>spriteSourceSize</key>
                <string>{376,468}</string>
                <key>textureRect</key>
                <string>{{2437,151},{376,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao003/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{1,403},{1032,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao003/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1403,151},{1032,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dadao003-0.pvr.ccz</string>
            <key>size</key>
            <string>{4050,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecd9be516bba36ee817e6a6d29f13e91:c15ca376b1b76082316e7567318997aa:5a09b6b955d4f7f89d85abb71a673b23$</string>
            <key>textureFileName</key>
            <string>dadao003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
