<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dadao001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{661,839},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3091,701},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3189,701},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3091,871},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3287,701},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3385,681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3261,871},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3431,851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{933,851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1031,851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1129,851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1227,851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1325,909},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1495,909},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{1,561},{960,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000666_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,152}</string>
                <key>spriteSourceSize</key>
                <string>{1400,152}</string>
                <key>textureRect</key>
                <string>{{1,407},{1400,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00000667_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,404}</string>
                <key>spriteSourceSize</key>
                <string>{1400,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,839},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,96}</string>
                <key>spriteSourceSize</key>
                <string>{172,96}</string>
                <key>textureRect</key>
                <string>{{487,839},{172,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,184}</string>
                <key>spriteSourceSize</key>
                <string>{472,184}</string>
                <key>textureRect</key>
                <string>{{1377,723},{472,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,164}</string>
                <key>textureRect</key>
                <string>{{831,839},{100,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,452}</string>
                <key>spriteSourceSize</key>
                <string>{320,452}</string>
                <key>textureRect</key>
                <string>{{2891,379},{320,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00001067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,452}</string>
                <key>spriteSourceSize</key>
                <string>{280,452}</string>
                <key>textureRect</key>
                <string>{{1851,723},{280,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1665,909},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{487,937},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{108,60}</string>
                <key>textureRect</key>
                <string>{{3399,287},{108,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{1665,979},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{163,839},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,192}</string>
                <key>textureRect</key>
                <string>{{3345,379},{300,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00001076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{325,839},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{2305,723},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,720}</string>
                <key>spriteSourceSize</key>
                <string>{960,720}</string>
                <key>textureRect</key>
                <string>{{1403,1},{960,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{2365,379},{524,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{963,561},{288,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00001082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,112}</string>
                <key>spriteSourceSize</key>
                <string>{284,112}</string>
                <key>textureRect</key>
                <string>{{3399,1},{284,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00001083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{2869,709},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao001/00001084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{2587,709},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao001/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{2365,1},{1032,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dadao001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3538,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:353a3ced6b93e0422fd65d1dc56d7bbb:a7438e83cf0b71c38fe11ecf337c3dff:26ebde61e133179529f4924aa3acb7be$</string>
            <key>textureFileName</key>
            <string>dadao001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
