<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dadao206/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{769,3759},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{769,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{867,3759},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{939,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{965,3759},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1063,3759},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1109,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1161,3759},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1259,3759},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1279,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1357,3759},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1449,3929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1455,3759},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1553,3759},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00000950_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,668}</string>
                <key>spriteSourceSize</key>
                <string>{936,668}</string>
                <key>textureRect</key>
                <string>{{3203,1219},{936,668}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001263.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1929,1503},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001264_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1805,2405},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001267_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2287,3307},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001267_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2449,3645},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001267_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2287,3307},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001267_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2449,3645},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001267_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2449,3645},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001267_1-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2287,3307},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001267_1-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2449,3645},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001267_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2287,3307},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001269_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3131,2157},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001271_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{483,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{965,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1447,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1805,3307},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{483,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{483,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{965,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1447,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1805,3307},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{483,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{965,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{965,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1447,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1447,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1805,3307},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001271_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1,1503},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{3007,2759},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,2157},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001277.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{903,2157},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,1216}</string>
                <key>spriteSourceSize</key>
                <string>{716,1216}</string>
                <key>textureRect</key>
                <string>{{3203,1},{716,1216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,340}</string>
                <key>spriteSourceSize</key>
                <string>{160,340}</string>
                <key>textureRect</key>
                <string>{{2287,3645},{160,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001670.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,20}</string>
                <key>spriteSourceSize</key>
                <string>{460,20}</string>
                <key>textureRect</key>
                <string>{{3873,1523},{460,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao206/00001671.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,300}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{1,3759},{600,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001672.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,200}</string>
                <key>spriteSourceSize</key>
                <string>{64,200}</string>
                <key>textureRect</key>
                <string>{{3873,1219},{64,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,100}</string>
                <key>spriteSourceSize</key>
                <string>{48,100}</string>
                <key>textureRect</key>
                <string>{{3873,1421},{48,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao206/00001675.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,240}</string>
                <key>spriteSourceSize</key>
                <string>{164,240}</string>
                <key>textureRect</key>
                <string>{{603,3759},{164,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dadao206-0.pvr.ccz</string>
            <key>size</key>
            <string>{3938,4060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94b6e56ef2d31ddb0939a09bbcb5664a:30ea8a2b75748091f21388b1a6eee782:7a7c3d5ea3539ab0023b0f9c3617fb7c$</string>
            <key>textureFileName</key>
            <string>dadao206-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
