<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dadao007/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1837,491},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1635,893},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1733,893},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1831,893},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{565,1859},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{735,1859},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1387,1177},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1485,1177},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1387,1347},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1379,1527},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1379,1697},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1665,1145},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1845,1145},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1929,889},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{1,773},{960,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,184}</string>
                <key>spriteSourceSize</key>
                <string>{472,184}</string>
                <key>textureRect</key>
                <string>{{1035,603},{472,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,452}</string>
                <key>spriteSourceSize</key>
                <string>{320,452}</string>
                <key>textureRect</key>
                <string>{{933,1167},{320,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,452}</string>
                <key>spriteSourceSize</key>
                <string>{280,452}</string>
                <key>textureRect</key>
                <string>{{603,1577},{280,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{1887,1837},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{603,1051},{524,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{1509,603},{288,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,112}</string>
                <key>spriteSourceSize</key>
                <string>{284,112}</string>
                <key>textureRect</key>
                <string>{{1,1855},{284,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1887,1643},{76,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,192}</string>
                <key>spriteSourceSize</key>
                <string>{488,192}</string>
                <key>textureRect</key>
                <string>{{1837,1},{488,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{1857,1315},{96,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{933,1489},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1433,789},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,112}</string>
                <key>spriteSourceSize</key>
                <string>{276,112}</string>
                <key>textureRect</key>
                <string>{{287,1855},{276,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,376}</string>
                <key>spriteSourceSize</key>
                <string>{320,376}</string>
                <key>textureRect</key>
                <string>{{1057,1489},{320,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1,1051},{600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,468}</string>
                <key>spriteSourceSize</key>
                <string>{376,468}</string>
                <key>textureRect</key>
                <string>{{963,789},{376,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1433,893},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1,1453},{600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1035,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001116_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{905,1859},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001116_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{1923,771},{116,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001116_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{1739,1327},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001116_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{1751,1425},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001116_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{1915,1349},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001116_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{1887,1447},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001116_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{1887,1545},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1433,1095},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1923,589},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1023,1867},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1205,1867},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1635,1063},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1387,1445},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1477,1527},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1477,1709},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1387,1891},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1583,1177},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1763,1145},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1817,1063},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1559,1527},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1559,1709},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1569,1891},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1557,1359},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1569,1441},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001117_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1641,1523},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1641,1705},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1723,1523},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1723,1705},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1805,1523},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1805,1705},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001117_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{1751,1887},{180,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001118_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1887,1705},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001118_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1887,1771},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001118_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1965,1643},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001118_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1961,1709},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001118_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1933,1879},{72,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001118_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1965,1775},{72,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dadao007/00001119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1943,1145},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1943,1247},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{1032,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dadao007/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1,395},{1032,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dadao007-0.pvr.ccz</string>
            <key>size</key>
            <string>{2044,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fd489cc7a5ad4c037685bc577f854da:3ce1a5a86bc6cc9ba5c91b6c45d766f8:6c963ce0b2dff37293e3bda0d1ce22fe$</string>
            <key>textureFileName</key>
            <string>dadao007-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
