<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianjiang_stage001/00000103_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1777,2253},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1799,2427},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1485,1445},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1485,1619},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1485,1793},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1485,1967},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{263,2311},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000103_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{437,2311},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000103_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{847,2049},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{933,1867},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1023,1685},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000103_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{989,1775},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000103_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1023,1865},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000103_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1023,1955},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000103_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{903,2223},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{937,2045},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000103_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1027,2045},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000103_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1027,2135},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000103_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{993,2225},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000103_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{993,2315},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000196_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{1,2435},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000196_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{203,2435},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000196_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{405,2435},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000196_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{607,2435},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000196_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{809,2435},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000196_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{1011,2435},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000196_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{1213,2435},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000196_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{1415,2435},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000196_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{1,2435},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000197.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,840}</string>
                <key>spriteSourceSize</key>
                <string>{1200,840}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000198.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,988}</string>
                <key>spriteSourceSize</key>
                <string>{92,988}</string>
                <key>textureRect</key>
                <string>{{1203,1445},{92,988}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,988}</string>
                <key>spriteSourceSize</key>
                <string>{92,988}</string>
                <key>textureRect</key>
                <string>{{1297,1445},{92,988}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,988}</string>
                <key>spriteSourceSize</key>
                <string>{92,988}</string>
                <key>textureRect</key>
                <string>{{1391,1445},{92,988}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{1203,1203},{800,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,840}</string>
                <key>spriteSourceSize</key>
                <string>{1200,840}</string>
                <key>textureRect</key>
                <string>{{1203,1},{1200,840}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000203_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{1617,1445},{260,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000203_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{1617,1647},{260,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000203_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{1617,1849},{260,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000203_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{1617,2051},{260,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000203_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{1,1685},{260,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000203_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{1,1947},{260,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000203_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{1,2209},{260,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000203_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{203,1685},{260,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000204_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1879,1445},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000204_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1879,1627},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000204_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1879,1809},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000204_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1879,1991},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000204_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1485,2253},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000204_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1879,2173},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000204_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1617,2435},{180,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjiang_stage001/00000204_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1631,2253},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000204_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1879,1445},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000205_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1889,2355},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000205_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{203,1947},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000205_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{263,2129},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000205_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{349,1947},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000205_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{409,2129},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000205_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{405,1685},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000205_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{495,1867},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000205_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{551,1685},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000205_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{1889,2355},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000206_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{555,2049},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000206_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{641,1867},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000206_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{697,1685},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000206_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{611,2231},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000206_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{701,2049},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000206_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{787,1867},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000206_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{843,1685},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000206_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{757,2231},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000206_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,144}</string>
                <key>textureRect</key>
                <string>{{555,2049},{180,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianjiang_stage001/00000207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,840}</string>
                <key>spriteSourceSize</key>
                <string>{1200,840}</string>
                <key>textureRect</key>
                <string>{{1,843},{1200,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dianjiang_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{2044,2600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b190482dd33735df8d8f62d31187afda:a6ec7f9bc416d10b454343c12f8dc939:4a1760574faa1957958f805dd9a372e3$</string>
            <key>textureFileName</key>
            <string>dianjiang_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
