<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>difu_stage001/00001425.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1640}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1640}</string>
                <key>textureRect</key>
                <string>{{2003,1},{2000,1640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu_stage001/00001428.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,800}</string>
                <key>textureRect</key>
                <string>{{1,2147},{2000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu_stage001/00001429.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,800}</string>
                <key>textureRect</key>
                <string>{{2003,2845},{2000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu_stage001/00001431.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,800}</string>
                <key>spriteSourceSize</key>
                <string>{1500,800}</string>
                <key>textureRect</key>
                <string>{{1,2949},{1500,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu_stage001/00001433.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{2003,1643},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu_stage001/00001437.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,2144}</string>
                <key>spriteSourceSize</key>
                <string>{2000,2144}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,2144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>difu_stage001-1.pvr.ccz</string>
            <key>size</key>
            <string>{4004,3750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dbdad135c07add9e9f607316724ace0:772fbb7165555d7bff6f51d5d89bb8f7:fd5c8aa0e5340518e46e6e73034d2a09$</string>
            <key>textureFileName</key>
            <string>difu_stage001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
