<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>difu010/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1013,1907},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1553,1695},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1447,1801},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2109,1351},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1973,1445},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1973,1615},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2071,1449},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2169,1449},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2071,1619},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2071,1717},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2241,1619},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2267,1449},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1553,1793},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1545,1891},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2283,615},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000039_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2283,773},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000039_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1723,1747},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000039_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2283,773},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000039_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1723,1747},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000039_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1723,1837},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000039_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1881,1747},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000039_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1715,1927},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000039_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1971,1785},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000039_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2061,1815},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000039_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2283,615},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000897.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1255,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000898_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,196}</string>
                <key>spriteSourceSize</key>
                <string>{800,196}</string>
                <key>textureRect</key>
                <string>{{1,1703},{800,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000899.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1252,500}</string>
                <key>spriteSourceSize</key>
                <string>{1252,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1252,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000900_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{803,1105},{800,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,600}</string>
                <key>spriteSourceSize</key>
                <string>{1024,600}</string>
                <key>textureRect</key>
                <string>{{1,503},{1024,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,596}</string>
                <key>spriteSourceSize</key>
                <string>{800,596}</string>
                <key>textureRect</key>
                <string>{{1,1105},{800,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{2311,1099},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,260}</string>
                <key>spriteSourceSize</key>
                <string>{144,260}</string>
                <key>textureRect</key>
                <string>{{1407,1437},{144,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,200}</string>
                <key>spriteSourceSize</key>
                <string>{348,200}</string>
                <key>textureRect</key>
                <string>{{1567,1103},{348,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1205,1437},{380,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,332}</string>
                <key>spriteSourceSize</key>
                <string>{360,332}</string>
                <key>textureRect</key>
                <string>{{1205,1103},{360,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,108}</string>
                <key>spriteSourceSize</key>
                <string>{264,108}</string>
                <key>textureRect</key>
                <string>{{1027,993},{264,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{343,1901},{264,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{2003,1135},{264,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1771,1445},{300,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,420}</string>
                <key>spriteSourceSize</key>
                <string>{292,420}</string>
                <key>textureRect</key>
                <string>{{1373,809},{292,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{2241,1789},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,232}</string>
                <key>spriteSourceSize</key>
                <string>{136,232}</string>
                <key>textureRect</key>
                <string>{{2041,615},{136,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000915.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,200}</string>
                <key>textureRect</key>
                <string>{{2109,1109},{240,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{264,288}</string>
                <key>textureRect</key>
                <string>{{1775,483},{264,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000917.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,308}</string>
                <key>spriteSourceSize</key>
                <string>{612,308}</string>
                <key>textureRect</key>
                <string>{{2057,1},{612,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{144,100}</string>
                <key>textureRect</key>
                <string>{{1407,1699},{144,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000919.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,36}</string>
                <key>textureRect</key>
                <string>{{2311,1181},{60,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,176}</string>
                <key>spriteSourceSize</key>
                <string>{104,176}</string>
                <key>textureRect</key>
                <string>{{609,1901},{104,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,488}</string>
                <key>spriteSourceSize</key>
                <string>{344,488}</string>
                <key>textureRect</key>
                <string>{{1027,503},{344,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000922.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{787,1907},{224,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000923.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,104}</string>
                <key>textureRect</key>
                <string>{{2097,1003},{200,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000925.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,308}</string>
                <key>spriteSourceSize</key>
                <string>{232,308}</string>
                <key>textureRect</key>
                <string>{{1769,1135},{232,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000926.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{2299,931},{100,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000927.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,148}</string>
                <key>spriteSourceSize</key>
                <string>{84,148}</string>
                <key>textureRect</key>
                <string>{{2061,1905},{84,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000928.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{2299,1033},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000929.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{1795,773},{360,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000930.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{1293,993},{80,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000931.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,248}</string>
                <key>spriteSourceSize</key>
                <string>{184,248}</string>
                <key>textureRect</key>
                <string>{{2097,753},{184,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000932.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,340}</string>
                <key>spriteSourceSize</key>
                <string>{112,340}</string>
                <key>textureRect</key>
                <string>{{1,1901},{112,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000933.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,216}</string>
                <key>spriteSourceSize</key>
                <string>{240,216}</string>
                <key>textureRect</key>
                <string>{{1553,1453},{240,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu010/00000934.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,200}</string>
                <key>textureRect</key>
                <string>{{1205,1819},{240,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu010/00000935.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{1373,483},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>difu010-0.pvr.ccz</string>
            <key>size</key>
            <string>{2372,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1b2853ea074774e505d135fa3fd91b1:1c7ebb7e1c8818c28d95e27328dc77e9:e6549bfb33e6b133e801cbae8b3b5f92$</string>
            <key>textureFileName</key>
            <string>difu010-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
