<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>difu007/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{763,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{861,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{959,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1057,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1155,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1253,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1351,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1449,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1547,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1645,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1743,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1841,1803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2805,1105},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3937,445},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3937,615},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3847,1255},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3847,1413},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3847,1255},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3847,1413},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3937,1255},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3937,1413},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3875,1571},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3875,1729},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000039_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3107,1833},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000039_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{3937,615},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000897.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{3257,1},{800,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000898_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,196}</string>
                <key>spriteSourceSize</key>
                <string>{800,196}</string>
                <key>textureRect</key>
                <string>{{3739,1},{800,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000899.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1252,500}</string>
                <key>spriteSourceSize</key>
                <string>{1252,500}</string>
                <key>textureRect</key>
                <string>{{2003,1},{1252,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000900_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{3029,803},{800,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,600}</string>
                <key>spriteSourceSize</key>
                <string>{1024,600}</string>
                <key>textureRect</key>
                <string>{{2003,503},{1024,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,596}</string>
                <key>spriteSourceSize</key>
                <string>{800,596}</string>
                <key>textureRect</key>
                <string>{{2003,1105},{800,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1939,1803},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,260}</string>
                <key>spriteSourceSize</key>
                <string>{144,260}</string>
                <key>textureRect</key>
                <string>{{1,1803},{144,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,200}</string>
                <key>spriteSourceSize</key>
                <string>{348,200}</string>
                <key>textureRect</key>
                <string>{{3831,803},{348,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,332}</string>
                <key>spriteSourceSize</key>
                <string>{360,332}</string>
                <key>textureRect</key>
                <string>{{3513,1627},{360,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,108}</string>
                <key>spriteSourceSize</key>
                <string>{264,108}</string>
                <key>textureRect</key>
                <string>{{263,1803},{264,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{3937,1},{264,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{2805,1695},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,420}</string>
                <key>spriteSourceSize</key>
                <string>{292,420}</string>
                <key>textureRect</key>
                <string>{{3553,1205},{292,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{3965,1571},{116,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,232}</string>
                <key>spriteSourceSize</key>
                <string>{136,232}</string>
                <key>textureRect</key>
                <string>{{529,1803},{136,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{264,288}</string>
                <key>textureRect</key>
                <string>{{2313,1703},{264,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{144,100}</string>
                <key>textureRect</key>
                <string>{{3847,1153},{144,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,176}</string>
                <key>spriteSourceSize</key>
                <string>{104,176}</string>
                <key>textureRect</key>
                <string>{{3937,267},{104,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,488}</string>
                <key>spriteSourceSize</key>
                <string>{344,488}</string>
                <key>textureRect</key>
                <string>{{2805,1205},{344,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000925.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,308}</string>
                <key>spriteSourceSize</key>
                <string>{232,308}</string>
                <key>textureRect</key>
                <string>{{2003,1703},{232,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000926.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{3265,1833},{100,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000927.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,148}</string>
                <key>spriteSourceSize</key>
                <string>{84,148}</string>
                <key>textureRect</key>
                <string>{{3875,1887},{84,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000931.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,248}</string>
                <key>spriteSourceSize</key>
                <string>{184,248}</string>
                <key>textureRect</key>
                <string>{{2603,1703},{184,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000934.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,200}</string>
                <key>textureRect</key>
                <string>{{3029,503},{240,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu007/00000935.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{3151,1205},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu007/00000942.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{3151,1531},{360,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>difu007-0.pvr.ccz</string>
            <key>size</key>
            <string>{4042,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06cdceb5476220ca3c3a8e73739c8d48:19e25be73f7bb5c63d10bf237bc674cd:20d39c006e5e523115b6dd43c58a1eb3$</string>
            <key>textureFileName</key>
            <string>difu007-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
