<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>difu011/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1211,1957},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1657,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1273,1957},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1719,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1335,1957},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1719,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1273,1957},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1657,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000012_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1781,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000012_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1843,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000012_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1905,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000012_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1967,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000012_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2029,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000012_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1967,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000012_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1905,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000012_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1843,1975},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2525,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2525,171},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2525,341},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2525,511},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2525,681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1591,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1689,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1787,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1885,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1983,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2081,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2179,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2277,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2375,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{1591,1975},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1603,1003},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,1000}</string>
                <key>spriteSourceSize</key>
                <string>{920,1000}</string>
                <key>textureRect</key>
                <string>{{1603,1},{920,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,580}</string>
                <key>spriteSourceSize</key>
                <string>{1600,580}</string>
                <key>textureRect</key>
                <string>{{1,903},{1600,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000872.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{2091,1975},{52,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu011/00000873.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1459,1699},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000877.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,228}</string>
                <key>spriteSourceSize</key>
                <string>{268,228}</string>
                <key>textureRect</key>
                <string>{{703,1815},{268,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000878.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,140}</string>
                <key>spriteSourceSize</key>
                <string>{372,140}</string>
                <key>textureRect</key>
                <string>{{1,1847},{372,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{1211,1787},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,236}</string>
                <key>spriteSourceSize</key>
                <string>{204,236}</string>
                <key>textureRect</key>
                <string>{{973,1815},{204,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu011/00000883.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,132}</string>
                <key>spriteSourceSize</key>
                <string>{12,132}</string>
                <key>textureRect</key>
                <string>{{1,1989},{12,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu011/00000884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{2157,1975},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,140}</string>
                <key>spriteSourceSize</key>
                <string>{108,140}</string>
                <key>textureRect</key>
                <string>{{2473,1805},{108,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000886.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,168}</string>
                <key>spriteSourceSize</key>
                <string>{88,168}</string>
                <key>textureRect</key>
                <string>{{613,1847},{88,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000887.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,300}</string>
                <key>spriteSourceSize</key>
                <string>{288,300}</string>
                <key>textureRect</key>
                <string>{{1169,1485},{288,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000888.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,112}</string>
                <key>spriteSourceSize</key>
                <string>{212,112}</string>
                <key>textureRect</key>
                <string>{{1459,1485},{212,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu011/00000889.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,92}</string>
                <key>spriteSourceSize</key>
                <string>{120,92}</string>
                <key>textureRect</key>
                <string>{{2525,851},{120,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu011/00000891.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{156,236}</string>
                <key>textureRect</key>
                <string>{{375,1847},{156,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu011/00000892.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,360}</string>
                <key>textureRect</key>
                <string>{{1,1485},{700,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu011/00000893.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{1421,1787},{208,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu011/00000894.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,464}</string>
                <key>spriteSourceSize</key>
                <string>{328,464}</string>
                <key>textureRect</key>
                <string>{{703,1485},{328,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>difu011-0.pvr.ccz</string>
            <key>size</key>
            <string>{2622,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b7b80718c174c242ccb9ab4221a5f03:38f34083e7b48da92785b0062c22158f:9a75d11c2090104031272829377f1b9c$</string>
            <key>textureFileName</key>
            <string>difu011-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
