<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>difu019/00000009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{2003,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001419.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{3505,1},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001421.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,96}</string>
                <key>spriteSourceSize</key>
                <string>{296,96}</string>
                <key>textureRect</key>
                <string>{{799,3885},{296,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001423_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1399,3951},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001423_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1461,3951},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001423_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1523,3951},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001423_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1585,3951},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001423_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1647,3951},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001423_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1709,3951},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001423_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1743,3951},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001423_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1777,3951},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001423_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1811,3959},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001423_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1873,3959},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001423_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1811,3993},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001423_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1399,3951},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001423_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1907,3959},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001423_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1941,3959},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001423_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1845,4021},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1907,4021},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1969,4021},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001424_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1399,3985},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1325,4005},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001424_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1359,4005},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001424_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1235,4017},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1235,4051},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1461,3985},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1523,3985},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1585,3985},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1647,3985},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001424_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1907,4021},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1681,4013},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001424_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1743,4013},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001424_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1777,4013},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001426.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{796,140}</string>
                <key>spriteSourceSize</key>
                <string>{796,140}</string>
                <key>textureRect</key>
                <string>{{1,3885},{796,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001427_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{1087,4015},{52,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001427_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{1161,4015},{52,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001427_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{1325,3951},{52,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001430_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{799,3983},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{873,3983},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{947,3983},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1021,3983},{72,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001430_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1251,3885},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1325,3885},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1399,3885},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1473,3885},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1547,3885},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1621,3885},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1695,3885},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1769,3885},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001430_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1843,3885},{72,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001430_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1909,3885},{72,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu019/00001430_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1251,3951},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001432.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,880}</string>
                <key>spriteSourceSize</key>
                <string>{2000,880}</string>
                <key>textureRect</key>
                <string>{{1,3003},{2000,880}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001434.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,880}</string>
                <key>spriteSourceSize</key>
                <string>{2000,880}</string>
                <key>textureRect</key>
                <string>{{2003,3203},{2000,880}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001435.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,128}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{1097,3885},{152,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001436.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,3000}</string>
                <key>spriteSourceSize</key>
                <string>{2000,3000}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,3000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>difu019-0.pvr.ccz</string>
            <key>size</key>
            <string>{4004,4084}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c12ef50077e0c529842a19b01fc5995:772fbb7165555d7bff6f51d5d89bb8f7:b64aab2e89f8d1f98a3b876fb715917f$</string>
            <key>textureFileName</key>
            <string>difu019-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
