<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>difu019/00001418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,571},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001420.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1173},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu019/00001422.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,672}</string>
                <key>spriteSourceSize</key>
                <string>{568,672}</string>
                <key>textureRect</key>
                <string>{{1,1},{568,672}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>difu019-2.pvr.ccz</string>
            <key>size</key>
            <string>{802,1774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c12ef50077e0c529842a19b01fc5995:772fbb7165555d7bff6f51d5d89bb8f7:b64aab2e89f8d1f98a3b876fb715917f$</string>
            <key>textureFileName</key>
            <string>difu019-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
