<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>difu016/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1693,801},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1693,863},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1877,873},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1523,899},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1585,899},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1523,899},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1877,873},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1693,863},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000012_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1939,907},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000012_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2001,907},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000012_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2063,907},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000012_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2125,907},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000012_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2187,907},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000012_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2125,907},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000012_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2063,907},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000012_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2001,907},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{987,697},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1085,697},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{711,789},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{881,789},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1411,583},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,703},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1769,703},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1867,703},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1183,753},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1353,753},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1523,801},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1183,851},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1353,851},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{979,867},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{783,887},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,580}</string>
                <key>spriteSourceSize</key>
                <string>{1600,580}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000872.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{1,913},{52,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000873.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{677,887},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000877.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,228}</string>
                <key>spriteSourceSize</key>
                <string>{268,228}</string>
                <key>textureRect</key>
                <string>{{1965,677},{268,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000878.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,140}</string>
                <key>spriteSourceSize</key>
                <string>{372,140}</string>
                <key>textureRect</key>
                <string>{{1965,1},{372,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000879.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,172}</string>
                <key>spriteSourceSize</key>
                <string>{280,172}</string>
                <key>textureRect</key>
                <string>{{467,583},{280,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{467,757},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,236}</string>
                <key>spriteSourceSize</key>
                <string>{204,236}</string>
                <key>textureRect</key>
                <string>{{749,583},{204,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000882.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{677,757},{32,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000883.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,132}</string>
                <key>spriteSourceSize</key>
                <string>{12,132}</string>
                <key>textureRect</key>
                <string>{{2249,239},{12,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{67,913},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,140}</string>
                <key>spriteSourceSize</key>
                <string>{108,140}</string>
                <key>textureRect</key>
                <string>{{2107,239},{108,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000886.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,168}</string>
                <key>spriteSourceSize</key>
                <string>{88,168}</string>
                <key>textureRect</key>
                <string>{{1509,583},{88,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000887.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,300}</string>
                <key>spriteSourceSize</key>
                <string>{288,300}</string>
                <key>textureRect</key>
                <string>{{1965,375},{288,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000888.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,112}</string>
                <key>spriteSourceSize</key>
                <string>{212,112}</string>
                <key>textureRect</key>
                <string>{{987,583},{212,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000889.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,92}</string>
                <key>spriteSourceSize</key>
                <string>{120,92}</string>
                <key>textureRect</key>
                <string>{{1755,873},{120,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000891.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{156,236}</string>
                <key>textureRect</key>
                <string>{{2107,1},{156,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000892.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,360}</string>
                <key>textureRect</key>
                <string>{{1603,1},{700,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu016/00000893.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{1201,583},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu016/00000894.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,464}</string>
                <key>spriteSourceSize</key>
                <string>{328,464}</string>
                <key>textureRect</key>
                <string>{{1,583},{328,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>difu016-0.pvr.ccz</string>
            <key>size</key>
            <string>{2264,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ae05db2fb90c9d4c7be470b2d3809a:03f69c0d5339dbf5c5169f8283f68451:dcef5dadc2010f5688ed817a386381f5$</string>
            <key>textureFileName</key>
            <string>difu016-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
