<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>difu005/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2057,383},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1393,1917},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2077,1349},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2077,1519},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1673,1647},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1859,1627},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1555,1715},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1653,1745},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1653,1843},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1653,1941},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1823,1745},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1921,1725},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2019,1725},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1957,1895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1563,1885},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2117,1689},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2127,1847},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2117,1689},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2127,1847},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2061,749},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2061,907},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2151,749},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2151,907},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2149,1065},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000039_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1563,1885},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000882.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{941,2009},{32,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000883.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,132}</string>
                <key>spriteSourceSize</key>
                <string>{12,132}</string>
                <key>textureRect</key>
                <string>{{263,2015},{12,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{2175,1481},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000897.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1255,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000898_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,196}</string>
                <key>spriteSourceSize</key>
                <string>{800,196}</string>
                <key>textureRect</key>
                <string>{{1,1703},{800,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000899.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1252,500}</string>
                <key>spriteSourceSize</key>
                <string>{1252,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1252,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000900_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{803,1105},{800,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,600}</string>
                <key>spriteSourceSize</key>
                <string>{1024,600}</string>
                <key>textureRect</key>
                <string>{{1,503},{1024,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,596}</string>
                <key>spriteSourceSize</key>
                <string>{800,596}</string>
                <key>textureRect</key>
                <string>{{1,1105},{800,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{2175,1325},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,260}</string>
                <key>spriteSourceSize</key>
                <string>{144,260}</string>
                <key>textureRect</key>
                <string>{{1,1901},{144,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,200}</string>
                <key>spriteSourceSize</key>
                <string>{348,200}</string>
                <key>textureRect</key>
                <string>{{1205,1715},{348,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{2057,1},{380,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,108}</string>
                <key>spriteSourceSize</key>
                <string>{264,108}</string>
                <key>textureRect</key>
                <string>{{1987,483},{264,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{1567,1413},{264,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{2043,1083},{264,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1841,1083},{300,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,420}</string>
                <key>spriteSourceSize</key>
                <string>{292,420}</string>
                <key>textureRect</key>
                <string>{{1373,793},{292,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{2097,683},{116,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,232}</string>
                <key>spriteSourceSize</key>
                <string>{136,232}</string>
                <key>textureRect</key>
                <string>{{707,1907},{136,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{264,288}</string>
                <key>textureRect</key>
                <string>{{1795,793},{264,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000917.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,308}</string>
                <key>spriteSourceSize</key>
                <string>{612,308}</string>
                <key>textureRect</key>
                <string>{{1373,483},{612,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{144,100}</string>
                <key>textureRect</key>
                <string>{{605,1901},{144,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,176}</string>
                <key>spriteSourceSize</key>
                <string>{104,176}</string>
                <key>textureRect</key>
                <string>{{1027,993},{104,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,488}</string>
                <key>spriteSourceSize</key>
                <string>{344,488}</string>
                <key>textureRect</key>
                <string>{{1027,503},{344,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000922.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{941,1907},{224,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000923.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,104}</string>
                <key>textureRect</key>
                <string>{{2097,481},{200,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000925.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,308}</string>
                <key>spriteSourceSize</key>
                <string>{232,308}</string>
                <key>textureRect</key>
                <string>{{1607,1087},{232,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000926.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{2149,1223},{100,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000928.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{2175,1407},{72,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000929.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{1205,1413},{360,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000930.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{1957,1993},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000931.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,248}</string>
                <key>spriteSourceSize</key>
                <string>{184,248}</string>
                <key>textureRect</key>
                <string>{{1673,1397},{184,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000932.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,340}</string>
                <key>spriteSourceSize</key>
                <string>{112,340}</string>
                <key>textureRect</key>
                <string>{{263,1901},{112,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000933.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,216}</string>
                <key>spriteSourceSize</key>
                <string>{240,216}</string>
                <key>textureRect</key>
                <string>{{1859,1385},{240,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu005/00000935.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{1205,1087},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000939.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{2039,1993},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000940.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{1167,1917},{224,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000945.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{1205,993},{132,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu005/00000946.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,132}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{1823,1915},{124,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>difu005-0.pvr.ccz</string>
            <key>size</key>
            <string>{2258,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6739c14740cab4f87e2eaf3604968b:dcafa449f1cc75303dcced48fae8dc2f:bfc27412e75596dc71df6cc922bffbc5$</string>
            <key>textureFileName</key>
            <string>difu005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
