<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>difu003/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{357,1857},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{455,1857},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{553,1857},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{651,1857},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{749,1857},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{847,1857},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{945,1857},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,999},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,1097},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,1195},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2131,923},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2131,1021},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2131,1119},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000039_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1043,1857},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000039_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1133,1857},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000039_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1043,1857},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000039_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1133,1857},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000039_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1223,1857},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000039_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1931,1475},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000039_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2107,1557},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000039_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{1931,1565},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000039_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2107,1761},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000039_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2131,1119},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000882.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{1007,1205},{32,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000883.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,132}</string>
                <key>spriteSourceSize</key>
                <string>{12,132}</string>
                <key>textureRect</key>
                <string>{{357,2027},{12,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{957,1205},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000897.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1101,1},{800,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000898_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,196}</string>
                <key>spriteSourceSize</key>
                <string>{800,196}</string>
                <key>textureRect</key>
                <string>{{1583,1},{800,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000899.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1252,500}</string>
                <key>spriteSourceSize</key>
                <string>{1252,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1252,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000900_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{797,803},{800,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,600}</string>
                <key>spriteSourceSize</key>
                <string>{1024,600}</string>
                <key>textureRect</key>
                <string>{{1,1255},{1024,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,596}</string>
                <key>spriteSourceSize</key>
                <string>{800,596}</string>
                <key>textureRect</key>
                <string>{{503,1},{800,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1027,1239},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,260}</string>
                <key>spriteSourceSize</key>
                <string>{144,260}</string>
                <key>textureRect</key>
                <string>{{1759,1785},{144,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,200}</string>
                <key>spriteSourceSize</key>
                <string>{348,200}</string>
                <key>textureRect</key>
                <string>{{1027,1507},{348,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1781,673},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,332}</string>
                <key>spriteSourceSize</key>
                <string>{360,332}</string>
                <key>textureRect</key>
                <string>{{1769,875},{360,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,108}</string>
                <key>spriteSourceSize</key>
                <string>{264,108}</string>
                <key>textureRect</key>
                <string>{{1887,1209},{264,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{1931,1655},{264,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,104}</string>
                <key>spriteSourceSize</key>
                <string>{264,104}</string>
                <key>textureRect</key>
                <string>{{2197,1647},{264,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1463,1507},{300,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,420}</string>
                <key>spriteSourceSize</key>
                <string>{292,420}</string>
                <key>textureRect</key>
                <string>{{503,803},{292,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,232}</string>
                <key>spriteSourceSize</key>
                <string>{136,232}</string>
                <key>textureRect</key>
                <string>{{2183,347},{136,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000915.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,200}</string>
                <key>textureRect</key>
                <string>{{1905,1785},{240,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{264,288}</string>
                <key>textureRect</key>
                <string>{{1665,1495},{264,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{144,100}</string>
                <key>textureRect</key>
                <string>{{2107,1919},{144,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,176}</string>
                <key>spriteSourceSize</key>
                <string>{104,176}</string>
                <key>textureRect</key>
                <string>{{251,1857},{104,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,488}</string>
                <key>spriteSourceSize</key>
                <string>{344,488}</string>
                <key>textureRect</key>
                <string>{{1781,1},{344,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000922.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{1313,1817},{224,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000923.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,104}</string>
                <key>textureRect</key>
                <string>{{2107,1451},{200,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000925.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,308}</string>
                <key>spriteSourceSize</key>
                <string>{232,308}</string>
                <key>textureRect</key>
                <string>{{1229,1507},{232,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000930.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{797,1205},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000931.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,248}</string>
                <key>spriteSourceSize</key>
                <string>{184,248}</string>
                <key>textureRect</key>
                <string>{{1,1857},{184,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000932.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,340}</string>
                <key>spriteSourceSize</key>
                <string>{112,340}</string>
                <key>textureRect</key>
                <string>{{2183,581},{112,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000933.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,216}</string>
                <key>spriteSourceSize</key>
                <string>{240,216}</string>
                <key>textureRect</key>
                <string>{{1517,1809},{240,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000934.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,200}</string>
                <key>textureRect</key>
                <string>{{2107,1209},{240,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000935.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{1781,347},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000936.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,108}</string>
                <key>spriteSourceSize</key>
                <string>{264,108}</string>
                <key>textureRect</key>
                <string>{{1997,1209},{264,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000938.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,288}</string>
                <key>spriteSourceSize</key>
                <string>{112,288}</string>
                <key>textureRect</key>
                <string>{{1471,1205},{112,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000939.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{879,1205},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000940.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,100}</string>
                <key>spriteSourceSize</key>
                <string>{224,100}</string>
                <key>textureRect</key>
                <string>{{1415,1817},{224,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difu003/00000942.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{1109,1205},{360,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difu003/00000944.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1585,1293},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>difu003-0.pvr.ccz</string>
            <key>size</key>
            <string>{2320,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2df13b534e92f5f453c47d6dcf03043:061ef635060cd5f4f71211fb2c67581f:27d8c7b791b86c9060fbb9af78b8e860$</string>
            <key>textureFileName</key>
            <string>difu003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
