<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>donghai_stage003/00001825.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1600}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>donghai_stage003-2.pvr.ccz</string>
            <key>size</key>
            <string>{3202,1602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6144f7a696d10ba596e092dca48e8147:af12714b555ad71a5c3cce032493326d:6bd1a6f2f8ebc846871188fcf5ee6026$</string>
            <key>textureFileName</key>
            <string>donghai_stage003-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
