<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>donghai_stage003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1711,3807},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3353,3203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3855,3307},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3855,3477},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3189,3447},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3855,3647},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3249,3617},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3253,3787},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3351,3781},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3449,3781},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3547,3781},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3645,3781},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3743,3781},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1809,3909},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{3353,3307},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1,3587},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2527,3789},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{1429,3807},{280,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{3953,3429},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1087,3807},{180,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{563,3587},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001716.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{2627,3205},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{3953,3307},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001719_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{3189,3205},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{3271,3203},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{3011,3789},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001730.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2769,3789},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001756_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{785,3869},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001756_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3523,3203},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001756_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3953,3511},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001756_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1809,3807},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001756_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1979,3909},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,100}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{563,3869},{220,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001764.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,160}</string>
                <key>spriteSourceSize</key>
                <string>{360,160}</string>
                <key>textureRect</key>
                <string>{{925,3587},{360,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001765_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{563,3971},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001765_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{2527,3747},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1103,3205},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001807_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,540}</string>
                <key>spriteSourceSize</key>
                <string>{720,540}</string>
                <key>textureRect</key>
                <string>{{1905,3205},{720,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,620}</string>
                <key>spriteSourceSize</key>
                <string>{160,620}</string>
                <key>textureRect</key>
                <string>{{1905,3747},{160,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{3841,3817},{160,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001812_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,448}</string>
                <key>spriteSourceSize</key>
                <string>{3200,448}</string>
                <key>textureRect</key>
                <string>{{3203,1},{3200,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001818.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1600}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001820.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,620}</string>
                <key>spriteSourceSize</key>
                <string>{160,620}</string>
                <key>textureRect</key>
                <string>{{2627,3627},{160,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001821_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,380}</string>
                <key>spriteSourceSize</key>
                <string>{1100,380}</string>
                <key>textureRect</key>
                <string>{{3653,1},{1100,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001821_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,380}</string>
                <key>spriteSourceSize</key>
                <string>{1100,380}</string>
                <key>textureRect</key>
                <string>{{3653,1103},{1100,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001821_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,380}</string>
                <key>spriteSourceSize</key>
                <string>{1100,380}</string>
                <key>textureRect</key>
                <string>{{3653,2205},{1100,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001821_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,380}</string>
                <key>spriteSourceSize</key>
                <string>{1100,380}</string>
                <key>textureRect</key>
                <string>{{1,3205},{1100,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001821_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,380}</string>
                <key>spriteSourceSize</key>
                <string>{1100,380}</string>
                <key>textureRect</key>
                <string>{{3653,2205},{1100,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001821_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,380}</string>
                <key>spriteSourceSize</key>
                <string>{1100,380}</string>
                <key>textureRect</key>
                <string>{{3653,1103},{1100,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001822.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1600}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1600}</string>
                <key>textureRect</key>
                <string>{{1,1603},{3200,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>donghai_stage003-0.pvr.ccz</string>
            <key>size</key>
            <string>{4034,4008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6144f7a696d10ba596e092dca48e8147:af12714b555ad71a5c3cce032493326d:6bd1a6f2f8ebc846871188fcf5ee6026$</string>
            <key>textureFileName</key>
            <string>donghai_stage003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
