<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>donghai_stage003/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1449,3687},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{3493,3133},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{3493,3415},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2609,3607},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2951,3607},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{3293,3697},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2951,3607},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2609,3607},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{2107,3205},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1831,3687},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001714_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1,3687},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001714_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{363,3687},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001714_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{725,3687},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001714_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1087,3687},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001714_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{725,3687},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001714_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{363,3687},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,3205},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001721_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{3203,2169},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001721_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{703,3205},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001721_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{3203,2651},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001721_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1405,3205},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001721_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{3203,2651},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001721_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{703,3205},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001735.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{3635,3697},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001755.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{2609,3205},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,380}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{3111,3205},{380,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001807_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,540}</string>
                <key>spriteSourceSize</key>
                <string>{720,540}</string>
                <key>textureRect</key>
                <string>{{3203,1},{720,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001807_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,540}</string>
                <key>spriteSourceSize</key>
                <string>{720,540}</string>
                <key>textureRect</key>
                <string>{{3203,543},{720,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001807_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,540}</string>
                <key>spriteSourceSize</key>
                <string>{720,540}</string>
                <key>textureRect</key>
                <string>{{3203,1085},{720,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001807_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,540}</string>
                <key>spriteSourceSize</key>
                <string>{720,540}</string>
                <key>textureRect</key>
                <string>{{3203,543},{720,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001807_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,540}</string>
                <key>spriteSourceSize</key>
                <string>{720,540}</string>
                <key>textureRect</key>
                <string>{{3203,1},{720,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,540}</string>
                <key>spriteSourceSize</key>
                <string>{720,540}</string>
                <key>textureRect</key>
                <string>{{3203,1627},{720,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001819.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,380}</string>
                <key>spriteSourceSize</key>
                <string>{240,380}</string>
                <key>textureRect</key>
                <string>{{2213,3679},{240,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>donghai_stage003/00001823.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1600}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage003/00001824.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1600}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1600}</string>
                <key>textureRect</key>
                <string>{{1,1603},{3200,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>donghai_stage003-1.pvr.ccz</string>
            <key>size</key>
            <string>{3924,3978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6144f7a696d10ba596e092dca48e8147:af12714b555ad71a5c3cce032493326d:6bd1a6f2f8ebc846871188fcf5ee6026$</string>
            <key>textureFileName</key>
            <string>donghai_stage003-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
