<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>donghai_stage001/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage001/00001751_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{243,1},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage001/00001751_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{465,1},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage001/00001751_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{687,1},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghai_stage001/00001759_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{909,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>donghai_stage001-1.pvr.ccz</string>
            <key>size</key>
            <string>{1110,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49026ccba7dfc3af8c521ae5039fc0c4:ae17c92414f3ac28514da7c30295c45a:fad6553b03d5efa8b890d3ec86755987$</string>
            <key>textureFileName</key>
            <string>donghai_stage001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
