<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangcun_stage001/00000240_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3205,1},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3205,347},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3435,1},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3205,693},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3435,347},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3205,1039},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3435,693},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3205,1},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3205,347},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3435,1},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3205,693},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3435,347},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{3205,1039},{228,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,1645},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,1799},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,1953},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,2107},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,1645},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,1803},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,1961},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,2119},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,1645},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3607,2273},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,1799},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,1799},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,1953},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,2107},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,1645},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,1803},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,1961},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,1953},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,2107},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,1645},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,1803},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,1961},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000241_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3565,2119},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000241_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{3407,1645},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,1385},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3435,1039},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,1587},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,1789},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,1991},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,2193},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3435,1241},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3407,1443},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,1385},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3435,1039},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,1587},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,1789},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,1991},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3205,2193},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3435,1241},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,1203},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,2405},{1600,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000249.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1203,2405},{1600,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000251.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1603,1203},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{2405,2405},{1600,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fangcun_stage001-1.pvr.ccz</string>
            <key>size</key>
            <string>{3760,4006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7eddff4e10fea4d1c806f147d7d6351:a1d3c526bf7508d28a485d7291ef99ad:f16285fbf9d2b43bcae1c50eac9c7f7c$</string>
            <key>textureFileName</key>
            <string>fangcun_stage001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
