<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangcun_stage001/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{1,3379},{800,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000233_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,216}</string>
                <key>spriteSourceSize</key>
                <string>{440,216}</string>
                <key>textureRect</key>
                <string>{{803,3767},{440,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000234_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{888,412}</string>
                <key>spriteSourceSize</key>
                <string>{888,412}</string>
                <key>textureRect</key>
                <string>{{1,2965},{888,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000235_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{1245,3767},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000235_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{1245,3837},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000235_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{1245,3907},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000235_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{1245,3977},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000235_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{803,3379},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000235_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{803,3449},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000235_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{803,3519},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1363,1603},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000237.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1363,2805},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{1413,1565},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{803,3643},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000240_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{1,3851},{228,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000240_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{347,3851},{228,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000240_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{1,3851},{228,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000240_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{347,3851},{228,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000240_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,344}</string>
                <key>spriteSourceSize</key>
                <string>{228,344}</string>
                <key>textureRect</key>
                <string>{{1,3851},{228,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000242_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1363,1363},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1363,1363},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000242_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1363,1363},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{803,3589},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{36,48}</string>
                <key>textureRect</key>
                <string>{{1363,1565},{36,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000247.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1360}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1360}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,1360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000253.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1360}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1360}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1600,1360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00000256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1360}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1360}</string>
                <key>textureRect</key>
                <string>{{1,1363},{1600,1360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00001866.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,380}</string>
                <key>spriteSourceSize</key>
                <string>{800,380}</string>
                <key>textureRect</key>
                <string>{{891,2965},{800,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangcun_stage001/00001867.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,228}</string>
                <key>spriteSourceSize</key>
                <string>{800,228}</string>
                <key>textureRect</key>
                <string>{{1,3621},{800,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fangcun_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{2964,4080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7eddff4e10fea4d1c806f147d7d6351:a1d3c526bf7508d28a485d7291ef99ad:f16285fbf9d2b43bcae1c50eac9c7f7c$</string>
            <key>textureFileName</key>
            <string>fangcun_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
