<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangcun_stage001/00000254.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangcun_stage001/00000255.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fangcun_stage001-2.pvr.ccz</string>
            <key>size</key>
            <string>{3204,1202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7eddff4e10fea4d1c806f147d7d6351:a1d3c526bf7508d28a485d7291ef99ad:f16285fbf9d2b43bcae1c50eac9c7f7c$</string>
            <key>textureFileName</key>
            <string>fangcun_stage001-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
