<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaolao_stage001/00000039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2455},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2545},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2635},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2545},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2635},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2725},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2815},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2905},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2995},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,3085},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000039_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{88,156}</string>
                <key>textureRect</key>
                <string>{{2611,2455},{88,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2440,900}</string>
                <key>spriteSourceSize</key>
                <string>{2440,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{2440,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,903},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,1001},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3609,1099},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2611,3175},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3193,3883},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3291,3883},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3321,3605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3321,3775},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3419,3605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3389,3873},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3487,3873},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3491,3775},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3517,3605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3615,3605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000060_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2577,3991},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,903},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000257.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,844}</string>
                <key>spriteSourceSize</key>
                <string>{1016,844}</string>
                <key>textureRect</key>
                <string>{{1765,2459},{1016,844}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000258_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1281,903},{1024,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000259_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{995,2503},{1024,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000260_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{2051,903},{1024,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000261.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,624}</string>
                <key>spriteSourceSize</key>
                <string>{528,624}</string>
                <key>textureRect</key>
                <string>{{1557,1929},{528,624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,188}</string>
                <key>spriteSourceSize</key>
                <string>{200,188}</string>
                <key>textureRect</key>
                <string>{{2991,3895},{200,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000263.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,288}</string>
                <key>spriteSourceSize</key>
                <string>{464,288}</string>
                <key>textureRect</key>
                <string>{{3309,2379},{464,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,88}</string>
                <key>spriteSourceSize</key>
                <string>{132,88}</string>
                <key>textureRect</key>
                <string>{{3661,3775},{132,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000265.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,644}</string>
                <key>spriteSourceSize</key>
                <string>{492,644}</string>
                <key>textureRect</key>
                <string>{{3287,2669},{492,644}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000266.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,624}</string>
                <key>spriteSourceSize</key>
                <string>{508,624}</string>
                <key>textureRect</key>
                <string>{{2777,2455},{508,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000267.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,628}</string>
                <key>spriteSourceSize</key>
                <string>{440,628}</string>
                <key>textureRect</key>
                <string>{{3331,1463},{440,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000268.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,636}</string>
                <key>spriteSourceSize</key>
                <string>{528,636}</string>
                <key>textureRect</key>
                <string>{{967,3539},{528,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000269.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,508}</string>
                <key>spriteSourceSize</key>
                <string>{676,508}</string>
                <key>textureRect</key>
                <string>{{2821,1197},{676,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000270.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,428}</string>
                <key>spriteSourceSize</key>
                <string>{284,428}</string>
                <key>textureRect</key>
                <string>{{3317,2093},{284,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000271.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{3693,203},{116,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,228}</string>
                <key>spriteSourceSize</key>
                <string>{272,228}</string>
                <key>textureRect</key>
                <string>{{3091,3609},{272,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000273.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,116}</string>
                <key>spriteSourceSize</key>
                <string>{256,116}</string>
                <key>textureRect</key>
                <string>{{2611,3347},{256,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000274.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,368}</string>
                <key>spriteSourceSize</key>
                <string>{516,368}</string>
                <key>textureRect</key>
                <string>{{2135,3477},{516,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1524,308}</string>
                <key>spriteSourceSize</key>
                <string>{1524,308}</string>
                <key>textureRect</key>
                <string>{{291,2505},{1524,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000277.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{2869,3347},{208,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000278.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,112}</string>
                <key>spriteSourceSize</key>
                <string>{212,112}</string>
                <key>textureRect</key>
                <string>{{2777,3979},{212,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000279.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,364}</string>
                <key>spriteSourceSize</key>
                <string>{548,364}</string>
                <key>textureRect</key>
                <string>{{601,3539},{548,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,556}</string>
                <key>spriteSourceSize</key>
                <string>{528,556}</string>
                <key>textureRect</key>
                <string>{{1605,3529},{528,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,68}</string>
                <key>textureRect</key>
                <string>{{3693,1},{200,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000282.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,476}</string>
                <key>spriteSourceSize</key>
                <string>{420,476}</string>
                <key>textureRect</key>
                <string>{{2839,1875},{420,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000283.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,96}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{2727,3465},{136,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000284.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,456}</string>
                <key>spriteSourceSize</key>
                <string>{524,456}</string>
                <key>textureRect</key>
                <string>{{2381,1929},{524,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000285.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,264}</string>
                <key>spriteSourceSize</key>
                <string>{444,264}</string>
                <key>textureRect</key>
                <string>{{3331,1197},{444,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000286.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,96}</string>
                <key>spriteSourceSize</key>
                <string>{440,96}</string>
                <key>textureRect</key>
                <string>{{2135,3995},{440,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1248,900}</string>
                <key>spriteSourceSize</key>
                <string>{1248,900}</string>
                <key>textureRect</key>
                <string>{{2443,1},{1248,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000288.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{2679,3991},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,56}</string>
                <key>spriteSourceSize</key>
                <string>{184,56}</string>
                <key>textureRect</key>
                <string>{{3693,321},{184,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000291.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,236}</string>
                <key>spriteSourceSize</key>
                <string>{768,236}</string>
                <key>textureRect</key>
                <string>{{2839,903},{768,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000292.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,372}</string>
                <key>spriteSourceSize</key>
                <string>{252,372}</string>
                <key>textureRect</key>
                <string>{{2727,3605},{252,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000295.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,132}</string>
                <key>textureRect</key>
                <string>{{2839,2297},{468,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000297.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,288}</string>
                <key>spriteSourceSize</key>
                <string>{1560,288}</string>
                <key>textureRect</key>
                <string>{{1,2505},{1560,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,284}</string>
                <key>spriteSourceSize</key>
                <string>{108,284}</string>
                <key>textureRect</key>
                <string>{{2981,3609},{108,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,652}</string>
                <key>spriteSourceSize</key>
                <string>{564,652}</string>
                <key>textureRect</key>
                <string>{{903,1937},{564,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,196}</string>
                <key>spriteSourceSize</key>
                <string>{528,196}</string>
                <key>textureRect</key>
                <string>{{2183,1929},{528,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,220}</string>
                <key>textureRect</key>
                <string>{{2505,3477},{512,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00000302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{2981,3347},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,264}</string>
                <key>spriteSourceSize</key>
                <string>{504,264}</string>
                <key>textureRect</key>
                <string>{{2777,3081},{504,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00000304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,288}</string>
                <key>spriteSourceSize</key>
                <string>{492,288}</string>
                <key>textureRect</key>
                <string>{{3283,3315},{492,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao_stage001/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{601,2505},{1032,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao_stage001/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{903,903},{1032,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gaolao_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3780,4092}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67d206c387813dcd9dfcb7d776b2768d:f5975d282857d17232c1b449a05708fe:3dac1f2548d30cba9802dc3e79e3e9fa$</string>
            <key>textureFileName</key>
            <string>gaolao_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
