<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaolao005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1563,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1563,99},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1563,197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1559,1063},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{811,3043},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1201,3395},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1201,3565},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1299,3395},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1299,3565},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1397,3395},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1397,3565},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1495,3395},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1495,3493},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1593,3493},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000259_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1401},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1448,336}</string>
                <key>spriteSourceSize</key>
                <string>{1448,336}</string>
                <key>textureRect</key>
                <string>{{1,291},{1448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00000302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{1451,295},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1657,2591},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{1685,635},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1685,557},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{811,2941},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{1559,1161},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1035,629},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,608}</string>
                <key>spriteSourceSize</key>
                <string>{512,608}</string>
                <key>textureRect</key>
                <string>{{591,3169},{512,608}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,656}</string>
                <key>spriteSourceSize</key>
                <string>{548,656}</string>
                <key>textureRect</key>
                <string>{{1027,2041},{548,656}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1201,3169},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00001135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,628}</string>
                <key>spriteSourceSize</key>
                <string>{576,628}</string>
                <key>textureRect</key>
                <string>{{1027,2591},{576,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1451,557},{504,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{705,2941},{208,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,112}</string>
                <key>spriteSourceSize</key>
                <string>{212,112}</string>
                <key>textureRect</key>
                <string>{{591,2941},{212,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001151_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,2171},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00001153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,288}</string>
                <key>spriteSourceSize</key>
                <string>{1560,288}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00001155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,588}</string>
                <key>spriteSourceSize</key>
                <string>{784,588}</string>
                <key>textureRect</key>
                <string>{{1,2941},{784,588}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1437,1063},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00001157.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,704}</string>
                <key>spriteSourceSize</key>
                <string>{808,704}</string>
                <key>textureRect</key>
                <string>{{1035,1231},{808,704}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao005/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{1,629},{1032,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao005/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1,1023},{1032,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gaolao005-0.pvr.ccz</string>
            <key>size</key>
            <string>{1752,3734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:477b8264cd991b8491583c1a5d105e90:7314fc47dc9f4e030218005b591ab6e5:44f8c4784e4dd7cf41b4e127d43e73fe$</string>
            <key>textureFileName</key>
            <string>gaolao005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
