<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaolao001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1403,291},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1151,2177},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{211,2749},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1931,1681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1749,2655},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1403,461},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1847,2655},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1321,2177},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1931,1851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1951,2021},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1853,2021},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1853,2191},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1951,2191},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1951,2361},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1448,336}</string>
                <key>spriteSourceSize</key>
                <string>{1448,336}</string>
                <key>textureRect</key>
                <string>{{1,697},{1448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00000297.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,288}</string>
                <key>spriteSourceSize</key>
                <string>{1560,288}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{1265,697},{960,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00000666_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,152}</string>
                <key>spriteSourceSize</key>
                <string>{1400,152}</string>
                <key>textureRect</key>
                <string>{{339,697},{1400,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00000667_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,404}</string>
                <key>spriteSourceSize</key>
                <string>{1400,404}</string>
                <key>textureRect</key>
                <string>{{1,291},{1400,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1853,2361},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1485,2015},{80,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{1501,291},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1485,2097},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{1265,1659},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1375,1659},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1,2147},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00001099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1403,631},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,608}</string>
                <key>spriteSourceSize</key>
                <string>{512,608}</string>
                <key>textureRect</key>
                <string>{{1033,2281},{512,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,656}</string>
                <key>spriteSourceSize</key>
                <string>{548,656}</string>
                <key>textureRect</key>
                <string>{{493,1731},{548,656}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00001130_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1547,2453},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001130_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1547,2655},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001130_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1749,2453},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001130_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1547,2655},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,304}</string>
                <key>spriteSourceSize</key>
                <string>{436,304}</string>
                <key>textureRect</key>
                <string>{{1547,2015},{436,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00001133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,316}</string>
                <key>spriteSourceSize</key>
                <string>{484,316}</string>
                <key>textureRect</key>
                <string>{{1563,1},{484,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1543,1455},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,628}</string>
                <key>spriteSourceSize</key>
                <string>{576,628}</string>
                <key>textureRect</key>
                <string>{{403,2281},{576,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00001136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1543,319},{504,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1543,553},{504,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{1,2749},{208,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{1543,787},{444,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{1543,1121},{444,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{1951,2531},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{1151,1731},{444,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00001144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{1485,1681},{444,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao001/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{493,697},{1032,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao001/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{887,697},{1032,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gaolao001-0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:610e49df7d8d497c3f0f423eb13a8acf:e4b8c4783553d87c7ccfe0cc68c19f4d:458f98b1fc329986332e8019a5adcbc8$</string>
            <key>textureFileName</key>
            <string>gaolao001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
