<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaolao102/00000259_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1111},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00000262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,188}</string>
                <key>spriteSourceSize</key>
                <string>{200,188}</string>
                <key>textureRect</key>
                <string>{{1133,2355},{200,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao102/00000264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,88}</string>
                <key>spriteSourceSize</key>
                <string>{132,88}</string>
                <key>textureRect</key>
                <string>{{1133,2557},{132,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00000279.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,364}</string>
                <key>spriteSourceSize</key>
                <string>{548,364}</string>
                <key>textureRect</key>
                <string>{{1027,1543},{548,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao102/00000294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1448,336}</string>
                <key>spriteSourceSize</key>
                <string>{1448,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{1448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00000302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{1027,2093},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{1883,1367},{108,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao102/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1035,339},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao102/00001099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1883,1305},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,440}</string>
                <key>spriteSourceSize</key>
                <string>{100,440}</string>
                <key>textureRect</key>
                <string>{{1323,2537},{100,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao102/00001114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1035,941},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao102/00001128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,608}</string>
                <key>spriteSourceSize</key>
                <string>{512,608}</string>
                <key>textureRect</key>
                <string>{{1451,1},{512,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1437,1079},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,628}</string>
                <key>spriteSourceSize</key>
                <string>{576,628}</string>
                <key>textureRect</key>
                <string>{{1393,1639},{576,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1437,611},{504,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1437,845},{504,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{1027,2355},{208,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao102/00001140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{1437,1305},{444,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001151_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1881},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001152_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1323,2355},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001152_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1765,2269},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001152_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1765,2451},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001152_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1765,2269},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{1,339},{1032,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao102/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1,733},{1032,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gaolao102-0.pvr.ccz</string>
            <key>size</key>
            <string>{1970,2650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:064707083549666567f838d8e160607b:9e588646ea7a01bd23a5de5d810ae6b4:f7c432cc57060070b14ca9e9a52eeba9$</string>
            <key>textureFileName</key>
            <string>gaolao102-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
