<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaolao004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2603,1819},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2773,1819},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2943,1819},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2873,1003},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2683,1101},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2683,1003},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2781,1101},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2879,1101},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2879,1199},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3183,1781},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3353,1455},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3353,1553},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3353,1651},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3353,1749},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000259_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1063,1},{1024,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,188}</string>
                <key>spriteSourceSize</key>
                <string>{200,188}</string>
                <key>textureRect</key>
                <string>{{2683,1273},{200,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00000279.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,364}</string>
                <key>spriteSourceSize</key>
                <string>{548,364}</string>
                <key>textureRect</key>
                <string>{{1451,1533},{548,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00000294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1448,336}</string>
                <key>spriteSourceSize</key>
                <string>{1448,336}</string>
                <key>textureRect</key>
                <string>{{1,1563},{1448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00000302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{3049,1479},{300,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{3523,1515},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{3535,1273},{80,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{3311,1455},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{3535,1437},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,456}</string>
                <key>spriteSourceSize</key>
                <string>{296,456}</string>
                <key>textureRect</key>
                <string>{{2385,1027},{296,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{3055,1273},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{3113,1781},{108,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{3523,1609},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{2001,1513},{600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{3535,1355},{80,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{291,1035},{524,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,608}</string>
                <key>spriteSourceSize</key>
                <string>{512,608}</string>
                <key>textureRect</key>
                <string>{{621,1035},{512,608}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,656}</string>
                <key>spriteSourceSize</key>
                <string>{548,656}</string>
                <key>textureRect</key>
                <string>{{3049,1},{548,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1933,1027},{484,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1231,1027},{504,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1465,1027},{504,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{2603,1485},{444,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{2603,1},{444,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{2603,335},{444,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{2603,669},{444,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{2159,1027},{484,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,612}</string>
                <key>spriteSourceSize</key>
                <string>{548,612}</string>
                <key>textureRect</key>
                <string>{{3049,659},{548,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001151_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1833,1},{1024,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001152_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{2873,1297},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001152_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{3157,1273},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001152_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{3353,1273},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001152_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{3157,1273},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao004/00001153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,288}</string>
                <key>spriteSourceSize</key>
                <string>{1560,288}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1699,1027},{504,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{291,1},{1032,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao004/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{685,1},{1032,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gaolao004-0.pvr.ccz</string>
            <key>size</key>
            <string>{3598,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6268632c2e7b8efeb772370a4c58ff8:f17fd3ebf31cee80ec7ca6eedacc6fd4:d5c7c28dd7ea9b0e31eb592b7ee713b3$</string>
            <key>textureFileName</key>
            <string>gaolao004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
