<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaolao003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1847,2157},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,2393},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1403,525},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1637,2263},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,2393},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,2393},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,2329},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{681,2329},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{851,2329},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1807,2327},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1103,2361},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1273,2361},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1443,2361},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1613,2361},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1524,308}</string>
                <key>spriteSourceSize</key>
                <string>{1524,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{1524,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00000294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1448,336}</string>
                <key>spriteSourceSize</key>
                <string>{1448,336}</string>
                <key>textureRect</key>
                <string>{{1,717},{1448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{1265,717},{960,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000666_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,152}</string>
                <key>spriteSourceSize</key>
                <string>{1400,152}</string>
                <key>textureRect</key>
                <string>{{339,717},{1400,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00000667_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,404}</string>
                <key>spriteSourceSize</key>
                <string>{1400,404}</string>
                <key>textureRect</key>
                <string>{{1,311},{1400,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{621,2427},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00001069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1877,1205},{80,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{1501,525},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1877,1287},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{1265,1679},{96,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{511,2427},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1543,1},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1021,2329},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00001103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{56,80}</string>
                <key>textureRect</key>
                <string>{{1021,2391},{56,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1543,603},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,608}</string>
                <key>spriteSourceSize</key>
                <string>{512,608}</string>
                <key>textureRect</key>
                <string>{{1123,1751},{512,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00001134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1,2167},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00001135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,628}</string>
                <key>spriteSourceSize</key>
                <string>{576,628}</string>
                <key>textureRect</key>
                <string>{{493,1751},{576,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1637,1651},{504,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{1637,2157},{208,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao003/00001140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{1543,1205},{444,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,112}</string>
                <key>spriteSourceSize</key>
                <string>{212,112}</string>
                <key>textureRect</key>
                <string>{{1403,311},{212,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{493,717},{1032,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao003/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{887,717},{1032,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gaolao003-0.pvr.ccz</string>
            <key>size</key>
            <string>{1944,2496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d784d5cec0a7059d2847898d350ed418:977761a34ecd4e4da96b352c2e8ccf59:b3384507c3ee4a2057c38bd0413c3426$</string>
            <key>textureFileName</key>
            <string>gaolao003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
