<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaolao002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,3129},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1403,525},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,3129},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,3127},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,3127},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{681,3127},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{851,3107},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1021,3107},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1191,3107},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1361,3107},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1531,3107},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1701,3107},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1765,1625},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1765,1795},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00000276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1524,308}</string>
                <key>spriteSourceSize</key>
                <string>{1524,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{1524,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00000290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,56}</string>
                <key>spriteSourceSize</key>
                <string>{184,56}</string>
                <key>textureRect</key>
                <string>{{1527,1035},{184,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00000294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1448,336}</string>
                <key>spriteSourceSize</key>
                <string>{1448,336}</string>
                <key>textureRect</key>
                <string>{{1,717},{1448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{1,2167},{960,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000666_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,152}</string>
                <key>spriteSourceSize</key>
                <string>{1400,152}</string>
                <key>textureRect</key>
                <string>{{339,717},{1400,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00000667_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,404}</string>
                <key>spriteSourceSize</key>
                <string>{1400,404}</string>
                <key>textureRect</key>
                <string>{{1,311},{1400,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1279,1625},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1471,2251},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00001128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,608}</string>
                <key>spriteSourceSize</key>
                <string>{512,608}</string>
                <key>textureRect</key>
                <string>{{1279,1111},{512,608}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00001129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,656}</string>
                <key>spriteSourceSize</key>
                <string>{548,656}</string>
                <key>textureRect</key>
                <string>{{493,1701},{548,656}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00001134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{893,2881},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00001135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,628}</string>
                <key>spriteSourceSize</key>
                <string>{576,628}</string>
                <key>textureRect</key>
                <string>{{893,2251},{576,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00001136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{279,2893},{504,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00001138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{785,2893},{208,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00001146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,112}</string>
                <key>spriteSourceSize</key>
                <string>{212,112}</string>
                <key>textureRect</key>
                <string>{{1403,311},{212,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00001147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,588}</string>
                <key>spriteSourceSize</key>
                <string>{784,588}</string>
                <key>textureRect</key>
                <string>{{493,1111},{784,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00001148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1379,2881},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00001149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,612}</string>
                <key>spriteSourceSize</key>
                <string>{548,612}</string>
                <key>textureRect</key>
                <string>{{1151,1701},{548,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao002/00001150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,640}</string>
                <key>spriteSourceSize</key>
                <string>{612,640}</string>
                <key>textureRect</key>
                <string>{{279,2251},{612,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{493,717},{1032,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao002/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{1527,1},{1032,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gaolao002-0.pvr.ccz</string>
            <key>size</key>
            <string>{1904,3226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba6e6cb2668cd6b95e24f66240295851:cb67be744adc9245f2e5974a9456b389:9cb7cfa8b0f11ef004039e060b95bbe6$</string>
            <key>textureFileName</key>
            <string>gaolao002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
