<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaolao103/00000259_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1111,1},{1024,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao103/00000290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,56}</string>
                <key>spriteSourceSize</key>
                <string>{184,56}</string>
                <key>textureRect</key>
                <string>{{83,1965},{184,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00000294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1448,336}</string>
                <key>spriteSourceSize</key>
                <string>{1448,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{1448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao103/00000302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{2027,1739},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{1543,1361},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{339,1035},{600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1,1965},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{941,1035},{600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,608}</string>
                <key>spriteSourceSize</key>
                <string>{512,608}</string>
                <key>textureRect</key>
                <string>{{1,1451},{512,608}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao103/00001130_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2651,593},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001130_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2651,795},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001130_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2651,997},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001130_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2651,795},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,304}</string>
                <key>spriteSourceSize</key>
                <string>{436,304}</string>
                <key>textureRect</key>
                <string>{{2027,1433},{436,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{2651,1},{484,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao103/00001135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,628}</string>
                <key>spriteSourceSize</key>
                <string>{576,628}</string>
                <key>textureRect</key>
                <string>{{1397,1437},{576,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao103/00001136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{1989,1199},{504,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,232}</string>
                <key>spriteSourceSize</key>
                <string>{504,232}</string>
                <key>textureRect</key>
                <string>{{2329,1739},{504,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{2651,487},{208,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{1543,1027},{444,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,332}</string>
                <key>spriteSourceSize</key>
                <string>{444,332}</string>
                <key>textureRect</key>
                <string>{{2495,1199},{444,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao103/00001151_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1881,1},{1024,768}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao103/00001155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,588}</string>
                <key>spriteSourceSize</key>
                <string>{784,588}</string>
                <key>textureRect</key>
                <string>{{611,1437},{784,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001447.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{269,1965},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001448.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{307,1965},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaolao103/00001868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,392}</string>
                <key>spriteSourceSize</key>
                <string>{1032,392}</string>
                <key>textureRect</key>
                <string>{{339,1},{1032,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaolao103/00001869.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,376}</string>
                <key>spriteSourceSize</key>
                <string>{1032,376}</string>
                <key>textureRect</key>
                <string>{{733,1},{1032,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gaolao103-0.pvr.ccz</string>
            <key>size</key>
            <string>{2876,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2aef5baddcb386be3c36380326de57:f2f4a7af95994403ff2d69a17e37cb14:11a9a1f8c8d950e1a7169ef82500811d$</string>
            <key>textureFileName</key>
            <string>gaolao103-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
