<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanghan_stage001/00000103_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3583,1457},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000103_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3457,1961},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000103_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3583,1631},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000103_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3457,2135},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000103_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3583,1805},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000103_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3547,1979},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,360}</string>
                <key>spriteSourceSize</key>
                <string>{800,360}</string>
                <key>textureRect</key>
                <string>{{3205,1},{800,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000313_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3205,803},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3567,1},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3205,1189},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3331,803},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3567,387},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3205,803},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3567,1},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3205,1189},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3331,803},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3567,387},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3583,773},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3583,1115},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3583,773},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3583,1115},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3205,1575},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3331,1189},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3205,1961},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3331,1575},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3331,1961},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3457,803},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3457,1189},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3457,1575},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3331,1189},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3205,1961},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3331,1575},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3331,1961},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3457,803},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3457,1189},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3457,1575},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000316_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3205,1575},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000319_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3547,2153},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000319_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3637,1979},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000319_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3613,2153},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000319_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3547,2275},{64,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000319_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3607,2341},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000319_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3607,2463},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000319_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3607,2585},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000319_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3607,2707},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000323.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,1203},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000324.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,2405},{1600,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000325.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1203,2405},{1600,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000326.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000327.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1603,1203},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{2405,2405},{1600,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guanghan_stage001-1.pvr.ccz</string>
            <key>size</key>
            <string>{3712,4006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e130a429531ca83b8579caf299945b79:6549919d4caf166a9196e1b810f777ef:898de6852a22fb10b6a1ededba78b835$</string>
            <key>textureFileName</key>
            <string>guanghan_stage001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
