<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanjiang_stage001/00000103_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1231,3821},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1231,3911},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1405,3821},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000103_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3319,2407},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000103_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3319,2581},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000103_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3319,2755},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000103_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3319,2929},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000103_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1495,3821},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000103_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1585,3909},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1759,3909},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1933,3909},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2107,3909},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2281,3909},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2455,3909},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2629,3909},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2803,3909},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2977,3909},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000103_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3019,3307},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000103_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3179,3307},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000103_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3269,3307},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,360}</string>
                <key>spriteSourceSize</key>
                <string>{800,360}</string>
                <key>textureRect</key>
                <string>{{1,3607},{800,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{3205,1},{800,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000332.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1100}</string>
                <key>textureRect</key>
                <string>{{1603,2405},{1200,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000333_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,248}</string>
                <key>spriteSourceSize</key>
                <string>{900,248}</string>
                <key>textureRect</key>
                <string>{{2805,2405},{900,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000335_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3055,3207},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000335_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3185,3209},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000335_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3319,3103},{128,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000335_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3209,3481},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000335_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3209,3579},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000335_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3209,3677},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000336_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3209,3775},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000336_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3209,3873},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000336_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3339,3481},{128,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000336_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3339,3611},{128,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000336_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3339,3741},{128,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000336_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{3339,3871},{128,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000337.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,1203},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000339_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1604,400}</string>
                <key>spriteSourceSize</key>
                <string>{1604,400}</string>
                <key>textureRect</key>
                <string>{{1603,3507},{1604,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000340_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,212}</string>
                <key>spriteSourceSize</key>
                <string>{148,212}</string>
                <key>textureRect</key>
                <string>{{803,3607},{148,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000340_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,212}</string>
                <key>spriteSourceSize</key>
                <string>{148,212}</string>
                <key>textureRect</key>
                <string>{{2805,3307},{148,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000340_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,212}</string>
                <key>spriteSourceSize</key>
                <string>{148,212}</string>
                <key>textureRect</key>
                <string>{{953,3607},{148,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000340_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,212}</string>
                <key>spriteSourceSize</key>
                <string>{148,212}</string>
                <key>textureRect</key>
                <string>{{1103,3607},{148,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000340_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,212}</string>
                <key>spriteSourceSize</key>
                <string>{148,212}</string>
                <key>textureRect</key>
                <string>{{1253,3607},{148,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000340_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,212}</string>
                <key>spriteSourceSize</key>
                <string>{148,212}</string>
                <key>textureRect</key>
                <string>{{1403,3607},{148,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000340_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,212}</string>
                <key>spriteSourceSize</key>
                <string>{148,212}</string>
                <key>textureRect</key>
                <string>{{803,3821},{148,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000340_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,212}</string>
                <key>spriteSourceSize</key>
                <string>{148,212}</string>
                <key>textureRect</key>
                <string>{{1017,3821},{148,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000341.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,2405},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,140}</string>
                <key>spriteSourceSize</key>
                <string>{68,140}</string>
                <key>textureRect</key>
                <string>{{3109,3305},{68,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1603,1203},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanjiang_stage001/00000344_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3205,803},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000344_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3055,2405},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000344_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3271,803},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000344_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3121,2405},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000344_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3337,803},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000344_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3205,1605},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000344_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3271,1605},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000344_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3337,1605},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000344_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3187,2407},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanjiang_stage001/00000344_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{3253,2407},{800,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guanjiang_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3446,4000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d22277c390267169ec0ae1a362a2f332:6d8eae063ee7d9820337f69f833b1e02:4c48938540cabce1897b905a554cca00$</string>
            <key>textureFileName</key>
            <string>guanjiang_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
