<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanghan_stage001/00000103_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3807,3805},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000103_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3807,3979},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3897,3805},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000103_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{175,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{349,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{523,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{697,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{871,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1045,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1219,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1393,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1567,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000103_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1741,4007},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000305_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{3807,2201},{800,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000305_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{3807,3003},{800,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000307_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{3205,3409},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000308_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{2805,1603},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000309_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3205,2607},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000310_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,400}</string>
                <key>spriteSourceSize</key>
                <string>{1000,400}</string>
                <key>textureRect</key>
                <string>{{2805,2205},{1000,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,1603},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{1463,1203},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000313_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3607,2075},{124,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000313_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{2805,2607},{124,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000313_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{3607,2075},{124,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000313_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{2805,2607},{124,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000313_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,384}</string>
                <key>spriteSourceSize</key>
                <string>{124,384}</string>
                <key>textureRect</key>
                <string>{{1463,1203},{124,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1203,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{1203,1203},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{1333,1203},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3607,1603},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3607,1945},{128,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000315_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3737,1603},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3867,1603},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{1333,1203},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3607,1603},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3607,1945},{128,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000315_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3737,1603},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{3867,1603},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000315_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,340}</string>
                <key>spriteSourceSize</key>
                <string>{128,340}</string>
                <key>textureRect</key>
                <string>{{1203,1203},{128,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1603,1203},{1600,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1,2805},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000319_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3949,1945},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000319_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{2805,2733},{64,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000319_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{2927,2733},{64,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000319_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3049,2733},{64,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000319_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{1915,4007},{64,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000319_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{2037,4007},{64,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanghan_stage001/00000319_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{64,120}</string>
                <key>textureRect</key>
                <string>{{3949,1945},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{1603,2805},{1600,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanghan_stage001/00000321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1200}</string>
                <key>textureRect</key>
                <string>{{2805,1},{1600,1200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guanghan_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{4048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e130a429531ca83b8579caf299945b79:6549919d4caf166a9196e1b810f777ef:898de6852a22fb10b6a1ededba78b835$</string>
            <key>textureFileName</key>
            <string>guanghan_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
