<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haidi016/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{703,1053},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1287,1415},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{703,1223},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1287,1513},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1267,1611},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3249,1473},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3347,1471},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3445,1471},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1437,1689},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1607,1689},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1777,1689},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1947,1689},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2117,1689},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1045,1679},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{2067,933},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1505,933},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{3273,1209},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2745,1689},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{243,1697},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{405,1697},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{3203,1},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{3203,283},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2403,1435},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2907,1473},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{703,1415},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2907,1473},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2403,1435},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{2287,1689},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{2931,1291},{180,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{1867,1355},{272,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{2745,1435},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{3135,565},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001714_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{2931,929},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001714_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{3213,847},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001714_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1505,1355},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001714_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{2041,1407},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001714_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1505,1355},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001714_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{3213,847},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{2909,451},{224,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{3411,1641},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1053},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001721_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{803,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001721_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1505,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001721_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{2207,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001721_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{803,933},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001721_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{2207,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001721_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1505,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1,1697},{80,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{1045,1415},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{2569,933},{500,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001756_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3135,451},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001756_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3135,847},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001756_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{623,1535},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001756_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{623,1597},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001756_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{567,1697},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,100}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{1045,1577},{220,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,451},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,620}</string>
                <key>spriteSourceSize</key>
                <string>{160,620}</string>
                <key>textureRect</key>
                <string>{{1,1535},{160,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi016/00001811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{3249,1643},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi016/00001812_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,448}</string>
                <key>spriteSourceSize</key>
                <string>{3200,448}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>haidi016-0.pvr.ccz</string>
            <key>size</key>
            <string>{3544,1786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1141be3b48f49fd91eb29684996f2e61:b8724836b28bf8ffb2066cab1187e4f1:0d7de3ebb0e0c9521e15e4e1d6f6b66e$</string>
            <key>textureFileName</key>
            <string>haidi016-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
