<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haidi107/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{683,603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{683,773},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{683,943},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1319,1285},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1319,1455},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1253,1625},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1351,1625},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{565,2377},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{735,2377},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1329,2039},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1571,2203},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1851,2253},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1911,2081},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1851,2351},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{303,2091},{380,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001684.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{1427,2081},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001686.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{547,1113},{224,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{1,1617},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1485,1},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{1107,1797},{240,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{865,1869},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{547,1591},{280,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001695_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{803,1},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001695_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{803,355},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001695_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1,603},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001695_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{781,709},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001695_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1,603},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001695_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{803,355},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{565,2055},{440,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001697.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1669,2071},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001699_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1435,1267},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001699_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1,957},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001699_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1,1287},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001699_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{773,1285},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001699_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1,1287},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001699_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1,957},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{905,2377},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{1449,1597},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{911,1615},{180,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{749,1615},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,652}</string>
                <key>spriteSourceSize</key>
                <string>{220,652}</string>
                <key>textureRect</key>
                <string>{{781,1063},{220,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{547,957},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001719_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1951,1597},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001722.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1485,423},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1951,1839},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1007,2051},{440,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001725.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1463,845},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001727.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1,2091},{400,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001730.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1669,2253},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi107/00001734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,180}</string>
                <key>spriteSourceSize</key>
                <string>{360,180}</string>
                <key>textureRect</key>
                <string>{{503,1873},{360,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi107/00001735.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{1329,2209},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>haidi107-0.pvr.ccz</string>
            <key>size</key>
            <string>{2046,2494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d4583cc7c25517dba5bbec03babb810:e6a620b773f6edc12194ccd4b3d5d3f3:3e17943d5118e7c422c44ca370b8868f$</string>
            <key>textureFileName</key>
            <string>haidi107-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
