<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haidi004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1861,2757},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1861,2927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1861,3097},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{445,3375},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{615,3375},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{785,3375},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1881,839},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1881,1009},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1937,1179},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1937,1349},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1929,483},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1929,653},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1739,3301},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1837,3301},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{1153,845},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{451,2531},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1457,2531},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001697.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1517,2875},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{363,3203},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1755,757},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{363,3365},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1175,2889},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1295,3171},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1535,1685},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1535,1967},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1515,2249},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1535,1967},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1535,1685},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1153,2345},{180,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{1755,483},{272,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1699,2531},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1,3203},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001714_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1153,2063},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001714_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1655,1323},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001714_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1175,2527},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001714_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1013,3171},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001714_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1175,2527},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001714_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1655,1323},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{1655,845},{224,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1937,1519},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,603},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001721_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1253,1},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001721_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001721_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001721_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,2049},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001721_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001721_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1153,603},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001725.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{451,2953},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{1457,2713},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001733.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1253,483},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001736_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1699,2531},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001736_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1699,2785},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001736_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1857,2249},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001736_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1861,2503},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001736_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1857,2249},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001736_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1699,2785},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1153,1319},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001756_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1739,3471},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001756_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1801,3471},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001756_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1863,3471},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001756_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1925,3471},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001756_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1877,2169},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,100}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{1877,1947},{220,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{451,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,380}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{1153,1681},{380,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,620}</string>
                <key>spriteSourceSize</key>
                <string>{160,620}</string>
                <key>textureRect</key>
                <string>{{1013,2531},{160,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1577,3379},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi004/00001812_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,448}</string>
                <key>spriteSourceSize</key>
                <string>{3200,448}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001814_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,140}</string>
                <key>spriteSourceSize</key>
                <string>{260,140}</string>
                <key>textureRect</key>
                <string>{{1577,3117},{260,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001814_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,140}</string>
                <key>spriteSourceSize</key>
                <string>{260,140}</string>
                <key>textureRect</key>
                <string>{{1719,3039},{260,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001814_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,140}</string>
                <key>spriteSourceSize</key>
                <string>{260,140}</string>
                <key>textureRect</key>
                <string>{{1719,3039},{260,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi004/00001814_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,140}</string>
                <key>spriteSourceSize</key>
                <string>{260,140}</string>
                <key>textureRect</key>
                <string>{{1877,1685},{260,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>haidi004-0.pvr.ccz</string>
            <key>size</key>
            <string>{2034,3532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e81bf9052fdc28581c4e2d2caa4c5eb:ae8f3cd6b6d01687fe5fd15812213473:e0ee0e7d876810451e3cc51f4ea76bf2$</string>
            <key>textureFileName</key>
            <string>haidi004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
