<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haidi012/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{703,1053},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1007,1637},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2671,1275},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1177,1637},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3611,717},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2165,1529},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2709,1445},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2807,1521},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2977,1521},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3147,1521},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3317,1521},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2709,1619},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2879,1619},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3049,1619},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{3203,1},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{803,933},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{2265,1497},{240,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00001693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2527,1497},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00001696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1867,933},{440,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2769,1275},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{3219,1619},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{3381,1619},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1065,1355},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1407,1295},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1749,1295},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2853,1239},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{3195,1239},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2853,1239},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1749,1295},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{3487,1521},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{2671,933},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{2091,1255},{272,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1407,1577},{252,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{2309,933},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001714_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{2853,957},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001714_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{3215,957},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001714_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{2309,1215},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001714_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{703,1355},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001714_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{2309,1215},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001714_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{3215,957},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{703,1223},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1053},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001721_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{803,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001721_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1505,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001721_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{2207,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001721_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{2909,475},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001721_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{2207,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001721_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1505,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{3611,475},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{1661,1577},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1365,933},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001756_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{623,1535},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001756_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3611,887},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001756_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3569,1501},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001756_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3631,1501},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001756_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3569,1563},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,100}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{623,1637},{220,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,451},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,620}</string>
                <key>spriteSourceSize</key>
                <string>{160,620}</string>
                <key>textureRect</key>
                <string>{{1,1535},{160,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00001811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{845,1637},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001812_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,448}</string>
                <key>spriteSourceSize</key>
                <string>{3200,448}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001814_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,140}</string>
                <key>spriteSourceSize</key>
                <string>{260,140}</string>
                <key>textureRect</key>
                <string>{{1903,1577},{260,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi012/00001814_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,140}</string>
                <key>spriteSourceSize</key>
                <string>{260,140}</string>
                <key>textureRect</key>
                <string>{{3537,1239},{260,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00001814_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,140}</string>
                <key>spriteSourceSize</key>
                <string>{260,140}</string>
                <key>textureRect</key>
                <string>{{3537,1239},{260,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi012/00001814_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,140}</string>
                <key>spriteSourceSize</key>
                <string>{260,140}</string>
                <key>textureRect</key>
                <string>{{3577,957},{260,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>haidi012-0.pvr.ccz</string>
            <key>size</key>
            <string>{3718,1738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fdae85c40bd813171cbebeab325902f:06524374a416a09069f5321b5acb397d:01d890aa3ae471111274fe2b7b55d8c9$</string>
            <key>textureFileName</key>
            <string>haidi012-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
