<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haidi011/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3967,243},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3967,413},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3967,965},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3967,1135},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3967,1305},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1991,1295},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3059,1479},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2089,1435},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2259,1435},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2429,1435},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,1295},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{775,1295},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,1393},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{873,1295},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{3071,803},{500,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{3545,965},{560,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{343,1295},{240,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2011,933},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2011,1095},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2761,1495},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2093,1153},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1649,1295},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2435,1153},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2777,1153},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1,1295},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2777,1153},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2435,1153},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{3967,1475},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{3805,623},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{3059,1305},{272,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{3545,803},{252,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1005,933},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001714_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1367,933},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001714_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1729,933},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001714_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1005,1215},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001714_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1367,1215},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001714_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1005,1215},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001714_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1729,933},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{3071,673},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001721_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{703,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001721_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1405,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001721_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{2107,451},{700,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001721_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{2589,451},{700,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001721_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{2107,451},{700,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001721_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1405,451},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{3967,1},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{3333,1305},{240,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001733.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1,933},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{503,933},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001756_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3987,583},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001756_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3987,645},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001756_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3987,707},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001756_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3987,769},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001756_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{3987,831},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,100}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{3071,451},{220,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3203,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi011/00001810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,620}</string>
                <key>spriteSourceSize</key>
                <string>{160,620}</string>
                <key>textureRect</key>
                <string>{{3805,1},{160,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{2599,1435},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi011/00001812_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,448}</string>
                <key>spriteSourceSize</key>
                <string>{3200,448}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>haidi011-0.pvr.ccz</string>
            <key>size</key>
            <string>{4064,1576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5db99bfc466ef2d89bf3bb9dd0cc90c8:bf8dea19ba9017a22f33bfa652e8aa05:56074afdb9368213fc9519833573c817$</string>
            <key>textureFileName</key>
            <string>haidi011-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
