<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haidi014/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{343,3203},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1579,3121},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1879,1713},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1879,1883},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1879,2053},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1811,2557},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1811,2727},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1531,3291},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1677,3121},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1775,3101},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1873,3109},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1859,2275},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1701,3291},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1909,2527},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{1153,645},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{451,2531},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{1679,2839},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{451,2953},{440,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1923,1389},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1923,1551},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1921,2825},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1517,2275},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1013,2531},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1055,2873},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1469,2557},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1337,2839},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1469,2557},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1055,2873},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1859,2445},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1,3203},{180,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{1295,2521},{272,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1055,3215},{252,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{773,2953},{360,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001714_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1561,1147},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001714_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1561,1429},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001714_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1517,1711},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001714_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1517,1993},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001714_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1517,1711},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001714_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1561,1429},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{1153,1119},{224,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1921,2987},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,603},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001721_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1253,1},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001721_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001721_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001721_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,2049},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001721_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001721_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{451,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1923,1147},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{1337,3121},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1655,645},{500,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001756_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1955,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001756_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1955,63},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001756_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1955,125},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001756_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1955,187},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001756_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1955,249},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,100}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{1309,3283},{220,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{451,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,620}</string>
                <key>spriteSourceSize</key>
                <string>{160,620}</string>
                <key>textureRect</key>
                <string>{{1253,483},{160,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1875,483},{160,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001812_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,448}</string>
                <key>spriteSourceSize</key>
                <string>{3200,448}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haidi014/00001815_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,460}</string>
                <key>spriteSourceSize</key>
                <string>{180,460}</string>
                <key>textureRect</key>
                <string>{{1153,1597},{180,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001815_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,460}</string>
                <key>spriteSourceSize</key>
                <string>{180,460}</string>
                <key>textureRect</key>
                <string>{{1379,1119},{180,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001815_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,460}</string>
                <key>spriteSourceSize</key>
                <string>{180,460}</string>
                <key>textureRect</key>
                <string>{{1153,2059},{180,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001815_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,460}</string>
                <key>spriteSourceSize</key>
                <string>{180,460}</string>
                <key>textureRect</key>
                <string>{{1335,1597},{180,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haidi014/00001815_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,460}</string>
                <key>spriteSourceSize</key>
                <string>{180,460}</string>
                <key>textureRect</key>
                <string>{{1335,2059},{180,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>haidi014-0.pvr.ccz</string>
            <key>size</key>
            <string>{2016,3394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86544ffe2f289ffcc38e1e6c14a9a460:55d2e94ac107c236ed7c75a51be373aa:62f56b199a33ec41d75b1e588c2be686$</string>
            <key>textureFileName</key>
            <string>haidi014-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
