<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home/00001280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1840,580}</string>
                <key>spriteSourceSize</key>
                <string>{1840,580}</string>
                <key>textureRect</key>
                <string>{{1,603},{1840,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home/00001283.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,164}</string>
                <key>spriteSourceSize</key>
                <string>{324,164}</string>
                <key>textureRect</key>
                <string>{{803,297},{324,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home/00001284.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{803,123},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001286.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,160}</string>
                <key>textureRect</key>
                <string>{{583,925},{400,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{583,1087},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001288.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{583,1249},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001289.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{583,1411},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,252}</string>
                <key>spriteSourceSize</key>
                <string>{80,252}</string>
                <key>textureRect</key>
                <string>{{885,2003},{80,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001291.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{885,1739},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001292.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{885,1805},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001293.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{885,1871},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{885,1937},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home/00001296.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,120}</string>
                <key>textureRect</key>
                <string>{{885,1573},{164,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home/00001298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{803,1},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home/00001299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{583,2055},{460,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home/00001300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{583,1573},{480,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home/00001301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{583,623},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home-0.pvr.ccz</string>
            <key>size</key>
            <string>{1006,2516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69e44e9f0600b3f937ea52c34efaa641:689bb40ecdc55203f368eed107b29bde:9e269b41480d4ec0fac9a3cb9774ed4d$</string>
            <key>textureFileName</key>
            <string>home-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
