<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaguo104/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{493,3821},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{663,3821},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{833,3821},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{845,1283},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{845,1453},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{845,1623},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{845,1793},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{845,1963},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{893,2061},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{893,2231},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{893,2401},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{897,2571},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{897,2741},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{913,2911},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{603,1283},{800,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00001163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,600}</string>
                <key>spriteSourceSize</key>
                <string>{1280,600}</string>
                <key>textureRect</key>
                <string>{{1,1283},{1280,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00001164_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{803,1},{216,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001164_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{803,351},{216,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001164_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{803,701},{216,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001165_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00001166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,360}</string>
                <key>spriteSourceSize</key>
                <string>{300,360}</string>
                <key>textureRect</key>
                <string>{{595,2603},{300,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{943,1201},{124,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{803,1201},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{803,1051},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,3263},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{913,3081},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{1,2565},{696,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00001186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{1,3765},{300,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001187.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{503,3319},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{595,2965},{316,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{503,3263},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,176}</string>
                <key>spriteSourceSize</key>
                <string>{32,176}</string>
                <key>textureRect</key>
                <string>{{943,1441},{32,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo104/00001191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{603,2085},{516,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{943,1327},{112,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo104/00001623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{303,3765},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huaguo104-0.pvr.ccz</string>
            <key>size</key>
            <string>{1020,3918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:629ce730144c561f00d2731c9b4929b5:6b1bd2584845277d71c0af586210b66a:66ef719393b59425055689f238d95564$</string>
            <key>textureFileName</key>
            <string>huaguo104-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
