<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaguo004/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1547,1067},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1645,1067},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1743,1067},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1841,1067},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1939,1067},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2037,1067},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2135,1067},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2207,445},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2207,615},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2719,503},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2719,673},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2611,793},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2709,843},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2611,963},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2709,1013},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2611,1133},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2709,1183},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2601,1303},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2699,1353},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2601,1473},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2699,1523},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2601,1643},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2699,1693},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2535,1863},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2633,1863},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2731,1863},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2829,1861},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2927,1861},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{1515,1801},{800,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{2305,503},{288,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,468}</string>
                <key>spriteSourceSize</key>
                <string>{376,468}</string>
                <key>textureRect</key>
                <string>{{2233,793},{376,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,600}</string>
                <key>spriteSourceSize</key>
                <string>{1280,600}</string>
                <key>textureRect</key>
                <string>{{803,1},{1280,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001164_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{2251,1263},{216,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001164_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{2251,1481},{216,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001164_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{2317,1699},{216,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001165_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,360}</string>
                <key>spriteSourceSize</key>
                <string>{300,360}</string>
                <key>textureRect</key>
                <string>{{2797,1413},{300,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{2233,1},{124,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001169_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{88,60}</string>
                <key>textureRect</key>
                <string>{{323,1981},{88,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001169_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{88,60}</string>
                <key>textureRect</key>
                <string>{{413,1981},{88,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001169_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{88,60}</string>
                <key>textureRect</key>
                <string>{{323,1981},{88,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,140}</string>
                <key>textureRect</key>
                <string>{{1405,1067},{180,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,64}</string>
                <key>textureRect</key>
                <string>{{1,1981},{320,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,100}</string>
                <key>spriteSourceSize</key>
                <string>{316,100}</string>
                <key>textureRect</key>
                <string>{{2207,127},{316,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,472}</string>
                <key>spriteSourceSize</key>
                <string>{352,472}</string>
                <key>textureRect</key>
                <string>{{2819,1},{352,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{1193,1853},{108,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{1275,1853},{88,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{1365,1853},{188,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1749,1283},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{2317,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,352}</string>
                <key>spriteSourceSize</key>
                <string>{296,352}</string>
                <key>textureRect</key>
                <string>{{2817,793},{296,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,52}</string>
                <key>spriteSourceSize</key>
                <string>{304,52}</string>
                <key>textureRect</key>
                <string>{{503,1981},{304,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001182_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{1119,1965},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001182_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{1251,1963},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001182_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{1119,1965},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001183.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,80}</string>
                <key>spriteSourceSize</key>
                <string>{308,80}</string>
                <key>textureRect</key>
                <string>{{809,1965},{308,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{1,1283},{696,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,360}</string>
                <key>spriteSourceSize</key>
                <string>{320,360}</string>
                <key>textureRect</key>
                <string>{{2807,1091},{320,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{2797,1715},{300,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{2819,475},{316,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{1713,1237},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{1459,1283},{516,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,128}</string>
                <key>spriteSourceSize</key>
                <string>{32,128}</string>
                <key>textureRect</key>
                <string>{{1405,1249},{32,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,680}</string>
                <key>spriteSourceSize</key>
                <string>{596,680}</string>
                <key>textureRect</key>
                <string>{{595,1283},{596,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo004/00001203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,264}</string>
                <key>spriteSourceSize</key>
                <string>{568,264}</string>
                <key>textureRect</key>
                <string>{{1193,1283},{568,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1064,800}</string>
                <key>spriteSourceSize</key>
                <string>{1064,800}</string>
                <key>textureRect</key>
                <string>{{1405,1},{1064,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,16}</string>
                <key>spriteSourceSize</key>
                <string>{84,16}</string>
                <key>textureRect</key>
                <string>{{1233,1963},{84,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo004/00001208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,16}</string>
                <key>spriteSourceSize</key>
                <string>{176,16}</string>
                <key>textureRect</key>
                <string>{{1535,1249},{176,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huaguo004-0.pvr.ccz</string>
            <key>size</key>
            <string>{3172,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d269edd0819842bd6cd32de00d072d8:494b06085fdcbfb8645f9a79d0e412e5:012f6ec5911ab2419ccf3d0703d158af$</string>
            <key>textureFileName</key>
            <string>huaguo004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
