<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaguo_stage001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1603,1603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2767,1043},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2925,873},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1701,1603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2865,1043},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1799,1603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2767,1569},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2963,1043},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3023,873},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2847,1213},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2847,1383},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2945,1213},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2945,1383},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2865,1553},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000346_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,168}</string>
                <key>spriteSourceSize</key>
                <string>{156,168}</string>
                <key>textureRect</key>
                <string>{{2767,873},{156,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000347_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,300}</string>
                <key>spriteSourceSize</key>
                <string>{880,300}</string>
                <key>textureRect</key>
                <string>{{1965,1267},{880,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000348_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,360}</string>
                <key>spriteSourceSize</key>
                <string>{1600,360}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1600,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage001/00000349_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1092,216}</string>
                <key>spriteSourceSize</key>
                <string>{1092,216}</string>
                <key>textureRect</key>
                <string>{{1965,1},{1092,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000349_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1092,216}</string>
                <key>spriteSourceSize</key>
                <string>{1092,216}</string>
                <key>textureRect</key>
                <string>{{1965,219},{1092,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000349_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1092,216}</string>
                <key>spriteSourceSize</key>
                <string>{1092,216}</string>
                <key>textureRect</key>
                <string>{{1965,437},{1092,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000349_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1092,216}</string>
                <key>spriteSourceSize</key>
                <string>{1092,216}</string>
                <key>textureRect</key>
                <string>{{1965,655},{1092,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00000352.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,100}</string>
                <key>spriteSourceSize</key>
                <string>{148,100}</string>
                <key>textureRect</key>
                <string>{{2963,1553},{148,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage001/00000353.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,903},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00001860.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1965,873},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage001/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1965,1569},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huaguo_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3120,1804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb0405b1f2c272c571bd3124a444ec23:7f3bd9cd18d38d5b6fc0ff2377a9505f:e7152ab3fda8a96eb5051c844544083d$</string>
            <key>textureFileName</key>
            <string>huaguo_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
