<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaguo002/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1185,1405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1641,1777},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2441,1265},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2539,1265},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2295,1503},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1005,1907},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2213,1611},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2311,1601},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2409,1601},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2465,1435},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2507,1533},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2605,1533},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2507,1703},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2675,1311},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1641,1875},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1811,1777},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1909,1737},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2007,1737},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2105,1737},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2203,1781},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1909,1907},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2311,1771},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2301,1869},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2481,1801},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2471,1899},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1185,1897},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1355,1897},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2677,1703},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{1981,1},{800,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00000411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,680}</string>
                <key>spriteSourceSize</key>
                <string>{596,680}</string>
                <key>textureRect</key>
                <string>{{1,1405},{596,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{1881,1011},{288,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,600}</string>
                <key>spriteSourceSize</key>
                <string>{1280,600}</string>
                <key>textureRect</key>
                <string>{{1,803},{1280,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001164_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{1645,1277},{216,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001164_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{1863,1301},{216,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001164_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{1863,1519},{216,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001165_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,360}</string>
                <key>spriteSourceSize</key>
                <string>{300,360}</string>
                <key>textureRect</key>
                <string>{{1283,1277},{300,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{2703,1481},{124,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{1639,1973},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,140}</string>
                <key>textureRect</key>
                <string>{{2441,1123},{180,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,64}</string>
                <key>textureRect</key>
                <string>{{683,1907},{320,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,100}</string>
                <key>spriteSourceSize</key>
                <string>{316,100}</string>
                <key>textureRect</key>
                <string>{{1539,1579},{316,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{2079,1907},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{2641,1899},{88,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{1641,1627},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{683,1405},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1981,243},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{1733,1973},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,52}</string>
                <key>spriteSourceSize</key>
                <string>{304,52}</string>
                <key>textureRect</key>
                <string>{{683,1973},{304,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001183.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,80}</string>
                <key>spriteSourceSize</key>
                <string>{308,80}</string>
                <key>textureRect</key>
                <string>{{2213,1301},{308,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{1283,1},{696,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,360}</string>
                <key>spriteSourceSize</key>
                <string>{320,360}</string>
                <key>textureRect</key>
                <string>{{2451,761},{320,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{2295,1011},{300,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{1185,1579},{316,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{1525,1975},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{2483,243},{516,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{1525,1897},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001194_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{2677,1123},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001194_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{2677,1217},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001194_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{2677,1123},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001195.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,144}</string>
                <key>spriteSourceSize</key>
                <string>{188,144}</string>
                <key>textureRect</key>
                <string>{{2295,1313},{188,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001196.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,88}</string>
                <key>spriteSourceSize</key>
                <string>{60,88}</string>
                <key>textureRect</key>
                <string>{{2703,1607},{60,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001197.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,136}</string>
                <key>spriteSourceSize</key>
                <string>{68,136}</string>
                <key>textureRect</key>
                <string>{{1881,595},{68,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001198.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,156}</string>
                <key>spriteSourceSize</key>
                <string>{36,156}</string>
                <key>textureRect</key>
                <string>{{2637,1265},{36,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,128}</string>
                <key>spriteSourceSize</key>
                <string>{32,128}</string>
                <key>textureRect</key>
                <string>{{2079,1989},{32,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,52}</string>
                <key>spriteSourceSize</key>
                <string>{140,52}</string>
                <key>textureRect</key>
                <string>{{2623,1123},{140,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo002/00001201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,264}</string>
                <key>spriteSourceSize</key>
                <string>{568,264}</string>
                <key>textureRect</key>
                <string>{{1881,745},{568,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo002/00001202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,680}</string>
                <key>spriteSourceSize</key>
                <string>{596,680}</string>
                <key>textureRect</key>
                <string>{{1283,595},{596,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huaguo002-0.pvr.ccz</string>
            <key>size</key>
            <string>{2782,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65b68b152b93162a9bfbfccb4cd58407:f06bcf2377f7bdb167178f90825cfeef:9f7ce94956fea8d482f4301888a79dd7$</string>
            <key>textureFileName</key>
            <string>huaguo002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
