<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaguo003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1001,1907},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1837,1609},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1837,1779},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1935,1609},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1935,1779},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2143,501},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2143,671},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2143,841},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2143,1011},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2143,1181},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2143,1351},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2143,1521},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2033,1619},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2033,1789},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{1283,595},{800,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00000411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,680}</string>
                <key>spriteSourceSize</key>
                <string>{596,680}</string>
                <key>textureRect</key>
                <string>{{1,1405},{596,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{1185,1405},{288,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,600}</string>
                <key>spriteSourceSize</key>
                <string>{1280,600}</string>
                <key>textureRect</key>
                <string>{{1,803},{1280,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001164_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{1981,1},{216,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001164_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{1843,1113},{216,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001164_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{1185,1821},{216,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001165_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,360}</string>
                <key>spriteSourceSize</key>
                <string>{300,360}</string>
                <key>textureRect</key>
                <string>{{1475,1519},{300,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{2131,1691},{124,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,100}</string>
                <key>spriteSourceSize</key>
                <string>{316,100}</string>
                <key>textureRect</key>
                <string>{{683,1907},{316,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{2033,1537},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{1837,1949},{88,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{1981,351},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{683,1405},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{2087,501},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001182_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{2061,1423},{112,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001182_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{2131,1817},{112,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001182_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{2061,1423},{112,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001183.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,80}</string>
                <key>spriteSourceSize</key>
                <string>{308,80}</string>
                <key>textureRect</key>
                <string>{{2061,1113},{308,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{1283,1},{696,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{1535,1821},{300,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{1525,1165},{316,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{2081,595},{88,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,176}</string>
                <key>spriteSourceSize</key>
                <string>{32,176}</string>
                <key>textureRect</key>
                <string>{{1001,2005},{32,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{1791,595},{516,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{1919,1949},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001194_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{1981,501},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001194_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{2131,1931},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001194_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{1981,501},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001195.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,144}</string>
                <key>spriteSourceSize</key>
                <string>{188,144}</string>
                <key>textureRect</key>
                <string>{{1843,1463},{188,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001197.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,136}</string>
                <key>spriteSourceSize</key>
                <string>{68,136}</string>
                <key>textureRect</key>
                <string>{{2171,351},{68,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,264}</string>
                <key>spriteSourceSize</key>
                <string>{568,264}</string>
                <key>textureRect</key>
                <string>{{1525,595},{568,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo003/00001204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,52}</string>
                <key>spriteSourceSize</key>
                <string>{140,52}</string>
                <key>textureRect</key>
                <string>{{1535,1967},{140,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo003/00001205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1535,2021},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huaguo003-0.pvr.ccz</string>
            <key>size</key>
            <string>{2240,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0264794e8295a3f0795836ae2f34681:84a23980b25afec843124e48122e105c:9abd38e9f6acccd3776e85ba9323417d$</string>
            <key>textureFileName</key>
            <string>huaguo003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
