<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaguo_stage002/00000361.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,3000}</string>
                <key>spriteSourceSize</key>
                <string>{3200,3000}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,3000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huaguo_stage002-2.pvr.ccz</string>
            <key>size</key>
            <string>{3202,3002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:887598c17a393bf52b94d705e9b15348:8884210ea384bd2a4f2bdfc6969c6c14:62a025df1af0fde3792d526547565fb7$</string>
            <key>textureFileName</key>
            <string>huaguo_stage002-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
