<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaguo_stage002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1309,3405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3151,3623},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3403,3305},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3603,2773},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1407,3405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1309,3575},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3151,3793},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3249,3623},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1505,3405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3249,3793},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3403,3475},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{683,3935},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{853,3935},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1023,3935},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00000339_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1604,400}</string>
                <key>spriteSourceSize</key>
                <string>{1604,400}</string>
                <key>textureRect</key>
                <string>{{1,3003},{1604,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000354.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,12}</string>
                <key>spriteSourceSize</key>
                <string>{48,12}</string>
                <key>textureRect</key>
                <string>{{3501,3305},{48,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000355_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,344}</string>
                <key>spriteSourceSize</key>
                <string>{392,344}</string>
                <key>textureRect</key>
                <string>{{2757,3623},{392,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000356_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,528}</string>
                <key>spriteSourceSize</key>
                <string>{624,528}</string>
                <key>textureRect</key>
                <string>{{683,3405},{624,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000357_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{992,692}</string>
                <key>spriteSourceSize</key>
                <string>{992,692}</string>
                <key>textureRect</key>
                <string>{{1607,3003},{992,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000359_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1309,3697},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000360.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,220}</string>
                <key>spriteSourceSize</key>
                <string>{148,220}</string>
                <key>textureRect</key>
                <string>{{3603,2551},{148,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000362_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,16}</string>
                <key>spriteSourceSize</key>
                <string>{148,16}</string>
                <key>textureRect</key>
                <string>{{2601,3623},{148,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000362_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,16}</string>
                <key>spriteSourceSize</key>
                <string>{148,16}</string>
                <key>textureRect</key>
                <string>{{2757,3969},{148,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000362_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,16}</string>
                <key>spriteSourceSize</key>
                <string>{148,16}</string>
                <key>textureRect</key>
                <string>{{3561,3003},{148,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00000362_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,16}</string>
                <key>spriteSourceSize</key>
                <string>{148,16}</string>
                <key>textureRect</key>
                <string>{{3753,2551},{148,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00000363_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,300}</string>
                <key>spriteSourceSize</key>
                <string>{156,300}</string>
                <key>textureRect</key>
                <string>{{3403,3003},{156,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000371_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1671,3697},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000374.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,220}</string>
                <key>spriteSourceSize</key>
                <string>{548,220}</string>
                <key>textureRect</key>
                <string>{{3603,2001},{548,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00000379_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{2033,3697},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000388.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{836,220}</string>
                <key>spriteSourceSize</key>
                <string>{836,220}</string>
                <key>textureRect</key>
                <string>{{3603,1163},{836,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00000389_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{2395,3697},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1160,220}</string>
                <key>spriteSourceSize</key>
                <string>{1160,220}</string>
                <key>textureRect</key>
                <string>{{3603,1},{1160,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00000410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3600,3000}</string>
                <key>spriteSourceSize</key>
                <string>{3600,3000}</string>
                <key>textureRect</key>
                <string>{{1,1},{3600,3000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00000411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,680}</string>
                <key>spriteSourceSize</key>
                <string>{596,680}</string>
                <key>textureRect</key>
                <string>{{1,3405},{596,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaguo_stage002/00001860.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{2601,3003},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaguo_stage002/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{2601,3397},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huaguo_stage002-0.pvr.ccz</string>
            <key>size</key>
            <string>{3824,4058}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:887598c17a393bf52b94d705e9b15348:8884210ea384bd2a4f2bdfc6969c6c14:62a025df1af0fde3792d526547565fb7$</string>
            <key>textureFileName</key>
            <string>huaguo_stage002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
