<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanjing008/00000878.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,140}</string>
                <key>spriteSourceSize</key>
                <string>{372,140}</string>
                <key>textureRect</key>
                <string>{{1,363},{372,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing008/00000882.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{485,363},{32,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing008/00000883.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,132}</string>
                <key>spriteSourceSize</key>
                <string>{12,132}</string>
                <key>textureRect</key>
                <string>{{703,303},{12,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing008/00000884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{519,363},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing008/00000885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,140}</string>
                <key>spriteSourceSize</key>
                <string>{108,140}</string>
                <key>textureRect</key>
                <string>{{375,363},{108,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing008/00000887.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,300}</string>
                <key>spriteSourceSize</key>
                <string>{288,300}</string>
                <key>textureRect</key>
                <string>{{703,1},{288,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing008/00000892.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huanjing008-0.pvr.ccz</string>
            <key>size</key>
            <string>{992,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8dcf00ed69c6a4b6165e287b257fcfd:4c9ff03253b9cc53735c09049f64c47c:dd5207186d59c77659e634bff5681950$</string>
            <key>textureFileName</key>
            <string>huanjing008-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
