<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanjing001/00000500_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,200}</string>
                <key>spriteSourceSize</key>
                <string>{820,200}</string>
                <key>textureRect</key>
                <string>{{621,1015},{820,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000501_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1012,684}</string>
                <key>spriteSourceSize</key>
                <string>{1012,684}</string>
                <key>textureRect</key>
                <string>{{1,1},{1012,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{383,2207},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing001/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{687,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{741,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{795,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{849,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{903,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{823,1003},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{877,1003},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{931,1003},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,2469},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing001/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,2523},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing001/00000835.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1,2207},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing001/00000837.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{485,2207},{124,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{383,2361},{140,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing001/00000844.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{551,1837},{280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{913,2005},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing001/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{1,1817},{548,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing001/00000851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{957,1},{64,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00000852.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,300}</string>
                <key>spriteSourceSize</key>
                <string>{280,300}</string>
                <key>textureRect</key>
                <string>{{551,2119},{280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing001/00001052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,160}</string>
                <key>spriteSourceSize</key>
                <string>{56,160}</string>
                <key>textureRect</key>
                <string>{{733,1837},{56,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing001/00001053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{783,2005},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00001260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{733,1999},{108,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{395,1015},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing001/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,1015},{800,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huanjing001-0.pvr.ccz</string>
            <key>size</key>
            <string>{1002,2576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42ec8ce4590d1f5874eabe78932ede77:93d7c56db1b72e58d61b413f862c498c:d33ac5b13f4a3597db5aca7aca96b427$</string>
            <key>textureFileName</key>
            <string>huanjing001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
