<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanjing006/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1803,1603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1605,2805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3205,803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1901,1603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1605,2975},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1703,2805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3205,973},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3303,803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1703,2975},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3205,1143},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3303,973},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3205,1313},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3303,1143},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3205,1483},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3447,1},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000103_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3447,175},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000103_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3447,349},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000103_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3447,523},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000103_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3447,697},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000103_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2927,2989},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1803,1773},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3303,1313},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000103_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3205,1653},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000103_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3101,2989},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3303,1487},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000103_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3295,1661},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000103_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1801,3079},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1975,3079},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2149,3079},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2323,3079},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2497,3079},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2671,3079},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2845,3079},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000103_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3019,3079},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{3205,1},{800,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000220_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{1,2805},{800,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{803,2805},{800,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000414_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2003,963},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3275,2989},{116,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000415_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3401,871},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3401,997},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3401,1123},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3401,1249},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3393,1375},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3393,1501},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3393,1627},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3275,2989},{116,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000415_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3385,1753},{116,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000415_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3401,871},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3401,997},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3401,1123},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3401,1249},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3393,1375},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3393,1501},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3393,1627},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000415_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3275,2989},{116,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000479.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,960}</string>
                <key>spriteSourceSize</key>
                <string>{1200,960}</string>
                <key>textureRect</key>
                <string>{{2003,1},{1200,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000483_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000486_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{2877,1865},{480,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00000488_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{1803,2597},{480,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000492_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{2365,2597},{480,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00000493_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{2927,2427},{480,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing006/00001872.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,1072}</string>
                <key>spriteSourceSize</key>
                <string>{364,1072}</string>
                <key>textureRect</key>
                <string>{{1803,1865},{364,1072}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00001901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,1072}</string>
                <key>spriteSourceSize</key>
                <string>{364,1072}</string>
                <key>textureRect</key>
                <string>{{1803,2231},{364,1072}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing006/00001902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,1800}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1800}</string>
                <key>textureRect</key>
                <string>{{1,1603},{1200,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huanjing006-0.pvr.ccz</string>
            <key>size</key>
            <string>{3536,3206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f61ec7bb094f56c35ced5a2e04ad1e8a:f8eae58ab5078e980462c57e8e105aa9:7776dd2180a04049d40d8f7ce71eee85$</string>
            <key>textureFileName</key>
            <string>huanjing006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
