<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanjing004/00000028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,600}</string>
                <key>spriteSourceSize</key>
                <string>{1200,600}</string>
                <key>textureRect</key>
                <string>{{2003,1},{1200,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1080}</string>
                <key>textureRect</key>
                <string>{{2003,603},{2000,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00000047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2440,900}</string>
                <key>spriteSourceSize</key>
                <string>{2440,900}</string>
                <key>textureRect</key>
                <string>{{3085,699},{2440,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2003,2947},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2101,2947},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2199,2947},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2003,2755},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2101,2755},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2199,2605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2199,2775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2579,2947},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2003,2605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2677,2947},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2847,2947},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2677,3045},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2847,3045},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2623,3143},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,2000}</string>
                <key>spriteSourceSize</key>
                <string>{4000,2000}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,2000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{3663,409},{320,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,252}</string>
                <key>spriteSourceSize</key>
                <string>{456,252}</string>
                <key>textureRect</key>
                <string>{{3205,387},{456,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{3775,1},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{196,104}</string>
                <key>textureRect</key>
                <string>{{3775,303},{196,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,340}</string>
                <key>spriteSourceSize</key>
                <string>{388,340}</string>
                <key>textureRect</key>
                <string>{{2623,2605},{388,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,384}</string>
                <key>spriteSourceSize</key>
                <string>{568,384}</string>
                <key>textureRect</key>
                <string>{{3205,1},{568,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000695.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,360}</string>
                <key>spriteSourceSize</key>
                <string>{280,360}</string>
                <key>textureRect</key>
                <string>{{2297,2755},{280,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{2721,3143},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,148}</string>
                <key>spriteSourceSize</key>
                <string>{304,148}</string>
                <key>textureRect</key>
                <string>{{2297,2605},{304,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing004/00000712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,116}</string>
                <key>spriteSourceSize</key>
                <string>{152,116}</string>
                <key>textureRect</key>
                <string>{{2623,3313},{152,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{2397,3141},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing004/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{2003,3141},{800,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huanjing004-1.pvr.ccz</string>
            <key>size</key>
            <string>{3986,4002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6424c66219eea1ae36ac7ab92acff8f1:4c676ab70236d9982e5fcc9b45b2b4e8:fd16af629c61ae1a2a71ff376ce37add$</string>
            <key>textureFileName</key>
            <string>huanjing004-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
