<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanjing003/00000949.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing003/00000952_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,248}</string>
                <key>spriteSourceSize</key>
                <string>{1600,248}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1600,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing003/00000955_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{1557,553},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing003/00000955_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{2781,251},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing003/00000959_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1283,669},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing003/00000959_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1365,669},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing003/00000959_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1447,669},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing003/00000961.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,88}</string>
                <key>textureRect</key>
                <string>{{1529,669},{112,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing003/00000962.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,416}</string>
                <key>spriteSourceSize</key>
                <string>{272,416}</string>
                <key>textureRect</key>
                <string>{{1283,251},{272,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing003/00000968.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,300}</string>
                <key>spriteSourceSize</key>
                <string>{920,300}</string>
                <key>textureRect</key>
                <string>{{1557,251},{920,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing003/00000969.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{260,248}</string>
                <key>textureRect</key>
                <string>{{1619,553},{260,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing003/00000975.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{2479,251},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huanjing003-0.pvr.ccz</string>
            <key>size</key>
            <string>{2884,802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e3fb3a4b1d454ae2de56d6dc18193d2:2800b0965934d61967df9d8a792360d7:ec7fbdd3a75448f028bfd4bbad7f73b1$</string>
            <key>textureFileName</key>
            <string>huanjing003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
