<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanjing002/00001397.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{719,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing002/00001399.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,1180}</string>
                <key>spriteSourceSize</key>
                <string>{648,1180}</string>
                <key>textureRect</key>
                <string>{{719,903},{648,1180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing002/00001402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,1216}</string>
                <key>spriteSourceSize</key>
                <string>{716,1216}</string>
                <key>textureRect</key>
                <string>{{1,1},{716,1216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing002/00001409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,60}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{1,1219},{360,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing002/00001411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,128}</string>
                <key>spriteSourceSize</key>
                <string>{36,128}</string>
                <key>textureRect</key>
                <string>{{589,1219},{36,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanjing002/00001412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,144}</string>
                <key>spriteSourceSize</key>
                <string>{8,144}</string>
                <key>textureRect</key>
                <string>{{1901,903},{8,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanjing002/00001416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{63,1219},{524,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huanjing002-0.pvr.ccz</string>
            <key>size</key>
            <string>{1920,1580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffb9d58658af8ddefa624e886ecae832:8d0a317605337d262409a3e980cd10ce:eed91ab472a2a1b3112eed559055f946$</string>
            <key>textureFileName</key>
            <string>huanjing002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
