<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunhou001/00000099_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,600}</string>
                <key>textureRect</key>
                <string>{{403,1},{2000,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunhou001/00001336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,692}</string>
                <key>spriteSourceSize</key>
                <string>{1600,692}</string>
                <key>textureRect</key>
                <string>{{2405,1},{1600,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunhou001/00001363.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunhou001/00001574_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,603},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{903,603},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1805,695},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{2707,695},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,1405},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{903,1405},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1805,1497},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{2707,1497},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,2207},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{903,2207},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1805,2299},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hunhou001/00001574_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{2707,2299},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hunhou001-0.pvr.ccz</string>
            <key>size</key>
            <string>{4006,3100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c62ad080e4861ce124143139ad51ba4:1657a99399bc16062059456bcef146d8:2b61436fd3c1dff4b219e69cb84662e8$</string>
            <key>textureFileName</key>
            <string>hunhou001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
