<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiehun007/00000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{900,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiehun007-0.pvr.ccz</string>
            <key>size</key>
            <string>{902,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4dac8582f554c441f40c9ba9faa91e4:0ec0990f57b3f45a2d392bd1e1b1ebb5:ad5ee5c34eb296a88ad05f3ae18f8f56$</string>
            <key>textureFileName</key>
            <string>jiehun007-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
