<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiehun005/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiehun005-0.pvr.ccz</string>
            <key>size</key>
            <string>{382,262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77b64150319f191d0eed94f973e9fd6d:a0d76ea5e3cfb7dadf674a317880210a:e819ba2b41c01f3c27b38442f2976983$</string>
            <key>textureFileName</key>
            <string>jiehun005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
