<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juling_stage001/00000103_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1805,1603},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000103_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1895,1603},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000103_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1805,1903},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1203,3607},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1377,3607},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1551,3607},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1203,3697},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1377,3697},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1551,3697},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3809,3205},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000103_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3809,3379},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000103_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3809,3553},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000103_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3899,3205},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000103_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3899,3379},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000103_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3899,3553},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000103_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3007,3607},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3181,3607},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3355,3607},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3529,3607},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000103_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3703,3607},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1203,2805},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000220_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{3007,3205},{800,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{3605,1},{800,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000412_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000413_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{2003,1},{2000,1600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000414_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1603},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000415_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{1805,1777},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,803},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,929},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1055},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1181},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1307},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1433},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1559},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{1805,1777},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1685},{116,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000415_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,803},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,929},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1055},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1181},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1307},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1433},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{3605,1559},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000415_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{1805,1777},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{903,1603},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000417.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1805,2003},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,2805},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juling_stage001/00000419.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{3007,2003},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juling_stage001/00000420.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1805,2905},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>juling_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{4006,3806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0aedc39d5110fffeb13a58f80810acf:220f41082758a67cd36f9a60a4e8bdd5:f50ed8af140eee5ec8700452257f4cac$</string>
            <key>textureFileName</key>
            <string>juling_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
