<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuaile023/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,171},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,341},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,511},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2655,1333},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2655,1503},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2655,1673},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{471,1851},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{641,1851},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{811,1855},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2213,1735},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2383,1735},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2553,1735},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2213,1833},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,488}</string>
                <key>spriteSourceSize</key>
                <string>{1068,488}</string>
                <key>textureRect</key>
                <string>{{1183,1203},{1068,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00001067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,452}</string>
                <key>spriteSourceSize</key>
                <string>{280,452}</string>
                <key>textureRect</key>
                <string>{{1123,1693},{280,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{2707,681},{80,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{2631,1089},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00001074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,192}</string>
                <key>textureRect</key>
                <string>{{929,1553},{300,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{2105,803},{524,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{1577,1693},{288,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,112}</string>
                <key>spriteSourceSize</key>
                <string>{284,112}</string>
                <key>textureRect</key>
                <string>{{2631,803},{284,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{1991,1693},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,456}</string>
                <key>spriteSourceSize</key>
                <string>{296,456}</string>
                <key>textureRect</key>
                <string>{{471,1553},{296,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{2655,1131},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00001094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{2105,1133},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{2253,1133},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,468}</string>
                <key>spriteSourceSize</key>
                <string>{376,468}</string>
                <key>textureRect</key>
                <string>{{1,1553},{376,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001263.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile023/00001264_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1203,1},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001269_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{2105,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile023/00001399.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,1180}</string>
                <key>spriteSourceSize</key>
                <string>{648,1180}</string>
                <key>textureRect</key>
                <string>{{1,903},{648,1180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuaile023-0.pvr.ccz</string>
            <key>size</key>
            <string>{2804,1982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:650fe1cbb0af10f783b0647c11abbfa6:7d75bdef3fdd61afdd36f23779eac2a5:f5de0d8b8b6ed6febadc700daef6ae34$</string>
            <key>textureFileName</key>
            <string>kuaile023-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
