<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuaile024/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,925},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,925},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2465,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2635,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2805,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1767,923},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1937,923},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2107,905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2933,681},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2975,779},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3073,779},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3171,709},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3269,709},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3171,879},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3139,323},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1923,699},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2125,681},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2327,681},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2529,681},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3039,465},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000582_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3153,437},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000582_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3267,437},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000582_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2731,681},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{869,803},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1071,801},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3139,323},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1273,801},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1475,801},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000582_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1677,801},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000583_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1063,917},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000583_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1427,915},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000583_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1597,915},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000583_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2295,795},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000583_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2465,795},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000583_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2635,795},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000583_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2805,795},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000583_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2295,901},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,356}</string>
                <key>spriteSourceSize</key>
                <string>{600,356}</string>
                <key>textureRect</key>
                <string>{{2105,1},{600,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,168}</string>
                <key>spriteSourceSize</key>
                <string>{108,168}</string>
                <key>textureRect</key>
                <string>{{2125,795},{108,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,68}</string>
                <key>textureRect</key>
                <string>{{3153,639},{168,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000721.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{341,925},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000722.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,128}</string>
                <key>spriteSourceSize</key>
                <string>{52,128}</string>
                <key>textureRect</key>
                <string>{{435,933},{52,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{1233,915},{192,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000730.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,212}</string>
                <key>spriteSourceSize</key>
                <string>{44,212}</string>
                <key>textureRect</key>
                <string>{{2749,635},{44,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,124}</string>
                <key>spriteSourceSize</key>
                <string>{40,124}</string>
                <key>textureRect</key>
                <string>{{565,933},{40,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000738.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,192}</string>
                <key>spriteSourceSize</key>
                <string>{104,192}</string>
                <key>textureRect</key>
                <string>{{869,917},{104,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000740.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,168}</string>
                <key>spriteSourceSize</key>
                <string>{288,168}</string>
                <key>textureRect</key>
                <string>{{2749,465},{288,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000743.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{1879,813},{108,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{1003,1},{1100,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000746.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,428}</string>
                <key>spriteSourceSize</key>
                <string>{128,428}</string>
                <key>textureRect</key>
                <string>{{439,803},{128,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000747.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,436}</string>
                <key>spriteSourceSize</key>
                <string>{120,436}</string>
                <key>textureRect</key>
                <string>{{1,803},{120,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000748.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{1003,699},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000749.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{1233,699},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000750.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,140}</string>
                <key>spriteSourceSize</key>
                <string>{388,140}</string>
                <key>textureRect</key>
                <string>{{2749,323},{388,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000751.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{1463,699},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000752.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{1693,699},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000754.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{691,933},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00000764.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{2963,635},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00000774.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{3013,635},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile024/00001841_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{2105,359},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00001841_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{2707,1},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00001841_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{3029,1},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile024/00001841_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{2427,359},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuaile024-0.pvr.ccz</string>
            <key>size</key>
            <string>{3380,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5c4fb67c601861811f2710e939f5980:56d94a1b41b4e84af523bb10e8b287b6:3ccf892966e5fcba6cd85c56a842af96$</string>
            <key>textureFileName</key>
            <string>kuaile024-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
