<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuaile005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1933,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1933,171},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1933,341},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1813,467},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1075,741},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1075,839},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1603,637},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1773,637},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1245,753},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1343,753},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1441,753},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1539,735},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1637,735},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1735,735},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,580}</string>
                <key>spriteSourceSize</key>
                <string>{1600,580}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000873.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{1525,583},{104,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile005/00000878.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,140}</string>
                <key>spriteSourceSize</key>
                <string>{372,140}</string>
                <key>textureRect</key>
                <string>{{703,583},{372,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000879.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,172}</string>
                <key>spriteSourceSize</key>
                <string>{280,172}</string>
                <key>textureRect</key>
                <string>{{703,725},{280,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{1315,583},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000882.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{1943,633},{32,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000883.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,132}</string>
                <key>spriteSourceSize</key>
                <string>{12,132}</string>
                <key>textureRect</key>
                <string>{{703,899},{12,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile005/00000884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{985,895},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,140}</string>
                <key>spriteSourceSize</key>
                <string>{108,140}</string>
                <key>textureRect</key>
                <string>{{1833,735},{108,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000886.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,168}</string>
                <key>spriteSourceSize</key>
                <string>{88,168}</string>
                <key>textureRect</key>
                <string>{{985,725},{88,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000889.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,92}</string>
                <key>spriteSourceSize</key>
                <string>{120,92}</string>
                <key>textureRect</key>
                <string>{{1911,511},{120,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile005/00000891.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{156,236}</string>
                <key>textureRect</key>
                <string>{{1077,583},{156,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuaile005/00000892.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,360}</string>
                <key>textureRect</key>
                <string>{{1,583},{700,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000893.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{1603,467},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuaile005/00000894.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,464}</string>
                <key>spriteSourceSize</key>
                <string>{328,464}</string>
                <key>textureRect</key>
                <string>{{1603,1},{328,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuaile005-0.pvr.ccz</string>
            <key>size</key>
            <string>{2030,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:488a72023cf0ce2b986c5f5111193612:1593f279e1bea58e0a7db87b4ee2c1f1:c19ee3ddd4b448d977d05fadeea8373e$</string>
            <key>textureFileName</key>
            <string>kuaile005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
