<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhua004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{959,3315},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1125,2761},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1381,2767},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1125,2859},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1381,2865},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1125,2957},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1381,2963},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1381,3061},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1381,3159},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1381,3257},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1381,3355},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1551,3427},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1381,3453},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1649,3427},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00000421.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{523,2403},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000426.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{76,184}</string>
                <key>textureRect</key>
                <string>{{1125,2605},{76,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{523,3205},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{657,3205},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{791,3205},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{925,3205},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1551,2767},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1685,2843},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00000427_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1551,2877},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1685,2977},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00000427_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1551,2987},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1551,3097},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1685,3111},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00000427_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1551,3207},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1685,3245},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00000427_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1551,3317},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000427_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1125,3055},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00000429.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{76,184}</string>
                <key>textureRect</key>
                <string>{{1125,2683},{76,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00000435.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00001214_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{195,3325},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00001215_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,520}</string>
                <key>spriteSourceSize</key>
                <string>{920,520}</string>
                <key>textureRect</key>
                <string>{{1,2403},{920,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00001216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{1727,2525},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00001217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1125,2403},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00001218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1,3325},{256,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00001219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{1381,2605},{160,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00001220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{120,76}</string>
                <key>textureRect</key>
                <string>{{1295,2901},{120,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00001221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,72}</string>
                <key>textureRect</key>
                <string>{{1727,2403},{120,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00001223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{360,320}</string>
                <key>textureRect</key>
                <string>{{1059,3205},{360,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00001226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1295,3023},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00001227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1311,2671},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00001228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1727,2575},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00001229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{1311,2733},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00001230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1311,2605},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00001231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{1295,2779},{120,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00001232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,280}</string>
                <key>spriteSourceSize</key>
                <string>{160,280}</string>
                <key>textureRect</key>
                <string>{{797,3315},{160,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua004/00001234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1695,2641},{200,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua004/00001235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{959,3485},{104,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lianhua004-0.pvr.ccz</string>
            <key>size</key>
            <string>{1802,3596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd48d9c6216badccba524a36e53657fd:bbb5735cd0b1a20468727ace64b7f320:85e682f8c9d78457a1933c4a9b84ffef$</string>
            <key>textureFileName</key>
            <string>lianhua004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
