<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhua_stage001/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,563},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,733},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,903},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,1073},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,1243},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,1413},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,1583},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,1753},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,1923},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3245,2093},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2559,3253},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2623,3423},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2657,3253},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2721,3423},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000421.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{2403,2245},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000422.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,380}</string>
                <key>spriteSourceSize</key>
                <string>{800,380}</string>
                <key>textureRect</key>
                <string>{{2403,2847},{800,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000423.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,560}</string>
                <key>spriteSourceSize</key>
                <string>{900,560}</string>
                <key>textureRect</key>
                <string>{{2403,1},{900,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000424.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1680,840}</string>
                <key>spriteSourceSize</key>
                <string>{1680,840}</string>
                <key>textureRect</key>
                <string>{{2403,563},{1680,840}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000425.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000426.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{76,184}</string>
                <key>textureRect</key>
                <string>{{2403,3253},{76,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000427_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3205,2263},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000427_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3205,2373},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000427_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3205,2483},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000427_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3205,2593},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000427_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3205,2703},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000427_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3205,2813},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000427_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3205,2923},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000427_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3205,3033},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000427_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3205,3143},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua_stage001/00000427_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2403,3439},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000427_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2513,3439},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000427_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2755,3253},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000427_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2819,3387},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000427_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2865,3253},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000427_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2929,3387},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000428.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{2400,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000429.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{76,184}</string>
                <key>textureRect</key>
                <string>{{2481,3253},{76,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua_stage001/00000431.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{2975,3253},{104,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lianhua_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3342,3604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:813f9480041097cd7be13c76b2ed0c70:6067361e40ceffa49cdb08a25fba290e:2263fccc25f2c52eee1f34a484ebf9d6$</string>
            <key>textureFileName</key>
            <string>lianhua_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
