<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhua005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1227,2847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1325,2847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1423,2847},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1521,2847},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1521,2945},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1455,3043},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1625,3115},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1455,3141},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1625,3213},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1437,3239},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1607,3311},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1365,3337},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1365,3435},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1463,3435},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000421.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{523,2403},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000427_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{523,3205},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000427_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{657,3205},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000427_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{791,3205},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000427_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{925,3205},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000427_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1059,3205},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000427_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1125,3049},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000427_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1193,3183},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000427_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1235,3017},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000427_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1327,3151},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000427_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1345,3017},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000427_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1691,2847},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000427_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1691,2981},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000427_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1561,3409},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000427_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1561,3519},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000427_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1671,3519},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00000429.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{76,184}</string>
                <key>textureRect</key>
                <string>{{687,3573},{76,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00000435.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00001214_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{1125,2403},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001215_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,520}</string>
                <key>spriteSourceSize</key>
                <string>{920,520}</string>
                <key>textureRect</key>
                <string>{{1,2403},{920,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00001216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{525,3597},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1125,2645},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{687,3315},{256,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00001219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{363,3325},{160,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{120,76}</string>
                <key>textureRect</key>
                <string>{{873,3573},{120,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,72}</string>
                <key>textureRect</key>
                <string>{{1727,2403},{120,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua005/00001222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{995,3557},{200,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{360,320}</string>
                <key>textureRect</key>
                <string>{{1,3325},{360,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{881,3315},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{1197,3557},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,280}</string>
                <key>spriteSourceSize</key>
                <string>{160,280}</string>
                <key>textureRect</key>
                <string>{{525,3315},{160,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1123,3315},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua005/00001237.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1125,2847},{200,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lianhua005-0.pvr.ccz</string>
            <key>size</key>
            <string>{1802,3652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da9d5ad0b70b9f835070984b1cad04e9:d6d49978344b6d8c18a9b97c6ce15e2d:6b443074a44b5136202b2c20898f4d9e$</string>
            <key>textureFileName</key>
            <string>lianhua005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
