<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhua006/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1687,2887},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1687,3057},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{797,3087},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{925,3185},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{967,3087},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1079,2925},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{925,3355},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{991,3525},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1023,3185},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1023,3355},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1121,3185},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1137,3085},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1249,2925},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1419,2925},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000421.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,2403},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1307,3023},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000427_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1307,3157},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000427_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1297,3291},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000427_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1121,3355},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000427_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1491,3201},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1625,3227},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1491,3311},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1625,3337},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1407,3421},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1161,3489},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000427_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1271,3425},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1405,3531},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1271,3535},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1539,3531},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000427_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1673,3447},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00000429.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{76,184}</string>
                <key>textureRect</key>
                <string>{{805,3563},{76,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00000435.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00001214_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{1,3205},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001215_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,520}</string>
                <key>spriteSourceSize</key>
                <string>{920,520}</string>
                <key>textureRect</key>
                <string>{{603,2403},{920,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{1141,3023},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1,3447},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{603,2925},{256,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00001219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{1525,2887},{160,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{120,76}</string>
                <key>textureRect</key>
                <string>{{1219,3183},{120,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00001221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,72}</string>
                <key>textureRect</key>
                <string>{{1417,3197},{120,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00001222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{603,3563},{200,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{360,320}</string>
                <key>textureRect</key>
                <string>{{603,3201},{360,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00001225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1525,2403},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1211,3023},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1079,3023},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1231,3305},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,280}</string>
                <key>spriteSourceSize</key>
                <string>{160,280}</string>
                <key>textureRect</key>
                <string>{{797,2925},{160,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua006/00001236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1525,2645},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua006/00001238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1417,3095},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lianhua006-0.pvr.ccz</string>
            <key>size</key>
            <string>{1802,3648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f9d5208c990cfd83653382a689938a6:8c435b8e0ac6ed034dbce79c0eed4c88:b118fe55cc750267cabaeae0bc9c5427$</string>
            <key>textureFileName</key>
            <string>lianhua006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
