<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhua003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{603,2661},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{603,2759},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{603,2857},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{603,2955},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{603,3053},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1697,2977},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1697,3147},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{603,3317},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{603,3151},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{773,3317},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{773,3127},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{871,3127},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{799,3415},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{897,3415},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000421.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,2403},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000426.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{76,184}</string>
                <key>textureRect</key>
                <string>{{1721,2605},{76,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000427_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{943,3297},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000427_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{969,3127},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000427_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1077,3261},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000427_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1079,3127},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000427_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1189,3127},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000427_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1211,3261},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000427_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1345,3287},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000427_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1077,3371},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000427_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1187,3371},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000427_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1455,3287},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000427_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1589,3317},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000427_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1455,3397},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000427_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1321,3421},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000427_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1187,3481},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00000427_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{1589,3427},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000429.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{76,184}</string>
                <key>textureRect</key>
                <string>{{1721,2791},{76,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00000435.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00001214_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{1,3205},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00001215_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,520}</string>
                <key>spriteSourceSize</key>
                <string>{920,520}</string>
                <key>textureRect</key>
                <string>{{799,2403},{920,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00001216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{597,3549},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00001217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{773,2925},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00001218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{603,2403},{256,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00001219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{1,3447},{160,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00001220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{120,76}</string>
                <key>textureRect</key>
                <string>{{995,3529},{120,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00001221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,72}</string>
                <key>textureRect</key>
                <string>{{1299,3127},{120,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00001222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{1721,2403},{200,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00001223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{360,320}</string>
                <key>textureRect</key>
                <string>{{1375,2925},{360,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00001226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{667,3549},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00001227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{603,3249},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00001229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{725,3549},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhua003/00001231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{995,3407},{120,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00001232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,280}</string>
                <key>spriteSourceSize</key>
                <string>{160,280}</string>
                <key>textureRect</key>
                <string>{{315,3447},{160,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianhua003/00001234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{597,3447},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lianhua003-0.pvr.ccz</string>
            <key>size</key>
            <string>{1802,3608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b3eda8e0780293d50bdbe28c103d271:e03b24ce10eac75d431ed49dc51ff592:2fff6d5cf250e34d866a46999c4f3cf5$</string>
            <key>textureFileName</key>
            <string>lianhua003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
