<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>litang004/00001934.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1660}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1660}</string>
                <key>textureRect</key>
                <string>{{1,1},{1020,1660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>litang004-1.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89fa16fe4f54237f446bc48878af7c01:9b32b4b1fd6798110e231f9f26bab05d:a508b5cfc37addc2d9d0031c69701950$</string>
            <key>textureFileName</key>
            <string>litang004-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
