<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>litang004/00000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{3203,1},{900,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang004/00000024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{3465,1305},{800,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang004/00000027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2440,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2440,1080}</string>
                <key>textureRect</key>
                <string>{{1,1403},{2440,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1400}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1400}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3203,1305},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2805,3607},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3465,2709},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3707,1305},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2045,2485},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2975,3607},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3465,2879},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3563,2709},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3707,1475},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2045,2655},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2143,2485},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3145,3607},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3563,2879},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3661,2709},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000127_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{3203,903},{400,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang004/00000127_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{3465,2107},{400,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00000176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,360}</string>
                <key>spriteSourceSize</key>
                <string>{40,360}</string>
                <key>textureRect</key>
                <string>{{2003,2485},{40,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00001310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{1,2485},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00001387.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,1660}</string>
                <key>spriteSourceSize</key>
                <string>{1020,1660}</string>
                <key>textureRect</key>
                <string>{{2443,1403},{1020,1660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00001582.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,660}</string>
                <key>spriteSourceSize</key>
                <string>{800,660}</string>
                <key>textureRect</key>
                <string>{{2003,3065},{800,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00001930.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,540}</string>
                <key>spriteSourceSize</key>
                <string>{752,540}</string>
                <key>textureRect</key>
                <string>{{2805,3065},{752,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang004/00001931.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,156}</string>
                <key>spriteSourceSize</key>
                <string>{68,156}</string>
                <key>textureRect</key>
                <string>{{3707,1645},{68,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>litang004-0.pvr.ccz</string>
            <key>size</key>
            <string>{3866,3726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89fa16fe4f54237f446bc48878af7c01:9b32b4b1fd6798110e231f9f26bab05d:a508b5cfc37addc2d9d0031c69701950$</string>
            <key>textureFileName</key>
            <string>litang004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
