<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>litang005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3205,1895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3375,1895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3519,1405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3617,1405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3715,1405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3813,1405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3911,1405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3921,603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3921,773},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3921,943},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3921,1113},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3947,1895},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3947,2065},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3947,2235},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{175,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{349,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{523,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{697,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{871,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1045,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1219,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1393,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1567,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1741,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1915,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2089,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2263,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2437,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2611,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2785,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{2959,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3133,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000103_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3307,3605},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{3205,1653},{800,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3205,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000220_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{3519,603},{800,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang005/00000221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{3545,1895},{800,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang005/00000413_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang005/00000488_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{3505,2697},{480,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang005/00000493_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{3505,3179},{480,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang005/00000496.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1,2003},{2000,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>litang005/00000497.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1603,1},{2000,1600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang005/00001926.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1048,312}</string>
                <key>spriteSourceSize</key>
                <string>{1048,312}</string>
                <key>textureRect</key>
                <string>{{3205,603},{1048,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>litang005/00001927.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1500}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1500}</string>
                <key>textureRect</key>
                <string>{{2003,2003},{1600,1500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>litang005-0.pvr.ccz</string>
            <key>size</key>
            <string>{4066,3694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c41b5ae543bea0990a60a57a765387e7:fb71a4c70f6ee0d7e249acfde700f71c:b3aed15c1a1c8c25fa28c7e7cf6229f3$</string>
            <key>textureFileName</key>
            <string>litang005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
