<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mantou002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{537,2303},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{919,2703},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{919,2873},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{323,3251},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{323,3349},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{807,3383},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{807,3481},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{807,3579},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{315,3447},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{315,3545},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{315,3643},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{413,3643},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{789,3677},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{613,3683},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000777.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1291},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000778_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,500}</string>
                <key>spriteSourceSize</key>
                <string>{1000,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000779.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{537,2401},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000780.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{773,1897},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000781.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{511,3683},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000782.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{803,1545},{256,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000783.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{983,699},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000784.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,132}</string>
                <key>spriteSourceSize</key>
                <string>{272,132}</string>
                <key>textureRect</key>
                <string>{{403,2199},{272,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000785.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,128}</string>
                <key>textureRect</key>
                <string>{{1,3447},{300,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000786.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,128}</string>
                <key>spriteSourceSize</key>
                <string>{172,128}</string>
                <key>textureRect</key>
                <string>{{773,2137},{172,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000787.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,320}</string>
                <key>spriteSourceSize</key>
                <string>{284,320}</string>
                <key>textureRect</key>
                <string>{{1,3161},{284,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000789.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{975,893},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000790.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{975,1077},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000791.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{975,1119},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000792.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{975,1161},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000793.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{115,3589},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000794.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,104}</string>
                <key>spriteSourceSize</key>
                <string>{32,104}</string>
                <key>textureRect</key>
                <string>{{983,503},{32,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000795.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{32,88}</string>
                <key>textureRect</key>
                <string>{{983,609},{32,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000796.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{1,3677},{160,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000797_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{773,2267},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000797_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{403,2473},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000797_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{403,2643},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000797_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{403,2813},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000797_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{363,2983},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000797_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{363,3117},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000797_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{871,3043},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000797_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{871,3213},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000798.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,408}</string>
                <key>spriteSourceSize</key>
                <string>{228,408}</string>
                <key>textureRect</key>
                <string>{{543,1893},{228,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000799.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{1,2859},{360,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,216}</string>
                <key>spriteSourceSize</key>
                <string>{76,216}</string>
                <key>textureRect</key>
                <string>{{773,2059},{76,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,380}</string>
                <key>spriteSourceSize</key>
                <string>{320,380}</string>
                <key>textureRect</key>
                <string>{{537,2703},{320,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{803,1803},{180,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,60}</string>
                <key>textureRect</key>
                <string>{{947,2231},{320,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,300}</string>
                <key>spriteSourceSize</key>
                <string>{312,300}</string>
                <key>textureRect</key>
                <string>{{493,3287},{312,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,400}</string>
                <key>spriteSourceSize</key>
                <string>{356,400}</string>
                <key>textureRect</key>
                <string>{{1,2199},{356,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{803,1291},{252,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,92}</string>
                <key>spriteSourceSize</key>
                <string>{276,92}</string>
                <key>textureRect</key>
                <string>{{511,3589},{276,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{939,2553},{100,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{947,2137},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou002/00000811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{1,3589},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000813.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{975,939},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000814.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{975,985},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000815.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,260}</string>
                <key>spriteSourceSize</key>
                <string>{336,260}</string>
                <key>textureRect</key>
                <string>{{533,3025},{336,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{707,2353},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000819.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{975,1031},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000820.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,304}</string>
                <key>spriteSourceSize</key>
                <string>{540,304}</string>
                <key>textureRect</key>
                <string>{{1,1893},{540,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000821.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1,2557},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000822.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{707,2303},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000823.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{975,1203},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000824.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{980,388}</string>
                <key>spriteSourceSize</key>
                <string>{980,388}</string>
                <key>textureRect</key>
                <string>{{1,503},{980,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou002/00000825.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,396}</string>
                <key>spriteSourceSize</key>
                <string>{972,396}</string>
                <key>textureRect</key>
                <string>{{1,893},{972,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mantou002-0.pvr.ccz</string>
            <key>size</key>
            <string>{1016,3838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f39555a50411a9ca9cfa00154902f957:c9bba0c689e7325f528f6214bdb7c4c7:36c782292c73a41724d306d41d9fcdb1$</string>
            <key>textureFileName</key>
            <string>mantou002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
