<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mantou004/00000540_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{331,1705},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000540_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1821,1413},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000540_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1463,995},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000540_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1633,995},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000540_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1751,1653},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000540_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1849,1583},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000540_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1849,1753},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000540_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1919,1435},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000540_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2089,1435},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000540_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1947,1533},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000540_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2019,1703},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000540_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2045,1533},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000540_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2117,1703},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000540_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2143,1533},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000979.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,700}</string>
                <key>spriteSourceSize</key>
                <string>{900,700}</string>
                <key>textureRect</key>
                <string>{{331,1003},{900,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000980.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,900}</string>
                <key>spriteSourceSize</key>
                <string>{1000,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000981.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{616,684}</string>
                <key>spriteSourceSize</key>
                <string>{616,684}</string>
                <key>textureRect</key>
                <string>{{1469,1},{616,684}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000982.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1963,825},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000983.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,500}</string>
                <key>spriteSourceSize</key>
                <string>{220,500}</string>
                <key>textureRect</key>
                <string>{{1245,1},{220,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000984.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,160}</string>
                <key>spriteSourceSize</key>
                <string>{264,160}</string>
                <key>textureRect</key>
                <string>{{1077,303},{264,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000985.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{1469,1669},{280,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000986_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{1,1805},{84,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000986_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{103,1805},{84,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000986_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{205,1805},{84,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000986_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{84,100}</string>
                <key>textureRect</key>
                <string>{{103,1805},{84,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000987.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2155,605},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000988.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,380}</string>
                <key>spriteSourceSize</key>
                <string>{200,380}</string>
                <key>textureRect</key>
                <string>{{1463,1141},{200,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000989.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,304}</string>
                <key>spriteSourceSize</key>
                <string>{120,304}</string>
                <key>textureRect</key>
                <string>{{2155,1},{120,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000990.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,172}</string>
                <key>spriteSourceSize</key>
                <string>{604,172}</string>
                <key>textureRect</key>
                <string>{{903,1},{604,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000991.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,204}</string>
                <key>spriteSourceSize</key>
                <string>{660,204}</string>
                <key>textureRect</key>
                <string>{{1469,619},{660,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000992.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,68}</string>
                <key>spriteSourceSize</key>
                <string>{104,68}</string>
                <key>textureRect</key>
                <string>{{1821,1343},{104,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000993.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,220}</string>
                <key>spriteSourceSize</key>
                <string>{448,220}</string>
                <key>textureRect</key>
                <string>{{1245,503},{448,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000994.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1145,569},{36,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000995.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{2241,727},{24,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000996.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{447,1841},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000997.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,80}</string>
                <key>textureRect</key>
                <string>{{307,1805},{104,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000998.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,168}</string>
                <key>spriteSourceSize</key>
                <string>{492,168}</string>
                <key>textureRect</key>
                <string>{{1469,825},{492,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000999_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{292,308}</string>
                <key>textureRect</key>
                <string>{{1233,1359},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000999_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{292,308}</string>
                <key>textureRect</key>
                <string>{{1955,1141},{292,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00000999_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{292,308}</string>
                <key>textureRect</key>
                <string>{{1527,1343},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00000999_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{292,308}</string>
                <key>textureRect</key>
                <string>{{1955,1141},{292,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00001000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,380}</string>
                <key>spriteSourceSize</key>
                <string>{340,380}</string>
                <key>textureRect</key>
                <string>{{903,619},{340,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001001_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{413,1841},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001001_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1077,569},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001001_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1111,569},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001001_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1077,569},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{501,1705},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001003_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{2131,727},{108,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001003_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{1845,995},{108,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001003_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{1845,1169},{108,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001003_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{1845,995},{108,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,36}</string>
                <key>spriteSourceSize</key>
                <string>{80,36}</string>
                <key>textureRect</key>
                <string>{{413,1803},{80,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,120}</string>
                <key>spriteSourceSize</key>
                <string>{296,120}</string>
                <key>textureRect</key>
                <string>{{2155,307},{296,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00001006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,216}</string>
                <key>spriteSourceSize</key>
                <string>{404,216}</string>
                <key>textureRect</key>
                <string>{{1245,953},{404,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00001007_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{743,1705},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001007_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{985,1705},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001007_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1227,1705},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001007_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{985,1705},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantou004/00001008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,328}</string>
                <key>spriteSourceSize</key>
                <string>{800,328}</string>
                <key>textureRect</key>
                <string>{{1,1003},{800,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00001009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,160}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{1077,1},{300,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mantou004/00001010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,312}</string>
                <key>spriteSourceSize</key>
                <string>{212,312}</string>
                <key>textureRect</key>
                <string>{{1963,927},{212,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mantou004-0.pvr.ccz</string>
            <key>size</key>
            <string>{2276,1890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4684322172839fc5fed5123fe9850ea5:a681f5650eb73878ce3671f6b4867094:a10e50859590e0b6230f6ded5509cd5e$</string>
            <key>textureFileName</key>
            <string>mantou004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
