<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>migong112/00000220_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{699,403},{800,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2539,743},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{1293,955},{60,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00000227_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{1367,955},{60,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00000227_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2645,887},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2645,961},{60,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00000227_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2707,887},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2769,875},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2831,875},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{1293,955},{60,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00000227_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{1367,955},{60,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00000227_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2645,887},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2645,961},{60,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00000227_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2707,887},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2769,875},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2831,875},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000227_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{2539,743},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00000339_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1604,400}</string>
                <key>spriteSourceSize</key>
                <string>{1604,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{1604,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{1167,941},{124,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,64}</string>
                <key>textureRect</key>
                <string>{{699,951},{320,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,472}</string>
                <key>spriteSourceSize</key>
                <string>{352,472}</string>
                <key>textureRect</key>
                <string>{{2609,1},{352,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{2723,793},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{2833,793},{88,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,52}</string>
                <key>spriteSourceSize</key>
                <string>{304,52}</string>
                <key>textureRect</key>
                <string>{{1001,887},{304,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,360}</string>
                <key>spriteSourceSize</key>
                <string>{320,360}</string>
                <key>textureRect</key>
                <string>{{2963,519},{320,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{2609,475},{316,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{2539,817},{112,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00001194_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{2539,931},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001194_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{2617,793},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001194_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{2539,931},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,80}</string>
                <key>spriteSourceSize</key>
                <string>{144,80}</string>
                <key>textureRect</key>
                <string>{{1021,941},{144,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,740}</string>
                <key>spriteSourceSize</key>
                <string>{1000,740}</string>
                <key>textureRect</key>
                <string>{{1607,1},{1000,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{699,805},{300,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{1311,805},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001625.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{2055,743},{280,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00001626.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{2963,1},{516,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00001627.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{1,403},{696,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001628.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,100}</string>
                <key>spriteSourceSize</key>
                <string>{316,100}</string>
                <key>textureRect</key>
                <string>{{1501,403},{316,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong112/00001629.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,80}</string>
                <key>spriteSourceSize</key>
                <string>{308,80}</string>
                <key>textureRect</key>
                <string>{{1001,805},{308,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001630.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,264}</string>
                <key>spriteSourceSize</key>
                <string>{552,264}</string>
                <key>textureRect</key>
                <string>{{1501,743},{552,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong112/00001631.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{2297,743},{280,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>migong112-0.pvr.ccz</string>
            <key>size</key>
            <string>{3284,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4ce62d8fa27300feab3e05a74287871:775dcacaebdb6eb17a260810410b18eb:425ee19bdd517c54d57c571718b22625$</string>
            <key>textureFileName</key>
            <string>migong112-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
