<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>migong037/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{547,911},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{609,879},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{609,941},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{671,879},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{671,941},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{671,879},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{609,941},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{609,879},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000012_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{733,863},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000012_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{733,925},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000012_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{795,927},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000012_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{857,927},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000012_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{919,927},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000012_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{857,927},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000012_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{795,927},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000012_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{733,925},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000872.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{949,789},{52,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000873.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{441,911},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000878.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,140}</string>
                <key>spriteSourceSize</key>
                <string>{372,140}</string>
                <key>textureRect</key>
                <string>{{637,363},{372,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong037/00000879.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,172}</string>
                <key>spriteSourceSize</key>
                <string>{280,172}</string>
                <key>textureRect</key>
                <string>{{267,689},{280,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong037/00000880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{779,359},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,140}</string>
                <key>spriteSourceSize</key>
                <string>{108,140}</string>
                <key>textureRect</key>
                <string>{{599,737},{108,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000891.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{156,236}</string>
                <key>textureRect</key>
                <string>{{441,673},{156,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000892.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000893.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{779,529},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00000895.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{949,699},{88,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong037/00001826.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{264,288}</string>
                <key>textureRect</key>
                <string>{{1,689},{264,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00001828.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,308}</string>
                <key>spriteSourceSize</key>
                <string>{232,308}</string>
                <key>textureRect</key>
                <string>{{403,363},{232,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00001836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,300}</string>
                <key>spriteSourceSize</key>
                <string>{356,300}</string>
                <key>textureRect</key>
                <string>{{703,1},{356,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong037/00001837_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{709,737},{124,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong037/00001837_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{823,699},{124,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00001837_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{823,813},{124,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00001837_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{823,699},{124,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong037/00001839.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{1,363},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>migong037-0.pvr.ccz</string>
            <key>size</key>
            <string>{1004,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad37a589574cd5d6d824d4cc1a65cae4:d216ee6ec11ca201b0be40806963e0f5:d1ee6aef8f524499f2780a70af3db88a$</string>
            <key>textureFileName</key>
            <string>migong037-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
