<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>migong056/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{925,699},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{925,761},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{905,823},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{693,879},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{693,941},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{693,879},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{905,823},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{925,761},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000012_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{755,891},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000012_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{817,891},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000012_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{755,953},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000012_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{817,953},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000012_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{879,891},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000012_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{817,953},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000012_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{755,953},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000012_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{817,891},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000872.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{357,971},{52,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong056/00000873.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{799,813},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000878.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,140}</string>
                <key>spriteSourceSize</key>
                <string>{372,140}</string>
                <key>textureRect</key>
                <string>{{637,363},{372,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong056/00000879.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,172}</string>
                <key>spriteSourceSize</key>
                <string>{280,172}</string>
                <key>textureRect</key>
                <string>{{267,689},{280,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong056/00000880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{779,359},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,140}</string>
                <key>spriteSourceSize</key>
                <string>{108,140}</string>
                <key>textureRect</key>
                <string>{{689,737},{108,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000886.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,168}</string>
                <key>spriteSourceSize</key>
                <string>{88,168}</string>
                <key>textureRect</key>
                <string>{{599,737},{88,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000891.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{156,236}</string>
                <key>textureRect</key>
                <string>{{441,673},{156,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000892.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000893.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,168}</string>
                <key>spriteSourceSize</key>
                <string>{208,168}</string>
                <key>textureRect</key>
                <string>{{779,529},{208,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00000895.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,52}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{267,971},{88,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00001826.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,288}</string>
                <key>spriteSourceSize</key>
                <string>{264,288}</string>
                <key>textureRect</key>
                <string>{{1,689},{264,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00001828.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,308}</string>
                <key>spriteSourceSize</key>
                <string>{232,308}</string>
                <key>textureRect</key>
                <string>{{403,363},{232,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00001836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,300}</string>
                <key>spriteSourceSize</key>
                <string>{356,300}</string>
                <key>textureRect</key>
                <string>{{703,1},{356,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong056/00001837_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{441,911},{124,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00001837_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{567,911},{124,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00001837_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{799,699},{124,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00001837_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,112}</string>
                <key>spriteSourceSize</key>
                <string>{124,112}</string>
                <key>textureRect</key>
                <string>{{567,911},{124,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong056/00001839.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,324}</string>
                <key>textureRect</key>
                <string>{{1,363},{400,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>migong056-0.pvr.ccz</string>
            <key>size</key>
            <string>{1004,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dbbc4e33b458b20e1610cfca13f72a2:6e2a1057e44fd4265fbf5386359dd8e9:3c75d4a25fce367f464a4a56e4ce0087$</string>
            <key>textureFileName</key>
            <string>migong056-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
