<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>migong1/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{669,3413},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{767,3413},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{669,3583},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{825,2425},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{753,2595},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{851,2595},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{753,2765},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{891,2085},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{891,2255},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{923,2425},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{889,3117},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{865,3413},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{839,3583},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{915,3681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00000339_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1604,400}</string>
                <key>spriteSourceSize</key>
                <string>{1604,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{1604,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00000411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,680}</string>
                <key>spriteSourceSize</key>
                <string>{596,680}</string>
                <key>textureRect</key>
                <string>{{403,1},{596,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{1,3673},{288,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,468}</string>
                <key>spriteSourceSize</key>
                <string>{376,468}</string>
                <key>textureRect</key>
                <string>{{1,3203},{376,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,360}</string>
                <key>spriteSourceSize</key>
                <string>{300,360}</string>
                <key>textureRect</key>
                <string>{{613,3721},{300,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{859,3287},{124,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{949,2595},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,64}</string>
                <key>textureRect</key>
                <string>{{825,2103},{320,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,472}</string>
                <key>spriteSourceSize</key>
                <string>{352,472}</string>
                <key>textureRect</key>
                <string>{{403,683},{352,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{937,3287},{108,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{923,2765},{88,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{963,3397},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,52}</string>
                <key>spriteSourceSize</key>
                <string>{304,52}</string>
                <key>textureRect</key>
                <string>{{699,2609},{304,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001182_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{889,2003},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001182_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{915,3851},{112,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001182_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{889,2003},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,360}</string>
                <key>spriteSourceSize</key>
                <string>{320,360}</string>
                <key>textureRect</key>
                <string>{{291,3721},{320,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{403,1157},{316,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{753,2863},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,176}</string>
                <key>spriteSourceSize</key>
                <string>{32,176}</string>
                <key>textureRect</key>
                <string>{{669,3681},{32,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{915,3965},{112,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,80}</string>
                <key>spriteSourceSize</key>
                <string>{144,80}</string>
                <key>textureRect</key>
                <string>{{743,2413},{144,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,20}</string>
                <key>spriteSourceSize</key>
                <string>{140,20}</string>
                <key>textureRect</key>
                <string>{{1001,1},{140,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,740}</string>
                <key>spriteSourceSize</key>
                <string>{1000,740}</string>
                <key>textureRect</key>
                <string>{{1,1607},{1000,740}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{743,1801},{300,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{699,3117},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001625.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{757,1237},{280,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001626.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{379,3203},{516,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001627.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{1,2609},{696,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001628.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,100}</string>
                <key>spriteSourceSize</key>
                <string>{316,100}</string>
                <key>textureRect</key>
                <string>{{403,1475},{316,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001629.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,80}</string>
                <key>spriteSourceSize</key>
                <string>{308,80}</string>
                <key>textureRect</key>
                <string>{{743,2103},{308,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001630.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,264}</string>
                <key>spriteSourceSize</key>
                <string>{552,264}</string>
                <key>textureRect</key>
                <string>{{757,683},{552,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001631.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{743,1519},{280,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001831.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{699,2915},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong1/00001832_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,88}</string>
                <key>spriteSourceSize</key>
                <string>{200,88}</string>
                <key>textureRect</key>
                <string>{{889,1801},{200,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong1/00001833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,144}</string>
                <key>spriteSourceSize</key>
                <string>{188,144}</string>
                <key>textureRect</key>
                <string>{{669,3267},{188,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>migong1-0.pvr.ccz</string>
            <key>size</key>
            <string>{1022,4086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e00980d7d31a7af4ba705e75096c4ac4:58abdad76c09112b28330075323f23f5:c87d9fe58f75eed6a60e148a8fe5e209$</string>
            <key>textureFileName</key>
            <string>migong1-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
