<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>migong100/00000275.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{1047,1877},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000582_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{645,1699},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000582_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{759,1699},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000582_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1149,1181},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000582_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1149,1295},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000582_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{859,1359},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000582_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{973,1359},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000582_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{859,1561},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000582_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{873,1675},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000582_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{987,1675},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000582_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1087,1409},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000582_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1087,1523},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000582_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{645,1699},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000582_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1101,1637},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000582_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1215,1637},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000582_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1101,1839},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{351,1},{1000,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000719.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{1157,1011},{132,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,68}</string>
                <key>textureRect</key>
                <string>{{1275,1},{168,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000721.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{645,1901},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000722.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,128}</string>
                <key>spriteSourceSize</key>
                <string>{52,128}</string>
                <key>textureRect</key>
                <string>{{1275,171},{52,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000738.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,192}</string>
                <key>spriteSourceSize</key>
                <string>{104,192}</string>
                <key>textureRect</key>
                <string>{{1157,905},{104,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000739.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1275,301},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000740.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,168}</string>
                <key>spriteSourceSize</key>
                <string>{288,168}</string>
                <key>textureRect</key>
                <string>{{673,1173},{288,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000741.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,168}</string>
                <key>spriteSourceSize</key>
                <string>{296,168}</string>
                <key>textureRect</key>
                <string>{{673,1003},{296,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000743.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{1153,439},{108,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000747.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,436}</string>
                <key>spriteSourceSize</key>
                <string>{120,436}</string>
                <key>textureRect</key>
                <string>{{1153,1},{120,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000755.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,172}</string>
                <key>spriteSourceSize</key>
                <string>{104,172}</string>
                <key>textureRect</key>
                <string>{{873,1877},{104,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000756_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{673,1343},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000756_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{971,1003},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000756_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1153,549},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000756_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1153,727},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000756_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{963,1181},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000756_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{673,1521},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{84,60}</string>
                <key>textureRect</key>
                <string>{{1289,1409},{84,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00000762.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{1087,1359},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000763.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{1289,1495},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000769.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,28}</string>
                <key>spriteSourceSize</key>
                <string>{12,28}</string>
                <key>textureRect</key>
                <string>{{645,1647},{12,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000770.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{84,64}</string>
                <key>textureRect</key>
                <string>{{739,1901},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00000774.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{1061,1561},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00001681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1644,348}</string>
                <key>spriteSourceSize</key>
                <string>{1644,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{1644,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong100/00001841_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1647},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00001841_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{351,1003},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00001841_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{351,1325},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong100/00001841_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{323,1647},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>migong100-0.pvr.ccz</string>
            <key>size</key>
            <string>{1350,1982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10837169164bb16fa06c7100efb1bbd0:818e2db3d48b7e7e6d78b90a50a4a49d:f810634d93b81006e79f65f3d71010c0$</string>
            <key>textureFileName</key>
            <string>migong100-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
