<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>migong016/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,2915},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{797,2883},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,3085},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{797,3053},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{669,3255},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{669,3425},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{895,2961},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{801,3223},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{767,3433},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{747,3603},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{891,2057},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{899,3213},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{865,3393},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{915,3701},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00000339_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1604,400}</string>
                <key>spriteSourceSize</key>
                <string>{1604,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{1604,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00000411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,680}</string>
                <key>spriteSourceSize</key>
                <string>{596,680}</string>
                <key>textureRect</key>
                <string>{{403,1},{596,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{1,3673},{288,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,468}</string>
                <key>spriteSourceSize</key>
                <string>{376,468}</string>
                <key>textureRect</key>
                <string>{{1,3203},{376,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,360}</string>
                <key>spriteSourceSize</key>
                <string>{300,360}</string>
                <key>textureRect</key>
                <string>{{613,3721},{300,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{669,3595},{124,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{963,3383},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,64}</string>
                <key>textureRect</key>
                <string>{{825,2063},{320,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,472}</string>
                <key>spriteSourceSize</key>
                <string>{352,472}</string>
                <key>textureRect</key>
                <string>{{403,683},{352,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{895,3131},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{915,3985},{88,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{963,3477},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,52}</string>
                <key>spriteSourceSize</key>
                <string>{304,52}</string>
                <key>textureRect</key>
                <string>{{699,2609},{304,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001182_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{943,2733},{112,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001182_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{943,2847},{112,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001182_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{943,2733},{112,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,360}</string>
                <key>spriteSourceSize</key>
                <string>{320,360}</string>
                <key>textureRect</key>
                <string>{{291,3721},{320,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{403,1157},{316,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{979,1761},{88,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,176}</string>
                <key>spriteSourceSize</key>
                <string>{32,176}</string>
                <key>textureRect</key>
                <string>{{767,3255},{32,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{915,3871},{112,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001194_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{889,1963},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001194_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{891,2227},{104,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001194_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{889,1963},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,80}</string>
                <key>spriteSourceSize</key>
                <string>{144,80}</string>
                <key>textureRect</key>
                <string>{{943,2587},{144,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,20}</string>
                <key>spriteSourceSize</key>
                <string>{140,20}</string>
                <key>textureRect</key>
                <string>{{1001,1},{140,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,740}</string>
                <key>spriteSourceSize</key>
                <string>{1000,740}</string>
                <key>textureRect</key>
                <string>{{1,1607},{1000,740}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{743,1761},{300,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{753,2587},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001625.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{757,1237},{280,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001626.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{379,3203},{516,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001627.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{1,2609},{696,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001628.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,100}</string>
                <key>spriteSourceSize</key>
                <string>{316,100}</string>
                <key>textureRect</key>
                <string>{{403,1475},{316,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001629.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,80}</string>
                <key>spriteSourceSize</key>
                <string>{308,80}</string>
                <key>textureRect</key>
                <string>{{743,2063},{308,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001630.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,264}</string>
                <key>spriteSourceSize</key>
                <string>{552,264}</string>
                <key>textureRect</key>
                <string>{{757,683},{552,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001631.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{743,1519},{280,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001831.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{743,2385},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong016/00001832_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,88}</string>
                <key>spriteSourceSize</key>
                <string>{200,88}</string>
                <key>textureRect</key>
                <string>{{889,1761},{200,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong016/00001833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,144}</string>
                <key>spriteSourceSize</key>
                <string>{188,144}</string>
                <key>textureRect</key>
                <string>{{753,2737},{188,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>migong016-0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,4086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:542eac9f65688edbcb906dba8135194a:74a1ebdcb9fd279d814b8fd8882c58b7:e4389b1ac8e4ca8da53b9dd3b7f9f49b$</string>
            <key>textureFileName</key>
            <string>migong016-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
