<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>migong107/00000339_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1604,400}</string>
                <key>spriteSourceSize</key>
                <string>{1604,400}</string>
                <key>textureRect</key>
                <string>{{1,1337},{1604,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong107/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{757,2659},{124,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,64}</string>
                <key>textureRect</key>
                <string>{{669,2225},{320,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,472}</string>
                <key>spriteSourceSize</key>
                <string>{352,472}</string>
                <key>textureRect</key>
                <string>{{403,2427},{352,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{757,2737},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{851,2819},{88,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong107/00001181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,52}</string>
                <key>spriteSourceSize</key>
                <string>{304,52}</string>
                <key>textureRect</key>
                <string>{{669,2373},{304,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,360}</string>
                <key>spriteSourceSize</key>
                <string>{320,360}</string>
                <key>textureRect</key>
                <string>{{669,1863},{320,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{685,1407},{316,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{883,2683},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001194_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{903,2577},{104,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong107/00001194_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{757,2819},{104,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong107/00001194_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{903,2577},{104,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong107/00001209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,80}</string>
                <key>spriteSourceSize</key>
                <string>{144,80}</string>
                <key>textureRect</key>
                <string>{{757,2577},{144,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,740}</string>
                <key>spriteSourceSize</key>
                <string>{1000,740}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{699,743},{300,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{757,2427},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001625.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{403,1337},{280,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001626.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{699,889},{516,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong107/00001627.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{1,743},{696,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001628.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,100}</string>
                <key>spriteSourceSize</key>
                <string>{316,100}</string>
                <key>textureRect</key>
                <string>{{685,1761},{316,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001629.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,80}</string>
                <key>spriteSourceSize</key>
                <string>{308,80}</string>
                <key>textureRect</key>
                <string>{{669,2291},{308,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong107/00001630.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,264}</string>
                <key>spriteSourceSize</key>
                <string>{552,264}</string>
                <key>textureRect</key>
                <string>{{403,1821},{552,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong107/00001631.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{403,1579},{280,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>migong107-0.pvr.ccz</string>
            <key>size</key>
            <string>{1002,2942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b4c9f5a88192fdca04b8623fdd77082:4cf050b126646b0f038f09cdd6ad9753:9f7fdf9c95b2951b69dab464f61d62fd$</string>
            <key>textureFileName</key>
            <string>migong107-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
