<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>migong134/00000044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,880}</string>
                <key>spriteSourceSize</key>
                <string>{3200,880}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,880}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,883},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1840,580}</string>
                <key>spriteSourceSize</key>
                <string>{1840,580}</string>
                <key>textureRect</key>
                <string>{{803,883},{1840,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001283.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,164}</string>
                <key>spriteSourceSize</key>
                <string>{324,164}</string>
                <key>textureRect</key>
                <string>{{2807,1185},{324,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001284.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{2807,1351},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001285_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{667,1485},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong134/00001285_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{789,1485},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong134/00001285_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1259,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001285_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1345,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001285_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1431,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001285_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1517,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001286.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,160}</string>
                <key>textureRect</key>
                <string>{{2645,1185},{400,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong134/00001291.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{601,1485},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong134/00001295_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1603,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001295_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1689,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001295_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1775,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001295_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1861,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001296.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,120}</string>
                <key>textureRect</key>
                <string>{{1093,1465},{164,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001297_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1947,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001297_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{2033,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001297_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{2119,1465},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{911,1465},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong134/00001299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2645,883},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>migong134/00001834_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,148}</string>
                <key>spriteSourceSize</key>
                <string>{100,148}</string>
                <key>textureRect</key>
                <string>{{1,1485},{100,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong134/00001834_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,148}</string>
                <key>spriteSourceSize</key>
                <string>{100,148}</string>
                <key>textureRect</key>
                <string>{{151,1485},{100,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong134/00001834_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,148}</string>
                <key>spriteSourceSize</key>
                <string>{100,148}</string>
                <key>textureRect</key>
                <string>{{301,1485},{100,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>migong134/00001834_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,148}</string>
                <key>spriteSourceSize</key>
                <string>{100,148}</string>
                <key>textureRect</key>
                <string>{{451,1485},{100,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>migong134-0.pvr.ccz</string>
            <key>size</key>
            <string>{3202,1586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2325c66ade38b133c4b3fd5589eb42dc:e365297f92e742a33efc44c35b4b17e5:f0e6fc77ccad632003315207cac47f3c$</string>
            <key>textureFileName</key>
            <string>migong134-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
