<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moyun_stage001/00000437.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,2413},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000438_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{788,468}</string>
                <key>spriteSourceSize</key>
                <string>{788,468}</string>
                <key>textureRect</key>
                <string>{{2765,1},{788,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000439.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{764,572}</string>
                <key>spriteSourceSize</key>
                <string>{764,572}</string>
                <key>textureRect</key>
                <string>{{2521,3071},{764,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000440.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{788,456}</string>
                <key>spriteSourceSize</key>
                <string>{788,456}</string>
                <key>textureRect</key>
                <string>{{1,3315},{788,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000441_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1495,3071},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000442.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,216}</string>
                <key>spriteSourceSize</key>
                <string>{108,216}</string>
                <key>textureRect</key>
                <string>{{3131,1303},{108,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000443.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,208}</string>
                <key>spriteSourceSize</key>
                <string>{152,208}</string>
                <key>textureRect</key>
                <string>{{3095,3291},{152,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000444_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,248}</string>
                <key>spriteSourceSize</key>
                <string>{392,248}</string>
                <key>textureRect</key>
                <string>{{1189,3407},{392,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000445.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,440}</string>
                <key>spriteSourceSize</key>
                <string>{140,440}</string>
                <key>textureRect</key>
                <string>{{2653,2793},{140,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000446.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,356}</string>
                <key>spriteSourceSize</key>
                <string>{408,356}</string>
                <key>textureRect</key>
                <string>{{2653,2383},{408,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000447_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{68,84}</string>
                <key>textureRect</key>
                <string>{{123,3773},{68,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000447_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{68,84}</string>
                <key>textureRect</key>
                <string>{{209,3773},{68,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000447_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{68,84}</string>
                <key>textureRect</key>
                <string>{{295,3773},{68,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000447_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,84}</string>
                <key>spriteSourceSize</key>
                <string>{68,84}</string>
                <key>textureRect</key>
                <string>{{209,3773},{68,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000448.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,96}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{3095,3679},{136,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000449.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,692}</string>
                <key>spriteSourceSize</key>
                <string>{1600,692}</string>
                <key>textureRect</key>
                <string>{{1,1719},{1600,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000450.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,708}</string>
                <key>spriteSourceSize</key>
                <string>{176,708}</string>
                <key>textureRect</key>
                <string>{{2653,1673},{176,708}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000451.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,720}</string>
                <key>spriteSourceSize</key>
                <string>{168,720}</string>
                <key>textureRect</key>
                <string>{{1325,2413},{168,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000452.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,228}</string>
                <key>spriteSourceSize</key>
                <string>{272,228}</string>
                <key>textureRect</key>
                <string>{{2893,1065},{272,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000453_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,396}</string>
                <key>spriteSourceSize</key>
                <string>{520,396}</string>
                <key>textureRect</key>
                <string>{{791,3315},{520,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000454.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{992,120}</string>
                <key>spriteSourceSize</key>
                <string>{992,120}</string>
                <key>textureRect</key>
                <string>{{1203,2413},{992,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000455.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,472}</string>
                <key>spriteSourceSize</key>
                <string>{100,472}</string>
                <key>textureRect</key>
                <string>{{1495,2413},{100,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000456.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1716,1288}</string>
                <key>spriteSourceSize</key>
                <string>{1716,1288}</string>
                <key>textureRect</key>
                <string>{{1,1},{1716,1288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000457.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,48}</string>
                <key>spriteSourceSize</key>
                <string>{120,48}</string>
                <key>textureRect</key>
                <string>{{1,3773},{120,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000458.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,128}</string>
                <key>spriteSourceSize</key>
                <string>{212,128}</string>
                <key>textureRect</key>
                <string>{{2653,2935},{212,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000459.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,112}</string>
                <key>spriteSourceSize</key>
                <string>{220,112}</string>
                <key>textureRect</key>
                <string>{{3011,2645},{220,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000460.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,176}</string>
                <key>spriteSourceSize</key>
                <string>{108,176}</string>
                <key>textureRect</key>
                <string>{{3095,3501},{108,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000461.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,192}</string>
                <key>spriteSourceSize</key>
                <string>{276,192}</string>
                <key>textureRect</key>
                <string>{{3011,2367},{276,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000462.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,100}</string>
                <key>spriteSourceSize</key>
                <string>{168,100}</string>
                <key>textureRect</key>
                <string>{{1495,2887},{168,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000463.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,156}</string>
                <key>spriteSourceSize</key>
                <string>{236,156}</string>
                <key>textureRect</key>
                <string>{{2893,1339},{236,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000464.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,176}</string>
                <key>spriteSourceSize</key>
                <string>{124,176}</string>
                <key>textureRect</key>
                <string>{{3077,2935},{124,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000465.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{2765,1065},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000466.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1472,1104}</string>
                <key>spriteSourceSize</key>
                <string>{1472,1104}</string>
                <key>textureRect</key>
                <string>{{1291,1},{1472,1104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000467.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,92}</string>
                <key>spriteSourceSize</key>
                <string>{236,92}</string>
                <key>textureRect</key>
                <string>{{2893,1497},{236,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000468.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,148}</string>
                <key>spriteSourceSize</key>
                <string>{228,148}</string>
                <key>textureRect</key>
                <string>{{3095,3061},{228,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000469.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,104}</string>
                <key>spriteSourceSize</key>
                <string>{236,104}</string>
                <key>textureRect</key>
                <string>{{3123,1065},{236,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000470.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,208}</string>
                <key>spriteSourceSize</key>
                <string>{100,208}</string>
                <key>textureRect</key>
                <string>{{2867,2935},{100,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000471.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,272}</string>
                <key>spriteSourceSize</key>
                <string>{472,272}</string>
                <key>textureRect</key>
                <string>{{2765,791},{472,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000472.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,44}</string>
                <key>spriteSourceSize</key>
                <string>{68,44}</string>
                <key>textureRect</key>
                <string>{{1291,1673},{68,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000473.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,104}</string>
                <key>spriteSourceSize</key>
                <string>{144,104}</string>
                <key>textureRect</key>
                <string>{{3131,1521},{144,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000474.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,152}</string>
                <key>spriteSourceSize</key>
                <string>{160,152}</string>
                <key>textureRect</key>
                <string>{{3095,2759},{160,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000475.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,244}</string>
                <key>spriteSourceSize</key>
                <string>{140,244}</string>
                <key>textureRect</key>
                <string>{{1325,3135},{140,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000476.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1396,1048}</string>
                <key>spriteSourceSize</key>
                <string>{1396,1048}</string>
                <key>textureRect</key>
                <string>{{1603,1673},{1396,1048}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moyun_stage001/00000477.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,564}</string>
                <key>spriteSourceSize</key>
                <string>{1600,564}</string>
                <key>textureRect</key>
                <string>{{1291,1107},{1600,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moyun_stage001/00000478.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,428}</string>
                <key>spriteSourceSize</key>
                <string>{692,428}</string>
                <key>textureRect</key>
                <string>{{2831,1673},{692,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moyun_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3260,3842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:469edc4b0df6e56d2239bafe0c6117f5:c5b893f7de7190f0ac4529a798a3fbcd:47b4ca830b8507952fd7b01528d2c3b6$</string>
            <key>textureFileName</key>
            <string>moyun_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
