<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nantian_stage001/00000479.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,960}</string>
                <key>spriteSourceSize</key>
                <string>{1200,960}</string>
                <key>textureRect</key>
                <string>{{1,2003},{1200,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000495.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000496.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1603,1},{2000,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000497.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1603,1603},{2000,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nantian_stage001-3.pvr.ccz</string>
            <key>size</key>
            <string>{3604,3204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f6cd8dfb836a9d3f71a21fbbccb30c:5c6e776a44ccad980ae4ac5003fe5a58:5e42d764eda69fa5a906367e53353f88$</string>
            <key>textureFileName</key>
            <string>nantian_stage001-3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
