<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nantian_stage001/00000016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{681,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{851,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1021,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1191,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1361,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1531,3605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3505,803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3675,803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3505,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3675,973},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000103_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3505,999},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3595,1143},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000103_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3505,1173},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3595,1233},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000103_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3595,1323},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000103_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3505,1347},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3595,1413},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000103_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3595,1503},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000103_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3505,1521},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3595,1593},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000103_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{3595,1683},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000103_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1503,1603},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1503,1777},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1503,1951},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1503,2125},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1503,2299},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1503,2473},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1503,2647},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1503,2821},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000103_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,88}</string>
                <key>textureRect</key>
                <string>{{1503,2995},{172,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000220_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{1,3203},{800,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,400}</string>
                <key>spriteSourceSize</key>
                <string>{800,400}</string>
                <key>textureRect</key>
                <string>{{803,3203},{800,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000480_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1503,1},{2000,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nantian_stage001/00000481_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,300}</string>
                <key>spriteSourceSize</key>
                <string>{800,300}</string>
                <key>textureRect</key>
                <string>{{3505,1},{800,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000482_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1600}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1605,1603},{2000,1600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000486_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{3207,1773},{480,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000488_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{3207,2255},{480,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000492_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{3207,2737},{480,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nantian_stage001/00000493_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,560}</string>
                <key>spriteSourceSize</key>
                <string>{480,560}</string>
                <key>textureRect</key>
                <string>{{3207,3219},{480,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nantian_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3806,3702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f6cd8dfb836a9d3f71a21fbbccb30c:5c6e776a44ccad980ae4ac5003fe5a58:5e42d764eda69fa5a906367e53353f88$</string>
            <key>textureFileName</key>
            <string>nantian_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
