<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pejglai_stage003/00000851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pejglai_stage003-0.pvr.ccz</string>
            <key>size</key>
            <string>{66,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1074d25a145dd97e47b3018c1f73418e:25fcd95bbb33ab41b94af635c416f587:855a4737e49b425b9f3ed0f91f45084b$</string>
            <key>textureFileName</key>
            <string>pejglai_stage003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
