<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai102/00000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{1393,409},{56,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{297,1843},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{395,1843},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{493,1843},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{749,1595},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{793,1765},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{847,1535},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{891,1705},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{945,1535},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{989,1705},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1043,1513},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1167,1391},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1167,1489},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1141,1587},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1087,1685},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00000861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{959,1391},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{591,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1840,580}</string>
                <key>spriteSourceSize</key>
                <string>{1840,580}</string>
                <key>textureRect</key>
                <string>{{1,1},{1840,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001282_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1375,1229},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001282_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1375,1351},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001282_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{749,1473},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001282_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{793,1935},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001283.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,164}</string>
                <key>spriteSourceSize</key>
                <string>{324,164}</string>
                <key>textureRect</key>
                <string>{{583,1473},{324,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001284.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{123,1843},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001285_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{915,1875},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001285_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1081,1391},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001285_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1001,1875},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001285_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1337,1473},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001285_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1337,1559},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001285_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1311,1645},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001286.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,160}</string>
                <key>textureRect</key>
                <string>{{591,1207},{400,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{1073,603},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001288.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{1073,765},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001289.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{993,1229},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,252}</string>
                <key>spriteSourceSize</key>
                <string>{80,252}</string>
                <key>textureRect</key>
                <string>{{583,1391},{80,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001291.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{1393,1},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001292.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{1393,103},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001293.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{1393,205},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{1393,307},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001295_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1257,1731},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001295_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1087,1783},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001295_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1087,1869},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001295_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1173,1869},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001296.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,120}</string>
                <key>textureRect</key>
                <string>{{837,1369},{164,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001297_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1259,1817},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai102/00001297_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1259,1903},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001297_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{1345,1903},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{1,1843},{120,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{591,905},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{591,603},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1053,927},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai102/00001578.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{591,1799},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai102-0.pvr.ccz</string>
            <key>size</key>
            <string>{1460,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e14ec345c73f69e6b2b169de4b5f687d:c6198e63ad3b57c80cb564f76e0c5746:691d5779c44899e56861e2e0c79255e8$</string>
            <key>textureFileName</key>
            <string>penglai102-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
