<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai_stage001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{63,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{161,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{259,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{357,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000500_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,200}</string>
                <key>spriteSourceSize</key>
                <string>{820,200}</string>
                <key>textureRect</key>
                <string>{{2763,3887},{820,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{2481,3907},{280,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000508_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,136}</string>
                <key>textureRect</key>
                <string>{{1929,3927},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000508_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,136}</string>
                <key>textureRect</key>
                <string>{{2067,3927},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000508_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,136}</string>
                <key>textureRect</key>
                <string>{{2205,3927},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000508_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,136}</string>
                <key>textureRect</key>
                <string>{{2343,3927},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000510.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{2607,3605},{280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{2789,3605},{280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000512_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{957,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1139,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1321,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1503,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1685,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1867,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{2049,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{2231,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1139,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1321,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1503,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1685,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{1867,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{2049,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{2231,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000512_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,320}</string>
                <key>spriteSourceSize</key>
                <string>{180,320}</string>
                <key>textureRect</key>
                <string>{{957,3605},{180,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{2971,3605},{280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{3453,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{3453,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,320}</string>
                <key>spriteSourceSize</key>
                <string>{272,320}</string>
                <key>textureRect</key>
                <string>{{683,3605},{272,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000517.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{3153,3605},{280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000518.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,4009},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000519_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,192}</string>
                <key>textureRect</key>
                <string>{{2413,3605},{300,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000520_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,680}</string>
                <key>spriteSourceSize</key>
                <string>{320,680}</string>
                <key>textureRect</key>
                <string>{{1,3605},{320,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000538.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,116}</string>
                <key>spriteSourceSize</key>
                <string>{240,116}</string>
                <key>textureRect</key>
                <string>{{3335,3605},{240,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000540_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{455,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{553,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{651,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{749,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{847,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{945,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1043,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1141,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1239,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1337,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1435,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1533,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1631,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000540_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1729,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{1827,3927},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{4003,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{4003,1003},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{4003,2005},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{4003,3007},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3585,3807},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3687,3807},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3789,3807},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3891,3807},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{4056,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d7089b706d65d572abae0cabff3faa3:ccfd91a622b4412e40e284ed9d51374c:134aed185d008a2819ed3e9d36ae3704$</string>
            <key>textureFileName</key>
            <string>penglai_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
