<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai006/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2905,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2255,1725},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2489,1053},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2603,1421},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3003,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2701,1421},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3101,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3027,1119},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3027,1289},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2395,1595},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2353,1725},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2255,1895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2451,1693},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3027,1459},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2549,1693},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2565,1595},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2647,1693},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2451,1863},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2621,1863},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3105,171},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3105,341},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3105,511},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3105,681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3105,851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2745,1689},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2843,1689},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2791,1859},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2941,1675},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000333_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,248}</string>
                <key>spriteSourceSize</key>
                <string>{900,248}</string>
                <key>textureRect</key>
                <string>{{2003,1},{900,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{645,1897},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{803,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2003,251},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2057,251},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2111,251},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2165,251},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2219,251},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2273,251},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2327,251},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2381,251},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2435,251},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,404}</string>
                <key>spriteSourceSize</key>
                <string>{312,404}</string>
                <key>textureRect</key>
                <string>{{1559,1557},{312,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000834.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,388}</string>
                <key>spriteSourceSize</key>
                <string>{440,388}</string>
                <key>textureRect</key>
                <string>{{803,1557},{440,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000835.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1873,1725},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,152}</string>
                <key>spriteSourceSize</key>
                <string>{520,152}</string>
                <key>textureRect</key>
                <string>{{1873,1571},{520,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{2735,1591},{140,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,52}</string>
                <key>spriteSourceSize</key>
                <string>{116,52}</string>
                <key>textureRect</key>
                <string>{{1805,1503},{116,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000842.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,320}</string>
                <key>spriteSourceSize</key>
                <string>{100,320}</string>
                <key>textureRect</key>
                <string>{{1,1897},{100,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000843.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,160}</string>
                <key>spriteSourceSize</key>
                <string>{340,160}</string>
                <key>textureRect</key>
                <string>{{2441,1253},{340,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{3105,1021},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{2715,251},{548,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{2791,1957},{64,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000852.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,300}</string>
                <key>spriteSourceSize</key>
                <string>{280,300}</string>
                <key>textureRect</key>
                <string>{{2603,1119},{280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000856.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,364}</string>
                <key>spriteSourceSize</key>
                <string>{440,364}</string>
                <key>textureRect</key>
                <string>{{1193,1557},{440,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000858.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,320}</string>
                <key>spriteSourceSize</key>
                <string>{100,320}</string>
                <key>textureRect</key>
                <string>{{323,1897},{100,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000860.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2877,1553},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00000866.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,72}</string>
                <key>spriteSourceSize</key>
                <string>{36,72}</string>
                <key>textureRect</key>
                <string>{{2425,1961},{36,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00000868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{2905,171},{124,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00001240_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00001241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,388}</string>
                <key>spriteSourceSize</key>
                <string>{316,388}</string>
                <key>textureRect</key>
                <string>{{2715,801},{316,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00001242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,316}</string>
                <key>spriteSourceSize</key>
                <string>{436,316}</string>
                <key>textureRect</key>
                <string>{{2003,1253},{436,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00001243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,140}</string>
                <key>spriteSourceSize</key>
                <string>{432,140}</string>
                <key>textureRect</key>
                <string>{{2885,1119},{432,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00001252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2961,1845},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00001260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{2587,1053},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai006/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{2489,251},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai006/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,1503},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai006-0.pvr.ccz</string>
            <key>size</key>
            <string>{3202,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8524145a39df2745f17857b5b5b1d76f:97803d3c9dabd2c2900544e0c1bcb278:814027fd5681b0797f12ca4f51683157$</string>
            <key>textureFileName</key>
            <string>penglai006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
