<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai_stage002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1249},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1347},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1445},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1543},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{903,2523},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{903,2693},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{395,2517},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{395,2687},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{391,2857},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{835,2863},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{651,2919},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{821,2961},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{651,3017},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{821,3059},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000500_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,200}</string>
                <key>spriteSourceSize</key>
                <string>{820,200}</string>
                <key>textureRect</key>
                <string>{{1,963},{820,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{407,2363},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,55},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,109},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,163},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,217},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,271},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,325},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,379},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,433},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,487},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,404}</string>
                <key>spriteSourceSize</key>
                <string>{312,404}</string>
                <key>textureRect</key>
                <string>{{1,2103},{312,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,152}</string>
                <key>spriteSourceSize</key>
                <string>{520,152}</string>
                <key>textureRect</key>
                <string>{{1,1949},{520,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000837.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{1,3109},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{391,3027},{140,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000843.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,160}</string>
                <key>spriteSourceSize</key>
                <string>{340,160}</string>
                <key>textureRect</key>
                <string>{{493,2757},{340,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000844.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{823,967},{280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000846.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{36,88}</string>
                <key>textureRect</key>
                <string>{{973,1249},{36,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{701,1559},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{1,1559},{548,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{957,2101},{64,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000855.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,176}</string>
                <key>spriteSourceSize</key>
                <string>{424,176}</string>
                <key>textureRect</key>
                <string>{{835,541},{424,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00000856.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,364}</string>
                <key>spriteSourceSize</key>
                <string>{440,364}</string>
                <key>textureRect</key>
                <string>{{551,1641},{440,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00000868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{927,2397},{124,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,388}</string>
                <key>spriteSourceSize</key>
                <string>{316,388}</string>
                <key>textureRect</key>
                <string>{{1,2791},{316,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,140}</string>
                <key>spriteSourceSize</key>
                <string>{432,140}</string>
                <key>textureRect</key>
                <string>{{523,2007},{432,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00001245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,228}</string>
                <key>spriteSourceSize</key>
                <string>{72,228}</string>
                <key>textureRect</key>
                <string>{{927,2167},{72,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00001259.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,392}</string>
                <key>spriteSourceSize</key>
                <string>{372,392}</string>
                <key>textureRect</key>
                <string>{{1,2417},{372,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001591_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,308}</string>
                <key>spriteSourceSize</key>
                <string>{404,308}</string>
                <key>textureRect</key>
                <string>{{521,2149},{404,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00001592.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{832,420}</string>
                <key>spriteSourceSize</key>
                <string>{832,420}</string>
                <key>textureRect</key>
                <string>{{1,541},{832,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage002/00001593.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,392}</string>
                <key>spriteSourceSize</key>
                <string>{296,392}</string>
                <key>textureRect</key>
                <string>{{509,2459},{296,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001594.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,112}</string>
                <key>textureRect</key>
                <string>{{407,2103},{128,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001595.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,24}</string>
                <key>spriteSourceSize</key>
                <string>{52,24}</string>
                <key>textureRect</key>
                <string>{{973,1409},{52,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001596.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,148}</string>
                <key>spriteSourceSize</key>
                <string>{80,148}</string>
                <key>textureRect</key>
                <string>{{551,1559},{80,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001597.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,160}</string>
                <key>spriteSourceSize</key>
                <string>{224,160}</string>
                <key>textureRect</key>
                <string>{{489,2919},{224,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001598.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,112}</string>
                <key>textureRect</key>
                <string>{{407,2233},{128,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001599.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,32}</string>
                <key>spriteSourceSize</key>
                <string>{68,32}</string>
                <key>textureRect</key>
                <string>{{973,1339},{68,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001600.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{957,2007},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{973,1463},{48,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage002/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,1165},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai_stage002-0.pvr.ccz</string>
            <key>size</key>
            <string>{1012,3168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a82e3256d2299de1e3edbd6bc06015:37c48c93a80292b6fb3b07deb53bec56:6db220798d51ba9e0ead9f14a9543ca8$</string>
            <key>textureFileName</key>
            <string>penglai_stage002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
