<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai_stage001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,3999},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,3999},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,3999},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,3999},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{681,3999},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{851,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{949,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1047,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1145,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1243,3927},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000508_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,136}</string>
                <key>textureRect</key>
                <string>{{1483,3927},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000508_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,136}</string>
                <key>textureRect</key>
                <string>{{1621,3927},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000508_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,136}</string>
                <key>textureRect</key>
                <string>{{1483,3927},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000509_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,40}</string>
                <key>spriteSourceSize</key>
                <string>{180,40}</string>
                <key>textureRect</key>
                <string>{{3999,3605},{180,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000509_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,40}</string>
                <key>spriteSourceSize</key>
                <string>{180,40}</string>
                <key>textureRect</key>
                <string>{{3999,3787},{180,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000509_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,40}</string>
                <key>spriteSourceSize</key>
                <string>{180,40}</string>
                <key>textureRect</key>
                <string>{{3809,3927},{180,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000509_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,40}</string>
                <key>spriteSourceSize</key>
                <string>{180,40}</string>
                <key>textureRect</key>
                <string>{{3809,3969},{180,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000509_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,40}</string>
                <key>spriteSourceSize</key>
                <string>{180,40}</string>
                <key>textureRect</key>
                <string>{{3809,4011},{180,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,320}</string>
                <key>spriteSourceSize</key>
                <string>{272,320}</string>
                <key>textureRect</key>
                <string>{{3531,3605},{272,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000520_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,680}</string>
                <key>spriteSourceSize</key>
                <string>{320,680}</string>
                <key>textureRect</key>
                <string>{{803,3605},{320,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000520_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,680}</string>
                <key>spriteSourceSize</key>
                <string>{320,680}</string>
                <key>textureRect</key>
                <string>{{1485,3605},{320,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000520_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,680}</string>
                <key>spriteSourceSize</key>
                <string>{320,680}</string>
                <key>textureRect</key>
                <string>{{2167,3605},{320,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000520_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,680}</string>
                <key>spriteSourceSize</key>
                <string>{320,680}</string>
                <key>textureRect</key>
                <string>{{2849,3605},{320,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000536.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,44}</string>
                <key>spriteSourceSize</key>
                <string>{140,44}</string>
                <key>textureRect</key>
                <string>{{1759,3927},{140,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000537.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1341,3927},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1805,3927},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1805,3981},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1805,4035},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2807,3927},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2807,3981},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2807,4035},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00001840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,320}</string>
                <key>spriteSourceSize</key>
                <string>{192,320}</string>
                <key>textureRect</key>
                <string>{{3805,3605},{192,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,3605},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai_stage001-1.pvr.ccz</string>
            <key>size</key>
            <string>{4040,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d7089b706d65d572abae0cabff3faa3:ccfd91a622b4412e40e284ed9d51374c:134aed185d008a2819ed3e9d36ae3704$</string>
            <key>textureFileName</key>
            <string>penglai_stage001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
