<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai202/00000540_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,99},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,295},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,393},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,491},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,589},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,687},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,785},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3875,883},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000540_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,903},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00000540_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,1073},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00000540_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,1243},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00000540_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3819,981},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00000950_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,668}</string>
                <key>spriteSourceSize</key>
                <string>{936,668}</string>
                <key>textureRect</key>
                <string>{{3205,1},{936,668}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001263.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1603,2505},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001264_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1805,903},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001265.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2707,1413},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001266.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2805,2315},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2805,903},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3143,939},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3481,939},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1805,2105},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2255,2105},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3287,3699},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2805,903},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3143,939},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3143,939},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3481,939},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1805,2105},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2255,2105},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3287,3699},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2805,903},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3143,939},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3481,939},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3481,939},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001267_1-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1805,2105},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1805,2105},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2255,2105},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3287,3699},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2805,903},{448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001269_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,3407},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001271_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{803,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1285,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2805,3217},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3287,3217},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001271_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1767,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2249,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{803,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1285,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1285,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2805,3217},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3287,3217},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001271_1-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1767,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2249,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{803,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1285,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2805,3217},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2805,3217},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3287,3217},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001271_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3287,3217},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001271_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1767,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2249,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{803,3407},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001273.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001274.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001275.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,903},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,2505},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001277.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{903,903},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai202-0.pvr.ccz</string>
            <key>size</key>
            <string>{4044,4048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a721f8cef00cfad8a4c8b81043a1bc41:47b7894f5b2c91988a875b00e16ebe0a:923fbfb26700149a4daa3db18650fc97$</string>
            <key>textureFileName</key>
            <string>penglai202-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
