<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai203/00000015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00000540_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{939,3789},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00000540_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3845,603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00000540_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3653,1085},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00000540_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1037,3789},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00000540_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3845,773},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00000540_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1135,3789},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00000540_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1233,3789},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00000540_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1331,3789},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00000950_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,668}</string>
                <key>spriteSourceSize</key>
                <string>{936,668}</string>
                <key>textureRect</key>
                <string>{{1,3307},{936,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001263.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1603,3105},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001264_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2805,3105},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001267_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3203,1085},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001267_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3407,2707},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001267_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3203,1085},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001267_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3407,2707},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001267_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3407,2707},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001267_1-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3203,1085},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001267_1-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3407,2707},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001267_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{3203,1085},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001269_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3203,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001271_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{939,3307},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001271_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3203,603},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001271_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3407,1423},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai203/00001271_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3407,2065},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai203/00001271_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{939,3307},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001271_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3203,603},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001271_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3203,603},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001271_1-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3407,1423},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai203/00001271_1-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3407,2065},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai203/00001271_1-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{939,3307},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001271_1-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3203,603},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001271_1-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3407,1423},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai203/00001271_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3407,1423},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai203/00001271_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3407,2065},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai203/00001271_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{939,3307},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,1503},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001277.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,2405},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai203/00001278.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1603,1503},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai203/00001279.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{2505,1503},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai203-0.pvr.ccz</string>
            <key>size</key>
            <string>{4006,4006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea24c715379ac4d2e91ae1d662bb2eca:d9594209c6ec2a69c7f5549650dc3525:a2378d6df22faa552afc3a58231bbec1$</string>
            <key>textureFileName</key>
            <string>penglai203-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
