<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai202/00001267_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1203,643},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1653,643},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2103,643},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1203,643},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1653,643},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2553,643},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2103,643},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1203,643},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001267_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1653,643},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai202/00001271_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1203,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1685,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2167,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1203,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1685,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2649,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2167,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1203,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001271_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1685,1},{640,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai202/00001272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai202-1.pvr.ccz</string>
            <key>size</key>
            <string>{3130,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a721f8cef00cfad8a4c8b81043a1bc41:47b7894f5b2c91988a875b00e16ebe0a:923fbfb26700149a4daa3db18650fc97$</string>
            <key>textureFileName</key>
            <string>penglai202-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
