<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{989,2925},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{967,2305},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1065,2305},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1163,2305},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1223,2123},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1115,3023},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1159,2925},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1261,2293},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1321,2123},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1359,2293},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1419,2123},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1457,2293},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1517,2123},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1723,2827},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{453,3027},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{55,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{109,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{163,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{217,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{271,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{325,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{379,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{433,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{487,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,404}</string>
                <key>spriteSourceSize</key>
                <string>{312,404}</string>
                <key>textureRect</key>
                <string>{{1615,2123},{312,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,152}</string>
                <key>spriteSourceSize</key>
                <string>{520,152}</string>
                <key>textureRect</key>
                <string>{{391,2505},{520,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{1893,2827},{140,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,52}</string>
                <key>spriteSourceSize</key>
                <string>{116,52}</string>
                <key>textureRect</key>
                <string>{{399,3027},{116,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{1,2505},{548,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{231,3055},{64,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000855.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,176}</string>
                <key>spriteSourceSize</key>
                <string>{424,176}</string>
                <key>textureRect</key>
                <string>{{541,2305},{424,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000856.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,364}</string>
                <key>spriteSourceSize</key>
                <string>{440,364}</string>
                <key>textureRect</key>
                <string>{{545,2483},{440,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00000862.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{545,2925},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00000868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{273,3055},{124,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00001239_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,680}</string>
                <key>spriteSourceSize</key>
                <string>{800,680}</string>
                <key>textureRect</key>
                <string>{{541,1503},{800,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00001240_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00001241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,388}</string>
                <key>spriteSourceSize</key>
                <string>{316,388}</string>
                <key>textureRect</key>
                <string>{{1697,2437},{316,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00001242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,316}</string>
                <key>spriteSourceSize</key>
                <string>{436,316}</string>
                <key>textureRect</key>
                <string>{{1237,2475},{436,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00001243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,140}</string>
                <key>spriteSourceSize</key>
                <string>{432,140}</string>
                <key>textureRect</key>
                <string>{{1555,2437},{432,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00001244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,232}</string>
                <key>spriteSourceSize</key>
                <string>{392,232}</string>
                <key>textureRect</key>
                <string>{{1329,2913},{392,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00001245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,228}</string>
                <key>spriteSourceSize</key>
                <string>{72,228}</string>
                <key>textureRect</key>
                <string>{{1,3055},{72,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00001246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,324}</string>
                <key>spriteSourceSize</key>
                <string>{440,324}</string>
                <key>textureRect</key>
                <string>{{911,2483},{440,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai001/00001247.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,96}</string>
                <key>spriteSourceSize</key>
                <string>{384,96}</string>
                <key>textureRect</key>
                <string>{{607,3027},{384,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00001248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{993,3023},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00001249.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,96}</string>
                <key>spriteSourceSize</key>
                <string>{340,96}</string>
                <key>textureRect</key>
                <string>{{647,2925},{340,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1223,1897},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai001/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1223,1503},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai001-0.pvr.ccz</string>
            <key>size</key>
            <string>{2024,3146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e48df1a19a7ad6e08e243f555ab1f7b2:6b26cb2cb9659f8437dc30b5ddedfb42:e9b50f161420dec19f55567225321e0d$</string>
            <key>textureFileName</key>
            <string>penglai001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
