<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai_stage005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,3357},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,3357},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,3357},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{511,3357},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1387,3217},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1679,2781},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1593,2955},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1691,2951},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1593,3125},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1691,3121},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1485,3277},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1777,2781},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1789,2951},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1789,3121},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000500_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,200}</string>
                <key>spriteSourceSize</key>
                <string>{820,200}</string>
                <key>textureRect</key>
                <string>{{1,3155},{820,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000832_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000835.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1109,2955},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,152}</string>
                <key>spriteSourceSize</key>
                <string>{520,152}</string>
                <key>textureRect</key>
                <string>{{1339,2305},{520,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000837.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{1793,2585},{124,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{681,3357},{140,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000841.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,2453},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000842.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,320}</string>
                <key>spriteSourceSize</key>
                <string>{100,320}</string>
                <key>textureRect</key>
                <string>{{1691,2459},{100,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000844.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{1105,3217},{280,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000846.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{36,88}</string>
                <key>textureRect</key>
                <string>{{1959,1503},{36,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1705,3291},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{703,2453},{548,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{1847,2739},{64,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000852.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,300}</string>
                <key>spriteSourceSize</key>
                <string>{280,300}</string>
                <key>textureRect</key>
                <string>{{823,3153},{280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000855.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,176}</string>
                <key>spriteSourceSize</key>
                <string>{424,176}</string>
                <key>textureRect</key>
                <string>{{1253,2777},{424,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000863_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1336,948}</string>
                <key>spriteSourceSize</key>
                <string>{1336,948}</string>
                <key>textureRect</key>
                <string>{{1,1503},{1336,948}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000867.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,320}</string>
                <key>spriteSourceSize</key>
                <string>{100,320}</string>
                <key>textureRect</key>
                <string>{{1491,2955},{100,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00000868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{1793,2459},{124,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00001242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,316}</string>
                <key>spriteSourceSize</key>
                <string>{436,316}</string>
                <key>textureRect</key>
                <string>{{1253,2459},{436,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00001243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,140}</string>
                <key>spriteSourceSize</key>
                <string>{432,140}</string>
                <key>textureRect</key>
                <string>{{1861,2305},{432,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00001591_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,308}</string>
                <key>spriteSourceSize</key>
                <string>{404,308}</string>
                <key>textureRect</key>
                <string>{{703,2843},{404,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00001611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{1793,2711},{68,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00001612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1767,3291},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage005/00001613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,120}</string>
                <key>spriteSourceSize</key>
                <string>{108,120}</string>
                <key>textureRect</key>
                <string>{{1109,2843},{108,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00001614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{136,120}</string>
                <key>textureRect</key>
                <string>{{1583,3295},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1733,1503},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage005/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1339,1503},{800,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai_stage005-0.pvr.ccz</string>
            <key>size</key>
            <string>{2002,3454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:888efc011d1803ce0c72cad578fd85c9:4ee5b87dcceb44a72532d1f6807c7b7c:09b1243c06bea238a7cf502b25dfdb3a$</string>
            <key>textureFileName</key>
            <string>penglai_stage005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
