<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,2899},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{955,2897},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{99,2899},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1767,2187},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1125,2897},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1295,2881},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1295,2979},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1465,2881},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1563,2881},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1661,2917},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1849,2507},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1849,2605},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1849,2703},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1849,2801},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{1865,2187},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1897},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{803,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{55,1897},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{803,1557},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{109,1897},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{803,1611},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{163,1897},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{803,1665},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{217,1897},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{803,1719},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000832_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,404}</string>
                <key>spriteSourceSize</key>
                <string>{312,404}</string>
                <key>textureRect</key>
                <string>{{887,2481},{312,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000834.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,388}</string>
                <key>spriteSourceSize</key>
                <string>{440,388}</string>
                <key>textureRect</key>
                <string>{{887,1773},{440,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000835.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{573,2795},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000837.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{271,2699},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{1759,2365},{140,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,52}</string>
                <key>spriteSourceSize</key>
                <string>{116,52}</string>
                <key>textureRect</key>
                <string>{{803,1773},{116,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000844.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{1805,1503},{280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000846.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{36,88}</string>
                <key>textureRect</key>
                <string>{{271,2757},{36,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1787,3015},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{497,1897},{548,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{197,2899},{64,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000852.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,300}</string>
                <key>spriteSourceSize</key>
                <string>{280,300}</string>
                <key>textureRect</key>
                <string>{{271,2795},{280,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000854.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,320}</string>
                <key>spriteSourceSize</key>
                <string>{100,320}</string>
                <key>textureRect</key>
                <string>{{955,2795},{100,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00000856.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,364}</string>
                <key>spriteSourceSize</key>
                <string>{440,364}</string>
                <key>textureRect</key>
                <string>{{1329,1773},{440,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00000860.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1865,2289},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00001241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,388}</string>
                <key>spriteSourceSize</key>
                <string>{316,388}</string>
                <key>textureRect</key>
                <string>{{497,2447},{316,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00001242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,316}</string>
                <key>spriteSourceSize</key>
                <string>{436,316}</string>
                <key>textureRect</key>
                <string>{{887,2163},{436,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00001243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,140}</string>
                <key>spriteSourceSize</key>
                <string>{432,140}</string>
                <key>textureRect</key>
                <string>{{1325,2365},{432,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00001252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1869,2899},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00001255.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{1661,3015},{124,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00001256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,232}</string>
                <key>textureRect</key>
                <string>{{1771,1785},{400,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00001257.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,160}</string>
                <key>spriteSourceSize</key>
                <string>{408,160}</string>
                <key>textureRect</key>
                <string>{{1687,2507},{408,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00001258.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,224}</string>
                <key>spriteSourceSize</key>
                <string>{436,224}</string>
                <key>textureRect</key>
                <string>{{1329,2139},{436,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai005/00001259.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,392}</string>
                <key>spriteSourceSize</key>
                <string>{372,392}</string>
                <key>textureRect</key>
                <string>{{1293,2507},{372,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{271,1897},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai005/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,1503},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai005-0.pvr.ccz</string>
            <key>size</key>
            <string>{2018,3076}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:413c1e5140eb88f61b001d6432ceec52:5abab464f8dfa0de466c346cb94fdcd3:7d7f3c3dcecf280c5d17b3d20af9b48a$</string>
            <key>textureFileName</key>
            <string>penglai005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
