<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1943,703},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1943,873},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1917,1407},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1593,1589},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1763,1589},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1539,1687},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1709,1687},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1583,1785},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1681,1785},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1779,1785},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1601,1955},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1601,2053},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1771,1955},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1933,1577},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{1003,2023},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1571},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1625},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1679},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1733},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1787},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1841},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1895},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1949},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,2003},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,2057},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,404}</string>
                <key>spriteSourceSize</key>
                <string>{312,404}</string>
                <key>textureRect</key>
                <string>{{1635,1093},{312,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000834.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,388}</string>
                <key>spriteSourceSize</key>
                <string>{440,388}</string>
                <key>textureRect</key>
                <string>{{1339,703},{440,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000835.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1157,1561},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,152}</string>
                <key>spriteSourceSize</key>
                <string>{520,152}</string>
                <key>textureRect</key>
                <string>{{1003,1501},{520,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000837.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{803,1501},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{1193,951},{140,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,52}</string>
                <key>spriteSourceSize</key>
                <string>{116,52}</string>
                <key>textureRect</key>
                <string>{{1539,1561},{116,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000841.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1339,1},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000842.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,320}</string>
                <key>spriteSourceSize</key>
                <string>{100,320}</string>
                <key>textureRect</key>
                <string>{{1157,2001},{100,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000843.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,160}</string>
                <key>spriteSourceSize</key>
                <string>{340,160}</string>
                <key>textureRect</key>
                <string>{{1781,703},{340,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000844.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{1635,1407},{280,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000845.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,440}</string>
                <key>spriteSourceSize</key>
                <string>{100,440}</string>
                <key>textureRect</key>
                <string>{{1193,1459},{100,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1869,2077},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000848.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1479,2001},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{803,951},{548,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai003/00000855.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,176}</string>
                <key>spriteSourceSize</key>
                <string>{424,176}</string>
                <key>textureRect</key>
                <string>{{1157,1823},{424,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000856.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,364}</string>
                <key>spriteSourceSize</key>
                <string>{440,364}</string>
                <key>textureRect</key>
                <string>{{1193,1093},{440,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00000863_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1336,948}</string>
                <key>spriteSourceSize</key>
                <string>{1336,948}</string>
                <key>textureRect</key>
                <string>{{1,1},{1336,948}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00001248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1869,1955},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00001252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1877,1785},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1,1345},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai003/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,951},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai003-0.pvr.ccz</string>
            <key>size</key>
            <string>{2040,2150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07fb5a7465724e009ee85417abf033c1:cb4bdfe2845f33e9e2b8d9b5ebae3ef8:f8982b4fcc0481451df6530c9b59c733$</string>
            <key>textureFileName</key>
            <string>penglai003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
