<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai101/00000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{905,2807},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{885,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{765,1895},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{885,171},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{885,341},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{885,511},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{885,681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{885,851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{885,1021},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{255,2807},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{769,2065},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{769,2235},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{777,2405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{425,2767},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{603,2611},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00000861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{595,2709},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1843},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1840,580}</string>
                <key>spriteSourceSize</key>
                <string>{1840,580}</string>
                <key>textureRect</key>
                <string>{{1,1},{1840,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001282_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{885,1191},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001282_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{717,2709},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001282_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{907,1313},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001282_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{907,1435},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001283.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,164}</string>
                <key>spriteSourceSize</key>
                <string>{324,164}</string>
                <key>textureRect</key>
                <string>{{603,2111},{324,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001284.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{603,2437},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001285_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{907,1557},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001285_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{863,1895},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001285_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{875,2017},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001285_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{875,2103},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001285_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{875,2189},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001285_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{875,2275},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001286.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,160}</string>
                <key>textureRect</key>
                <string>{{1,2645},{400,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{583,1347},{380,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001288.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{745,1347},{380,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001289.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{603,1729},{380,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,252}</string>
                <key>spriteSourceSize</key>
                <string>{80,252}</string>
                <key>textureRect</key>
                <string>{{1,2807},{80,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001291.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{595,2831},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001292.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{697,2831},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001293.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{889,2705},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{803,2827},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001295_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{875,2361},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001295_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{875,2447},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001295_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{875,2533},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001295_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{887,1729},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001296.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,120}</string>
                <key>textureRect</key>
                <string>{{765,1729},{164,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001297_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{777,2575},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001297_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{863,2619},{84,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001297_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{803,2705},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai101/00001298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,180}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{403,2645},{120,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{583,483},{460,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{583,1},{480,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai101/00001301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{583,945},{400,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai101-0.pvr.ccz</string>
            <key>size</key>
            <string>{996,2904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b38b89f59285b0e787da18a881a0696c:fbeae556ecfc53029fd8ee0bb8562379:53ffb688d5430e6312fa5f04dd465cb4$</string>
            <key>textureFileName</key>
            <string>penglai101-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
