<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai_stage004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,485},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{815,583},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{815,681},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{815,779},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{815,877},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{615,1617},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{713,1617},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{811,1617},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{619,1787},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{619,1885},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{789,1787},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{887,1787},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{871,975},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{871,1145},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000500_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,200}</string>
                <key>spriteSourceSize</key>
                <string>{820,200}</string>
                <key>textureRect</key>
                <string>{{1,621},{820,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,404}</string>
                <key>spriteSourceSize</key>
                <string>{312,404}</string>
                <key>textureRect</key>
                <string>{{203,621},{312,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,152}</string>
                <key>spriteSourceSize</key>
                <string>{520,152}</string>
                <key>textureRect</key>
                <string>{{1,1443},{520,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000837.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{297,1925},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{155,1877},{140,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00000842.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,320}</string>
                <key>spriteSourceSize</key>
                <string>{100,320}</string>
                <key>textureRect</key>
                <string>{{297,1823},{100,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000843.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,160}</string>
                <key>spriteSourceSize</key>
                <string>{340,160}</string>
                <key>textureRect</key>
                <string>{{611,1015},{340,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000844.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{803,1},{280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000846.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{36,88}</string>
                <key>textureRect</key>
                <string>{{895,1421},{36,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{895,1459},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{917,1521},{64,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00000868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{833,1357},{124,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00001241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,388}</string>
                <key>spriteSourceSize</key>
                <string>{316,388}</string>
                <key>textureRect</key>
                <string>{{297,1433},{316,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00001243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,140}</string>
                <key>spriteSourceSize</key>
                <string>{432,140}</string>
                <key>textureRect</key>
                <string>{{155,1443},{432,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00001247.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,96}</string>
                <key>spriteSourceSize</key>
                <string>{384,96}</string>
                <key>textureRect</key>
                <string>{{513,1027},{384,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00001249.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,96}</string>
                <key>spriteSourceSize</key>
                <string>{340,96}</string>
                <key>textureRect</key>
                <string>{{773,1015},{340,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00001262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,300}</string>
                <key>spriteSourceSize</key>
                <string>{72,300}</string>
                <key>textureRect</key>
                <string>{{615,1543},{72,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00001591_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,308}</string>
                <key>spriteSourceSize</key>
                <string>{404,308}</string>
                <key>textureRect</key>
                <string>{{203,1027},{404,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00001593.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,392}</string>
                <key>spriteSourceSize</key>
                <string>{296,392}</string>
                <key>textureRect</key>
                <string>{{517,621},{296,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00001615_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,184}</string>
                <key>spriteSourceSize</key>
                <string>{216,184}</string>
                <key>textureRect</key>
                <string>{{615,1357},{216,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00001616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,68}</string>
                <key>textureRect</key>
                <string>{{423,1925},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00001617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,68}</string>
                <key>textureRect</key>
                <string>{{493,1925},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage004/00001618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{895,1315},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00001619.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{803,283},{180,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1,395},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage004/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai_stage004-0.pvr.ccz</string>
            <key>size</key>
            <string>{984,1982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ba11066bab64e38797d43959636a0ea:afce480e3eaa59001a8dec9dfe5371aa:38f34780a9f17cb50e28f4a0881e00b8$</string>
            <key>textureFileName</key>
            <string>penglai_stage004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
