<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai_stage001/00000534.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000535.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai_stage001-9.pvr.ccz</string>
            <key>size</key>
            <string>{4002,3604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d7089b706d65d572abae0cabff3faa3:ccfd91a622b4412e40e284ed9d51374c:134aed185d008a2819ed3e9d36ae3704$</string>
            <key>textureFileName</key>
            <string>penglai_stage001-9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
