<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai104/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1005,2547},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1667,2395},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1317,2557},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1487,2557},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{725,2655},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{895,2655},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1065,2655},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1235,2655},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1405,2655},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1575,2655},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1795,1973},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1795,2143},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1765,2395},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1745,2565},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{1843,2565},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1503,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1557,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1611,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1665,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1719,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1773,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1827,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1881,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1503,1003},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1557,1003},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000832_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,404}</string>
                <key>spriteSourceSize</key>
                <string>{312,404}</string>
                <key>textureRect</key>
                <string>{{1611,1003},{312,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000834.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,388}</string>
                <key>spriteSourceSize</key>
                <string>{440,388}</string>
                <key>textureRect</key>
                <string>{{1353,2005},{440,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000835.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1611,1409},{380,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,152}</string>
                <key>spriteSourceSize</key>
                <string>{520,152}</string>
                <key>textureRect</key>
                <string>{{803,2393},{520,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{1175,2547},{140,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,52}</string>
                <key>spriteSourceSize</key>
                <string>{116,52}</string>
                <key>textureRect</key>
                <string>{{1873,1409},{116,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000842.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,320}</string>
                <key>spriteSourceSize</key>
                <string>{100,320}</string>
                <key>textureRect</key>
                <string>{{403,2623},{100,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00000843.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,160}</string>
                <key>spriteSourceSize</key>
                <string>{340,160}</string>
                <key>textureRect</key>
                <string>{{1325,2395},{340,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000844.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{1611,1791},{280,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000846.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{36,88}</string>
                <key>textureRect</key>
                <string>{{1657,2565},{36,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1795,2313},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{803,2003},{548,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00001302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,400}</string>
                <key>spriteSourceSize</key>
                <string>{100,400}</string>
                <key>textureRect</key>
                <string>{{1,2623},{100,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00001303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{803,2547},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai104/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1,2397},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai104/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,2003},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai104-0.pvr.ccz</string>
            <key>size</key>
            <string>{1944,2752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e3c78dccc0ebefae30ff2b7adf6fd6f:847b59a4f6bd6b1c9b7f0a38b3daa477:dc1b9f8dd2e6de345768a0992498c591$</string>
            <key>textureFileName</key>
            <string>penglai104-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
