<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai_stage001/00000506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000508_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,136}</string>
                <key>textureRect</key>
                <string>{{3667,3605},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{803,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{921,3807},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{1321,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{1439,3807},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{1839,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{1957,3807},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{2357,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{803,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{921,3807},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{1321,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{1439,3807},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{1839,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{1957,3807},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000515_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,516}</string>
                <key>spriteSourceSize</key>
                <string>{200,516}</string>
                <key>textureRect</key>
                <string>{{2357,3605},{200,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1800}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{4000,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{1,3831},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{231,3831},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{461,3831},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{691,3831},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{2475,3807},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{2705,3807},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{2875,3605},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{2935,3707},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3037,3707},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3105,3605},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3139,3707},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3241,3707},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3335,3605},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00000544_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3565,3605},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3343,3707},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3445,3707},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai_stage001/00000544_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3547,3835},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai_stage001/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1,3605},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai_stage001-2.pvr.ccz</string>
            <key>size</key>
            <string>{4002,4008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d7089b706d65d572abae0cabff3faa3:ccfd91a622b4412e40e284ed9d51374c:134aed185d008a2819ed3e9d36ae3704$</string>
            <key>textureFileName</key>
            <string>penglai_stage001-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
