<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penglai012/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{775,2405},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1071,2945},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1241,2945},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{791,2305},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{945,2403},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{961,2305},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1115,2403},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1131,2305},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1285,2403},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1301,2305},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1455,2403},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1453,1937},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1533,2939},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1695,2369},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000333_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,248}</string>
                <key>spriteSourceSize</key>
                <string>{900,248}</string>
                <key>textureRect</key>
                <string>{{541,1503},{900,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{917,2945},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{55,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{109,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{163,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{217,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{271,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{325,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{379,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{433,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{487,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000832_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai012/00000833.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,404}</string>
                <key>spriteSourceSize</key>
                <string>{312,404}</string>
                <key>textureRect</key>
                <string>{{1625,1503},{312,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000834.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,388}</string>
                <key>spriteSourceSize</key>
                <string>{440,388}</string>
                <key>textureRect</key>
                <string>{{545,2503},{440,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000836.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,152}</string>
                <key>spriteSourceSize</key>
                <string>{520,152}</string>
                <key>textureRect</key>
                <string>{{391,2505},{520,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{1865,2369},{140,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai012/00000843.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,160}</string>
                <key>spriteSourceSize</key>
                <string>{340,160}</string>
                <key>textureRect</key>
                <string>{{1471,2051},{340,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{1961,2727},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai012/00000848.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1411,2939},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai012/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{1,2505},{548,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,40}</string>
                <key>textureRect</key>
                <string>{{1411,1933},{64,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000854.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,320}</string>
                <key>spriteSourceSize</key>
                <string>{100,320}</string>
                <key>textureRect</key>
                <string>{{595,2945},{100,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00000866.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,72}</string>
                <key>spriteSourceSize</key>
                <string>{36,72}</string>
                <key>textureRect</key>
                <string>{{1411,1999},{36,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai012/00000868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{1633,2369},{124,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00001241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,388}</string>
                <key>spriteSourceSize</key>
                <string>{316,388}</string>
                <key>textureRect</key>
                <string>{{1633,2051},{316,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00001242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,316}</string>
                <key>spriteSourceSize</key>
                <string>{436,316}</string>
                <key>textureRect</key>
                <string>{{1261,2501},{436,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00001243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,140}</string>
                <key>spriteSourceSize</key>
                <string>{432,140}</string>
                <key>textureRect</key>
                <string>{{1465,1503},{432,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00001246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,324}</string>
                <key>spriteSourceSize</key>
                <string>{440,324}</string>
                <key>textureRect</key>
                <string>{{935,2503},{440,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00001256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,232}</string>
                <key>textureRect</key>
                <string>{{1625,1817},{400,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai012/00001258.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,224}</string>
                <key>spriteSourceSize</key>
                <string>{436,224}</string>
                <key>textureRect</key>
                <string>{{1579,2501},{436,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai012/00001260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{545,2945},{108,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00001588.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,96}</string>
                <key>spriteSourceSize</key>
                <string>{232,96}</string>
                <key>textureRect</key>
                <string>{{541,2405},{232,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai012/00001589.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,52}</string>
                <key>spriteSourceSize</key>
                <string>{428,52}</string>
                <key>textureRect</key>
                <string>{{1411,1503},{428,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00001590.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,160}</string>
                <key>spriteSourceSize</key>
                <string>{380,160}</string>
                <key>textureRect</key>
                <string>{{1579,2727},{380,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penglai012/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1185,1503},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penglai012/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{791,1503},{800,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>penglai012-0.pvr.ccz</string>
            <key>size</key>
            <string>{2030,3060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ea549065cd6377d089310fa408a0a8c:9521925c4e9bfaa8e047b0d2bc0e345e:2560ee56378ef8ecc29eb57bd7798cd6$</string>
            <key>textureFileName</key>
            <string>penglai012-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
