<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pingding006/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1361,1547},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1531,1717},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{815,1861},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1531,1815},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1701,1717},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{985,1831},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1155,1815},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2007,405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{985,1929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1155,1913},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1325,1851},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1789,1211},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1789,1381},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1887,1211},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1887,1381},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1799,1551},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1799,1721},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1897,1551},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1897,1721},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1985,1211},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1985,1381},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1995,1551},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1995,1721},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2015,649},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2015,819},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1495,1913},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1665,1913},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1835,1891},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000777.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,503},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000778_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,500}</string>
                <key>spriteSourceSize</key>
                <string>{1000,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000779.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1069,391},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000780.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{315,1809},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000781.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2015,303},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000782.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1205,1353},{256,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000783.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1325,1815},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000784.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,132}</string>
                <key>spriteSourceSize</key>
                <string>{272,132}</string>
                <key>textureRect</key>
                <string>{{1873,391},{272,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000785.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,128}</string>
                <key>textureRect</key>
                <string>{{1985,1},{300,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000786.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,128}</string>
                <key>spriteSourceSize</key>
                <string>{172,128}</string>
                <key>textureRect</key>
                <string>{{945,1701},{172,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000787.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,320}</string>
                <key>spriteSourceSize</key>
                <string>{284,320}</string>
                <key>textureRect</key>
                <string>{{1467,1297},{284,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000788.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1325,1949},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000789.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1325,1995},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000790.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{2005,1891},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000791.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{373,1971},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000792.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{2005,1933},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000793.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{651,1955},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000794.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,104}</string>
                <key>spriteSourceSize</key>
                <string>{32,104}</string>
                <key>textureRect</key>
                <string>{{1003,391},{32,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000795.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{32,88}</string>
                <key>textureRect</key>
                <string>{{973,953},{32,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000796.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{1,1809},{160,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000797_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{803,953},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000797_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1191,1547},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000797_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1459,1583},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000797_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1629,1583},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000797_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1781,1041},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000797_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1915,1041},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000797_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1191,1681},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000797_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1361,1717},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000798.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,408}</string>
                <key>spriteSourceSize</key>
                <string>{228,408}</string>
                <key>textureRect</key>
                <string>{{975,1015},{228,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000799.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{1451,693},{360,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,216}</string>
                <key>spriteSourceSize</key>
                <string>{76,216}</string>
                <key>textureRect</key>
                <string>{{975,1425},{76,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,380}</string>
                <key>spriteSourceSize</key>
                <string>{320,380}</string>
                <key>textureRect</key>
                <string>{{1069,693},{320,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,196}</string>
                <key>spriteSourceSize</key>
                <string>{244,196}</string>
                <key>textureRect</key>
                <string>{{945,1503},{244,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{1813,947},{180,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,60}</string>
                <key>textureRect</key>
                <string>{{1,1971},{320,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,300}</string>
                <key>spriteSourceSize</key>
                <string>{312,300}</string>
                <key>textureRect</key>
                <string>{{1467,995},{312,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,400}</string>
                <key>spriteSourceSize</key>
                <string>{356,400}</string>
                <key>textureRect</key>
                <string>{{543,1503},{356,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{1813,693},{252,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,92}</string>
                <key>spriteSourceSize</key>
                <string>{276,92}</string>
                <key>textureRect</key>
                <string>{{537,1861},{276,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{2007,575},{100,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1119,1701},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{537,1955},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000812.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,448}</string>
                <key>spriteSourceSize</key>
                <string>{264,448}</string>
                <key>textureRect</key>
                <string>{{803,503},{264,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000813.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1367,1949},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000814.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1371,1995},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000815.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,260}</string>
                <key>spriteSourceSize</key>
                <string>{336,260}</string>
                <key>textureRect</key>
                <string>{{1205,1015},{336,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{733,1955},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1409,1949},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000818.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1417,1995},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding006/00000819.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1451,1949},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000820.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,304}</string>
                <key>spriteSourceSize</key>
                <string>{540,304}</string>
                <key>textureRect</key>
                <string>{{1,1503},{540,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000821.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1471,391},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000822.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{323,1971},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000823.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{2047,1891},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000824.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{980,388}</string>
                <key>spriteSourceSize</key>
                <string>{980,388}</string>
                <key>textureRect</key>
                <string>{{1003,1},{980,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding006/00000825.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,396}</string>
                <key>spriteSourceSize</key>
                <string>{972,396}</string>
                <key>textureRect</key>
                <string>{{1,1105},{972,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pingding006-0.pvr.ccz</string>
            <key>size</key>
            <string>{2116,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:273dd1e9efa3f2b65ce767142e2cfec7:1f1f55960e37c3ff0bd44fe03a0df7e5:a88a31427c801ea32040a72f7b3cecf7$</string>
            <key>textureFileName</key>
            <string>pingding006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
