<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pingding102/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3621,485},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3119,573},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3521,699},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2775,707},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2945,707},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2757,805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2855,805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2953,805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3051,805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3619,699},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3149,751},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3247,751},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3345,833},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3515,869},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000777.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1977,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000778_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,500}</string>
                <key>spriteSourceSize</key>
                <string>{1000,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000779.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{3321,1},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000780.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{2417,665},{220,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000781.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{831,893},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000782.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{3363,505},{256,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000783.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{3115,743},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000784.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,132}</string>
                <key>spriteSourceSize</key>
                <string>{272,132}</string>
                <key>textureRect</key>
                <string>{{3229,307},{272,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000785.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,128}</string>
                <key>textureRect</key>
                <string>{{1,893},{300,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000786.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,128}</string>
                <key>spriteSourceSize</key>
                <string>{172,128}</string>
                <key>textureRect</key>
                <string>{{303,893},{172,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000787.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,320}</string>
                <key>spriteSourceSize</key>
                <string>{284,320}</string>
                <key>textureRect</key>
                <string>{{1365,701},{284,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000788.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3621,655},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000789.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3399,931},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000790.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1929,551},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000791.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{3685,869},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000792.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{3685,911},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000793.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{3317,931},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000794.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,104}</string>
                <key>spriteSourceSize</key>
                <string>{32,104}</string>
                <key>textureRect</key>
                <string>{{1929,399},{32,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000795.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{32,88}</string>
                <key>textureRect</key>
                <string>{{477,983},{32,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000796.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{1767,399},{160,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000797_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2605,603},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000797_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2579,737},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000797_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2417,887},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000797_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2587,871},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000797_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2779,573},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000797_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2949,573},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000797_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{3217,581},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000797_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{3351,699},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000799.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{1405,399},{360,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,216}</string>
                <key>spriteSourceSize</key>
                <string>{76,216}</string>
                <key>textureRect</key>
                <string>{{1965,915},{76,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,380}</string>
                <key>spriteSourceSize</key>
                <string>{320,380}</string>
                <key>textureRect</key>
                <string>{{983,701},{320,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,196}</string>
                <key>spriteSourceSize</key>
                <string>{244,196}</string>
                <key>textureRect</key>
                <string>{{2219,693},{244,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{3617,303},{180,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,60}</string>
                <key>textureRect</key>
                <string>{{2283,603},{320,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,300}</string>
                <key>spriteSourceSize</key>
                <string>{312,300}</string>
                <key>textureRect</key>
                <string>{{1651,713},{312,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{3363,303},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{3149,921},{100,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{3223,921},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000812.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,448}</string>
                <key>spriteSourceSize</key>
                <string>{264,448}</string>
                <key>textureRect</key>
                <string>{{2779,307},{264,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000813.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3399,977},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000814.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3667,655},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding102/00000816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{933,943},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3441,931},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000818.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3441,977},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000819.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1929,505},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000820.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,304}</string>
                <key>spriteSourceSize</key>
                <string>{540,304}</string>
                <key>textureRect</key>
                <string>{{2779,1},{540,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000821.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1003,399},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000822.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{933,893},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000823.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{567,983},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000824.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{980,388}</string>
                <key>spriteSourceSize</key>
                <string>{980,388}</string>
                <key>textureRect</key>
                <string>{{1,503},{980,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000825.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,396}</string>
                <key>spriteSourceSize</key>
                <string>{972,396}</string>
                <key>textureRect</key>
                <string>{{1003,1},{972,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000826.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,88}</string>
                <key>spriteSourceSize</key>
                <string>{352,88}</string>
                <key>textureRect</key>
                <string>{{477,893},{352,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000828.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,88}</string>
                <key>spriteSourceSize</key>
                <string>{352,88}</string>
                <key>textureRect</key>
                <string>{{1929,603},{352,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding102/00000829.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,220}</string>
                <key>spriteSourceSize</key>
                <string>{252,220}</string>
                <key>textureRect</key>
                <string>{{1965,693},{252,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pingding102-0.pvr.ccz</string>
            <key>size</key>
            <string>{3726,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7274167de38555fc6abc49b9e62e45f:ceab84ed5541d3688d27728b6e672e27:799c9184dc257e65ebb67b760e77ec9a$</string>
            <key>textureFileName</key>
            <string>pingding102-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
