<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pingding004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{783,893},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3229,307},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3461,255},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1789,905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1959,905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2129,905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2299,905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2469,905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1821,713},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2979,869},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3195,735},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3149,905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3293,729},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3391,729},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000777.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1977,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000778_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,500}</string>
                <key>spriteSourceSize</key>
                <string>{1000,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000780.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{3025,573},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000781.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3319,899},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000782.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{2585,603},{256,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000783.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{3149,869},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000784.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,132}</string>
                <key>spriteSourceSize</key>
                <string>{272,132}</string>
                <key>textureRect</key>
                <string>{{1345,851},{272,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000785.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,128}</string>
                <key>textureRect</key>
                <string>{{1345,721},{300,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000786.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,128}</string>
                <key>spriteSourceSize</key>
                <string>{172,128}</string>
                <key>textureRect</key>
                <string>{{1647,721},{172,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000787.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,320}</string>
                <key>spriteSourceSize</key>
                <string>{284,320}</string>
                <key>textureRect</key>
                <string>{{1949,603},{284,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000790.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{245,955},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000791.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{3489,729},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000792.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{3489,771},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000793.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{3229,477},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000794.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,104}</string>
                <key>spriteSourceSize</key>
                <string>{32,104}</string>
                <key>textureRect</key>
                <string>{{1,955},{32,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000795.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{32,88}</string>
                <key>textureRect</key>
                <string>{{3523,1},{32,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000796.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{1787,399},{160,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000797_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1619,851},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000797_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{3327,255},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000797_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2639,861},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000797_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2809,849},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000797_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{3327,425},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000797_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{3247,559},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000797_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{3381,559},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000797_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{3025,735},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000799.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{983,701},{360,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,216}</string>
                <key>spriteSourceSize</key>
                <string>{76,216}</string>
                <key>textureRect</key>
                <string>{{2779,771},{76,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,380}</string>
                <key>spriteSourceSize</key>
                <string>{320,380}</string>
                <key>textureRect</key>
                <string>{{1405,399},{320,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,196}</string>
                <key>spriteSourceSize</key>
                <string>{244,196}</string>
                <key>textureRect</key>
                <string>{{2779,573},{244,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{601,893},{180,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,60}</string>
                <key>textureRect</key>
                <string>{{1,893},{320,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,300}</string>
                <key>spriteSourceSize</key>
                <string>{312,300}</string>
                <key>textureRect</key>
                <string>{{2271,603},{312,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{3321,1},{252,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,92}</string>
                <key>spriteSourceSize</key>
                <string>{276,92}</string>
                <key>textureRect</key>
                <string>{{323,893},{276,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000812.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,448}</string>
                <key>spriteSourceSize</key>
                <string>{264,448}</string>
                <key>textureRect</key>
                <string>{{2779,307},{264,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000813.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{2585,861},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000814.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3497,475},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{3421,899},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3421,945},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000818.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{107,955},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000819.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{153,955},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding004/00000820.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,304}</string>
                <key>spriteSourceSize</key>
                <string>{540,304}</string>
                <key>textureRect</key>
                <string>{{2779,1},{540,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000821.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1003,399},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000822.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{3497,425},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000823.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{3497,521},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000824.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{980,388}</string>
                <key>spriteSourceSize</key>
                <string>{980,388}</string>
                <key>textureRect</key>
                <string>{{1,503},{980,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000825.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,396}</string>
                <key>spriteSourceSize</key>
                <string>{972,396}</string>
                <key>textureRect</key>
                <string>{{1003,1},{972,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding004/00000830.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{199,955},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pingding004-0.pvr.ccz</string>
            <key>size</key>
            <string>{3558,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52cce94759ba565e3741e240819d29e4:825900bbe947893c2e04174bafe8a0f8:196dbf1ee5aed5379ad84831c62265f7$</string>
            <key>textureFileName</key>
            <string>pingding004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
