<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pingding103/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2673,603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1943,903},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3319,413},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2409,737},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2587,787},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2685,787},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2783,787},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2881,787},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2979,745},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3077,745},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3175,745},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3273,753},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2979,915},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3251,923},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000777.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1977,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000778_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,500}</string>
                <key>spriteSourceSize</key>
                <string>{1000,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000780.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1943,681},{220,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000781.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{3149,915},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000782.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1749,713},{256,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000783.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{3279,547},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000784.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,132}</string>
                <key>spriteSourceSize</key>
                <string>{272,132}</string>
                <key>textureRect</key>
                <string>{{3045,413},{272,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000785.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,128}</string>
                <key>textureRect</key>
                <string>{{1619,701},{300,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000786.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,128}</string>
                <key>spriteSourceSize</key>
                <string>{172,128}</string>
                <key>textureRect</key>
                <string>{{2329,603},{172,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000787.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,320}</string>
                <key>spriteSourceSize</key>
                <string>{284,320}</string>
                <key>textureRect</key>
                <string>{{983,701},{284,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000790.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1929,491},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000791.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{2671,957},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000792.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{3371,845},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000793.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{2941,653},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000794.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,104}</string>
                <key>spriteSourceSize</key>
                <string>{32,104}</string>
                <key>textureRect</key>
                <string>{{1,983},{32,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000795.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{32,88}</string>
                <key>textureRect</key>
                <string>{{2239,697},{32,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000796.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{1767,399},{160,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000797_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2503,603},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000797_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2105,697},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000797_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2771,653},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000797_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2113,867},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000797_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2239,733},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000797_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2283,867},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000797_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{3279,583},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000797_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2453,835},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000799.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{1405,399},{360,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,216}</string>
                <key>spriteSourceSize</key>
                <string>{76,216}</string>
                <key>textureRect</key>
                <string>{{1929,603},{76,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,380}</string>
                <key>spriteSourceSize</key>
                <string>{320,380}</string>
                <key>textureRect</key>
                <string>{{3045,1},{320,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,196}</string>
                <key>spriteSourceSize</key>
                <string>{244,196}</string>
                <key>textureRect</key>
                <string>{{3033,547},{244,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{2147,603},{180,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,60}</string>
                <key>textureRect</key>
                <string>{{355,893},{320,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,300}</string>
                <key>spriteSourceSize</key>
                <string>{312,300}</string>
                <key>textureRect</key>
                <string>{{1305,701},{312,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{2779,451},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,92}</string>
                <key>spriteSourceSize</key>
                <string>{276,92}</string>
                <key>textureRect</key>
                <string>{{677,893},{276,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000812.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,448}</string>
                <key>spriteSourceSize</key>
                <string>{264,448}</string>
                <key>textureRect</key>
                <string>{{2779,1},{264,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000813.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{2587,957},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000814.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3371,753},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1929,399},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{2629,737},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000818.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1929,445},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000819.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{2629,957},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000821.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1003,399},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000822.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{2579,737},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000823.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{2941,735},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pingding103/00000824.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{980,388}</string>
                <key>spriteSourceSize</key>
                <string>{980,388}</string>
                <key>textureRect</key>
                <string>{{1,503},{980,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000825.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,396}</string>
                <key>spriteSourceSize</key>
                <string>{972,396}</string>
                <key>textureRect</key>
                <string>{{1003,1},{972,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000826.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,88}</string>
                <key>spriteSourceSize</key>
                <string>{352,88}</string>
                <key>textureRect</key>
                <string>{{3045,323},{352,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000828.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,88}</string>
                <key>spriteSourceSize</key>
                <string>{352,88}</string>
                <key>textureRect</key>
                <string>{{1,893},{352,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pingding103/00000830.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{3371,799},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pingding103-0.pvr.ccz</string>
            <key>size</key>
            <string>{3426,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bab4cab6081d4bdbaaea0d96345f795b:5aa322ccd19c2cb41e96587f15f8623a:4be8098eb5b2f5aac8acb4f016eb84fc$</string>
            <key>textureFileName</key>
            <string>pingding103-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
