<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PKdengdai/00000040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1120,760}</string>
                <key>spriteSourceSize</key>
                <string>{1120,760}</string>
                <key>textureRect</key>
                <string>{{1,1187},{1120,760}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{919,2259},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1099,2131},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1269,2131},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1439,2131},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1723,2191},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1017,2259},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1115,2229},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1213,2229},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1311,2229},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1409,2229},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1507,2229},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1605,2273},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1703,2289},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1873,2345},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000121_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1927,1701},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000121_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1033,2215},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000121_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{919,2429},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000121_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1033,2215},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000127_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1123,1187},{400,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000127_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1525,1187},{400,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000128_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{919,1949},{308,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000128_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{1927,191},{308,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000128_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{1927,501},{308,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000128_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{1927,811},{308,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000128_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{1927,1121},{308,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00000129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,340}</string>
                <key>spriteSourceSize</key>
                <string>{620,340}</string>
                <key>textureRect</key>
                <string>{{1123,1789},{620,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000142_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,508}</string>
                <key>spriteSourceSize</key>
                <string>{916,508}</string>
                <key>textureRect</key>
                <string>{{1,1949},{916,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00000143_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1924,1184}</string>
                <key>spriteSourceSize</key>
                <string>{1924,1184}</string>
                <key>textureRect</key>
                <string>{{1,1},{1924,1184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00001343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{1927,1431},{268,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00001344.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{1981,1431},{268,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00001348.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,160}</string>
                <key>spriteSourceSize</key>
                <string>{72,160}</string>
                <key>textureRect</key>
                <string>{{1703,2387},{72,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00001349.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,188}</string>
                <key>spriteSourceSize</key>
                <string>{120,188}</string>
                <key>textureRect</key>
                <string>{{1927,1},{120,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKdengdai/00001351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{1115,2399},{64,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00001354.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,112}</string>
                <key>textureRect</key>
                <string>{{1609,2131},{140,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00001362.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,64}</string>
                <key>spriteSourceSize</key>
                <string>{264,64}</string>
                <key>textureRect</key>
                <string>{{1033,1949},{264,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00001363.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,280}</string>
                <key>textureRect</key>
                <string>{{1745,1789},{400,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PKdengdai/00001887.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1893,2191},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PKdengdai-0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:031892708bca34e296d6a28010881ded:1013c8c65e6ccda8e70e9e3ed4292f4b:e76ef4e8ef7817efc14143c0a96151c2$</string>
            <key>textureFileName</key>
            <string>PKdengdai-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
