<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianhai007/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{703,603},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1487,1669},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1849,1529},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1917,1627},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1917,1797},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1917,1967},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1917,2137},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1917,2307},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1575,2997},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1673,2997},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1575,3167},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1771,2997},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1745,3167},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1915,3143},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{683,3117},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001684.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{303,3239},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001687.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{1,3239},{100,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{1505,1},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{703,1191},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{1631,2553},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{1265,2391},{280,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001695_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1,2531},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001695_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1,2885},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001695_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{803,483},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001695_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{703,837},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001695_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{803,483},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001695_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1,2885},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1595,1669},{440,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1631,2815},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001699_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1265,1845},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001699_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{703,2457},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001699_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{683,2787},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001699_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1385,837},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001699_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{683,2787},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001699_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{703,2457},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1869,3061},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1575,3265},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1737,3265},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1493,3279},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1229,2855},{180,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{1065,3117},{272,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1249,2593},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1873,2553},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,652}</string>
                <key>spriteSourceSize</key>
                <string>{220,652}</string>
                <key>textureRect</key>
                <string>{{1265,1191},{220,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{545,3239},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001719_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1493,3037},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,603},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001721_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{803,1},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001721_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001721_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001721_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,2049},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001721_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001721_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001722.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{703,1613},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1931,837},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1595,2111},{440,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001725.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{703,2035},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001733.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1505,475},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,180}</string>
                <key>spriteSourceSize</key>
                <string>{360,180}</string>
                <key>textureRect</key>
                <string>{{1849,1167},{360,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001736_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1873,2553},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001736_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1873,2807},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001736_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1239,3037},{252,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001736_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1239,3199},{252,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001736_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1239,3037},{252,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai007/00001736_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1873,2807},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai007/00001737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1487,1167},{500,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qianhai007-0.pvr.ccz</string>
            <key>size</key>
            <string>{2034,3390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:928f3a8fdcc0504fcf51a56313f95a3a:323fcbe75e9ec034cf2dc84bb6d7b930:887e5073e03eec6dcb608dc78e6dabc9$</string>
            <key>textureFileName</key>
            <string>qianhai007-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
