<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianhai003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1877,927},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1877,1025},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1877,1123},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1949,1221},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1949,1391},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1949,1561},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1003,2861},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1913,1731},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1933,1901},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1101,2861},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1199,2823},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1297,2823},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1477,2843},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1647,2815},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1249,1553},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001684.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{1759,563},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001687.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{1927,1},{100,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{1,2531},{500,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1505,1},{560,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{1733,2075},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{1595,1047},{280,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001697.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1845,2337},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1801,2579},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001699_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{703,1549},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001699_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{703,1879},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001699_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{703,2209},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001699_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1265,705},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001699_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{703,2209},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001699_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{703,1879},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1395,2823},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1477,2941},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1959,685},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1249,2077},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1143,2541},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1595,705},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1667,1249},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1631,1591},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1667,1249},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1595,705},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{703,603},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1249,2359},{180,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{1627,2541},{272,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1249,1815},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1591,2379},{252,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,652}</string>
                <key>spriteSourceSize</key>
                <string>{220,652}</string>
                <key>textureRect</key>
                <string>{{803,483},{220,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{475,2531},{224,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1745,2821},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001719_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1927,303},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,603},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001721_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{803,1},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001721_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001721_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001721_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,2049},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001721_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001721_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001722.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{703,705},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1877,685},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{701,2539},{440,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001725.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{703,1127},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001727.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1265,1251},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001731_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,300}</string>
                <key>spriteSourceSize</key>
                <string>{140,300}</string>
                <key>textureRect</key>
                <string>{{1457,563},{140,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001731_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,300}</string>
                <key>spriteSourceSize</key>
                <string>{140,300}</string>
                <key>textureRect</key>
                <string>{{701,2861},{140,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001731_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,300}</string>
                <key>spriteSourceSize</key>
                <string>{140,300}</string>
                <key>textureRect</key>
                <string>{{1631,1933},{140,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai003/00001731_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,300}</string>
                <key>spriteSourceSize</key>
                <string>{140,300}</string>
                <key>textureRect</key>
                <string>{{1485,2541},{140,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai003/00001731_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,300}</string>
                <key>spriteSourceSize</key>
                <string>{140,300}</string>
                <key>textureRect</key>
                <string>{{1591,2077},{140,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qianhai003-0.pvr.ccz</string>
            <key>size</key>
            <string>{2046,3032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:584d35f9f49ab14fd63bb6ca05c4308e:2700a28c7a66009b61775f0a29770f53:14babd8ed4d7d23ce688eed612bf410a$</string>
            <key>textureFileName</key>
            <string>qianhai003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
