<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianhai005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1033,1653},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1865,805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{821,2943},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1865,975},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1857,1145},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1857,1315},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{991,2907},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1161,2919},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{991,3005},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1161,3017},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1331,2919},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1429,2901},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1527,2901},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1625,2901},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1535,1551},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001684.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{579,2943},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001687.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{1025,2543},{100,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{703,705},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1,2531},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{965,2645},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{1749,2397},{280,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1535,1109},{440,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001697.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1757,2155},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1725,2679},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001699_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{703,1653},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001699_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1205,705},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001699_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1535,563},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001699_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1205,1251},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001699_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1535,563},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001699_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1205,705},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{497,2953},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1723,2921},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{1723,3003},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{703,603},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{703,1179},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{1757,1813},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{1207,2645},{272,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1,2953},{252,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1033,1797},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001714_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1395,1813},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001714_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1025,2261},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001714_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1395,2095},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001714_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1387,2377},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001714_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1395,2095},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001714_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,280}</string>
                <key>spriteSourceSize</key>
                <string>{360,280}</string>
                <key>textureRect</key>
                <string>{{1025,2261},{360,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,652}</string>
                <key>spriteSourceSize</key>
                <string>{220,652}</string>
                <key>textureRect</key>
                <string>{{803,483},{220,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{563,2531},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001719_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1643,2659},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,603},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001721_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{803,1},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001721_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001721_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001721_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,2049},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001721_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1567},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001721_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,480}</string>
                <key>spriteSourceSize</key>
                <string>{700,480}</string>
                <key>textureRect</key>
                <string>{{1,1085},{700,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1865,563},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{703,2199},{440,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001725.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1505,1},{560,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qianhai005/00001727.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{563,2641},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{255,2953},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,180}</string>
                <key>spriteSourceSize</key>
                <string>{360,180}</string>
                <key>textureRect</key>
                <string>{{1033,2079},{360,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianhai005/00001735.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{1381,2659},{240,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qianhai005-0.pvr.ccz</string>
            <key>size</key>
            <string>{1962,3114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0b90ced90c942adcd5cc48afedfa216:9e4d7fd62b32c406844d3543f2684621:1cc770e033d795f0bd90eb0128b99905$</string>
            <key>textureFileName</key>
            <string>qianhai005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
