<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuilian_stage001/00000574.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1803},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000577.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,288}</string>
                <key>spriteSourceSize</key>
                <string>{800,288}</string>
                <key>textureRect</key>
                <string>{{3425,859},{800,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000579.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,1800}</string>
                <key>spriteSourceSize</key>
                <string>{220,1800}</string>
                <key>textureRect</key>
                <string>{{3203,1},{220,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000580_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{856,312}</string>
                <key>spriteSourceSize</key>
                <string>{856,312}</string>
                <key>textureRect</key>
                <string>{{3425,1},{856,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000589_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,440}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{803,1803},{600,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000589_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,440}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{1245,1803},{600,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000589_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,440}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{1687,1803},{600,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000589_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,440}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{2129,1803},{600,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000589_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,440}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{2571,1803},{600,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000589_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,440}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{3013,1803},{600,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000594.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1800}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000604_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,264}</string>
                <key>spriteSourceSize</key>
                <string>{68,264}</string>
                <key>textureRect</key>
                <string>{{3425,1661},{68,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000604_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,264}</string>
                <key>spriteSourceSize</key>
                <string>{68,264}</string>
                <key>textureRect</key>
                <string>{{3425,1731},{68,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuilian_stage001-3.pvr.ccz</string>
            <key>size</key>
            <string>{3738,2404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92016b40e2110606e85b8d0d359f9af0:fceb070e8df91468462d6c38dc5fb12c:31516393ba6bdfe4e759cecfaa02d1d6$</string>
            <key>textureFileName</key>
            <string>shuilian_stage001-3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
