<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuilian101/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1505,1917},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{951,1991},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1859,1123},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1585,1431},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1635,1529},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1635,1699},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1733,1529},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1671,1797},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1675,1895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1755,1431},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1831,1529},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1711,1993},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1809,1993},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1711,2163},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000582_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1809,921},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000582_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{951,1583},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000582_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{951,1785},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000582_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1065,1633},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000582_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1179,1633},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000582_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1065,1835},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000582_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1293,1633},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000582_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1267,1835},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000582_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1365,1487},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000582_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1407,1601},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000582_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1521,1601},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000582_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1809,921},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000582_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1469,1803},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000582_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1291,1995},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000582_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1471,1281},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000583_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1121,1991},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000583_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1291,2109},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000583_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1397,2109},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000583_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1605,2085},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000583_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1519,1155},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000583_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1585,1261},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000583_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1689,1155},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000583_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1691,1261},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,356}</string>
                <key>spriteSourceSize</key>
                <string>{600,356}</string>
                <key>textureRect</key>
                <string>{{1003,793},{600,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1,351},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,168}</string>
                <key>spriteSourceSize</key>
                <string>{108,168}</string>
                <key>textureRect</key>
                <string>{{983,2089},{108,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,432}</string>
                <key>spriteSourceSize</key>
                <string>{128,432}</string>
                <key>textureRect</key>
                <string>{{699,1651},{128,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000719.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{1791,747},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,68}</string>
                <key>textureRect</key>
                <string>{{1493,2015},{168,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000722.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,128}</string>
                <key>spriteSourceSize</key>
                <string>{52,128}</string>
                <key>textureRect</key>
                <string>{{1465,1151},{52,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000723.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,96}</string>
                <key>textureRect</key>
                <string>{{1373,1293},{192,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{1503,2085},{192,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000725.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,244}</string>
                <key>spriteSourceSize</key>
                <string>{496,244}</string>
                <key>textureRect</key>
                <string>{{699,1153},{496,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000726.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,440}</string>
                <key>spriteSourceSize</key>
                <string>{580,440}</string>
                <key>textureRect</key>
                <string>{{1003,351},{580,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000727.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{1797,1261},{92,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000730.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,212}</string>
                <key>spriteSourceSize</key>
                <string>{44,212}</string>
                <key>textureRect</key>
                <string>{{1291,1949},{44,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000731.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,224}</string>
                <key>spriteSourceSize</key>
                <string>{40,224}</string>
                <key>textureRect</key>
                <string>{{1065,1949},{40,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000732.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{1923,921},{32,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,124}</string>
                <key>spriteSourceSize</key>
                <string>{40,124}</string>
                <key>textureRect</key>
                <string>{{1093,2207},{40,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000738.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,192}</string>
                <key>spriteSourceSize</key>
                <string>{104,192}</string>
                <key>textureRect</key>
                <string>{{699,2085},{104,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000740.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,168}</string>
                <key>spriteSourceSize</key>
                <string>{288,168}</string>
                <key>textureRect</key>
                <string>{{1075,1463},{288,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000741.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,168}</string>
                <key>spriteSourceSize</key>
                <string>{296,168}</string>
                <key>textureRect</key>
                <string>{{1075,1293},{296,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000743.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{1093,2097},{108,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000744.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,308}</string>
                <key>spriteSourceSize</key>
                <string>{388,308}</string>
                <key>textureRect</key>
                <string>{{1647,1},{388,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{1,1153},{1100,696}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000746.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,428}</string>
                <key>spriteSourceSize</key>
                <string>{128,428}</string>
                <key>textureRect</key>
                <string>{{945,1153},{128,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000747.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,436}</string>
                <key>spriteSourceSize</key>
                <string>{120,436}</string>
                <key>textureRect</key>
                <string>{{829,1651},{120,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000750.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,140}</string>
                <key>spriteSourceSize</key>
                <string>{388,140}</string>
                <key>textureRect</key>
                <string>{{1075,1151},{388,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000751.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{1605,925},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000752.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{1707,925},{228,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000753.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{1219,2207},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000756_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{805,2089},{184,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000756_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1585,391},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000756_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1771,391},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000756_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1585,569},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000756_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1771,569},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000756_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1605,747},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000758.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{1585,351},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000762.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{1797,1355},{52,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000763.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{1805,1741},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000764.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{1847,1359},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000767.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,116}</string>
                <key>spriteSourceSize</key>
                <string>{40,116}</string>
                <key>textureRect</key>
                <string>{{1805,1699},{40,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000769.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,28}</string>
                <key>spriteSourceSize</key>
                <string>{12,28}</string>
                <key>textureRect</key>
                <string>{{1,2255},{12,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00000770.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{84,64}</string>
                <key>textureRect</key>
                <string>{{1847,1293},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian101/00000774.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{1797,1409},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian101/00001681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1644,348}</string>
                <key>spriteSourceSize</key>
                <string>{1644,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{1644,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuilian101-0.pvr.ccz</string>
            <key>size</key>
            <string>{1956,2278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fc2d41f0275e9a43a64704b3a70b09:c274ead686f4ff0d42859c1d1b123530:0297ce04f2016adcc8f8aeb552b45439$</string>
            <key>textureFileName</key>
            <string>shuilian101-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
