<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuilian006/00000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{1,2905},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{59,2905},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{121,2905},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{183,2905},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{245,2905},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{307,2905},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{245,2905},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{183,2905},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{121,2905},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{3501,1137},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3103,2905},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3201,2971},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2823,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2921,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3019,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3117,3901},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3215,3901},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3313,3901},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3411,3901},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{861,2905},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{861,3075},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{959,2905},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1031,3075},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{3493,1309},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{2301,2905},{1000,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1400}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1400}</string>
                <key>textureRect</key>
                <string>{{1,1503},{3200,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,3189},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000582_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,1831},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3447,1941},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000582_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,1945},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,2059},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,2173},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,2287},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,2401},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,2515},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,2629},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,2743},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,2857},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3203,1831},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000582_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,2971},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000582_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{115,2971},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000582_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{229,2971},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000583_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{543,2959},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000583_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{649,2955},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000583_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{755,2955},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000583_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{3103,3075},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000583_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2301,3907},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000583_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2407,3907},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000583_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2513,3907},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000583_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{2619,3907},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,356}</string>
                <key>spriteSourceSize</key>
                <string>{600,356}</string>
                <key>textureRect</key>
                <string>{{3203,1},{600,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000716.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1127,2905},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,168}</string>
                <key>spriteSourceSize</key>
                <string>{108,168}</string>
                <key>textureRect</key>
                <string>{{3449,1577},{108,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,432}</string>
                <key>spriteSourceSize</key>
                <string>{128,432}</string>
                <key>textureRect</key>
                <string>{{3405,2755},{128,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000719.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{3405,2581},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,68}</string>
                <key>textureRect</key>
                <string>{{1057,2905},{168,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000721.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{3273,3069},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000722.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,128}</string>
                <key>spriteSourceSize</key>
                <string>{52,128}</string>
                <key>textureRect</key>
                <string>{{369,2905},{52,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000723.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,96}</string>
                <key>textureRect</key>
                <string>{{445,2959},{192,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{343,2967},{192,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000725.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,244}</string>
                <key>spriteSourceSize</key>
                <string>{496,244}</string>
                <key>textureRect</key>
                <string>{{3203,1333},{496,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000726.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,440}</string>
                <key>spriteSourceSize</key>
                <string>{580,440}</string>
                <key>textureRect</key>
                <string>{{3103,3189},{580,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000727.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{585,2905},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000728.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,48}</string>
                <key>spriteSourceSize</key>
                <string>{88,48}</string>
                <key>textureRect</key>
                <string>{{679,2905},{88,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,92}</string>
                <key>spriteSourceSize</key>
                <string>{44,92}</string>
                <key>textureRect</key>
                <string>{{3513,817},{44,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000730.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,212}</string>
                <key>spriteSourceSize</key>
                <string>{44,212}</string>
                <key>textureRect</key>
                <string>{{3513,603},{44,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000731.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,224}</string>
                <key>spriteSourceSize</key>
                <string>{40,224}</string>
                <key>textureRect</key>
                <string>{{3513,911},{40,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000732.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{3405,1957},{32,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000733.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{3405,2059},{32,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,124}</string>
                <key>spriteSourceSize</key>
                <string>{40,124}</string>
                <key>textureRect</key>
                <string>{{3405,1831},{40,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000735.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1201,3067},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000736.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,160}</string>
                <key>spriteSourceSize</key>
                <string>{72,160}</string>
                <key>textureRect</key>
                <string>{{1271,3067},{72,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{3493,1207},{64,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000738.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,192}</string>
                <key>spriteSourceSize</key>
                <string>{104,192}</string>
                <key>textureRect</key>
                <string>{{3449,1747},{104,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000739.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1289,2905},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000740.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,168}</string>
                <key>spriteSourceSize</key>
                <string>{288,168}</string>
                <key>textureRect</key>
                <string>{{3203,1163},{288,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000741.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,168}</string>
                <key>spriteSourceSize</key>
                <string>{296,168}</string>
                <key>textureRect</key>
                <string>{{3203,993},{296,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000742.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{499,2905},{52,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000743.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{3449,1379},{108,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian006/00000744.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,308}</string>
                <key>spriteSourceSize</key>
                <string>{388,308}</string>
                <key>textureRect</key>
                <string>{{3203,603},{388,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{1603,2971},{1100,696}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000746.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,428}</string>
                <key>spriteSourceSize</key>
                <string>{128,428}</string>
                <key>textureRect</key>
                <string>{{3103,3771},{128,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian006/00000747.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,436}</string>
                <key>spriteSourceSize</key>
                <string>{120,436}</string>
                <key>textureRect</key>
                <string>{{3439,2143},{120,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuilian006-0.pvr.ccz</string>
            <key>size</key>
            <string>{3560,4090}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9887ae1868c33a1b5113e70b73ca83b:8977bc2cc81e1ab67021b41d8f2682fe:8bd77f107c2a9645a9da0e48c21efce9$</string>
            <key>textureFileName</key>
            <string>shuilian006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
