<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuilian005/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1949,699},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3383,319},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3383,489},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2651,655},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2543,811},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2651,753},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2641,851},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2821,667},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2919,667},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2821,837},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3017,715},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3115,765},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3115,863},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3285,829},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000582_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{439,803},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{553,803},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{667,803},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{781,803},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{895,803},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2859,553},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000582_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1859,801},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1973,797},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2119,669},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000582_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2321,669},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000582_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2087,797},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{439,803},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2201,783},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2315,783},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000582_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2429,783},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000583_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{3171,319},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000583_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{3171,489},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000583_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{3367,1},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000583_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{3277,319},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000583_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{3277,489},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000583_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{3171,659},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000583_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{3305,213},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000583_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{3341,659},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,356}</string>
                <key>spriteSourceSize</key>
                <string>{600,356}</string>
                <key>textureRect</key>
                <string>{{2105,1},{600,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,168}</string>
                <key>spriteSourceSize</key>
                <string>{108,168}</string>
                <key>textureRect</key>
                <string>{{3061,545},{108,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000719.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{3037,371},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,68}</string>
                <key>textureRect</key>
                <string>{{227,925},{168,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000721.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{2811,935},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000722.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,128}</string>
                <key>spriteSourceSize</key>
                <string>{52,128}</string>
                <key>textureRect</key>
                <string>{{2523,649},{52,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000723.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,96}</string>
                <key>textureRect</key>
                <string>{{2937,273},{192,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{2665,553},{192,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000727.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{2991,885},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000728.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,48}</string>
                <key>spriteSourceSize</key>
                <string>{88,48}</string>
                <key>textureRect</key>
                <string>{{2999,935},{88,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000730.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,212}</string>
                <key>spriteSourceSize</key>
                <string>{44,212}</string>
                <key>textureRect</key>
                <string>{{1009,943},{44,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000731.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,224}</string>
                <key>spriteSourceSize</key>
                <string>{40,224}</string>
                <key>textureRect</key>
                <string>{{1,925},{40,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000732.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{3097,131},{32,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000733.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{1,967},{32,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,124}</string>
                <key>spriteSourceSize</key>
                <string>{40,124}</string>
                <key>textureRect</key>
                <string>{{3335,171},{40,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000735.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{2905,935},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000736.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,160}</string>
                <key>spriteSourceSize</key>
                <string>{72,160}</string>
                <key>textureRect</key>
                <string>{{2577,649},{72,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{3285,927},{64,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000738.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,192}</string>
                <key>spriteSourceSize</key>
                <string>{104,192}</string>
                <key>textureRect</key>
                <string>{{1381,765},{104,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000739.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{3387,927},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000740.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,168}</string>
                <key>spriteSourceSize</key>
                <string>{288,168}</string>
                <key>textureRect</key>
                <string>{{2495,359},{288,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000743.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{3137,103},{108,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000744.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,308}</string>
                <key>spriteSourceSize</key>
                <string>{388,308}</string>
                <key>textureRect</key>
                <string>{{2105,359},{388,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{1003,1},{1100,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000746.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,428}</string>
                <key>spriteSourceSize</key>
                <string>{128,428}</string>
                <key>textureRect</key>
                <string>{{2707,1},{128,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000747.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,436}</string>
                <key>spriteSourceSize</key>
                <string>{120,436}</string>
                <key>textureRect</key>
                <string>{{1,803},{120,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000748.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{3137,1},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000749.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{2707,273},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000750.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,140}</string>
                <key>spriteSourceSize</key>
                <string>{388,140}</string>
                <key>textureRect</key>
                <string>{{2707,131},{388,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000751.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{1489,699},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000752.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,100}</string>
                <key>spriteSourceSize</key>
                <string>{228,100}</string>
                <key>textureRect</key>
                <string>{{1719,699},{228,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000753.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{103,967},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000754.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{2641,949},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000755.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,172}</string>
                <key>spriteSourceSize</key>
                <string>{104,172}</string>
                <key>textureRect</key>
                <string>{{3131,213},{104,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian005/00000756_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1009,765},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000756_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1195,765},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000756_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{2665,375},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000756_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1487,801},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000756_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1673,801},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000756_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,176}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{2851,375},{184,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{84,60}</string>
                <key>textureRect</key>
                <string>{{1223,943},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000758.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{397,925},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian005/00000759.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,484}</string>
                <key>spriteSourceSize</key>
                <string>{64,484}</string>
                <key>textureRect</key>
                <string>{{1003,699},{64,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuilian005-0.pvr.ccz</string>
            <key>size</key>
            <string>{3480,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1dbd95e64cad30390d3b594448c9b46:f9f4c4d473c5953cbcef3f0112391340:e3f7fc88dc9e66c0df9074ab3eea2e44$</string>
            <key>textureFileName</key>
            <string>shuilian005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
