<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuilian001/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3251,893},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3251,1063},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3251,1233},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3251,1403},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2093,1867},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2755,1757},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3023,1537},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2909,1605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3007,1635},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3007,1733},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2853,1775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2951,1831},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3177,1635},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3177,1805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000074_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,500}</string>
                <key>spriteSourceSize</key>
                <string>{800,500}</string>
                <key>textureRect</key>
                <string>{{2205,699},{800,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000076_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1203,1},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,903},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3137,699},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1967,1605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000582_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3137,901},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1805,1767},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2909,1201},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2909,1403},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3137,1103},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3023,1133},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3023,1335},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3137,1305},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1967,1719},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000582_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3137,699},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000582_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2169,1643},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000582_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2371,1643},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000582_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2573,1643},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,356}</string>
                <key>spriteSourceSize</key>
                <string>{600,356}</string>
                <key>textureRect</key>
                <string>{{1203,1605},{600,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1203,803},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,168}</string>
                <key>spriteSourceSize</key>
                <string>{108,168}</string>
                <key>textureRect</key>
                <string>{{1019,1805},{108,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,432}</string>
                <key>spriteSourceSize</key>
                <string>{128,432}</string>
                <key>textureRect</key>
                <string>{{3007,699},{128,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000719.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{1919,1833},{132,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000722.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,128}</string>
                <key>spriteSourceSize</key>
                <string>{52,128}</string>
                <key>textureRect</key>
                <string>{{2451,1909},{52,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000723.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,96}</string>
                <key>textureRect</key>
                <string>{{3251,699},{192,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{2561,1757},{192,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000726.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,440}</string>
                <key>spriteSourceSize</key>
                <string>{580,440}</string>
                <key>textureRect</key>
                <string>{{2205,1201},{580,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000727.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{3121,1831},{92,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000728.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,48}</string>
                <key>spriteSourceSize</key>
                <string>{88,48}</string>
                <key>textureRect</key>
                <string>{{3275,1753},{88,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,92}</string>
                <key>spriteSourceSize</key>
                <string>{44,92}</string>
                <key>textureRect</key>
                <string>{{2755,1927},{44,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000730.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,212}</string>
                <key>spriteSourceSize</key>
                <string>{44,212}</string>
                <key>textureRect</key>
                <string>{{2367,1863},{44,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000731.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,224}</string>
                <key>spriteSourceSize</key>
                <string>{40,224}</string>
                <key>textureRect</key>
                <string>{{3307,1},{40,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000732.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{2263,1933},{32,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000733.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,100}</string>
                <key>spriteSourceSize</key>
                <string>{32,100}</string>
                <key>textureRect</key>
                <string>{{589,1935},{32,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,124}</string>
                <key>spriteSourceSize</key>
                <string>{40,124}</string>
                <key>textureRect</key>
                <string>{{3307,227},{40,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000735.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{3279,1573},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000736.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,160}</string>
                <key>spriteSourceSize</key>
                <string>{72,160}</string>
                <key>textureRect</key>
                <string>{{1129,1805},{72,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{2263,1867},{64,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000738.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,192}</string>
                <key>spriteSourceSize</key>
                <string>{104,192}</string>
                <key>textureRect</key>
                <string>{{2367,1757},{104,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000740.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,168}</string>
                <key>spriteSourceSize</key>
                <string>{288,168}</string>
                <key>textureRect</key>
                <string>{{299,1805},{288,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000741.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,168}</string>
                <key>spriteSourceSize</key>
                <string>{296,168}</string>
                <key>textureRect</key>
                <string>{{1,1805},{296,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000742.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{3275,1667},{52,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000743.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{2169,1757},{108,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{2205,1},{1100,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000746.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,428}</string>
                <key>spriteSourceSize</key>
                <string>{128,428}</string>
                <key>textureRect</key>
                <string>{{589,1805},{128,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000747.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,436}</string>
                <key>spriteSourceSize</key>
                <string>{120,436}</string>
                <key>textureRect</key>
                <string>{{2787,1201},{120,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000753.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{3307,509},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000755.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,172}</string>
                <key>spriteSourceSize</key>
                <string>{104,172}</string>
                <key>textureRect</key>
                <string>{{2581,1859},{104,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian001/00000757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{84,60}</string>
                <key>textureRect</key>
                <string>{{3193,1573},{84,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000758.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{3307,471},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000762.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{3121,1925},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000763.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{2951,1929},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000764.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{3005,1929},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000767.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,116}</string>
                <key>spriteSourceSize</key>
                <string>{40,116}</string>
                <key>textureRect</key>
                <string>{{3307,353},{40,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000770.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{84,64}</string>
                <key>textureRect</key>
                <string>{{2365,1909},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000774.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{2169,1605},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000775.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1805,1605},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian001/00000776.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{3055,1929},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuilian001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3348,1974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47c4f2eb20a007450188bd2ac6b1d084:e4454244a79cc55fd370619607a01600:fcbe3bdb255d18ad8c7487e59896381c$</string>
            <key>textureFileName</key>
            <string>shuilian001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
