<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuilian_stage001/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3885,2279},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3885,2449},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3885,2619},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3885,2789},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3885,2959},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3885,3129},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3665,3685},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3835,3703},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3665,3783},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3835,3873},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3665,3881},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2165,3947},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2335,3947},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2505,3947},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2675,3947},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2845,3953},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3015,3953},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000582_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3845,3299},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000582_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3845,3501},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000582_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{603,3947},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000583_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{805,3947},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000583_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{975,3947},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000583_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1145,3947},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000583_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1315,3947},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000583_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1485,3947},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000583_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1655,3947},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000583_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1825,3947},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000583_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{1995,3947},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000587.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1800}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000589_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,440}</string>
                <key>spriteSourceSize</key>
                <string>{600,440}</string>
                <key>textureRect</key>
                <string>{{1,3605},{600,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000590.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3203,3203},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000593_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,340}</string>
                <key>spriteSourceSize</key>
                <string>{468,340}</string>
                <key>textureRect</key>
                <string>{{603,3605},{468,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000593_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,340}</string>
                <key>spriteSourceSize</key>
                <string>{468,340}</string>
                <key>textureRect</key>
                <string>{{1073,3605},{468,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000593_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,340}</string>
                <key>spriteSourceSize</key>
                <string>{468,340}</string>
                <key>textureRect</key>
                <string>{{1543,3605},{468,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000593_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,340}</string>
                <key>spriteSourceSize</key>
                <string>{468,340}</string>
                <key>textureRect</key>
                <string>{{2013,3605},{468,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000593_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,340}</string>
                <key>spriteSourceSize</key>
                <string>{468,340}</string>
                <key>textureRect</key>
                <string>{{2483,3605},{468,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000593_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,340}</string>
                <key>spriteSourceSize</key>
                <string>{468,340}</string>
                <key>textureRect</key>
                <string>{{3195,3685},{468,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000597.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1800}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{3200,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,680}</string>
                <key>spriteSourceSize</key>
                <string>{3200,680}</string>
                <key>textureRect</key>
                <string>{{3203,1},{3200,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuilian_stage001/00000602_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{152,144}</string>
                <key>textureRect</key>
                <string>{{2953,3807},{152,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000603_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,200}</string>
                <key>textureRect</key>
                <string>{{2953,3605},{240,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000603_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,200}</string>
                <key>spriteSourceSize</key>
                <string>{240,200}</string>
                <key>textureRect</key>
                <string>{{2953,3605},{240,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000604_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,264}</string>
                <key>spriteSourceSize</key>
                <string>{68,264}</string>
                <key>textureRect</key>
                <string>{{3885,1481},{68,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000604_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,264}</string>
                <key>spriteSourceSize</key>
                <string>{68,264}</string>
                <key>textureRect</key>
                <string>{{3885,1747},{68,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000604_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,264}</string>
                <key>spriteSourceSize</key>
                <string>{68,264}</string>
                <key>textureRect</key>
                <string>{{3885,2013},{68,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000605_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,368}</string>
                <key>spriteSourceSize</key>
                <string>{84,368}</string>
                <key>textureRect</key>
                <string>{{3885,1},{84,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000605_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,368}</string>
                <key>spriteSourceSize</key>
                <string>{84,368}</string>
                <key>textureRect</key>
                <string>{{3885,371},{84,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000605_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,368}</string>
                <key>spriteSourceSize</key>
                <string>{84,368}</string>
                <key>textureRect</key>
                <string>{{3885,741},{84,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuilian_stage001/00000605_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,368}</string>
                <key>spriteSourceSize</key>
                <string>{84,368}</string>
                <key>textureRect</key>
                <string>{{3885,1111},{84,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuilian_stage001-1.pvr.ccz</string>
            <key>size</key>
            <string>{3982,4060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92016b40e2110606e85b8d0d359f9af0:fceb070e8df91468462d6c38dc5fb12c:31516393ba6bdfe4e759cecfaa02d1d6$</string>
            <key>textureFileName</key>
            <string>shuilian_stage001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
