<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tongdao003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2551,1065},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2613,2721},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2783,2721},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1867,3107},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2037,3125},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2207,3125},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2377,3125},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2533,2841},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2631,2819},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2729,2819},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2827,2819},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2631,2989},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2801,2989},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2547,3087},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{859,2715},{380,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{2693,1619},{224,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{2167,1247},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{2551,503},{560,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{1463,2913},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2047,2679},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{1845,2583},{280,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001695_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1,2481},{680,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001695_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{423,1607},{680,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001695_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{803,1247},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001695_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1485,1247},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001695_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{803,1247},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001695_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{423,1607},{680,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1637,2261},{440,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001697.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2289,2679},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001699_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1593,1601},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001699_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1593,1931},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001699_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1091,2301},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001699_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2079,2349},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001699_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1091,2301},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001699_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1593,1931},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2531,2679},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{355,3135},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2717,3087},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{577,2833},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1121,2893},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2693,2097},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2625,2439},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1503,2631},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2625,2439},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2693,2097},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{759,2715},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{1091,1601},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{423,2289},{180,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{1121,2631},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{1705,2913},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,652}</string>
                <key>spriteSourceSize</key>
                <string>{220,652}</string>
                <key>textureRect</key>
                <string>{{355,2481},{220,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{1091,2075},{224,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{2879,3087},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001719_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{859,3097},{80,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{2049,3043},{80,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{2291,2861},{240,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001730.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1867,2865},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001732.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2049,2861},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,180}</string>
                <key>spriteSourceSize</key>
                <string>{360,180}</string>
                <key>textureRect</key>
                <string>{{577,2471},{360,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{2603,1},{500,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001745_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{803,403},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001745_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1,1607},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001745_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{803,825},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001745_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1677,403},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001745_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{803,825},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001745_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1,1607},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001746.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1677,825},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,100}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{2291,3023},{220,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001762_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2669,1065},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001762_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{777,1607},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001762_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2139,1721},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001762_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2139,2035},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001762_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2139,1721},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001762_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{777,1607},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001763.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{777,2161},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao003/00001768.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2600,400}</string>
                <key>spriteSourceSize</key>
                <string>{2600,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{2600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,403},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao003/00001817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1005},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tongdao003-0.pvr.ccz</string>
            <key>size</key>
            <string>{2982,3222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4a7a1b89c6497336d06bc01d9207cc3:27a90b766256b9649b0b34c5a410272a:282a5e127b41288e957ea7c84deb5a66$</string>
            <key>textureFileName</key>
            <string>tongdao003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
