<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tongdao006/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1601,705},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1601,803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1601,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1601,999},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1793,1495},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2373,2819},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2543,2819},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2713,2813},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2877,2077},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2877,2247},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2883,2813},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3053,2339},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3053,2437},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3053,2535},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{2109,2095},{380,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{1607,1759},{224,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{2683,1},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1247,1},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{2979,2077},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001692.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2491,765},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2491,1007},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{1607,423},{280,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001695_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1127,2551},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001695_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1809,423},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001695_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1247,423},{680,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001695_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1809,777},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001695_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1247,423},{680,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001695_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,352}</string>
                <key>spriteSourceSize</key>
                <string>{680,352}</string>
                <key>textureRect</key>
                <string>{{1809,423},{680,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{1,2603},{440,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001697.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2485,1249},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001699_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{1247,1417},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001699_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2667,1417},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001699_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2659,1747},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001699_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2109,1765},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001699_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2659,1747},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001699_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2667,1417},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2655,2731},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2817,2731},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2877,2417},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1247,1131},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1589,1131},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1809,2551},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2091,2551},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2373,2477},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2091,2551},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1809,2551},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1793,1665},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{1607,2077},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{2491,423},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{2485,1491},{272,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{2371,2095},{380,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{3053,2633},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,652}</string>
                <key>spriteSourceSize</key>
                <string>{220,652}</string>
                <key>textureRect</key>
                <string>{{2655,2077},{220,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1809,1413},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001719_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1607,1985},{80,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{1849,1985},{80,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001733.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{443,2551},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,180}</string>
                <key>spriteSourceSize</key>
                <string>{360,180}</string>
                <key>textureRect</key>
                <string>{{945,2551},{360,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001745_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{403,1},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001745_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{403,875},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001745_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{825,1},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001745_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{825,875},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001745_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{825,1},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001745_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{403,875},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001746.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1809,1},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001762_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2673,475},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001762_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2673,789},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001762_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2673,1103},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001762_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{1931,1131},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001762_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2673,1103},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001762_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2673,789},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001763.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{1931,1445},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao006/00001768.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2600,400}</string>
                <key>spriteSourceSize</key>
                <string>{2600,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{2600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{403,1749},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao006/00001817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1005,1749},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tongdao006-0.pvr.ccz</string>
            <key>size</key>
            <string>{3226,2924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d669210532d76e12411b71491d021cb:def010921f578816eb626de93f5a4537:f7682251a7d3c1e6b709b98894e233f9$</string>
            <key>textureFileName</key>
            <string>tongdao006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
