<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tongdao005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1971,2069},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2141,2061},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2429,629},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2527,629},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2213,1687},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2213,1857},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2983,1507},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3153,1507},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3323,1507},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3457,1399},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3493,1497},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3627,1399},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3797,1379},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3663,1497},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{845,803},{380,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{2155,403},{224,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001686.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{2311,1687},{224,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{2763,1659},{500,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1397,1165},{560,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,260}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{3659,1117},{240,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001692.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{3901,1117},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{3901,1359},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{3457,1117},{280,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{423,1},{440,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001697.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{3843,1601},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001699_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{423,1197},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001699_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{753,1197},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001699_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2111,803},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001699_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{3237,1605},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001699_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2111,803},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001699_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{753,1197},{544,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{3567,1837},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{3567,1999},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{3649,2033},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1027,403},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1309,403},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1591,403},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1873,403},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1749,1727},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1873,403},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{1591,403},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{3649,1667},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{2983,1005},{500,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{2031,1719},{180,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{2155,629},{272,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{3831,1965},{252,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,652}</string>
                <key>spriteSourceSize</key>
                <string>{220,652}</string>
                <key>textureRect</key>
                <string>{{2761,1005},{220,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{2537,1687},{224,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{2657,1005},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001719_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{3567,1595},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{3761,1549},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001730.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{3843,1783},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001732.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{3649,1791},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001733.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1107,803},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,180}</string>
                <key>spriteSourceSize</key>
                <string>{360,180}</string>
                <key>textureRect</key>
                <string>{{845,403},{360,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{1609,803},{500,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001745_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001745_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1,875},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001745_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1,1749},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001745_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{423,323},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001745_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1,1749},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001745_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1,875},{872,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001746.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{875,1743},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,100}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{1749,2069},{220,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001762_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{1083,1185},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001762_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{1819,1165},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001762_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2133,1133},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001762_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2447,1133},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001762_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2133,1133},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001762_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{1819,1165},{552,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001763.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{3459,803},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001768.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2600,400}</string>
                <key>spriteSourceSize</key>
                <string>{2600,400}</string>
                <key>textureRect</key>
                <string>{{875,1},{2600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao005/00001816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3477,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao005/00001817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{2657,403},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tongdao005-0.pvr.ccz</string>
            <key>size</key>
            <string>{4084,2170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a1ae2fc12b631c99d745585fa20926:6ac21b56837e7636f364c557289196c4:54600588115168c9ca190f47d46e27b7$</string>
            <key>textureFileName</key>
            <string>tongdao005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
