<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tongdao002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3595,2093},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3793,1505},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3793,1675},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3757,1845},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{789,2105},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{959,2105},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1129,2105},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1299,2101},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1469,2101},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1639,2101},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1809,2101},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1979,2101},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3765,2015},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2811,2121},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{2187,1875},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{563,1607},{224,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001686.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{1231,1875},{224,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{2551,423},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,420}</string>
                <key>spriteSourceSize</key>
                <string>{560,420}</string>
                <key>textureRect</key>
                <string>{{1,1607},{560,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001692.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{1,2029},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{3643,1041},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{3657,1223},{280,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{440,320}</string>
                <key>textureRect</key>
                <string>{{789,1783},{440,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001697.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{243,2029},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001699_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2551,897},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001699_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{3097,897},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001699_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2565,1227},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001699_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{3111,1227},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001699_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{2565,1227},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001699_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,328}</string>
                <key>spriteSourceSize</key>
                <string>{544,328}</string>
                <key>textureRect</key>
                <string>{{3097,897},{544,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2149,2137},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2311,2137},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2981,2121},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2947,1557},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001705_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{3289,1557},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001705_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2569,1819},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001705_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2911,1839},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001705_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{3253,1839},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001705_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2911,1839},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001705_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{340,280}</string>
                <key>textureRect</key>
                <string>{{2569,1819},{340,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{707,2085},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,472}</string>
                <key>spriteSourceSize</key>
                <string>{500,472}</string>
                <key>textureRect</key>
                <string>{{3053,423},{500,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,340}</string>
                <key>spriteSourceSize</key>
                <string>{180,340}</string>
                <key>textureRect</key>
                <string>{{3555,685},{180,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,172}</string>
                <key>textureRect</key>
                <string>{{3643,867},{272,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{2565,1557},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,160}</string>
                <key>spriteSourceSize</key>
                <string>{252,160}</string>
                <key>textureRect</key>
                <string>{{3595,1839},{252,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,652}</string>
                <key>spriteSourceSize</key>
                <string>{220,652}</string>
                <key>textureRect</key>
                <string>{{803,1247},{220,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,476}</string>
                <key>spriteSourceSize</key>
                <string>{224,476}</string>
                <key>textureRect</key>
                <string>{{1709,1875},{224,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001718_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1231,1783},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001719_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{2465,1561},{80,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001723_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,240}</string>
                <key>spriteSourceSize</key>
                <string>{80,240}</string>
                <key>textureRect</key>
                <string>{{2569,2101},{80,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001729.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{3631,1557},{240,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001734.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,180}</string>
                <key>spriteSourceSize</key>
                <string>{360,180}</string>
                <key>textureRect</key>
                <string>{{3555,503},{360,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,360}</string>
                <key>textureRect</key>
                <string>{{3555,1},{500,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongdao002/00001745_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{803,403},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001745_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{803,825},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001745_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1677,403},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001745_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1677,825},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001745_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{1677,403},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001745_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{803,825},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001746.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,420}</string>
                <key>spriteSourceSize</key>
                <string>{872,420}</string>
                <key>textureRect</key>
                <string>{{2603,1},{872,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,100}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{485,2085},{220,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001762_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{1457,1247},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001762_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2011,1247},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001762_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{803,1469},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001762_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{1357,1561},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001762_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{803,1469},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001762_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{2011,1247},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001763.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,312}</string>
                <key>spriteSourceSize</key>
                <string>{552,312}</string>
                <key>textureRect</key>
                <string>{{1911,1561},{552,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001768.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2600,400}</string>
                <key>spriteSourceSize</key>
                <string>{2600,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{2600,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,403},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongdao002/00001817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,1005},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tongdao002-0.pvr.ccz</string>
            <key>size</key>
            <string>{3916,2218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:547e8155db431cfa1a5914dcff7da301:4b3c2aa4e5721a6dc7df0158f22c75e4:5f02a200232efadd75586419a7ebd883$</string>
            <key>textureFileName</key>
            <string>tongdao002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
