<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ugt014/00000121_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1669,285},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00000121_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1669,323},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00000121_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1669,361},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00000121_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1669,323},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,692}</string>
                <key>spriteSourceSize</key>
                <string>{1600,692}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001337_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,695},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001337_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1259,695},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001337_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,1013},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001337_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,1331},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001337_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,1649},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001337_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,1967},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001337_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,2285},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001337_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,2603},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,224}</string>
                <key>spriteSourceSize</key>
                <string>{316,224}</string>
                <key>textureRect</key>
                <string>{{1259,1953},{316,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,312}</string>
                <key>spriteSourceSize</key>
                <string>{116,312}</string>
                <key>textureRect</key>
                <string>{{1259,2179},{116,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001340_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1577,697},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001340_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1577,1015},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001340_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1577,1333},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001340_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1577,1651},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001340_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1577,1969},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001340_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1577,1651},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001340_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1577,1333},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001340_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1577,1015},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001341.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,140}</string>
                <key>spriteSourceSize</key>
                <string>{184,140}</string>
                <key>textureRect</key>
                <string>{{1541,2477},{184,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,220}</string>
                <key>spriteSourceSize</key>
                <string>{224,220}</string>
                <key>textureRect</key>
                <string>{{1259,2699},{224,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{1603,427},{268,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt014/00001345.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,40}</string>
                <key>spriteSourceSize</key>
                <string>{88,40}</string>
                <key>textureRect</key>
                <string>{{1603,1},{88,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001349.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,188}</string>
                <key>spriteSourceSize</key>
                <string>{120,188}</string>
                <key>textureRect</key>
                <string>{{1573,2287},{120,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{1603,285},{64,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001353.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,240}</string>
                <key>spriteSourceSize</key>
                <string>{72,240}</string>
                <key>textureRect</key>
                <string>{{1603,43},{72,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001354.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,112}</string>
                <key>textureRect</key>
                <string>{{1541,2663},{140,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt014/00001363.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,280}</string>
                <key>textureRect</key>
                <string>{{1259,2297},{400,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ugt014-0.pvr.ccz</string>
            <key>size</key>
            <string>{1694,2920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2b0eebd2a67c5d20ebee33b1c35cc5:21af6cd71f142776840e6d655d99c890:1820e706d890ab41f8e3029b646e00e0$</string>
            <key>textureFileName</key>
            <string>ugt014-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
