<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ugt011/00000121_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1603,637},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00000121_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1485,2389},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00000121_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1799,2271},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00000121_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1485,2389},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,692}</string>
                <key>spriteSourceSize</key>
                <string>{1600,692}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001337_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,695},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001337_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{319,695},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001337_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{637,695},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001337_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{955,695},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001337_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,1953},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt011/00001337_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,2271},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt011/00001337_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1273,695},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001337_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1591,695},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,224}</string>
                <key>spriteSourceSize</key>
                <string>{316,224}</string>
                <key>textureRect</key>
                <string>{{1603,1},{316,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt011/00001339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,312}</string>
                <key>spriteSourceSize</key>
                <string>{116,312}</string>
                <key>textureRect</key>
                <string>{{1485,2271},{116,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt011/00001340_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1603,319},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001340_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1721,319},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001340_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1661,1953},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001340_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1779,1953},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001340_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1259,2457},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt011/00001340_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1779,1953},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001340_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1661,1953},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001340_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1721,319},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,220}</string>
                <key>spriteSourceSize</key>
                <string>{224,220}</string>
                <key>textureRect</key>
                <string>{{1259,2235},{224,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{1829,1},{64,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt011/00001363.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,280}</string>
                <key>textureRect</key>
                <string>{{1259,1953},{400,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ugt011-0.pvr.ccz</string>
            <key>size</key>
            <string>{1908,2588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf2593b92f84735cdc72c2f6eac278d8:f7b50001865af5cca8fdf989f2ac34fe:c970f6dc83a59c28d3e33f8602d38c9b$</string>
            <key>textureFileName</key>
            <string>ugt011-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
