<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ugt002/00000118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00000119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{2805,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00000121_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1577,1297},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00000121_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1577,1335},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00000121_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1577,1373},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00000121_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1577,1335},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00000279.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,364}</string>
                <key>spriteSourceSize</key>
                <string>{548,364}</string>
                <key>textureRect</key>
                <string>{{3497,903},{548,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00000345.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,600}</string>
                <key>spriteSourceSize</key>
                <string>{1600,600}</string>
                <key>textureRect</key>
                <string>{{1,695},{1600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001337_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,1297},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001337_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1603,903},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001337_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,1615},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001337_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1603,1221},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001337_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1259,1539},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001337_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1259,1857},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001337_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{2861,903},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001337_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{3179,903},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,312}</string>
                <key>spriteSourceSize</key>
                <string>{116,312}</string>
                <key>textureRect</key>
                <string>{{3497,1771},{116,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001340_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1259,1297},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001340_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{3497,1453},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001340_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{3863,903},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001340_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1,2007},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001340_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1259,1415},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001340_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1,2007},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001340_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{3863,903},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001340_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{3497,1453},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001341.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,140}</string>
                <key>spriteSourceSize</key>
                <string>{184,140}</string>
                <key>textureRect</key>
                <string>{{3615,1453},{184,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{2799,1539},{268,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001349.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,188}</string>
                <key>spriteSourceSize</key>
                <string>{120,188}</string>
                <key>textureRect</key>
                <string>{{3615,1595},{120,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{3801,1453},{64,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001352.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,40}</string>
                <key>spriteSourceSize</key>
                <string>{88,40}</string>
                <key>textureRect</key>
                <string>{{3497,2085},{88,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001354.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,112}</string>
                <key>textureRect</key>
                <string>{{1115,1933},{140,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001355.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{3811,1935},{64,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001363.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,280}</string>
                <key>textureRect</key>
                <string>{{2517,1539},{400,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001364.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,692}</string>
                <key>spriteSourceSize</key>
                <string>{1600,692}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001365.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,220}</string>
                <key>spriteSourceSize</key>
                <string>{192,220}</string>
                <key>textureRect</key>
                <string>{{2517,1941},{192,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3863,1221},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3615,1785},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2711,1941},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{435,1933},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001853_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{605,1933},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001853_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{775,1933},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001853_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{945,1933},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt002/00001853_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3737,1595},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3615,1955},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3867,1391},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3835,1595},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3713,1785},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3713,1955},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001853_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3811,1765},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt002/00001884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,432}</string>
                <key>spriteSourceSize</key>
                <string>{72,432}</string>
                <key>textureRect</key>
                <string>{{1,1933},{72,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ugt002-0.pvr.ccz</string>
            <key>size</key>
            <string>{4006,2174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc570226488d8f1eef46d07c65c146e4:f772a7be6e3461c01be97b0e11ed9024:00036928e20815feab6221bcce06a9ff$</string>
            <key>textureFileName</key>
            <string>ugt002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
