<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ugt007/00001337_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{3609,1605},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt007/00001337_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{2607,2863},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001337_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{2607,3181},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001337_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{903,3309},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001371_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001371_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1203},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001371_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,2405},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001558.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{903,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt007/00001574_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{2105,1},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001574_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{3007,1},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001574_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{2105,803},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001574_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{3007,803},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001574_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{903,903},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001574_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1805,1605},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001574_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{903,1705},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001574_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{2707,1605},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001574_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1805,2407},{800,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt007/00001574_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,900}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{903,2507},{800,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt007/00001575_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,400}</string>
                <key>spriteSourceSize</key>
                <string>{520,400}</string>
                <key>textureRect</key>
                <string>{{2607,2407},{520,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ugt007-1.pvr.ccz</string>
            <key>size</key>
            <string>{3926,3626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:926aa840a288e7e1c1e7307f896ed23a:5b7f3b51c6c4d740a476133ac5c47b63:6f5d97b63f87f4877d156bf9d1230b2a$</string>
            <key>textureFileName</key>
            <string>ugt007-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
