<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ugt015/00000121_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{817,3399},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00000121_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{855,3399},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00000121_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{893,3399},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00000121_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{855,3399},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00000133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,580}</string>
                <key>spriteSourceSize</key>
                <string>{668,580}</string>
                <key>textureRect</key>
                <string>{{2861,2003},{668,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00000139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,380}</string>
                <key>spriteSourceSize</key>
                <string>{72,380}</string>
                <key>textureRect</key>
                <string>{{435,3333},{72,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00000161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,2000}</string>
                <key>spriteSourceSize</key>
                <string>{4000,2000}</string>
                <key>textureRect</key>
                <string>{{1,1},{4000,2000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,692}</string>
                <key>spriteSourceSize</key>
                <string>{1600,692}</string>
                <key>textureRect</key>
                <string>{{1,2003},{1600,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001337_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,2697},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001337_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,3015},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001337_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1259,2697},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001337_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1259,3015},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001337_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1603,2003},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001337_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1603,2321},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001337_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{2517,2639},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001337_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{2517,2957},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,224}</string>
                <key>spriteSourceSize</key>
                <string>{316,224}</string>
                <key>textureRect</key>
                <string>{{3775,2635},{316,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,312}</string>
                <key>spriteSourceSize</key>
                <string>{116,312}</string>
                <key>textureRect</key>
                <string>{{3885,2321},{116,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001340_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{2613,3275},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001340_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{2931,3275},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001340_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{3249,3275},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001340_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{3567,3275},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001340_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{3885,2003},{116,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001340_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{3567,3275},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001340_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{3249,3275},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001340_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{2931,3275},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001341.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,140}</string>
                <key>spriteSourceSize</key>
                <string>{184,140}</string>
                <key>textureRect</key>
                <string>{{3531,2003},{184,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,220}</string>
                <key>spriteSourceSize</key>
                <string>{224,220}</string>
                <key>textureRect</key>
                <string>{{3775,2953},{224,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001345.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,40}</string>
                <key>spriteSourceSize</key>
                <string>{88,40}</string>
                <key>textureRect</key>
                <string>{{1603,2639},{88,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001349.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,188}</string>
                <key>spriteSourceSize</key>
                <string>{120,188}</string>
                <key>textureRect</key>
                <string>{{3717,2003},{120,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{3701,2193},{64,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001354.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,112}</string>
                <key>textureRect</key>
                <string>{{3885,3273},{140,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001362.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,64}</string>
                <key>spriteSourceSize</key>
                <string>{264,64}</string>
                <key>textureRect</key>
                <string>{{817,3333},{264,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001853_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1083,3333},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1253,3333},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1423,3333},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1593,3333},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1763,3333},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1933,3333},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2103,3333},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2273,3333},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2443,3333},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3775,3175},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3531,2145},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3767,2193},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ugt015/00001853_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3531,2243},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001853_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3531,2363},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001884.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,432}</string>
                <key>spriteSourceSize</key>
                <string>{72,432}</string>
                <key>textureRect</key>
                <string>{{1,3333},{72,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ugt015/00001885.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{3701,2363},{72,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ugt015-0.pvr.ccz</string>
            <key>size</key>
            <string>{4002,3430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:734cc63002d7d4e9600236a4ce44be4e:ae8dae53bc928a61a172d95806e30d02:6e7285fa9b27367f0d884b556c198dda$</string>
            <key>textureFileName</key>
            <string>ugt015-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
