<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2303,1097},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2303,1195},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2263,1293},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2361,1293},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2263,1463},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2211,1561},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2309,1561},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2211,1731},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2465,303},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2465,473},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2457,643},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2407,1561},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2381,1731},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2459,1293},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001038_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1372,312}</string>
                <key>spriteSourceSize</key>
                <string>{1372,312}</string>
                <key>textureRect</key>
                <string>{{923,1},{1372,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,488}</string>
                <key>spriteSourceSize</key>
                <string>{1068,488}</string>
                <key>textureRect</key>
                <string>{{1,799},{1068,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,596}</string>
                <key>spriteSourceSize</key>
                <string>{516,596}</string>
                <key>textureRect</key>
                <string>{{1271,653},{516,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,600}</string>
                <key>spriteSourceSize</key>
                <string>{476,600}</string>
                <key>textureRect</key>
                <string>{{1335,1251},{476,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,600}</string>
                <key>spriteSourceSize</key>
                <string>{444,600}</string>
                <key>textureRect</key>
                <string>{{733,1401},{444,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,56}</string>
                <key>textureRect</key>
                <string>{{1271,1251},{128,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{2457,813},{120,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,24}</string>
                <key>spriteSourceSize</key>
                <string>{192,24}</string>
                <key>textureRect</key>
                <string>{{491,1817},{192,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,144}</string>
                <key>spriteSourceSize</key>
                <string>{312,144}</string>
                <key>textureRect</key>
                <string>{{923,653},{312,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,152}</string>
                <key>spriteSourceSize</key>
                <string>{308,152}</string>
                <key>textureRect</key>
                <string>{{2303,625},{308,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,300}</string>
                <key>spriteSourceSize</key>
                <string>{396,300}</string>
                <key>textureRect</key>
                <string>{{1813,1553},{396,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,300}</string>
                <key>spriteSourceSize</key>
                <string>{448,300}</string>
                <key>textureRect</key>
                <string>{{1813,1251},{448,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,160}</string>
                <key>spriteSourceSize</key>
                <string>{56,160}</string>
                <key>textureRect</key>
                <string>{{2499,1},{56,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{2433,1463},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,72}</string>
                <key>spriteSourceSize</key>
                <string>{104,72}</string>
                <key>textureRect</key>
                <string>{{2473,1073},{104,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{2297,1},{300,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,300}</string>
                <key>spriteSourceSize</key>
                <string>{368,300}</string>
                <key>textureRect</key>
                <string>{{1941,315},{368,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,600}</string>
                <key>spriteSourceSize</key>
                <string>{536,600}</string>
                <key>textureRect</key>
                <string>{{733,799},{536,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001312_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,796}</string>
                <key>spriteSourceSize</key>
                <string>{920,796}</string>
                <key>textureRect</key>
                <string>{{1,1},{920,796}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,596}</string>
                <key>spriteSourceSize</key>
                <string>{512,596}</string>
                <key>textureRect</key>
                <string>{{1789,653},{512,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,52}</string>
                <key>spriteSourceSize</key>
                <string>{128,52}</string>
                <key>textureRect</key>
                <string>{{2499,163},{128,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{88,136}</string>
                <key>textureRect</key>
                <string>{{2465,935},{88,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{2523,813},{80,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,152}</string>
                <key>spriteSourceSize</key>
                <string>{320,152}</string>
                <key>textureRect</key>
                <string>{{2311,303},{320,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2303,935},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi001/00001321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{2473,1179},{84,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{491,799},{1016,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi001/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{923,315},{1016,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi001-0.pvr.ccz</string>
            <key>size</key>
            <string>{2564,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1755fe35d8c91d14145732cac9f3c723:1438a97c1096358fa27eeba0c5c8b053:5bccefad7a636c17d8cd0060024ac27b$</string>
            <key>textureFileName</key>
            <string>wanzi001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
