<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi004/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3767,1087},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3921,765},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3513,1589},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2997,1697},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3921,935},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1751,1789},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1921,1789},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2091,1789},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2261,1789},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3513,1687},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3683,1589},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3727,1323},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3825,1323},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3167,1735},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{747,1},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3337,1735},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3507,1785},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3865,1105},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3889,1203},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3923,1301},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2431,1789},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2601,1785},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2771,1785},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2941,1795},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3781,1493},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3879,1493},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3781,1663},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3951,1663},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3677,1785},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00000094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,1076}</string>
                <key>spriteSourceSize</key>
                <string>{744,1076}</string>
                <key>textureRect</key>
                <string>{{1,1},{744,1076}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{1765,799},{800,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001038_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1372,312}</string>
                <key>spriteSourceSize</key>
                <string>{1372,312}</string>
                <key>textureRect</key>
                <string>{{2671,1},{1372,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,488}</string>
                <key>spriteSourceSize</key>
                <string>{1068,488}</string>
                <key>textureRect</key>
                <string>{{2671,315},{1068,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001040_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{756,548}</string>
                <key>spriteSourceSize</key>
                <string>{756,548}</string>
                <key>textureRect</key>
                <string>{{1,1079},{756,548}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,596}</string>
                <key>spriteSourceSize</key>
                <string>{516,596}</string>
                <key>textureRect</key>
                <string>{{3169,805},{516,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,600}</string>
                <key>spriteSourceSize</key>
                <string>{476,600}</string>
                <key>textureRect</key>
                <string>{{1149,1383},{476,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,600}</string>
                <key>spriteSourceSize</key>
                <string>{444,600}</string>
                <key>textureRect</key>
                <string>{{1765,1041},{444,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,56}</string>
                <key>textureRect</key>
                <string>{{163,1837},{128,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{3767,1257},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,24}</string>
                <key>spriteSourceSize</key>
                <string>{192,24}</string>
                <key>textureRect</key>
                <string>{{551,1079},{192,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,144}</string>
                <key>spriteSourceSize</key>
                <string>{312,144}</string>
                <key>textureRect</key>
                <string>{{3199,1589},{312,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,300}</string>
                <key>spriteSourceSize</key>
                <string>{396,300}</string>
                <key>textureRect</key>
                <string>{{1751,1487},{396,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,300}</string>
                <key>spriteSourceSize</key>
                <string>{448,300}</string>
                <key>textureRect</key>
                <string>{{3741,315},{448,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,160}</string>
                <key>spriteSourceSize</key>
                <string>{56,160}</string>
                <key>textureRect</key>
                <string>{{1,1837},{56,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{1569,1303},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,300}</string>
                <key>spriteSourceSize</key>
                <string>{368,300}</string>
                <key>textureRect</key>
                <string>{{2149,1487},{368,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,600}</string>
                <key>spriteSourceSize</key>
                <string>{536,600}</string>
                <key>textureRect</key>
                <string>{{2567,805},{536,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,148}</string>
                <key>spriteSourceSize</key>
                <string>{312,148}</string>
                <key>textureRect</key>
                <string>{{2367,1041},{312,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001312_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,796}</string>
                <key>spriteSourceSize</key>
                <string>{920,796}</string>
                <key>textureRect</key>
                <string>{{1749,1},{920,796}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,596}</string>
                <key>spriteSourceSize</key>
                <string>{512,596}</string>
                <key>textureRect</key>
                <string>{{551,1383},{512,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{88,136}</string>
                <key>textureRect</key>
                <string>{{2367,1355},{88,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{2367,1445},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,264}</string>
                <key>spriteSourceSize</key>
                <string>{272,264}</string>
                <key>textureRect</key>
                <string>{{3199,1323},{272,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{3473,1323},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,152}</string>
                <key>spriteSourceSize</key>
                <string>{320,152}</string>
                <key>textureRect</key>
                <string>{{3767,765},{320,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1569,1141},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{2517,1041},{84,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi004/00001322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,440}</string>
                <key>spriteSourceSize</key>
                <string>{476,440}</string>
                <key>textureRect</key>
                <string>{{2519,1343},{476,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001323_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,352}</string>
                <key>spriteSourceSize</key>
                <string>{200,352}</string>
                <key>textureRect</key>
                <string>{{2997,1343},{200,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{551,1141},{1016,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi004/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{747,803},{1016,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi004-0.pvr.ccz</string>
            <key>size</key>
            <string>{4058,1896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb5e52ea62331e7fb3324b8a7419ff96:995f6ca1d4679d30b4d2a4055c57d058:46ef4d8b60a8ab5b632fb5537d91d759$</string>
            <key>textureFileName</key>
            <string>wanzi004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
