<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi_stage001/00001333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,3000}</string>
                <key>spriteSourceSize</key>
                <string>{2400,3000}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,3000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi_stage001-3.pvr.ccz</string>
            <key>size</key>
            <string>{2402,3002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0cd9ed0df99ead1deb065a94d1f7836:4ba84a2e92062d2a7bddd3e24d80dde5:89eb47d25eee391ecd72b90f7cc74ea8$</string>
            <key>textureFileName</key>
            <string>wanzi_stage001-3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
