<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi028/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2453,405},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2777,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2777,99},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2777,197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2777,295},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2777,393},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2745,601},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2535,677},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2465,775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2563,775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2661,775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2759,699},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2759,797},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2759,895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,432}</string>
                <key>spriteSourceSize</key>
                <string>{128,432}</string>
                <key>textureRect</key>
                <string>{{2107,583},{128,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00000721.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{2465,641},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000726.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,440}</string>
                <key>spriteSourceSize</key>
                <string>{580,440}</string>
                <key>textureRect</key>
                <string>{{1905,1},{580,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000738.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,192}</string>
                <key>spriteSourceSize</key>
                <string>{104,192}</string>
                <key>textureRect</key>
                <string>{{2551,571},{104,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000743.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{2753,491},{108,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{803,1},{1100,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00000755.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,172}</string>
                <key>spriteSourceSize</key>
                <string>{104,172}</string>
                <key>textureRect</key>
                <string>{{2347,405},{104,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00000770.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{84,64}</string>
                <key>textureRect</key>
                <string>{{2465,575},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001841_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{803,699},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001841_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1125,699},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001841_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1447,699},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001841_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1769,699},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001850_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1905,583},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00001850_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2237,583},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001850_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2237,785},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001850_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2347,1},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001850_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2347,203},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001850_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2351,579},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001850_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2351,781},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001850_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2461,1},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001850_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2461,203},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi028/00001850_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2575,1},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00001850_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2575,115},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00001850_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1905,583},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00001850_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2575,229},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00001850_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2575,343},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi028/00001850_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2551,457},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi028-0.pvr.ccz</string>
            <key>size</key>
            <string>{2950,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2095d1c8564adab9dbd59b4e52e0effc:881c8f6021ec8bb0c34f7dbfb4b53a89:8d5408ccdcb0ff54191302a5793ea617$</string>
            <key>textureFileName</key>
            <string>wanzi028-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
