<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1913,1197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1255,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1093,163},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1191,171},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1191,269},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1093,333},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1191,367},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1191,465},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{941,447},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{941,617},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{861,787},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{861,885},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1031,961},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1201,961},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001038_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1372,312}</string>
                <key>spriteSourceSize</key>
                <string>{1372,312}</string>
                <key>textureRect</key>
                <string>{{1,1071},{1372,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,488}</string>
                <key>spriteSourceSize</key>
                <string>{1068,488}</string>
                <key>textureRect</key>
                <string>{{1,1},{1068,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,596}</string>
                <key>spriteSourceSize</key>
                <string>{516,596}</string>
                <key>textureRect</key>
                <string>{{1617,599},{516,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,600}</string>
                <key>spriteSourceSize</key>
                <string>{476,600}</string>
                <key>textureRect</key>
                <string>{{1621,1343},{476,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,600}</string>
                <key>spriteSourceSize</key>
                <string>{444,600}</string>
                <key>textureRect</key>
                <string>{{491,1},{444,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,56}</string>
                <key>textureRect</key>
                <string>{{1525,1255},{128,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{767,1877},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,144}</string>
                <key>spriteSourceSize</key>
                <string>{312,144}</string>
                <key>textureRect</key>
                <string>{{1599,1197},{312,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,300}</string>
                <key>spriteSourceSize</key>
                <string>{396,300}</string>
                <key>textureRect</key>
                <string>{{1039,563},{396,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,300}</string>
                <key>spriteSourceSize</key>
                <string>{448,300}</string>
                <key>textureRect</key>
                <string>{{491,447},{448,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,160}</string>
                <key>spriteSourceSize</key>
                <string>{56,160}</string>
                <key>textureRect</key>
                <string>{{605,1877},{56,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{1525,1019},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,72}</string>
                <key>spriteSourceSize</key>
                <string>{104,72}</string>
                <key>textureRect</key>
                <string>{{1525,1149},{104,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,1723},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,300}</string>
                <key>spriteSourceSize</key>
                <string>{368,300}</string>
                <key>textureRect</key>
                <string>{{491,749},{368,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{303,1723},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,600}</string>
                <key>spriteSourceSize</key>
                <string>{536,600}</string>
                <key>textureRect</key>
                <string>{{1019,1385},{536,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,148}</string>
                <key>spriteSourceSize</key>
                <string>{312,148}</string>
                <key>textureRect</key>
                <string>{{1375,1019},{312,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,596}</string>
                <key>spriteSourceSize</key>
                <string>{512,596}</string>
                <key>textureRect</key>
                <string>{{1621,1},{512,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,52}</string>
                <key>spriteSourceSize</key>
                <string>{128,52}</string>
                <key>textureRect</key>
                <string>{{2083,1197},{128,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{88,136}</string>
                <key>textureRect</key>
                <string>{{927,1723},{88,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{977,1861},{80,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,152}</string>
                <key>spriteSourceSize</key>
                <string>{320,152}</string>
                <key>textureRect</key>
                <string>{{605,1723},{320,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{927,1861},{84,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001324.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1093,1},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi002/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{1375,1},{1016,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi002/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{1,1385},{1016,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi002-0.pvr.ccz</string>
            <key>size</key>
            <string>{2136,1946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51f027c5559204a7b52d16831c9ca086:14dd937f2fd31a35b0610ec15a999460:8091969a63bc955796a1b03f46a6aa6d$</string>
            <key>textureFileName</key>
            <string>wanzi002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
