<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi104/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{805,799},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1407,2035},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1577,2035},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1499,2133},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1499,2303},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1597,2133},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1597,2303},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1695,2133},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1695,2303},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1629,2473},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1609,2571},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1793,2059},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1793,2229},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1799,2399},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001038_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1372,312}</string>
                <key>spriteSourceSize</key>
                <string>{1372,312}</string>
                <key>textureRect</key>
                <string>{{1,799},{1372,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,488}</string>
                <key>spriteSourceSize</key>
                <string>{1068,488}</string>
                <key>textureRect</key>
                <string>{{315,799},{1068,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001040_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{756,548}</string>
                <key>spriteSourceSize</key>
                <string>{756,548}</string>
                <key>textureRect</key>
                <string>{{923,581},{756,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,596}</string>
                <key>spriteSourceSize</key>
                <string>{516,596}</string>
                <key>textureRect</key>
                <string>{{1,2173},{516,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,600}</string>
                <key>spriteSourceSize</key>
                <string>{476,600}</string>
                <key>textureRect</key>
                <string>{{1343,1131},{476,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,600}</string>
                <key>spriteSourceSize</key>
                <string>{444,600}</string>
                <key>textureRect</key>
                <string>{{805,1733},{444,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,56}</string>
                <key>textureRect</key>
                <string>{{1891,2059},{128,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{1897,2425},{120,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,24}</string>
                <key>spriteSourceSize</key>
                <string>{192,24}</string>
                <key>textureRect</key>
                <string>{{765,1869},{192,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,144}</string>
                <key>spriteSourceSize</key>
                <string>{312,144}</string>
                <key>textureRect</key>
                <string>{{1821,1435},{312,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,152}</string>
                <key>spriteSourceSize</key>
                <string>{308,152}</string>
                <key>textureRect</key>
                <string>{{1805,1749},{308,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,300}</string>
                <key>spriteSourceSize</key>
                <string>{396,300}</string>
                <key>textureRect</key>
                <string>{{1407,1733},{396,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,300}</string>
                <key>spriteSourceSize</key>
                <string>{448,300}</string>
                <key>textureRect</key>
                <string>{{315,1869},{448,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,160}</string>
                <key>spriteSourceSize</key>
                <string>{56,160}</string>
                <key>textureRect</key>
                <string>{{805,969},{56,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{1499,2473},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,72}</string>
                <key>spriteSourceSize</key>
                <string>{104,72}</string>
                <key>textureRect</key>
                <string>{{1897,2319},{104,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,300}</string>
                <key>spriteSourceSize</key>
                <string>{368,300}</string>
                <key>textureRect</key>
                <string>{{1197,2179},{368,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,600}</string>
                <key>spriteSourceSize</key>
                <string>{536,600}</string>
                <key>textureRect</key>
                <string>{{805,1131},{536,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,148}</string>
                <key>spriteSourceSize</key>
                <string>{312,148}</string>
                <key>textureRect</key>
                <string>{{1821,1121},{312,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001312_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,796}</string>
                <key>spriteSourceSize</key>
                <string>{920,796}</string>
                <key>textureRect</key>
                <string>{{1,1},{920,796}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,596}</string>
                <key>spriteSourceSize</key>
                <string>{512,596}</string>
                <key>textureRect</key>
                <string>{{599,2179},{512,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,52}</string>
                <key>spriteSourceSize</key>
                <string>{128,52}</string>
                <key>textureRect</key>
                <string>{{1891,2189},{128,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{88,136}</string>
                <key>textureRect</key>
                <string>{{1519,2547},{88,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{1407,2133},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,264}</string>
                <key>spriteSourceSize</key>
                <string>{272,264}</string>
                <key>textureRect</key>
                <string>{{1681,581},{272,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi104/00001318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{1681,855},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,152}</string>
                <key>spriteSourceSize</key>
                <string>{320,152}</string>
                <key>textureRect</key>
                <string>{{1197,2549},{320,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{923,339},{1016,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi104/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{923,1},{1016,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi104-0.pvr.ccz</string>
            <key>size</key>
            <string>{1970,2702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:271777c6c50dc5384564b242ce563229:9873f6071dee14a5b29d592bd4544540:a4ce3631ff7b6521ca3dd278d05b859a$</string>
            <key>textureFileName</key>
            <string>wanzi104-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
