<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi042/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{869,803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi042/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,913},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi042/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{869,973},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi042/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,1011},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi042/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,1109},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi042/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{869,1143},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi042/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,1207},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi042/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,1305},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi042/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{869,1313},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi042/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,1403},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi042/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{869,1483},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi042/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,1501},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi042/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{699,1599},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi042/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{869,1653},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi042/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi042/00000717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,168}</string>
                <key>spriteSourceSize</key>
                <string>{108,168}</string>
                <key>textureRect</key>
                <string>{{699,803},{108,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi042/00000739.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{699,1823},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi042/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{1,803},{1100,696}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi042-0.pvr.ccz</string>
            <key>size</key>
            <string>{1002,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c723f68752c39cf16919f27ef61b9e10:e61f48a03fc89baccba97d3f887f78ea:6142b8a90aaf5576fecb3cac7bd16eb9$</string>
            <key>textureFileName</key>
            <string>wanzi042-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
