<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi031/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{351,1},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00000718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,432}</string>
                <key>spriteSourceSize</key>
                <string>{128,432}</string>
                <key>textureRect</key>
                <string>{{1353,1},{128,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00000719.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{1333,1905},{132,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00000720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,68}</string>
                <key>textureRect</key>
                <string>{{1,1963},{168,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00000721.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{203,1849},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00000723.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,96}</string>
                <key>spriteSourceSize</key>
                <string>{192,96}</string>
                <key>textureRect</key>
                <string>{{1453,779},{192,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00000724.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{571,1943},{192,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00000726.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,440}</string>
                <key>spriteSourceSize</key>
                <string>{580,440}</string>
                <key>textureRect</key>
                <string>{{351,1501},{580,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00000735.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{273,1849},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00000736.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,160}</string>
                <key>spriteSourceSize</key>
                <string>{72,160}</string>
                <key>textureRect</key>
                <string>{{765,1943},{72,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00000737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{1483,1},{64,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00000738.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,192}</string>
                <key>spriteSourceSize</key>
                <string>{104,192}</string>
                <key>textureRect</key>
                <string>{{203,1943},{104,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00000743.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{933,1939},{108,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{351,803},{1100,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00000747.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,436}</string>
                <key>spriteSourceSize</key>
                <string>{120,436}</string>
                <key>textureRect</key>
                <string>{{933,1501},{120,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00000755.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,172}</string>
                <key>spriteSourceSize</key>
                <string>{104,172}</string>
                <key>textureRect</key>
                <string>{{397,1943},{104,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00000757.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,60}</string>
                <key>spriteSourceSize</key>
                <string>{84,60}</string>
                <key>textureRect</key>
                <string>{{1483,103},{84,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00000762.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{1453,1039},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00000770.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{84,64}</string>
                <key>textureRect</key>
                <string>{{1453,973},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001354.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,112}</string>
                <key>textureRect</key>
                <string>{{1353,637},{140,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00001681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1644,348}</string>
                <key>spriteSourceSize</key>
                <string>{1644,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{1644,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00001850_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,1647},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1353,435},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1055,1501},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{115,1647},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,1849},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00001850_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1055,1703},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1169,1501},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{229,1647},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1169,1703},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1283,1501},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1283,1703},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,1647},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1131,1905},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi031/00001850_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1397,1501},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi031/00001850_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1397,1703},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi031-0.pvr.ccz</string>
            <key>size</key>
            <string>{1550,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b701232bcd80a0ad79e238f9ad0c077:dc7f02e18261aa199e4fce401f2962f1:056b833bff7e6e93f5b97fe7d3440fd2$</string>
            <key>textureFileName</key>
            <string>wanzi031-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
