<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi026/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,925},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,925},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{341,925},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1003,813},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1173,813},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1343,813},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1513,813},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1683,813},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1853,813},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1951,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{855,911},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1025,911},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1195,911},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1365,911},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00000726.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,440}</string>
                <key>spriteSourceSize</key>
                <string>{580,440}</string>
                <key>textureRect</key>
                <string>{{2105,1},{580,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000735.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{909,803},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00000736.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,160}</string>
                <key>spriteSourceSize</key>
                <string>{72,160}</string>
                <key>textureRect</key>
                <string>{{2469,697},{72,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00000737.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{843,803},{64,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00000743.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{108,196}</string>
                <key>textureRect</key>
                <string>{{2329,899},{108,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{1003,1},{1100,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00000747.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,436}</string>
                <key>spriteSourceSize</key>
                <string>{120,436}</string>
                <key>textureRect</key>
                <string>{{1,803},{120,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00000755.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,172}</string>
                <key>spriteSourceSize</key>
                <string>{104,172}</string>
                <key>textureRect</key>
                <string>{{511,917},{104,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2105,583},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{439,803},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{641,803},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2307,583},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1003,699},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1205,699},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1407,699},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1609,699},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1811,699},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2013,699},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00001850_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2127,697},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00001850_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2105,583},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001850_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2241,697},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00001850_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2355,697},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi026/00001850_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{2127,899},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi026/00001851.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{685,917},{168,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi026-0.pvr.ccz</string>
            <key>size</key>
            <string>{2546,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db588a8f42e95cd77dea54051135dcd7:bec544539f12ffa74f26923784ee869b:b9596312ab2ecf34aad355d5b7358865$</string>
            <key>textureFileName</key>
            <string>wanzi026-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
