<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi023/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{967,699},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi023/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1065,803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1235,803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1405,803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1575,803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1745,803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1915,803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi023/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2013,905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2183,905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{967,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1137,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1307,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1477,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1647,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1103,1},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi023/00000726.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,440}</string>
                <key>spriteSourceSize</key>
                <string>{580,440}</string>
                <key>textureRect</key>
                <string>{{2105,1},{580,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi023/00000745.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,696}</string>
                <key>spriteSourceSize</key>
                <string>{1100,696}</string>
                <key>textureRect</key>
                <string>{{1,1},{1100,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi023/00000747.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,436}</string>
                <key>spriteSourceSize</key>
                <string>{120,436}</string>
                <key>textureRect</key>
                <string>{{2427,583},{120,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi023/00001841_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{2105,583},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi023/00001841_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,699},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi023/00001841_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{323,699},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi023/00001841_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{645,699},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi023-0.pvr.ccz</string>
            <key>size</key>
            <string>{2548,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bc3754e7d434987612d0d6bae69781d:736f4e4d7aae6bd43c478a7a1a3df21c:66310b7bbdccc0b60d4a716d31cc2969$</string>
            <key>textureFileName</key>
            <string>wanzi023-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
