<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi_stage002/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2775,1379},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1625,1391},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1795,1391},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1965,1391},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{751,1449},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{921,1449},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2945,1379},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3115,1367},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2779,1477},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2949,1477},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3119,1465},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1423,1465},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3285,1367},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3289,1465},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00000121_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1577,695},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00000121_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1233,1331},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00000121_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1577,733},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00000121_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1233,1331},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,692}</string>
                <key>spriteSourceSize</key>
                <string>{1600,692}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001337_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,695},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001337_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1603,1},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001337_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1,1013},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001337_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1603,319},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001337_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1603,637},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001337_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{2861,1},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001337_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{3179,1},{316,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001337_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1256}</string>
                <key>spriteSourceSize</key>
                <string>{316,1256}</string>
                <key>textureRect</key>
                <string>{{1259,955},{316,1256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,224}</string>
                <key>spriteSourceSize</key>
                <string>{316,224}</string>
                <key>textureRect</key>
                <string>{{1259,695},{316,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,312}</string>
                <key>spriteSourceSize</key>
                <string>{116,312}</string>
                <key>textureRect</key>
                <string>{{1895,1273},{116,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001340_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1,1405},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001340_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{319,1405},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001340_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{773,1331},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001340_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1259,1273},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001340_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1577,1273},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001340_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{1259,1273},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001340_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{773,1331},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001340_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,316}</string>
                <key>spriteSourceSize</key>
                <string>{116,316}</string>
                <key>textureRect</key>
                <string>{{319,1405},{116,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001341.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,140}</string>
                <key>spriteSourceSize</key>
                <string>{184,140}</string>
                <key>textureRect</key>
                <string>{{1091,1331},{184,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,220}</string>
                <key>spriteSourceSize</key>
                <string>{224,220}</string>
                <key>textureRect</key>
                <string>{{2209,1273},{224,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{2799,955},{268,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001344.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{2509,1489},{268,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001345.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,40}</string>
                <key>spriteSourceSize</key>
                <string>{88,40}</string>
                <key>textureRect</key>
                <string>{{3335,1259},{88,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001346.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{3065,1259},{268,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001347.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{2799,1325},{268,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001348.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,160}</string>
                <key>spriteSourceSize</key>
                <string>{72,160}</string>
                <key>textureRect</key>
                <string>{{2135,1391},{72,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001349.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,188}</string>
                <key>spriteSourceSize</key>
                <string>{120,188}</string>
                <key>textureRect</key>
                <string>{{1233,1391},{120,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{2209,1495},{64,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{1593,1489},{64,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001352.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,40}</string>
                <key>spriteSourceSize</key>
                <string>{88,40}</string>
                <key>textureRect</key>
                <string>{{1,1523},{88,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001353.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,240}</string>
                <key>spriteSourceSize</key>
                <string>{72,240}</string>
                <key>textureRect</key>
                <string>{{2435,1273},{72,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001354.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,112}</string>
                <key>textureRect</key>
                <string>{{637,1405},{140,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001355.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{1735,1489},{64,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001356.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,200}</string>
                <key>spriteSourceSize</key>
                <string>{72,200}</string>
                <key>textureRect</key>
                <string>{{1423,1391},{72,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001357.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,336}</string>
                <key>spriteSourceSize</key>
                <string>{72,336}</string>
                <key>textureRect</key>
                <string>{{435,1331},{72,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001358.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{3069,1313},{268,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001359.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,432}</string>
                <key>spriteSourceSize</key>
                <string>{72,432}</string>
                <key>textureRect</key>
                <string>{{1,1331},{72,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi_stage002/00001360.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,64}</string>
                <key>spriteSourceSize</key>
                <string>{264,64}</string>
                <key>textureRect</key>
                <string>{{2509,1357},{264,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001361.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,64}</string>
                <key>spriteSourceSize</key>
                <string>{264,64}</string>
                <key>textureRect</key>
                <string>{{2509,1423},{264,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001362.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,64}</string>
                <key>spriteSourceSize</key>
                <string>{264,64}</string>
                <key>textureRect</key>
                <string>{{2799,1259},{264,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_stage002/00001363.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,280}</string>
                <key>textureRect</key>
                <string>{{2517,955},{400,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi_stage002-0.pvr.ccz</string>
            <key>size</key>
            <string>{3496,1574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08b5067244ab3c8923628d906679163e:d678f0ff51fe748e31e8709a9a380564:5746711b6345101720e42008aa5b9796$</string>
            <key>textureFileName</key>
            <string>wanzi_stage002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
