<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi009/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2341,1},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2341,171},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2341,341},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2341,511},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2341,681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2341,851},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2339,1021},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2339,1191},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1207,1579},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1305,1579},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1403,1579},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1501,1579},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,1579},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1769,1579},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,1677},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1207,1749},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1305,1749},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1403,1749},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1501,1749},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1867,1655},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1769,1749},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1599,1775},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1867,1825},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1965,1655},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2037,1825},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2063,1655},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2269,1713},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2207,1819},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00000098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,900}</string>
                <key>spriteSourceSize</key>
                <string>{2000,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,452}</string>
                <key>spriteSourceSize</key>
                <string>{320,452}</string>
                <key>textureRect</key>
                <string>{{1677,903},{320,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,452}</string>
                <key>spriteSourceSize</key>
                <string>{280,452}</string>
                <key>textureRect</key>
                <string>{{1999,1019},{280,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1927,1467},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{2207,1655},{80,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{2281,1317},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,192}</string>
                <key>textureRect</key>
                <string>{{603,1429},{300,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{603,903},{524,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{1665,1357},{260,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{903,1627},{76,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,192}</string>
                <key>spriteSourceSize</key>
                <string>{488,192}</string>
                <key>textureRect</key>
                <string>{{1,1705},{488,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,456}</string>
                <key>spriteSourceSize</key>
                <string>{296,456}</string>
                <key>textureRect</key>
                <string>{{1207,1281},{296,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{2281,1137},{96,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{1927,1357},{108,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1927,1561},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{2161,1737},{80,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,180}</string>
                <key>spriteSourceSize</key>
                <string>{276,180}</string>
                <key>textureRect</key>
                <string>{{1997,1473},{276,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,468}</string>
                <key>spriteSourceSize</key>
                <string>{376,468}</string>
                <key>textureRect</key>
                <string>{{1207,903},{376,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,100}</string>
                <key>spriteSourceSize</key>
                <string>{188,100}</string>
                <key>textureRect</key>
                <string>{{2323,1361},{188,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{56,80}</string>
                <key>textureRect</key>
                <string>{{2281,1235},{56,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,64}</string>
                <key>spriteSourceSize</key>
                <string>{156,64}</string>
                <key>textureRect</key>
                <string>{{603,1623},{156,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,64}</string>
                <key>textureRect</key>
                <string>{{761,1623},{140,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,184}</string>
                <key>spriteSourceSize</key>
                <string>{472,184}</string>
                <key>textureRect</key>
                <string>{{491,1705},{472,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001324.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2275,1551},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001366.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,196}</string>
                <key>spriteSourceSize</key>
                <string>{56,196}</string>
                <key>textureRect</key>
                <string>{{905,1429},{56,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001368_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{1,903},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001369.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,116}</string>
                <key>spriteSourceSize</key>
                <string>{56,116}</string>
                <key>textureRect</key>
                <string>{{2281,1019},{56,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi009/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{965,903},{1016,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi009/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{2003,1},{1016,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi009-0.pvr.ccz</string>
            <key>size</key>
            <string>{2438,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7520d6466bbc6f9cc4fc5f01a731e8ac:99fb85d81aa7ba13071dee2aaa2f4975:0281c898a4bb0388754698a98011c732$</string>
            <key>textureFileName</key>
            <string>wanzi009-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
