<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi007/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1941,517},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2397,1905},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{315,1869},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1311,1741},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,599},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,769},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,939},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1149,1903},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2671,1829},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{491,1817},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{485,1915},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1319,1839},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1417,1839},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{655,1915},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{733,799},{800,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001038_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1372,312}</string>
                <key>spriteSourceSize</key>
                <string>{1372,312}</string>
                <key>textureRect</key>
                <string>{{923,1},{1372,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,488}</string>
                <key>spriteSourceSize</key>
                <string>{1068,488}</string>
                <key>textureRect</key>
                <string>{{1,799},{1068,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001040_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{756,548}</string>
                <key>spriteSourceSize</key>
                <string>{756,548}</string>
                <key>textureRect</key>
                <string>{{975,653},{756,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,596}</string>
                <key>spriteSourceSize</key>
                <string>{516,596}</string>
                <key>textureRect</key>
                <string>{{2297,1},{516,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,600}</string>
                <key>spriteSourceSize</key>
                <string>{476,600}</string>
                <key>textureRect</key>
                <string>{{1733,653},{476,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,600}</string>
                <key>spriteSourceSize</key>
                <string>{444,600}</string>
                <key>textureRect</key>
                <string>{{1577,1255},{444,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,56}</string>
                <key>textureRect</key>
                <string>{{2179,1639},{128,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{2697,1927},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,24}</string>
                <key>spriteSourceSize</key>
                <string>{192,24}</string>
                <key>textureRect</key>
                <string>{{2179,1255},{192,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,144}</string>
                <key>spriteSourceSize</key>
                <string>{312,144}</string>
                <key>textureRect</key>
                <string>{{1,1869},{312,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,152}</string>
                <key>spriteSourceSize</key>
                <string>{308,152}</string>
                <key>textureRect</key>
                <string>{{2689,1519},{308,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,300}</string>
                <key>spriteSourceSize</key>
                <string>{448,300}</string>
                <key>textureRect</key>
                <string>{{1577,1701},{448,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,160}</string>
                <key>spriteSourceSize</key>
                <string>{56,160}</string>
                <key>textureRect</key>
                <string>{{2111,517},{56,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{2567,1927},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,300}</string>
                <key>spriteSourceSize</key>
                <string>{368,300}</string>
                <key>textureRect</key>
                <string>{{2027,1701},{368,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,600}</string>
                <key>spriteSourceSize</key>
                <string>{536,600}</string>
                <key>textureRect</key>
                <string>{{975,1203},{536,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,148}</string>
                <key>spriteSourceSize</key>
                <string>{312,148}</string>
                <key>textureRect</key>
                <string>{{733,1601},{312,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001312_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,796}</string>
                <key>spriteSourceSize</key>
                <string>{920,796}</string>
                <key>textureRect</key>
                <string>{{1,1},{920,796}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,596}</string>
                <key>spriteSourceSize</key>
                <string>{512,596}</string>
                <key>textureRect</key>
                <string>{{2211,599},{512,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{88,136}</string>
                <key>textureRect</key>
                <string>{{883,1601},{88,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,264}</string>
                <key>spriteSourceSize</key>
                <string>{272,264}</string>
                <key>textureRect</key>
                <string>{{2397,1639},{272,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{883,1741},{252,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,152}</string>
                <key>spriteSourceSize</key>
                <string>{320,152}</string>
                <key>textureRect</key>
                <string>{{2689,1197},{320,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{923,653},{84,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,440}</string>
                <key>spriteSourceSize</key>
                <string>{476,440}</string>
                <key>textureRect</key>
                <string>{{2211,1197},{476,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001323_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,352}</string>
                <key>spriteSourceSize</key>
                <string>{200,352}</string>
                <key>textureRect</key>
                <string>{{1941,315},{200,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001324.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1149,1741},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi007/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{491,799},{1016,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi007/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{923,315},{1016,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi007-0.pvr.ccz</string>
            <key>size</key>
            <string>{2842,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e60654965ec9166149904d44274643de:dfaa959d3a4f532cabac6d9450575c1a:b04df7b6618b5ff6485c8405edc7b63d$</string>
            <key>textureFileName</key>
            <string>wanzi007-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
