<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi008/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3461,527},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3461,697},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2781,849},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,653},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{279,895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{901,653},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{449,895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{619,895},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,823},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{789,921},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{959,921},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{973,823},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1129,921},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1299,785},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{1,653},{800,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001038_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1372,312}</string>
                <key>spriteSourceSize</key>
                <string>{1372,312}</string>
                <key>textureRect</key>
                <string>{{1,1},{1372,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001040_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{756,548}</string>
                <key>spriteSourceSize</key>
                <string>{756,548}</string>
                <key>textureRect</key>
                <string>{{2393,1},{756,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,184}</string>
                <key>spriteSourceSize</key>
                <string>{472,184}</string>
                <key>textureRect</key>
                <string>{{3275,527},{472,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00001066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,452}</string>
                <key>spriteSourceSize</key>
                <string>{320,452}</string>
                <key>textureRect</key>
                <string>{{1923,243},{320,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00001067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,452}</string>
                <key>spriteSourceSize</key>
                <string>{280,452}</string>
                <key>textureRect</key>
                <string>{{1923,565},{280,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{3461,925},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00001069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1299,955},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{3481,355},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{3151,1},{524,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{2205,565},{288,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,112}</string>
                <key>spriteSourceSize</key>
                <string>{284,112}</string>
                <key>textureRect</key>
                <string>{{2495,849},{284,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{3481,199},{76,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,192}</string>
                <key>spriteSourceSize</key>
                <string>{488,192}</string>
                <key>textureRect</key>
                <string>{{1397,573},{488,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,456}</string>
                <key>spriteSourceSize</key>
                <string>{296,456}</string>
                <key>textureRect</key>
                <string>{{2495,551},{296,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00001090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{3461,867},{96,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{2879,849},{108,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00001094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{3481,261},{92,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00001095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,112}</string>
                <key>spriteSourceSize</key>
                <string>{276,112}</string>
                <key>textureRect</key>
                <string>{{1,895},{276,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,184}</string>
                <key>spriteSourceSize</key>
                <string>{472,184}</string>
                <key>textureRect</key>
                <string>{{1397,767},{472,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,376}</string>
                <key>spriteSourceSize</key>
                <string>{320,376}</string>
                <key>textureRect</key>
                <string>{{2953,551},{320,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{3481,397},{80,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00001101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,468}</string>
                <key>spriteSourceSize</key>
                <string>{376,468}</string>
                <key>textureRect</key>
                <string>{{1019,315},{376,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{56,80}</string>
                <key>textureRect</key>
                <string>{{2879,959},{56,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi008/00001126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{1397,243},{524,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001366.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,196}</string>
                <key>spriteSourceSize</key>
                <string>{56,196}</string>
                <key>textureRect</key>
                <string>{{3481,1},{56,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{1375,1},{1016,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi008/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{1,315},{1016,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi008-0.pvr.ccz</string>
            <key>size</key>
            <string>{3558,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bee1906476e9047856e513615e76382:6b23f49172706f2d7810c35c98946639:4cb724e6f539baf2744f91b14a1131a4$</string>
            <key>textureFileName</key>
            <string>wanzi008-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
