<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi033/00000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,960}</string>
                <key>spriteSourceSize</key>
                <string>{1920,960}</string>
                <key>textureRect</key>
                <string>{{803,1503},{1920,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1,2505},{900,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{903,2465},{900,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{903,3067},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1073,3067},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1243,3067},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1413,3067},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1583,3067},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1753,3067},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,1803},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2895,1869},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,1901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,1999},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2993,1901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2993,1999},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2895,2039},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,2097},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00000244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1,3107},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00000715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1,1503},{1000,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{3111,1503},{64,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{3111,1645},{64,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001354.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,112}</string>
                <key>textureRect</key>
                <string>{{3047,1787},{140,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001355.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{2895,1803},{64,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,2195},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2993,2097},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2993,2195},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2895,2209},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001854_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,2293},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2993,2293},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2895,2379},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001854_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2725,2391},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2993,2391},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2993,2489},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1805,2587},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001854_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1805,2489},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001854_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1805,2757},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001854_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1805,2927},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001855_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1923,3025},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001855_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1903,2587},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001855_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1975,2489},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001855_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1903,2757},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001855_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1975,2927},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001855_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2093,3025},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001855_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2001,2587},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001855_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2001,2757},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001855_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2099,2587},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001855_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2145,2489},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001855_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2099,2757},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001855_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2145,2927},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001855_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2263,3025},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001855_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2433,2465},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001856_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2315,2465},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001856_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2197,2587},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001856_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2197,2757},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001856_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2603,2465},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001856_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2433,2563},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001856_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2315,2635},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001856_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2701,2489},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001856_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2871,2549},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001856_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2701,2587},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001856_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2603,2635},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001856_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2701,2685},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001856_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2433,2661},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001856_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2433,2759},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001856_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2315,2805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001857_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2969,2587},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001857_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2969,2685},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001857_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2871,2719},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001857_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2701,2783},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001857_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2603,2805},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001857_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2701,2881},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001857_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2433,2857},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001857_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2433,2955},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001857_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2603,2975},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001857_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2433,3053},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001857_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2701,2979},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001857_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2799,2979},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001857_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2969,2783},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001857_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2969,2881},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi033/00001858.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,172}</string>
                <key>spriteSourceSize</key>
                <string>{384,172}</string>
                <key>textureRect</key>
                <string>{{2725,1503},{384,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi033/00001859.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,320}</string>
                <key>spriteSourceSize</key>
                <string>{124,320}</string>
                <key>textureRect</key>
                <string>{{2725,1677},{124,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi033-0.pvr.ccz</string>
            <key>size</key>
            <string>{3202,3164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f3de2d8df13f11cf2e76b5f3e05f02b:7cff2592ae0100aaf1044d19fbff75b0:bc2f5aa3cd76bd11a345f66a01441e98$</string>
            <key>textureFileName</key>
            <string>wanzi033-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
