<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzi003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1373,905},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1471,905},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1569,905},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1667,905},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1059,2327},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1157,2327},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1237,2497},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1255,2319},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1353,2319},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1407,2489},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1451,2319},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1549,2315},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1647,2005},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1647,2103},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001038_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1372,312}</string>
                <key>spriteSourceSize</key>
                <string>{1372,312}</string>
                <key>textureRect</key>
                <string>{{1,1},{1372,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,488}</string>
                <key>spriteSourceSize</key>
                <string>{1068,488}</string>
                <key>textureRect</key>
                <string>{{1,315},{1068,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,596}</string>
                <key>spriteSourceSize</key>
                <string>{516,596}</string>
                <key>textureRect</key>
                <string>{{1,2005},{516,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,600}</string>
                <key>spriteSourceSize</key>
                <string>{476,600}</string>
                <key>textureRect</key>
                <string>{{539,1385},{476,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,600}</string>
                <key>spriteSourceSize</key>
                <string>{444,600}</string>
                <key>textureRect</key>
                <string>{{1375,303},{444,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,56}</string>
                <key>textureRect</key>
                <string>{{1647,2291},{128,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{1577,2485},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,24}</string>
                <key>spriteSourceSize</key>
                <string>{192,24}</string>
                <key>textureRect</key>
                <string>{{1033,2327},{192,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,144}</string>
                <key>spriteSourceSize</key>
                <string>{312,144}</string>
                <key>textureRect</key>
                <string>{{1337,2005},{312,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,152}</string>
                <key>spriteSourceSize</key>
                <string>{308,152}</string>
                <key>textureRect</key>
                <string>{{1483,2005},{308,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,300}</string>
                <key>spriteSourceSize</key>
                <string>{396,300}</string>
                <key>textureRect</key>
                <string>{{1071,315},{396,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,300}</string>
                <key>spriteSourceSize</key>
                <string>{448,300}</string>
                <key>textureRect</key>
                <string>{{1375,1},{448,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,160}</string>
                <key>spriteSourceSize</key>
                <string>{56,160}</string>
                <key>textureRect</key>
                <string>{{1765,905},{56,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{1033,2521},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,72}</string>
                <key>spriteSourceSize</key>
                <string>{104,72}</string>
                <key>textureRect</key>
                <string>{{1163,2497},{104,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,300}</string>
                <key>spriteSourceSize</key>
                <string>{368,300}</string>
                <key>textureRect</key>
                <string>{{1071,713},{368,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,600}</string>
                <key>spriteSourceSize</key>
                <string>{536,600}</string>
                <key>textureRect</key>
                <string>{{1,1385},{536,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,148}</string>
                <key>spriteSourceSize</key>
                <string>{312,148}</string>
                <key>textureRect</key>
                <string>{{1187,2005},{312,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001312_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,796}</string>
                <key>spriteSourceSize</key>
                <string>{920,796}</string>
                <key>textureRect</key>
                <string>{{1019,1083},{920,796}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,596}</string>
                <key>spriteSourceSize</key>
                <string>{512,596}</string>
                <key>textureRect</key>
                <string>{{519,2005},{512,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,52}</string>
                <key>spriteSourceSize</key>
                <string>{128,52}</string>
                <key>textureRect</key>
                <string>{{1647,2349},{128,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{88,136}</string>
                <key>textureRect</key>
                <string>{{1637,2201},{88,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{1019,891},{80,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,152}</string>
                <key>spriteSourceSize</key>
                <string>{320,152}</string>
                <key>textureRect</key>
                <string>{{1033,2005},{320,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,48}</string>
                <key>spriteSourceSize</key>
                <string>{84,48}</string>
                <key>textureRect</key>
                <string>{{1019,805},{84,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wanzi003/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{1,1143},{1016,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi003/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{1,805},{1016,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanzi003-0.pvr.ccz</string>
            <key>size</key>
            <string>{1824,2602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:924abc8b216998a674696cb7f41e08d7:716164b575d8c7f26ff6fbaaffc59de0:219f17a4b9ec72f2b9898d8801a29f60$</string>
            <key>textureFileName</key>
            <string>wanzi003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
