<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao006/00000979.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,700}</string>
                <key>spriteSourceSize</key>
                <string>{900,700}</string>
                <key>textureRect</key>
                <string>{{1,903},{900,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00000980.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,900}</string>
                <key>spriteSourceSize</key>
                <string>{1000,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00000982.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{903,903},{160,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00000983.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,500}</string>
                <key>spriteSourceSize</key>
                <string>{220,500}</string>
                <key>textureRect</key>
                <string>{{1,2141},{220,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00000988.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,380}</string>
                <key>spriteSourceSize</key>
                <string>{200,380}</string>
                <key>textureRect</key>
                <string>{{787,2099},{200,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00000989.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,304}</string>
                <key>spriteSourceSize</key>
                <string>{120,304}</string>
                <key>textureRect</key>
                <string>{{223,2523},{120,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00000991.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,204}</string>
                <key>spriteSourceSize</key>
                <string>{660,204}</string>
                <key>textureRect</key>
                <string>{{1,1935},{660,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00000992.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,68}</string>
                <key>spriteSourceSize</key>
                <string>{104,68}</string>
                <key>textureRect</key>
                <string>{{903,1227},{104,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00000993.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,220}</string>
                <key>spriteSourceSize</key>
                <string>{448,220}</string>
                <key>textureRect</key>
                <string>{{565,2141},{448,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00000994.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{465,2645},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00000995.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{503,2645},{24,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00000998.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,168}</string>
                <key>spriteSourceSize</key>
                <string>{492,168}</string>
                <key>textureRect</key>
                <string>{{803,1605},{492,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00001000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,380}</string>
                <key>spriteSourceSize</key>
                <string>{340,380}</string>
                <key>textureRect</key>
                <string>{{223,2141},{340,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00001002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{787,2481},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00001008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,328}</string>
                <key>spriteSourceSize</key>
                <string>{800,328}</string>
                <key>textureRect</key>
                <string>{{1,1605},{800,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00001009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,160}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{1,2643},{300,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00001641_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{529,2591},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00001641_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{511,2773},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00001641_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{753,2773},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00001641_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{511,2773},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00001642_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{663,1935},{108,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00001642_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{163,2807},{108,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00001642_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{337,2807},{108,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00001642_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{163,2807},{108,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00001643.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{773,1935},{52,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao006/00001644.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,160}</string>
                <key>spriteSourceSize</key>
                <string>{300,160}</string>
                <key>textureRect</key>
                <string>{{163,2645},{300,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao006/00001645.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{903,1065},{160,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao006-0.pvr.ccz</string>
            <key>size</key>
            <string>{1004,2954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c535a788271116d8ce9cdab69ac46d09:51f480027c95e89bc204ba0e8ad8a12a:9400fd4b2aaacdc450fd9fc9df6bce12$</string>
            <key>textureFileName</key>
            <string>xiangyao006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
