<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao010/00001067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,452}</string>
                <key>spriteSourceSize</key>
                <string>{280,452}</string>
                <key>textureRect</key>
                <string>{{1703,1297},{280,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1601,1589},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1613,1465},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{1503,1663},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,328}</string>
                <key>spriteSourceSize</key>
                <string>{524,328}</string>
                <key>textureRect</key>
                <string>{{1,2027},{524,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,412}</string>
                <key>spriteSourceSize</key>
                <string>{288,412}</string>
                <key>textureRect</key>
                <string>{{1703,883},{288,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{1597,1659},{76,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{1503,1535},{96,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{1503,1465},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,68}</string>
                <key>spriteSourceSize</key>
                <string>{92,68}</string>
                <key>textureRect</key>
                <string>{{1503,1593},{92,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,376}</string>
                <key>spriteSourceSize</key>
                <string>{320,376}</string>
                <key>textureRect</key>
                <string>{{527,2027},{320,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{1613,1527},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{905,2045},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001419.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1565,1755},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001420.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{903,2847},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001423_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1705},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1565,1721},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1739},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1627,1721},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1773},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1807},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1841},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1875},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1909},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1943},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1977},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,1705},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1503,2011},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001423_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,1751},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001423_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,1813},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,1875},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,1937},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,1999},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,2061},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,2123},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,2185},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,2247},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,2309},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1507,2045},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1507,2107},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1507,2169},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1967,1875},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1507,2231},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1507,2293},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001424_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1507,2355},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001640.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,880}</string>
                <key>spriteSourceSize</key>
                <string>{2000,880}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,880}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001646.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,560}</string>
                <key>spriteSourceSize</key>
                <string>{1500,560}</string>
                <key>textureRect</key>
                <string>{{1,1465},{1500,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao010/00001647.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,2357},{1200,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao010/00001648.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1700,580}</string>
                <key>spriteSourceSize</key>
                <string>{1700,580}</string>
                <key>textureRect</key>
                <string>{{1,883},{1700,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao010-0.pvr.ccz</string>
            <key>size</key>
            <string>{2002,3558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d134c3488dae6aaede26e424ea79ea2:a8c9f058f39d0318e04b5937973d12b0:d112f46811a5de8337a0d00350b7f466$</string>
            <key>textureFileName</key>
            <string>xiangyao010-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
