<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangce001/00001267_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1625,483},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001267_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2075,483},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001267_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2525,483},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001267_1-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1625,483},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001267_1-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2075,483},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001267_1-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2975,483},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001267_1-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2525,483},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001267_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{1625,483},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001267_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,336}</string>
                <key>spriteSourceSize</key>
                <string>{448,336}</string>
                <key>textureRect</key>
                <string>{{2075,483},{448,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001271_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1203,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001271_1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1845,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001271_1-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2487,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001271_1-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1203,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001271_1-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1845,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001271_1-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{3129,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001271_1-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{2487,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001271_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1203,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001271_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1845,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,900}</string>
                <key>spriteSourceSize</key>
                <string>{1200,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce001/00001952.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,380}</string>
                <key>spriteSourceSize</key>
                <string>{420,380}</string>
                <key>textureRect</key>
                <string>{{1203,483},{420,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangce001-1.pvr.ccz</string>
            <key>size</key>
            <string>{3770,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be706177318984da7715371ea22046b:22bb9c1363549b2f7a796ddf6cef3879:cefaaaba5afdd7fb24740c7a5b485ddc$</string>
            <key>textureFileName</key>
            <string>xiangce001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
