<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao009/00000957.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,220}</string>
                <key>spriteSourceSize</key>
                <string>{416,220}</string>
                <key>textureRect</key>
                <string>{{891,2459},{416,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00000959_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1685,1685},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00000959_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1685,1807},{80,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00000959_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{1743,1287},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00000961.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,88}</string>
                <key>textureRect</key>
                <string>{{1743,1409},{112,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00000968.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,300}</string>
                <key>spriteSourceSize</key>
                <string>{920,300}</string>
                <key>textureRect</key>
                <string>{{1,2003},{920,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00000969.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{260,248}</string>
                <key>textureRect</key>
                <string>{{1309,2459},{260,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00000976.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,204}</string>
                <key>spriteSourceSize</key>
                <string>{168,204}</string>
                <key>textureRect</key>
                <string>{{1559,2551},{168,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,396}</string>
                <key>spriteSourceSize</key>
                <string>{56,396}</string>
                <key>textureRect</key>
                <string>{{1685,1287},{56,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001420.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{883,1287},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001422.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,672}</string>
                <key>spriteSourceSize</key>
                <string>{568,672}</string>
                <key>textureRect</key>
                <string>{{923,1889},{568,672}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001423_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{883,1889},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1743,1597},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001423_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1797,1523},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1743,1631},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001423_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1767,1665},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1767,1727},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1801,1665},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1805,1585},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1801,1727},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1559,2459},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1765,2551},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{883,1889},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1765,2613},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1765,2675},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001423_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1799,2551},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001424_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1799,2613},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001424_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1799,2675},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001424_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{891,2681},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001424_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{953,2681},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001424_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1015,2681},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001424_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1077,2681},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001424_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1139,2681},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001424_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1201,2681},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001424_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1235,2681},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001424_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1269,2681},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001424_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{891,2715},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001424_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1799,2613},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001424_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{953,2715},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001424_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1015,2715},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001424_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1077,2715},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001636.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1284,960}</string>
                <key>spriteSourceSize</key>
                <string>{1284,960}</string>
                <key>textureRect</key>
                <string>{{883,1},{1284,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001637.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{1743,1523},{52,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001638.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,204}</string>
                <key>spriteSourceSize</key>
                <string>{660,204}</string>
                <key>textureRect</key>
                <string>{{1597,1889},{660,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao009/00001639.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{888,488}</string>
                <key>spriteSourceSize</key>
                <string>{888,488}</string>
                <key>textureRect</key>
                <string>{{1,2305},{888,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao009/00001640.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,880}</string>
                <key>spriteSourceSize</key>
                <string>{2000,880}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,880}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao009-0.pvr.ccz</string>
            <key>size</key>
            <string>{1844,2794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bea2ae224bd9f64714df3560631b43c:02f6d267f7b92d570b80c27a18122098:85b2943707846dea7312f4b80534dfd5$</string>
            <key>textureFileName</key>
            <string>xiangyao009-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
