<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao003/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{1,743},{960,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{1573,255},{320,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,252}</string>
                <key>spriteSourceSize</key>
                <string>{456,252}</string>
                <key>textureRect</key>
                <string>{{1573,1},{456,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{2197,615},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000679.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,160}</string>
                <key>spriteSourceSize</key>
                <string>{60,160}</string>
                <key>textureRect</key>
                <string>{{2201,295},{60,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000680.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{1003,677},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1895,501},{200,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao003/00000684.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,204}</string>
                <key>spriteSourceSize</key>
                <string>{304,204}</string>
                <key>textureRect</key>
                <string>{{1895,295},{304,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{1857,545},{196,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao003/00000694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,384}</string>
                <key>spriteSourceSize</key>
                <string>{568,384}</string>
                <key>textureRect</key>
                <string>{{1003,1},{568,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,128}</string>
                <key>spriteSourceSize</key>
                <string>{224,128}</string>
                <key>textureRect</key>
                <string>{{1873,849},{224,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000700.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,160}</string>
                <key>spriteSourceSize</key>
                <string>{304,160}</string>
                <key>textureRect</key>
                <string>{{1567,831},{304,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,284}</string>
                <key>spriteSourceSize</key>
                <string>{288,284}</string>
                <key>textureRect</key>
                <string>{{1567,545},{288,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00000703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{228,292}</string>
                <key>textureRect</key>
                <string>{{2031,1},{228,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00001166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,360}</string>
                <key>spriteSourceSize</key>
                <string>{300,360}</string>
                <key>textureRect</key>
                <string>{{1205,677},{300,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao003/00001180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{2197,717},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao003/00001189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{1205,979},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00001190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,176}</string>
                <key>spriteSourceSize</key>
                <string>{32,176}</string>
                <key>textureRect</key>
                <string>{{1521,387},{32,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{2197,501},{112,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao003/00001620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,740}</string>
                <key>spriteSourceSize</key>
                <string>{1000,740}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00001621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{1895,703},{300,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00001623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{2099,849},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao003/00001625.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{963,743},{280,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao003/00001626.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{1003,387},{516,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao003-0.pvr.ccz</string>
            <key>size</key>
            <string>{2288,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf86124e550df7014cb8042a90652009:d9f0e55fad50fcb3a42fe502865594f2:cbb005d55a7470ab458d8e04dc862cad$</string>
            <key>textureFileName</key>
            <string>xiangyao003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
