<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao004/00000421.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{2403,1},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3119,1661},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3229,1661},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3339,1661},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3449,1661},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3119,1459},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3229,1459},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{3339,1483},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2403,1525},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2403,1659},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2513,1525},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2513,1659},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2623,1525},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2623,1659},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000427_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2733,1525},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00000427_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{108,132}</string>
                <key>textureRect</key>
                <string>{{2733,1635},{108,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000429.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,184}</string>
                <key>spriteSourceSize</key>
                <string>{76,184}</string>
                <key>textureRect</key>
                <string>{{3441,1297},{76,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000435.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000785.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,128}</string>
                <key>textureRect</key>
                <string>{{3519,1359},{300,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00000794.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,104}</string>
                <key>spriteSourceSize</key>
                <string>{32,104}</string>
                <key>textureRect</key>
                <string>{{3603,1},{32,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000795.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{32,88}</string>
                <key>textureRect</key>
                <string>{{3603,107},{32,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00000803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{3529,975},{180,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00000807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{2925,1205},{252,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00000825.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,396}</string>
                <key>spriteSourceSize</key>
                <string>{972,396}</string>
                <key>textureRect</key>
                <string>{{3205,1},{972,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00001214_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{2925,603},{600,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00001215_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,520}</string>
                <key>spriteSourceSize</key>
                <string>{920,520}</string>
                <key>textureRect</key>
                <string>{{2403,603},{920,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00001216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{3559,1661},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao004/00001218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{2925,1459},{256,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00001219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{3127,1297},{160,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00001222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{3529,1157},{200,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao004/00001223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{360,320}</string>
                <key>textureRect</key>
                <string>{{3167,975},{360,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao004-0.pvr.ccz</string>
            <key>size</key>
            <string>{3648,1802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42af2ca67c4568dc371dd2add6da5224:3eba9267f184aefcba1ae4e41f1dfb5a:a8ca194b78d11ef6484c32cb253a2b08$</string>
            <key>textureFileName</key>
            <string>xiangyao004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
