<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao013/00000777.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{503,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000778_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,500}</string>
                <key>spriteSourceSize</key>
                <string>{1000,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000779.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1647,399},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000780.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1543,767},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000781.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1841,901},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000782.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{2445,661},{256,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000783.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1945,701},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000785.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,128}</string>
                <key>textureRect</key>
                <string>{{1071,803},{300,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000786.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,128}</string>
                <key>spriteSourceSize</key>
                <string>{172,128}</string>
                <key>textureRect</key>
                <string>{{2381,855},{172,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000787.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,320}</string>
                <key>spriteSourceSize</key>
                <string>{284,320}</string>
                <key>textureRect</key>
                <string>{{2783,1},{284,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000789.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1003,965},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000790.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1781,701},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000791.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1823,701},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000792.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1865,701},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000793.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{2555,855},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000794.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,104}</string>
                <key>spriteSourceSize</key>
                <string>{32,104}</string>
                <key>textureRect</key>
                <string>{{757,965},{32,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000795.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,88}</string>
                <key>spriteSourceSize</key>
                <string>{32,88}</string>
                <key>textureRect</key>
                <string>{{863,965},{32,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000796.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,312}</string>
                <key>spriteSourceSize</key>
                <string>{160,312}</string>
                <key>textureRect</key>
                <string>{{757,803},{160,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000797_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1373,795},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000797_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1765,767},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000797_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1935,743},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000797_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1943,877},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000797_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2105,721},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000797_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2113,855},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000797_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2247,855},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000797_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{2275,721},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000799.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,300}</string>
                <key>spriteSourceSize</key>
                <string>{360,300}</string>
                <key>textureRect</key>
                <string>{{2703,661},{360,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,216}</string>
                <key>spriteSourceSize</key>
                <string>{76,216}</string>
                <key>textureRect</key>
                <string>{{1623,929},{76,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,380}</string>
                <key>spriteSourceSize</key>
                <string>{320,380}</string>
                <key>textureRect</key>
                <string>{{2049,399},{320,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,92}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{1441,929},{180,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,60}</string>
                <key>textureRect</key>
                <string>{{1459,705},{320,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,300}</string>
                <key>spriteSourceSize</key>
                <string>{312,300}</string>
                <key>textureRect</key>
                <string>{{2481,1},{312,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,400}</string>
                <key>spriteSourceSize</key>
                <string>{356,400}</string>
                <key>textureRect</key>
                <string>{{2079,1},{356,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{503,803},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000814.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1045,965},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000815.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,260}</string>
                <key>spriteSourceSize</key>
                <string>{336,260}</string>
                <key>textureRect</key>
                <string>{{2833,323},{336,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000820.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,304}</string>
                <key>spriteSourceSize</key>
                <string>{540,304}</string>
                <key>textureRect</key>
                <string>{{1105,399},{540,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000821.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{2431,359},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000822.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{953,965},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000823.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{1907,701},{40,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao013/00000825.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,396}</string>
                <key>spriteSourceSize</key>
                <string>{972,396}</string>
                <key>textureRect</key>
                <string>{{1105,1},{972,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000826.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,88}</string>
                <key>spriteSourceSize</key>
                <string>{352,88}</string>
                <key>textureRect</key>
                <string>{{1087,933},{352,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao013/00000828.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,88}</string>
                <key>spriteSourceSize</key>
                <string>{352,88}</string>
                <key>textureRect</key>
                <string>{{1105,705},{352,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao013-0.pvr.ccz</string>
            <key>size</key>
            <string>{3094,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d10f0ca0a8f903f22bfe471053671d0:6e167274708651fbfb656ebea2dc4e75:4cdee80135ba64a0fda608a790f0cc03$</string>
            <key>textureFileName</key>
            <string>xiangyao013-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
