<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao005/00000411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,680}</string>
                <key>spriteSourceSize</key>
                <string>{596,680}</string>
                <key>textureRect</key>
                <string>{{1,1337},{596,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,360}</string>
                <key>spriteSourceSize</key>
                <string>{300,360}</string>
                <key>textureRect</key>
                <string>{{699,879},{300,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{433,1935},{124,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,140}</string>
                <key>textureRect</key>
                <string>{{291,1935},{180,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,64}</string>
                <key>textureRect</key>
                <string>{{683,1387},{320,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{845,2341},{108,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{927,2341},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,52}</string>
                <key>spriteSourceSize</key>
                <string>{304,52}</string>
                <key>textureRect</key>
                <string>{{699,825},{304,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001182_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{479,2061},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001182_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{593,1935},{112,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001182_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{479,2061},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{683,1453},{316,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{433,2061},{88,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,176}</string>
                <key>spriteSourceSize</key>
                <string>{32,176}</string>
                <key>textureRect</key>
                <string>{{965,1909},{32,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{511,1935},{112,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,740}</string>
                <key>spriteSourceSize</key>
                <string>{1000,740}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{699,1241},{300,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{845,2151},{188,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001626.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{1,1935},{516,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao005/00001627.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{1,743},{696,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001628.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,100}</string>
                <key>spriteSourceSize</key>
                <string>{316,100}</string>
                <key>textureRect</key>
                <string>{{683,1807},{316,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001629.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,80}</string>
                <key>spriteSourceSize</key>
                <string>{308,80}</string>
                <key>textureRect</key>
                <string>{{699,743},{308,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001630.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,264}</string>
                <key>spriteSourceSize</key>
                <string>{552,264}</string>
                <key>textureRect</key>
                <string>{{291,2151},{552,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao005/00001631.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,240}</string>
                <key>textureRect</key>
                <string>{{683,1909},{280,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao005-0.pvr.ccz</string>
            <key>size</key>
            <string>{1008,2452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b405f44b80056f177a78e3efca7e54d6:07ad37aedca659402590daac7f30d6be:18633949221dff43f89f13195b7151ee$</string>
            <key>textureFileName</key>
            <string>xiangyao005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
