<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao002/00001039_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,488}</string>
                <key>spriteSourceSize</key>
                <string>{1068,488}</string>
                <key>textureRect</key>
                <string>{{1,1},{1068,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao002/00001040_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{756,548}</string>
                <key>spriteSourceSize</key>
                <string>{756,548}</string>
                <key>textureRect</key>
                <string>{{849,1019},{756,548}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao002/00001041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,596}</string>
                <key>spriteSourceSize</key>
                <string>{516,596}</string>
                <key>textureRect</key>
                <string>{{1399,799},{516,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao002/00001043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,600}</string>
                <key>spriteSourceSize</key>
                <string>{444,600}</string>
                <key>textureRect</key>
                <string>{{1,1071},{444,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao002/00001045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{107,1673},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao002/00001046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,24}</string>
                <key>spriteSourceSize</key>
                <string>{192,24}</string>
                <key>textureRect</key>
                <string>{{1,1747},{192,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao002/00001048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,152}</string>
                <key>spriteSourceSize</key>
                <string>{308,152}</string>
                <key>textureRect</key>
                <string>{{1071,799},{308,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao002/00001050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,300}</string>
                <key>spriteSourceSize</key>
                <string>{448,300}</string>
                <key>textureRect</key>
                <string>{{1399,1397},{448,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao002/00001054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,72}</string>
                <key>spriteSourceSize</key>
                <string>{104,72}</string>
                <key>textureRect</key>
                <string>{{1,1673},{104,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao002/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{447,1071},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao002/00001312_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,796}</string>
                <key>spriteSourceSize</key>
                <string>{920,796}</string>
                <key>textureRect</key>
                <string>{{1071,1},{920,796}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao002/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{829,1},{1016,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao002/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{491,1},{1016,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao002-0.pvr.ccz</string>
            <key>size</key>
            <string>{1992,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41c18badc737589c0b2dc13e80511fa7:9fbbca33babea3cbf94d886c5d30105a:53462ea840b3de5bbd603c8b5b002248$</string>
            <key>textureFileName</key>
            <string>xiangyao002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
