<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao011/00000201_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{1283,603},{800,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,600}</string>
                <key>spriteSourceSize</key>
                <string>{1280,600}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001164_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{1,803},{216,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao011/00001164_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{351,803},{216,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao011/00001164_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,348}</string>
                <key>spriteSourceSize</key>
                <string>{216,348}</string>
                <key>textureRect</key>
                <string>{{701,803},{216,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao011/00001165_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,800}</string>
                <key>spriteSourceSize</key>
                <string>{1280,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,360}</string>
                <key>spriteSourceSize</key>
                <string>{300,360}</string>
                <key>textureRect</key>
                <string>{{2603,595},{300,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao011/00001167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{124,76}</string>
                <key>textureRect</key>
                <string>{{1733,845},{124,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,80}</string>
                <key>textureRect</key>
                <string>{{1973,845},{108,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{1051,803},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{3263,1},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{1733,923},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,592}</string>
                <key>spriteSourceSize</key>
                <string>{696,592}</string>
                <key>textureRect</key>
                <string>{{2565,1},{696,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,144}</string>
                <key>textureRect</key>
                <string>{{1241,845},{300,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001187.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{3283,503},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,352}</string>
                <key>spriteSourceSize</key>
                <string>{316,352}</string>
                <key>textureRect</key>
                <string>{{2965,595},{316,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,44}</string>
                <key>spriteSourceSize</key>
                <string>{88,44}</string>
                <key>textureRect</key>
                <string>{{1827,923},{88,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,176}</string>
                <key>spriteSourceSize</key>
                <string>{32,176}</string>
                <key>textureRect</key>
                <string>{{1051,953},{32,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao011/00001191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,288}</string>
                <key>spriteSourceSize</key>
                <string>{516,288}</string>
                <key>textureRect</key>
                <string>{{2085,603},{516,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{1859,845},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao011/00001623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,148}</string>
                <key>textureRect</key>
                <string>{{1543,845},{188,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao011-0.pvr.ccz</string>
            <key>size</key>
            <string>{3784,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb132de890a1c5f103f652b3be8f10ad:2649528016acb3a71c8e810975be9819:6a1a2b6921f05ff07fe5e7687e523b9d$</string>
            <key>textureFileName</key>
            <string>xiangyao011-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
