<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangyao007/00000019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{2665,713},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao007/00000024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,240}</string>
                <key>textureRect</key>
                <string>{{2493,949},{800,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao007/00000259_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,291},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00000294.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1448,336}</string>
                <key>spriteSourceSize</key>
                <string>{1448,336}</string>
                <key>textureRect</key>
                <string>{{1027,291},{1448,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao007/00000302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{2735,1621},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{1365,291},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,220}</string>
                <key>textureRect</key>
                <string>{{2033,1579},{260,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{2581,1},{76,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{2665,603},{108,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao007/00001098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,400}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{2665,1},{600,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao007/00001100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,180}</string>
                <key>spriteSourceSize</key>
                <string>{276,180}</string>
                <key>textureRect</key>
                <string>{{1851,1587},{276,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao007/00001128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,608}</string>
                <key>spriteSourceSize</key>
                <string>{512,608}</string>
                <key>textureRect</key>
                <string>{{2151,339},{512,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,656}</string>
                <key>spriteSourceSize</key>
                <string>{548,656}</string>
                <key>textureRect</key>
                <string>{{1365,929},{548,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,224}</string>
                <key>spriteSourceSize</key>
                <string>{484,224}</string>
                <key>textureRect</key>
                <string>{{1365,1587},{484,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,628}</string>
                <key>spriteSourceSize</key>
                <string>{576,628}</string>
                <key>textureRect</key>
                <string>{{1915,949},{576,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001151_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1061},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,288}</string>
                <key>spriteSourceSize</key>
                <string>{1560,288}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,588}</string>
                <key>spriteSourceSize</key>
                <string>{784,588}</string>
                <key>textureRect</key>
                <string>{{1365,339},{784,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangyao007/00001871.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,240}</string>
                <key>spriteSourceSize</key>
                <string>{1016,240}</string>
                <key>textureRect</key>
                <string>{{2735,603},{1016,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiangyao007/00001881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,336}</string>
                <key>spriteSourceSize</key>
                <string>{1016,336}</string>
                <key>textureRect</key>
                <string>{{1563,1},{1016,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiangyao007-0.pvr.ccz</string>
            <key>size</key>
            <string>{3066,1882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:646dd1f328268c647fffd9652088010b:9b12c0d1f2a7be8fa663e0d376b83d86:8c1f67aad320670a0c3730adcd69327d$</string>
            <key>textureFileName</key>
            <string>xiangyao007-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
