<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xunbao_stage001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1469,2103},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1639,2103},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1809,2103},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1979,2103},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2149,2103},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2319,2103},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3987,621},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3987,791},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3987,961},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3987,1131},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3953,1301},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3953,1471},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3953,1641},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3953,1811},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{1315,2103},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3413,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3467,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3521,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3575,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3629,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3683,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3737,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3791,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3845,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{3899,1241},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001649_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{1,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001649_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{147,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001649_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{293,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001649_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{439,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001649_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{585,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001649_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{731,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001649_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{877,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001649_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{1023,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001649_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{1,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001650_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{585,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001650_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{731,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001650_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{877,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001650_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{1023,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001650_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{1169,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001650_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{1,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001650_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{147,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001650_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{293,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001650_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{585,2103},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001651_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{2489,2083},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001651_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{2489,2137},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001651_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{3953,1981},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001651_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{4023,1981},{68,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001651_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{3953,2035},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001651_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{4023,2051},{68,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001651_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{3953,2089},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001651_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{4023,2121},{68,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001651_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{2489,2083},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001652.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,2100}</string>
                <key>spriteSourceSize</key>
                <string>{2400,2100}</string>
                <key>textureRect</key>
                <string>{{1,1},{2400,2100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001653_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{1,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001653_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{27,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001653_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{53,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001653_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{79,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001653_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{105,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001653_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{131,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001653_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{157,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001653_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{183,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001653_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{209,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001653_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{235,2213},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001657.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,308}</string>
                <key>spriteSourceSize</key>
                <string>{720,308}</string>
                <key>textureRect</key>
                <string>{{3265,621},{720,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001658.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,308}</string>
                <key>spriteSourceSize</key>
                <string>{720,308}</string>
                <key>textureRect</key>
                <string>{{3265,931},{720,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001660.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2080,860}</string>
                <key>spriteSourceSize</key>
                <string>{2080,860}</string>
                <key>textureRect</key>
                <string>{{2403,1},{2080,860}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001661.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,160}</string>
                <key>spriteSourceSize</key>
                <string>{808,160}</string>
                <key>textureRect</key>
                <string>{{2603,2083},{808,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001662_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{1315,2205},{320,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001662_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{1637,2201},{320,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001662_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{1959,2201},{320,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001662_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{2281,2201},{320,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001662_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{3265,1241},{320,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001662_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{3307,1241},{320,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001662_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{3349,1241},{320,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001662_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{3265,1563},{320,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001662_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{3307,1563},{320,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001662_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,40}</string>
                <key>textureRect</key>
                <string>{{3349,1563},{320,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunbao_stage001/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{3265,395},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunbao_stage001/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{3265,1},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xunbao_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{4084,2246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80d7426025e6a91b83713ecc17e91b8f:8082843984c9442a72eb2de4ee16e453:ddfb282223a492e3a6067a2bcd9fc0e5$</string>
            <key>textureFileName</key>
            <string>xunbao_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
