<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanwang_stage001/00000008_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1603,1733},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000008_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1665,1733},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000008_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1727,1733},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000008_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1727,1733},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000008_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1665,1733},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1800}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1800}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{1600,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1800}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1800}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1600,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1800}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1800}</string>
                <key>textureRect</key>
                <string>{{1803,1603},{1600,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000620_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{1603,1603},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000620_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{1677,1603},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yanwang_stage001-0.pvr.ccz</string>
            <key>size</key>
            <string>{3404,3404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01beae15fc1b3bf737b5b409d5c1043c:ba0f68b46de1065c0b43237580f4b3a8:2dc9e82db0939d047422dcfc4fb15514$</string>
            <key>textureFileName</key>
            <string>yanwang_stage001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
