<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanwang_stage001/00000008_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1617,3661},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000008_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1679,3661},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000008_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1617,3661},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3405,1},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000609_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3405,803},{800,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,1200}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1200}</string>
                <key>textureRect</key>
                <string>{{1603,1603},{1200,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000611_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,600}</string>
                <key>spriteSourceSize</key>
                <string>{200,600}</string>
                <key>textureRect</key>
                <string>{{3843,1605},{200,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2805,1603},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3381,1605},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3381,1907},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2805,1905},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2805,2207},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3267,2209},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3267,2209},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2805,2207},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2805,1905},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3381,1907},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3381,1605},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2805,2509},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3267,2511},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000612_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2805,2509},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000613_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,288}</string>
                <key>spriteSourceSize</key>
                <string>{196,288}</string>
                <key>textureRect</key>
                <string>{{3843,2207},{196,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000616_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{1603,2805},{460,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000616_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{1905,2805},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000616_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2367,2805},{460,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000616_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{1905,3107},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000616_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2799,2811},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000616_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3261,2813},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000616_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3723,2963},{460,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000616_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2669,3113},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000616_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2367,3267},{460,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000616_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{1905,3107},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000619_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{1899,3409},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000619_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2669,3415},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000619_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3131,3425},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000619_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3593,3425},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000619_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3131,3115},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000619_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3593,3425},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000619_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{3131,3425},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000619_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,300}</string>
                <key>spriteSourceSize</key>
                <string>{460,300}</string>
                <key>textureRect</key>
                <string>{{2669,3415},{460,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000620_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3843,2611},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000620_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3973,2611},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000620_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3729,2613},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000620_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3803,2685},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000620_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3729,2743},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000620_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3933,2741},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000620_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3803,2759},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000620_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3933,2815},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000620_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3803,2833},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000620_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{3933,2889},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000620_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{2669,2805},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000620_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{2669,2879},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000620_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{72,128}</string>
                <key>textureRect</key>
                <string>{{2669,2953},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1800}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000622_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,280}</string>
                <key>spriteSourceSize</key>
                <string>{392,280}</string>
                <key>textureRect</key>
                <string>{{1617,3267},{392,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1800}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{1600,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000624.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1800}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1800}</string>
                <key>textureRect</key>
                <string>{{1603,1},{1600,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,3605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{203,3605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{405,3605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{607,3605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{809,3605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1011,3605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1213,3605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1415,3605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3267,1603},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000625_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3267,1805},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000625_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3267,2007},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000625_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{1,3605},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanwang_stage001/00000625_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3729,2209},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000625_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3729,2411},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanwang_stage001/00000625_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{3843,2497},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yanwang_stage001-1.pvr.ccz</string>
            <key>size</key>
            <string>{4062,3728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01beae15fc1b3bf737b5b409d5c1043c:ba0f68b46de1065c0b43237580f4b3a8:2dc9e82db0939d047422dcfc4fb15514$</string>
            <key>textureFileName</key>
            <string>yanwang_stage001-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
