<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun003/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{861,3155},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{687,3725},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,2259},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{687,3823},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{879,3325},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{107,3901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{277,3901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{447,3873},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{447,3971},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{617,3921},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{715,3921},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{813,3921},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{853,3511},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{857,3681},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{777,3357},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,2805},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{155,1403},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{55,2805},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{209,1403},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{263,1403},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{317,1403},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{109,2805},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{371,1403},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{911,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{965,1},{1000,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{407,1},{960,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000666_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,152}</string>
                <key>spriteSourceSize</key>
                <string>{1400,152}</string>
                <key>textureRect</key>
                <string>{{1,1403},{1400,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000667_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,404}</string>
                <key>spriteSourceSize</key>
                <string>{1400,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{725,2397},{320,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000670.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,40}</string>
                <key>textureRect</key>
                <string>{{617,3873},{68,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000672.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,240}</string>
                <key>spriteSourceSize</key>
                <string>{468,240}</string>
                <key>textureRect</key>
                <string>{{163,3053},{468,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{245,3999},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,252}</string>
                <key>spriteSourceSize</key>
                <string>{456,252}</string>
                <key>textureRect</key>
                <string>{{405,3053},{456,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000675.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{163,2791},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{143,3999},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000677.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{335,3999},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000678.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{857,3851},{68,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000680.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{959,3155},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,164}</string>
                <key>spriteSourceSize</key>
                <string>{212,164}</string>
                <key>textureRect</key>
                <string>{{687,3511},{212,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{819,1655},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{196,104}</string>
                <key>textureRect</key>
                <string>{{1,3807},{196,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000684.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,204}</string>
                <key>spriteSourceSize</key>
                <string>{304,204}</string>
                <key>textureRect</key>
                <string>{{819,1349},{304,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{629,2791},{196,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000687.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{965,3005},{104,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000689.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,256}</string>
                <key>spriteSourceSize</key>
                <string>{344,256}</string>
                <key>textureRect</key>
                <string>{{749,1003},{344,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,340}</string>
                <key>spriteSourceSize</key>
                <string>{388,340}</string>
                <key>textureRect</key>
                <string>{{407,963},{388,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{425,2155},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000692.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{163,3523},{376,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{1,4005},{140,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,384}</string>
                <key>spriteSourceSize</key>
                <string>{568,384}</string>
                <key>textureRect</key>
                <string>{{155,2405},{568,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000695.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,360}</string>
                <key>spriteSourceSize</key>
                <string>{280,360}</string>
                <key>textureRect</key>
                <string>{{405,3511},{280,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{911,3851},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,128}</string>
                <key>spriteSourceSize</key>
                <string>{224,128}</string>
                <key>textureRect</key>
                <string>{{685,803},{224,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,284}</string>
                <key>spriteSourceSize</key>
                <string>{288,284}</string>
                <key>textureRect</key>
                <string>{{725,2719},{288,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{819,1957},{300,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,148}</string>
                <key>spriteSourceSize</key>
                <string>{304,148}</string>
                <key>textureRect</key>
                <string>{{659,3005},{304,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00000712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,116}</string>
                <key>spriteSourceSize</key>
                <string>{152,116}</string>
                <key>textureRect</key>
                <string>{{659,3357},{152,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00000713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{659,3155},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun003/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{685,1},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun003/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{425,1353},{800,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun003-0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,4090}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c95e083900d003f7abc65d0fa6ba3e70:b17c6d928d001540f7150fafe34b916f:bf5727846c945619ea3cd0008198c8ac$</string>
            <key>textureFileName</key>
            <string>yucun003-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
