<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun006/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{447,803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{545,803},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2095,919},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2265,919},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2525,901},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2695,899},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2865,899},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,1},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,99},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,197},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2991,287},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2707,295},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2991,711},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3089,711},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000627_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1044,620}</string>
                <key>spriteSourceSize</key>
                <string>{1044,620}</string>
                <key>textureRect</key>
                <string>{{621,1},{1044,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{2095,597},{320,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000670.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,40}</string>
                <key>textureRect</key>
                <string>{{447,973},{68,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000672.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,240}</string>
                <key>spriteSourceSize</key>
                <string>{468,240}</string>
                <key>textureRect</key>
                <string>{{1667,1},{468,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{3035,881},{88,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,252}</string>
                <key>spriteSourceSize</key>
                <string>{456,252}</string>
                <key>textureRect</key>
                <string>{{2171,1},{456,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000675.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{1909,1},{464,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{2301,459},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000677.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{3101,881},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000680.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{2991,385},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1,803},{200,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{196,104}</string>
                <key>textureRect</key>
                <string>{{303,803},{196,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{409,803},{196,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000687.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{1837,967},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000688.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2667,737},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000689.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,256}</string>
                <key>spriteSourceSize</key>
                <string>{344,256}</string>
                <key>textureRect</key>
                <string>{{1837,621},{344,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,340}</string>
                <key>spriteSourceSize</key>
                <string>{388,340}</string>
                <key>textureRect</key>
                <string>{{643,623},{388,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,384}</string>
                <key>spriteSourceSize</key>
                <string>{568,384}</string>
                <key>textureRect</key>
                <string>{{985,623},{568,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000695.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,360}</string>
                <key>spriteSourceSize</key>
                <string>{280,360}</string>
                <key>textureRect</key>
                <string>{{1555,623},{280,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{2199,459},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,128}</string>
                <key>spriteSourceSize</key>
                <string>{224,128}</string>
                <key>textureRect</key>
                <string>{{1973,467},{224,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,284}</string>
                <key>spriteSourceSize</key>
                <string>{288,284}</string>
                <key>textureRect</key>
                <string>{{2897,1},{288,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{228,292}</string>
                <key>textureRect</key>
                <string>{{2667,443},{228,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,148}</string>
                <key>spriteSourceSize</key>
                <string>{304,148}</string>
                <key>textureRect</key>
                <string>{{1667,471},{304,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,280}</string>
                <key>spriteSourceSize</key>
                <string>{440,280}</string>
                <key>textureRect</key>
                <string>{{2385,459},{440,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,236}</string>
                <key>spriteSourceSize</key>
                <string>{256,236}</string>
                <key>textureRect</key>
                <string>{{2897,453},{256,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,100}</string>
                <key>spriteSourceSize</key>
                <string>{88,100}</string>
                <key>textureRect</key>
                <string>{{2435,901},{88,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2829,737},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun006/00000709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,92}</string>
                <key>spriteSourceSize</key>
                <string>{164,92}</string>
                <key>textureRect</key>
                <string>{{2897,287},{164,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00000710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,280}</string>
                <key>spriteSourceSize</key>
                <string>{440,280}</string>
                <key>textureRect</key>
                <string>{{2425,1},{440,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{395,1},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun006/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun006-0.pvr.ccz</string>
            <key>size</key>
            <string>{3186,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:178ead9867fe0aa8c59ccadc6554803a:00c131daaeb1f49fc5963eaf5d4d7022:2792527b4f72c5458ec73cc12ffc1588$</string>
            <key>textureFileName</key>
            <string>yucun006-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
