<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun103/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000684.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,204}</string>
                <key>spriteSourceSize</key>
                <string>{304,204}</string>
                <key>textureRect</key>
                <string>{{803,279},{304,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1,279},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun103-1.pvr.ccz</string>
            <key>size</key>
            <string>{1108,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c74b678ce9774054cdb6e8b77a12a1a:ec59aa1225b96c3e5ad7ff5676431b29:f4329c33c8d8948ff33fa6a30405d983$</string>
            <key>textureFileName</key>
            <string>yucun103-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
