<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun005/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2363,243},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2533,243},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2703,243},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2961,623},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3149,923},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3319,923},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2873,243},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3043,243},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3213,243},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3383,243},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3131,599},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3301,599},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3489,899},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3553,243},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{3623,663},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,955},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1003,955},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{803,685},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{803,739},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1403,793},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1403,847},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1403,901},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2005,955},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1805,649},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1805,703},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{803,407},{960,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000666_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,152}</string>
                <key>spriteSourceSize</key>
                <string>{1400,152}</string>
                <key>textureRect</key>
                <string>{{1,801},{1400,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000667_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,404}</string>
                <key>spriteSourceSize</key>
                <string>{1400,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{3471,341},{320,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000670.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,40}</string>
                <key>textureRect</key>
                <string>{{2603,907},{68,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000672.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,240}</string>
                <key>spriteSourceSize</key>
                <string>{468,240}</string>
                <key>textureRect</key>
                <string>{{2363,1},{468,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{3397,341},{88,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,252}</string>
                <key>spriteSourceSize</key>
                <string>{456,252}</string>
                <key>textureRect</key>
                <string>{{2231,343},{456,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000675.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{1765,387},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{3623,817},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000677.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{3397,431},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000678.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{2337,597},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{3119,721},{200,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{196,104}</string>
                <key>textureRect</key>
                <string>{{2711,757},{196,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{2405,907},{196,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000687.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{2231,597},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000689.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,256}</string>
                <key>spriteSourceSize</key>
                <string>{344,256}</string>
                <key>textureRect</key>
                <string>{{3051,341},{344,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,340}</string>
                <key>spriteSourceSize</key>
                <string>{388,340}</string>
                <key>textureRect</key>
                <string>{{1973,1},{388,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{2833,1},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000692.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{3211,1},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{3007,943},{140,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,384}</string>
                <key>spriteSourceSize</key>
                <string>{568,384}</string>
                <key>textureRect</key>
                <string>{{1403,1},{568,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000695.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,360}</string>
                <key>spriteSourceSize</key>
                <string>{280,360}</string>
                <key>textureRect</key>
                <string>{{2689,341},{280,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun005/00000696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{3659,899},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{2817,741},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,148}</string>
                <key>spriteSourceSize</key>
                <string>{304,148}</string>
                <key>textureRect</key>
                <string>{{2405,757},{304,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3421,697},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00000712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,116}</string>
                <key>spriteSourceSize</key>
                <string>{152,116}</string>
                <key>textureRect</key>
                <string>{{2807,623},{152,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun005/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,407},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun005-0.pvr.ccz</string>
            <key>size</key>
            <string>{3760,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efd045b8639d8f92b56d588efe9d4ecc:318aea613f1bcc599c05046ceb1a74a5:7f140569609b677f3600277ca7fb1b02$</string>
            <key>textureFileName</key>
            <string>yucun005-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
