<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun002/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{823,541},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{823,639},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{823,737},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{823,835},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{823,933},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{823,1031},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1537},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1635},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{801,1733},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{801,1831},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{801,1929},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{471,2049},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{471,2219},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{459,2593},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{569,2087},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,55},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,109},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,163},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,217},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,271},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,325},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,379},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,433},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,487},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000626_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,500}</string>
                <key>spriteSourceSize</key>
                <string>{820,500}</string>
                <key>textureRect</key>
                <string>{{1,541},{820,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{653,3019},{320,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000669.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,204}</string>
                <key>spriteSourceSize</key>
                <string>{368,204}</string>
                <key>textureRect</key>
                <string>{{803,1129},{368,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000670.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,40}</string>
                <key>textureRect</key>
                <string>{{723,2087},{68,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000672.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,240}</string>
                <key>spriteSourceSize</key>
                <string>{468,240}</string>
                <key>textureRect</key>
                <string>{{1,2049},{468,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{459,2763},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,252}</string>
                <key>spriteSourceSize</key>
                <string>{456,252}</string>
                <key>textureRect</key>
                <string>{{1,2553},{456,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000675.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{1,2291},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{467,2511},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000678.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{959,2193},{68,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000679.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,160}</string>
                <key>spriteSourceSize</key>
                <string>{60,160}</string>
                <key>textureRect</key>
                <string>{{947,2535},{60,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000680.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{927,2777},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,164}</string>
                <key>spriteSourceSize</key>
                <string>{212,164}</string>
                <key>textureRect</key>
                <string>{{797,2027},{212,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{803,1499},{196,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000686.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{569,2535},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,340}</string>
                <key>spriteSourceSize</key>
                <string>{388,340}</string>
                <key>textureRect</key>
                <string>{{569,2193},{388,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{1,2807},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000692.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{549,2777},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{379,2965},{140,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,384}</string>
                <key>spriteSourceSize</key>
                <string>{568,384}</string>
                <key>textureRect</key>
                <string>{{1,1663},{568,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000695.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,360}</string>
                <key>spriteSourceSize</key>
                <string>{280,360}</string>
                <key>textureRect</key>
                <string>{{291,3049},{280,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00000696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{467,2389},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,128}</string>
                <key>spriteSourceSize</key>
                <string>{224,128}</string>
                <key>textureRect</key>
                <string>{{571,1957},{224,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,284}</string>
                <key>spriteSourceSize</key>
                <string>{288,284}</string>
                <key>textureRect</key>
                <string>{{1,3049},{288,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{228,292}</string>
                <key>textureRect</key>
                <string>{{571,1663},{228,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00000714.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,76}</string>
                <key>spriteSourceSize</key>
                <string>{156,76}</string>
                <key>textureRect</key>
                <string>{{379,2807},{156,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun002/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1,1437},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun002/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,1043},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun002-0.pvr.ccz</string>
            <key>size</key>
            <string>{1010,3334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e5da60a0272a616686c34edc3a06b00:7441f5b1b00ec58dd2b1031fc7f89a39:9bd8370a645a23bdc9acf3d3835fef13$</string>
            <key>textureFileName</key>
            <string>yucun002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
