<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun004/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3745,243},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3221,743},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3391,743},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3843,227},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3561,771},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2121,783},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2291,783},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3731,771},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3857,397},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3857,567},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2461,823},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2631,823},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2883,831},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3207,841},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{3053,831},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2365,1},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2365,55},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2365,109},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2365,163},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2365,217},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2365,271},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2205,325},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2205,379},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2205,433},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{2205,487},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{1403,1},{960,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000666_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,152}</string>
                <key>spriteSourceSize</key>
                <string>{1400,152}</string>
                <key>textureRect</key>
                <string>{{1,407},{1400,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000667_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,404}</string>
                <key>spriteSourceSize</key>
                <string>{1400,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{2899,541},{320,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000672.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,240}</string>
                <key>spriteSourceSize</key>
                <string>{468,240}</string>
                <key>textureRect</key>
                <string>{{3367,1},{468,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{2801,823},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000677.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{3499,841},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000678.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{3561,869},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000680.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{2263,881},{160,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1675,747},{200,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{196,104}</string>
                <key>textureRect</key>
                <string>{{1977,747},{196,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{2083,747},{196,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000686.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{3367,243},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000687.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{3745,413},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000689.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,256}</string>
                <key>spriteSourceSize</key>
                <string>{344,256}</string>
                <key>textureRect</key>
                <string>{{3221,485},{344,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{1403,505},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000692.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{1781,505},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000693.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{140,76}</string>
                <key>textureRect</key>
                <string>{{2121,881},{140,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,384}</string>
                <key>spriteSourceSize</key>
                <string>{568,384}</string>
                <key>textureRect</key>
                <string>{{803,561},{568,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000695.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,360}</string>
                <key>spriteSourceSize</key>
                <string>{280,360}</string>
                <key>textureRect</key>
                <string>{{2537,541},{280,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{3377,841},{100,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,128}</string>
                <key>spriteSourceSize</key>
                <string>{224,128}</string>
                <key>textureRect</key>
                <string>{{3837,1},{224,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun004/00000699.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{2159,541},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,284}</string>
                <key>spriteSourceSize</key>
                <string>{288,284}</string>
                <key>textureRect</key>
                <string>{{3567,485},{288,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1373,747},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00000712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,116}</string>
                <key>spriteSourceSize</key>
                <string>{152,116}</string>
                <key>textureRect</key>
                <string>{{3207,325},{152,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1403,279},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun004/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,561},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun004-0.pvr.ccz</string>
            <key>size</key>
            <string>{3966,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90531dd736de709679cf7af2292eb56c:1d4d03b04bbb6525ca47cf6e7474cb31:a6760b3fed7310eed7b7a8f98917eceb$</string>
            <key>textureFileName</key>
            <string>yucun004-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
