<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun001/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1053},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{803,1151},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{459,2739},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{459,2909},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,2965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{171,2965},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{903,2873},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{903,3043},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{553,3213},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{651,3213},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{749,3213},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{847,3213},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{553,3099},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{723,3099},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{467,2585},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,55},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,109},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,163},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,217},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,271},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,325},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,379},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,433},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{1,487},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000627_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1044,620}</string>
                <key>spriteSourceSize</key>
                <string>{1044,620}</string>
                <key>textureRect</key>
                <string>{{1,1161},{1044,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{231,3079},{320,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000670.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,40}</string>
                <key>textureRect</key>
                <string>{{973,1053},{68,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000672.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,240}</string>
                <key>spriteSourceSize</key>
                <string>{468,240}</string>
                <key>textureRect</key>
                <string>{{1,2207},{468,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{935,2721},{88,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,252}</string>
                <key>spriteSourceSize</key>
                <string>{456,252}</string>
                <key>textureRect</key>
                <string>{{1,2711},{456,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000675.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{1,2449},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{623,1161},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000677.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{935,2811},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000678.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{725,1161},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000680.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{935,2559},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,164}</string>
                <key>spriteSourceSize</key>
                <string>{212,164}</string>
                <key>textureRect</key>
                <string>{{803,541},{212,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{196,104}</string>
                <key>textureRect</key>
                <string>{{803,909},{196,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{803,1015},{196,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000686.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{623,1591},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000687.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{467,2535},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000689.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,256}</string>
                <key>spriteSourceSize</key>
                <string>{344,256}</string>
                <key>textureRect</key>
                <string>{{557,2841},{344,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000690.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,340}</string>
                <key>spriteSourceSize</key>
                <string>{388,340}</string>
                <key>textureRect</key>
                <string>{{623,1249},{388,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000691.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{623,1833},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000692.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{623,2075},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000695.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,360}</string>
                <key>spriteSourceSize</key>
                <string>{280,360}</string>
                <key>textureRect</key>
                <string>{{573,2559},{280,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000696.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{471,2433},{100,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,128}</string>
                <key>spriteSourceSize</key>
                <string>{224,128}</string>
                <key>textureRect</key>
                <string>{{471,2207},{224,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun001/00000699.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,240}</string>
                <key>spriteSourceSize</key>
                <string>{376,240}</string>
                <key>textureRect</key>
                <string>{{601,2317},{376,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{228,292}</string>
                <key>textureRect</key>
                <string>{{1,3079},{228,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00000713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{803,707},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{1,935},{800,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun001/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{1,541},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun001-0.pvr.ccz</string>
            <key>size</key>
            <string>{1016,3382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81191a93c1ea11d8b44a5a265e4cf918:2d8ca92af09918ed1a2fa13b289828b7:8a345ef46d64c103d6b3975aed0e79ba$</string>
            <key>textureFileName</key>
            <string>yucun001-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
