<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun101/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3699,1755},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3699,1925},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1603,3949},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1773,3949},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1943,3949},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2113,3949},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2283,3949},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3671,3735},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3671,3905},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3605,2095},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3605,2265},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3605,2435},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3605,2605},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3605,2775},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{1603,3147},{1000,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,400}</string>
                <key>spriteSourceSize</key>
                <string>{720,400}</string>
                <key>textureRect</key>
                <string>{{2605,3361},{720,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1080}</string>
                <key>textureRect</key>
                <string>{{1,2065},{2000,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1400}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1400}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,660}</string>
                <key>spriteSourceSize</key>
                <string>{3200,660}</string>
                <key>textureRect</key>
                <string>{{1,1403},{3200,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,3147},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{2003,2065},{1600,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000069_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2453,3949},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000626_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,500}</string>
                <key>spriteSourceSize</key>
                <string>{820,500}</string>
                <key>textureRect</key>
                <string>{{3203,1},{820,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000665_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,276}</string>
                <key>spriteSourceSize</key>
                <string>{960,276}</string>
                <key>textureRect</key>
                <string>{{3203,823},{960,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{3063,3763},{320,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{3703,2095},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,252}</string>
                <key>spriteSourceSize</key>
                <string>{456,252}</string>
                <key>textureRect</key>
                <string>{{2605,3763},{456,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{2523,2967},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000679.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,160}</string>
                <key>spriteSourceSize</key>
                <string>{60,160}</string>
                <key>textureRect</key>
                <string>{{3327,3361},{60,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,164}</string>
                <key>spriteSourceSize</key>
                <string>{212,164}</string>
                <key>textureRect</key>
                <string>{{2309,2967},{212,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{3497,1755},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{196,104}</string>
                <key>textureRect</key>
                <string>{{3633,3537},{196,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000684.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,204}</string>
                <key>spriteSourceSize</key>
                <string>{304,204}</string>
                <key>textureRect</key>
                <string>{{3327,3537},{304,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{3705,1},{196,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,384}</string>
                <key>spriteSourceSize</key>
                <string>{568,384}</string>
                <key>textureRect</key>
                <string>{{3407,2967},{568,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,128}</string>
                <key>spriteSourceSize</key>
                <string>{224,128}</string>
                <key>textureRect</key>
                <string>{{3481,1625},{224,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000700.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,160}</string>
                <key>spriteSourceSize</key>
                <string>{304,160}</string>
                <key>textureRect</key>
                <string>{{2003,2967},{304,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun101/00000701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,284}</string>
                <key>spriteSourceSize</key>
                <string>{288,284}</string>
                <key>textureRect</key>
                <string>{{3385,3743},{288,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00000703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{228,292}</string>
                <key>textureRect</key>
                <string>{{3203,1785},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00001861.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,224}</string>
                <key>spriteSourceSize</key>
                <string>{800,224}</string>
                <key>textureRect</key>
                <string>{{3481,823},{800,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun101/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{2605,2967},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun101-0.pvr.ccz</string>
            <key>size</key>
            <string>{3796,4074}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:381f068481f93d55829837b66a063513:3db9355ad82e42e44aa0b71ad3a04a73:6478273ad42e6b23885d4e075e4a956b$</string>
            <key>textureFileName</key>
            <string>yucun101-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
