<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun103/00000018_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{99,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{197,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{295,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{393,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{491,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{589,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{687,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{785,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{883,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{981,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1079,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1177,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000018_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1275,3907},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,800}</string>
                <key>spriteSourceSize</key>
                <string>{1000,800}</string>
                <key>textureRect</key>
                <string>{{3203,503},{1000,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun103/00000026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,400}</string>
                <key>spriteSourceSize</key>
                <string>{720,400}</string>
                <key>textureRect</key>
                <string>{{1893,3691},{720,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1080}</string>
                <key>textureRect</key>
                <string>{{1893,2609},{2000,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1400}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1400}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,900}</string>
                <key>spriteSourceSize</key>
                <string>{3200,900}</string>
                <key>textureRect</key>
                <string>{{1,1403},{3200,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{1,2305},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun103/00000067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,900}</string>
                <key>spriteSourceSize</key>
                <string>{1600,900}</string>
                <key>textureRect</key>
                <string>{{903,2305},{1600,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun103/00000072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{3203,1505},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000074_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,500}</string>
                <key>spriteSourceSize</key>
                <string>{800,500}</string>
                <key>textureRect</key>
                <string>{{3203,2107},{800,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000626_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,500}</string>
                <key>spriteSourceSize</key>
                <string>{820,500}</string>
                <key>textureRect</key>
                <string>{{3203,1},{820,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000668.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,288}</string>
                <key>spriteSourceSize</key>
                <string>{320,288}</string>
                <key>textureRect</key>
                <string>{{2035,2305},{320,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000673.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{4025,163},{88,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun103/00000674.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,252}</string>
                <key>spriteSourceSize</key>
                <string>{456,252}</string>
                <key>textureRect</key>
                <string>{{2643,2305},{456,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{4005,613},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000679.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,160}</string>
                <key>spriteSourceSize</key>
                <string>{60,160}</string>
                <key>textureRect</key>
                <string>{{4025,253},{60,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000680.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,64}</string>
                <key>spriteSourceSize</key>
                <string>{160,64}</string>
                <key>textureRect</key>
                <string>{{4025,1},{160,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun103/00000681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,164}</string>
                <key>spriteSourceSize</key>
                <string>{212,164}</string>
                <key>textureRect</key>
                <string>{{1373,3907},{212,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000682.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{3895,2609},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000683.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{196,104}</string>
                <key>textureRect</key>
                <string>{{3895,2911},{196,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{4025,415},{196,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun103/00000694.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,384}</string>
                <key>spriteSourceSize</key>
                <string>{568,384}</string>
                <key>textureRect</key>
                <string>{{3417,3691},{568,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000698.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,128}</string>
                <key>spriteSourceSize</key>
                <string>{224,128}</string>
                <key>textureRect</key>
                <string>{{3895,3017},{224,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun103/00000700.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,160}</string>
                <key>spriteSourceSize</key>
                <string>{304,160}</string>
                <key>textureRect</key>
                <string>{{1587,3907},{304,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00000701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,284}</string>
                <key>spriteSourceSize</key>
                <string>{288,284}</string>
                <key>textureRect</key>
                <string>{{2357,2305},{288,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yucun103/00000703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{228,292}</string>
                <key>textureRect</key>
                <string>{{1805,2305},{228,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun103/00001870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,392}</string>
                <key>spriteSourceSize</key>
                <string>{800,392}</string>
                <key>textureRect</key>
                <string>{{2615,3691},{800,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun103-0.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4092}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c74b678ce9774054cdb6e8b77a12a1a:ec59aa1225b96c3e5ad7ff5676431b29:f4329c33c8d8948ff33fa6a30405d983$</string>
            <key>textureFileName</key>
            <string>yucun103-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
