<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yucun_stage001/00000648.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1800}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yucun_stage001/00000656.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1800}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1800}</string>
                <key>textureRect</key>
                <string>{{1,1803},{3200,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yucun_stage001-4.pvr.ccz</string>
            <key>size</key>
            <string>{3202,3604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:557ab58d98803cd1b0f0f985e3d07de1:732a0db414aece9dfa264266405f4743:a67228b51baec934409dbc63ddcef431$</string>
            <key>textureFileName</key>
            <string>yucun_stage001-4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
