<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhadanren002/00000498.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{951,2043},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000542.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{1825,3035},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren002/00000543_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1503},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000543_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1557},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000543_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1611},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000543_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1665},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000543_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1719},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000543_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1773},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000543_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1827},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000543_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1881},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000543_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1935},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000543_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,52}</string>
                <key>spriteSourceSize</key>
                <string>{1000,52}</string>
                <key>textureRect</key>
                <string>{{951,1989},{1000,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000832_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000835.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,260}</string>
                <key>textureRect</key>
                <string>{{573,2841},{380,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000837.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{955,3011},{124,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren002/00000838.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,96}</string>
                <key>textureRect</key>
                <string>{{1753,2043},{140,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,52}</string>
                <key>spriteSourceSize</key>
                <string>{116,52}</string>
                <key>textureRect</key>
                <string>{{573,3103},{116,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000844.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{280,180}</string>
                <key>textureRect</key>
                <string>{{391,2841},{280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren002/00000845.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,440}</string>
                <key>spriteSourceSize</key>
                <string>{100,440}</string>
                <key>textureRect</key>
                <string>{{1383,3035},{100,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren002/00000846.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{36,88}</string>
                <key>textureRect</key>
                <string>{{1953,1503},{36,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000847.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{955,2929},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,388}</string>
                <key>spriteSourceSize</key>
                <string>{548,388}</string>
                <key>textureRect</key>
                <string>{{1383,2645},{548,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00000856.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,364}</string>
                <key>spriteSourceSize</key>
                <string>{440,364}</string>
                <key>textureRect</key>
                <string>{{1017,2645},{440,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren002/00000863_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1336,948}</string>
                <key>spriteSourceSize</key>
                <string>{1336,948}</string>
                <key>textureRect</key>
                <string>{{1,1503},{1336,948}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren002/00000868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,60}</string>
                <key>spriteSourceSize</key>
                <string>{124,60}</string>
                <key>textureRect</key>
                <string>{{955,2803},{124,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren002/00001090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{1013,3087},{96,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren002/00001110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,64}</string>
                <key>spriteSourceSize</key>
                <string>{156,64}</string>
                <key>textureRect</key>
                <string>{{951,2645},{156,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren002/00001241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,388}</string>
                <key>spriteSourceSize</key>
                <string>{316,388}</string>
                <key>textureRect</key>
                <string>{{1,2841},{316,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhadanren002-0.pvr.ccz</string>
            <key>size</key>
            <string>{2002,3158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32338758db555ea1c27c034d548410a8:325aed4e9a97889912c6614e644b640e:40f1d8ad6c6ff3b18cc9f8406a057fcd$</string>
            <key>textureFileName</key>
            <string>zhadanren002-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
