<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhadanren101/00000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1500}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{3200,1500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3200,1040}</string>
                <key>spriteSourceSize</key>
                <string>{3200,1040}</string>
                <key>textureRect</key>
                <string>{{1,1503},{3200,1040}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000051_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1659,3731},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000051_1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2193,3657},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000051_1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2363,3657},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000051_1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2533,3657},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000051_1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2731,3617},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000051_1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3041,3449},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000051_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{1927,3723},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000051_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2025,3723},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000051_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2189,3755},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000051_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2359,3755},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000051_1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2529,3755},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000051_1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{3015,3619},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000051_1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2703,3715},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000051_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{96,168}</string>
                <key>textureRect</key>
                <string>{{2873,3789},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000121_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{2731,3055},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000121_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1,3845},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000121_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1659,3829},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000121_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{1,3845},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000127_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1927,3055},{400,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000127_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{2329,3055},{400,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000128_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{1,3731},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000128_1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{2731,3449},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000128_1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{311,3731},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000128_1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{621,3731},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000128_1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,112}</string>
                <key>spriteSourceSize</key>
                <string>{308,112}</string>
                <key>textureRect</key>
                <string>{{931,3731},{308,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,340}</string>
                <key>spriteSourceSize</key>
                <string>{620,340}</string>
                <key>textureRect</key>
                <string>{{2845,2545},{620,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00000142_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,508}</string>
                <key>spriteSourceSize</key>
                <string>{916,508}</string>
                <key>textureRect</key>
                <string>{{1927,2545},{916,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00000143_1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1924,1184}</string>
                <key>spriteSourceSize</key>
                <string>{1924,1184}</string>
                <key>textureRect</key>
                <string>{{1,2545},{1924,1184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00001343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{3133,3167},{268,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00001344.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,52}</string>
                <key>textureRect</key>
                <string>{{2731,3563},{268,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00001348.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,160}</string>
                <key>spriteSourceSize</key>
                <string>{72,160}</string>
                <key>textureRect</key>
                <string>{{1585,3731},{72,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00001349.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,188}</string>
                <key>spriteSourceSize</key>
                <string>{120,188}</string>
                <key>textureRect</key>
                <string>{{1241,3731},{120,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00001351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,140}</string>
                <key>spriteSourceSize</key>
                <string>{64,140}</string>
                <key>textureRect</key>
                <string>{{2123,3723},{64,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00001354.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,112}</string>
                <key>textureRect</key>
                <string>{{2901,3617},{140,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadanren101/00001362.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,64}</string>
                <key>spriteSourceSize</key>
                <string>{264,64}</string>
                <key>textureRect</key>
                <string>{{1927,3657},{264,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00001363.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,280}</string>
                <key>spriteSourceSize</key>
                <string>{400,280}</string>
                <key>textureRect</key>
                <string>{{2731,3167},{400,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadanren101/00001887.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1431,3731},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhadanren101-0.pvr.ccz</string>
            <key>size</key>
            <string>{3202,3892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d9a303fdd246c4a2f9610558e11d6c:4a1a09ec0fbc12f27c3a735c45aedb4c:64d594d5521d6a964299daf98c25f867$</string>
            <key>textureFileName</key>
            <string>zhadanren101-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
